<ion-header>

  <ion-navbar>
    <head-bar hTitle="Online Booking" [text]="text" [subHeading]="subHeading" subHeadingText="{{subHeadingText}}"
      [image]="image" [noti]="noti" [heart]="heart" [pin]="pin" [menuIcon]="menuIcon"></head-bar>

  </ion-navbar>

</ion-header>

<ion-content padding class="plr-0 listfilter">
  <div class="contscroll">
    <ion-card class="cardhead">
      <h1>Expression of Interest</h1>
      <p class="eoi-text">Thanks for expressing your interest in the Godrej E-City. For submitting EOI, you have to select typology and pay the token amount. Once you make the payment, you will receive a confirmation mail from us, and your EOI will be submitted with us.
        
        Unit allocation will be a completely offline process, you will be called on the day of allotment and presented the option to choose your dream home and post the clearance of the first installment, the unit will be booked for you. Happy Booking!</p>
    </ion-card>

    <ion-list class="rnogap" *ngIf="typologyList.length > 0">
      <ion-item>
        <div class="filter_type">
          <img src="assets/imgs/typology.png"> Typology
        </div>
        <div class="upperDiv">
          <div class="scrollCustomBtns" (click)="selectDiv(i,'Typology')"
            *ngFor="let typology of typologyList; let i=index"
            [ngClass]="{'selected_color':typology.selected === true }">
            <div class="filter_name">
              {{typology.name}}
              <!-- <span class="cross" *ngIf="typology.selected === true"> -->
                <ion-icon name="close" *ngIf="typology.selected === true"></ion-icon>
              <!-- </span> -->
            </div>
          </div>
        </div>
      </ion-item>
    </ion-list>

    <ion-list class="rnogap" *ngIf="towerList.length > 0">
      <ion-item>
        <div class="filter_type towrico">
          <img src="assets/imgs/tower-icon.png"> Tower
        </div>
        <div class="upperDiv">
          <div class="scrollCustomBtns" (click)="selectDiv(i,'Tower')" *ngFor="let tower of towerList; let i=index"
            [ngClass]="{'selected_color':tower.selected === true }">
            <div class="filter_name">
              {{tower.name}}
              <!-- <span class="cross" *ngIf="tower.selected === true"> -->
                <ion-icon name="close"  *ngIf="tower.selected === true"></ion-icon>
              <!-- </span> -->
            </div>
          </div>
        </div>
      </ion-item>
    </ion-list>

    <ion-list class="rnogap" *ngIf="floorBandList.length > 0">
      <ion-item>
        <div class="filter_type">
          <img src="assets/imgs/floor-icon.png"> Floor Band
        </div>
        <div class="upperDiv">
          <div class="scrollCustomBtns" (click)="selectDiv(i,'FloorBand')"
            *ngFor="let floorBand of floorBandList; let i=index"
            [ngClass]="{'selected_color':floorBand.selected === true }">
            <div class="filter_name">
              {{floorBand.name}}
              <!-- <span class="cross" *ngIf="floorBand.selected === true"> -->
                <ion-icon name="close" *ngIf="floorBand.selected === true"></ion-icon>
              <!-- </span> -->
            </div>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </div>
  <div class="filterBtn">
    <button ion-button round class="fltrSubmitBtn" [disabled]="invalid"
      (click)="goToEnquiryPage('EoiEnquiryFormPage')">Proceed</button>
  </div>
</ion-content>