page-eoi {
  .contscroll {
    overflow: auto;
    padding-bottom: 58px;
    height: 100%;
  }
  .rnogap.list-ios > .item-block:last-child {
    border-bottom: 8px solid #f1f1f1 !important;
  }
  ion-list.rnogap.list.list-ios {
    margin-bottom: 10px;
  }
  ion-list.rnogap.list.list-ios .item-inner {
    padding-bottom: 8px;
  }
  ion-list.rnogap.list.list-md .item-inner {
    padding-bottom: 8px;
    border-bottom: 8px solid #f1f1f1 !important;
  }
  .plr-0 {
    .scroll-content {
      padding-left:0 !important;
      padding-right:0 !important;
    }
  }
  ion-card.cardhead.card {
    padding: 20px;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: center;
    border-bottom: 8px solid #f1f1f1 !important;
    margin: 0 0 13px;
    width: 100%;
      h1 {
        color: #2a2a2a;
        font-size: 20px;
        line-height: 26px;
        margin: 0 0 14px;
      }
      p {
        color: #8d8988;
        font-size: 14px;
          line-height: 20px;
      }
  }
    .rnogap  {
      .item-inner {
        padding-right: 0 !important;
        .label.label-md {
          margin-right:0;
        }
      }
     }
     .filter_type {
      font-size: 14px;
      img {
        width:13px;
        margin:0 -2px -1px 0;
      }
    }
    
    
    .upperDiv{
      flex-wrap: nowrap;
      overflow-x: scroll;
      white-space: nowrap;
      scroll-behavior: smooth;
      margin-top: 8px;
    }
    .scrollCustomBtns{
      display: inline-block;
      width: auto;
      white-space: normal;
      margin: 5px;
      text-align: center;
      height: 30px;
      position: relative;
      border-radius: 25px;
      line-height: 25px;
      border: 1px solid #37b0de;
    }
    .checkBoxDiv,
    .scrollCustomBtns  {
      color: #37b0de;
      border: 1px solid #37b0de;
      background-color: #ffffff;
      border-radius: 64px;
      // padding: 0.799em 2.0rem;
      padding: 10px 19px;
      height: 32px;
      font-size: 12px;
      line-height: 18px;
      -webkit-box-shadow: none;
      box-shadow: none;
      &.selected_color {
       color: #ffffff;
       background-color:#37b0de;
       padding: 6px 19px;
      }
      .filter_name {
        margin:0;
      }
    }
    .back-button.show-back-button {
      position: relative;
      top: 2px;
    }
    .filter_name{
      margin-left: 9px;
      font-size: 14px;
      line-height: 12px;
      text-align: center;
      margin-top: 8px;
      ion-icon {
        float: none;
        position: relative;
        top:1px;
        margin:0 0 0 2px;
      }
    }
    .selected_color .filter_name .cross {
      display: inline-block;
      position: relative;
      height: 20px;
      width: auto;
      padding: 0;
      margin: -3px 0 -9px;
    }
    .cross{
      position: absolute;
      height: 100%;
      right: 0;
      top: 0;
      display: none;
      color: #fff;
      margin:0;
      padding: 6px 10px 6px 8px;
      z-index: 2;
      font-size: 13px;
    }
    ion-content.listfilter.content.content-ios.statusbar-padding {
      margin-top:10px;
    }
    .list-ios .item-block .item-inner, .list-md .item-block .item-inner {
      border-bottom: 8px solid #f1f1f1 !important;
    }
    
    .list-ios:last-child .item-block .item-inner, .list-md:last-child .item-block .item-inner {
      border-bottom: 0 none !important;
    }
    .listfilter {
      ion-label {
        margin-top: 0;
        margin-bottom: 8px;
      }
    }  
    .filterBtn{
     // border-top: 8px solid #f1f1f1 !important;
      text-align: center;
      width: 100%;
      margin-top: 20px;
      position: fixed;
      bottom: 0;
      left: 0;
      background-color: #ffffff;
      padding: 20px;
    }
    .fltrSubmitBtn{
      width: 100%;
      height: 42px;
      text-transform: none;
    }
    .submitbuton {
      .filterBtn {
        border-top: 8px solid #f1f1f1 !important;
        padding-top: 9px;
      }
    }
    .filter_type { 
      margin: 10px;
      img {
        width:19px;
        margin:0 2px -3px 0;
      }
      &.towrico {
        img {
          width: 13px !important;
        }
      }
    }  
  }