<!-- Generated template for the FootBarComponent component -->
<!-- <div class="footer_div">
    <div>
        <ion-icon name="ios-home-outline"></ion-icon>
      Home
    </div>
    <div>Book a Visit</div>
    <div>
      <ion-icon name="ios-cart-outline"></ion-icon>
      Buy Now
    </div>
    <div>
      <ion-icon name="ios-call-outline"></ion-icon>
      Support
    </div>
</div>
<ion-grid>
  <ion-row>
    <ion-col><ion-icon name="ios-home-outline"></ion-icon>Home</ion-col>
    <ion-col><ion-icon name="ios-home-outline"></ion-icon>Home</ion-col>
    <ion-col></ion-col>
    <ion-col><ion-icon name="ios-home-outline"></ion-icon>Home</ion-col>
    <ion-col><ion-icon name="ios-home-outline"></ion-icon>Home</ion-col>
  </ion-row>
</ion-grid>-->

<ion-footer class="foot">


    <ion-grid no-padding>
        <ion-row no-padding class="menrow">
            <ion-col no-padding >
                <div class="iconclass">
                    <ion-icon name="ios-home-outline"></ion-icon>
                    Home
                    <!-- <div class="iconlabel">{{logintext}}</div> -->
                </div>
            </ion-col>
            <ion-col no-padding>
                <div class="iconclass" [ngClass]="{'active': selectedIndex == 2}">
                    <ion-icon name="ios-call"></ion-icon>
                    <div class="iconlabel">Book a Visit</div>
                </div>
            </ion-col>
            <ion-col no-padding >
                <ion-icon name="ios-menu-outline" (click)="openMenu()"></ion-icon>
                <!-- <img src="assets/imgs/MenuIcon.png" class="footer_main_menu" /> -->
            </ion-col>
            <ion-col no-padding>
                <div class="iconclass" [ngClass]="{'active': selectedIndex == 4}">
                    <ion-icon name="ios-cart-outline"></ion-icon>

                    <div class="iconlabel">Buy Now</div>
                </div>
            </ion-col>
            <ion-col no-padding>
                <div class="iconclass" [ngClass]="{'active': selectedIndex == 3}">
                    <ion-icon name="ios-call-outline"></ion-icon>


                    <div class="iconlabel">Support</div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-footer>
