<!-- Generated template for the FootBarComponent component -->
<!-- <div class="footer_div">
    <div>
        <ion-icon name="ios-home-outline"></ion-icon>
      Home
    </div>
    <div>Book a Visit</div>
    <div>
      <ion-icon name="ios-cart-outline"></ion-icon>
      Buy Now
    </div>
    <div>
      <ion-icon name="ios-call-outline"></ion-icon>
      Support
    </div>
</div>
<ion-grid>
  <ion-row>
    <ion-col><ion-icon name="ios-home-outline"></ion-icon>Home</ion-col>
    <ion-col><ion-icon name="ios-home-outline"></ion-icon>Home</ion-col>
    <ion-col></ion-col>
    <ion-col><ion-icon name="ios-home-outline"></ion-icon>Home</ion-col>
    <ion-col><ion-icon name="ios-home-outline"></ion-icon>Home</ion-col>
  </ion-row>
</ion-grid>-->

<ion-footer class="foot">


    <ion-grid no-padding>
        <ion-row no-padding class="menrow">
            <ion-col no-padding (click)="goToPage('GodrejHomePage')" [ngClass]="{'fontBold':fontBold}">
                <div class="iconclass">
                    <!-- <ion-icon name="ios-home-outline"></ion-icon> -->
                    <div class="fhicon">
                        <img src="assets/imgs/home-icon.png" />
                    </div>
                    <div class="iconlabel">Home</div>
                    <!-- <div class="iconlabel">{{logintext}}</div> -->
                </div>
            </ion-col>
            <ion-col no-padding>
                <div class="iconclass" [ngClass]="{'active': selectedIndex == 2}"  (click)="goToPage('BookAVisitPage')">
                    <!-- <ion-icon name="ios-call"></ion-icon> -->
                    <div class="fhicon">
                        <img src="assets/imgs/book-a-visit-icon.png" />
                    </div>
                    <div class="iconlabel">Book a Visit</div>
                </div>
            </ion-col>
            <ion-col no-padding class="searchcol" (click)="openSearch()">
                <ion-icon name="ios-menu-outline"></ion-icon>
                <!-- <img src="assets/imgs/MenuIcon.png" class="footer_main_menu" /> -->
                <div class="searchicon-wrap">
                    <div class="searchicon">
                        <img src="assets/imgs/search-icon.png" />
                    </div>
                </div>
            </ion-col>
            <ion-col no-padding>
                <div class="iconclass" [ngClass]="{'active': selectedIndex == 4}" (click)="goToPage('BuyNowPage')">
                    <!-- <ion-icon name="ios-cart-outline"></ion-icon> -->
                    <div class="fhicon">
                        <img src="assets/imgs/buy-now-icon.png" />
                    </div>

                    <div class="iconlabel">Buy Now</div>
                </div>
            </ion-col>
            <ion-col no-padding>
                <div class="iconclass" [ngClass]="{'active': selectedIndex == 3}"  (click)="goToPage('Contact')">
                    <!-- <ion-icon name="ios-call-outline"></ion-icon> -->
                    <div class="fhicon">
                        <img src="assets/imgs/contact-icon.png" />
                    </div>
                    <div class="iconlabel">Contact</div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-footer>
