<ion-header>

  <ion-navbar>
    <ion-title class="verifyTitle">
      Verify Account
      <div class="close" (click)="myDismiss()">
        X
      </div>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="text">
    <div *ngIf="!otpNotCorrect">{{ otpMsg }}
    </div>
    <div class="incorrect-otp" *ngIf="otpNotCorrect">
      <span>{{errorMsg}}</span>
      Please enter the correct OTP
    </div>
  </div>

   <div class="otp">
    <form [formGroup]="verifyForm" class="verifyInput">
      <div class="optinput">
        <input type="number" #firstField (keyup)="checkAndMove($event,secondField,'first','second'  ,'')"
          formControlName="first">
        <input type="number" #secondField class="second"
          (keyup)="checkAndMove($event,thirdField,'second','third' ,firstField,'first' )" formControlName="second">
        <input type="number" #thirdField class="second"
          (keyup)="checkAndMove($event,fourthField,'third','fourth' ,secondField,'second')" formControlName="third">
        <input type="number" #fourthField class="second"
          (keyup)="checkAndMove($event,fifthField,'fourth','' ,thirdField,'third')" formControlName="fourth">
      </div>
      <div class="d-block"></div>
      <button ion-button round [disabled]="verifyForm.invalid" class="vBtn" (click)="verifyOtp()">
        Verify
      </button>
    </form>
    <div class="text resendText">Didn't receive your OTP?
      <span [ngClass]="isDisableResend? 'disableresend' : 'resend'" (click)="resendOtp()" *ngIf="!isDisableResend">Resend</span>
      <span class="timerText" *ngIf="isDisableResend">({{ timeLeft }})</span>
    </div>
  </div>

  <div class="logogreybottom">
    <!-- <img src="assets/imgs/logo-black.png" class="propertiesImg" alt=""> -->
    <img src="assets/imgs/otp-gpl-logo.png" class="propertiesImg" alt="">
  </div>
</ion-content>