<!--
  Generated template for the InventoryFilterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Property Filter
      <button (click)="myDismiss()" class="close_btn">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-title>

  </ion-navbar>

</ion-header>


<!-- <ion-content padding> -->
<ion-content class="listfilter">
  
<div class="contscroll">
  <ion-list  class="rnogap">

    <ion-item>

      <div class="filter_type">
        <img src="assets/imgs/typology.png"> Typology
      </div>
      <div class="upperDiv">
        <div class="scrollCustomBtns" (click)="selectDiv(i,'Typology')" *ngFor="let typo of typologyList; let i=index"
          [ngClass]="{'selected_color':typo.selected === true }">
          <div class="filter_name">
            {{typo.name}}
            <span class="cross" *ngIf="typo.selected === true">
              <ion-icon name="close"></ion-icon>
            </span>
          </div>
        </div>
      </div>
    </ion-item>
  </ion-list>

  <ion-list class="rnogap">

    <ion-item>

      <div class="filter_type twerico">
        <img src="assets/imgs/tower-icon.png"> Tower
      </div>
      <div class="upperDiv">
        <div class="scrollCustomBtns" (click)="selectDiv(i,'Tower')" *ngFor="let tower of towerList; let i=index"
          [ngClass]="{'selected_color':tower.selected === true }">
          <div class="filter_name">
            {{tower.name}}
            <span class="cross" *ngIf="tower.selected === true">
              <ion-icon name="close"></ion-icon>
            </span>
          </div>
        </div>
      </div>
    </ion-item>
  </ion-list>

  <ion-list class="rnogap">

    <ion-item >

      <div class="filter_type">
        <img src="assets/imgs/floor-icon.png"> Floor
      </div>
      <div class="upperDiv">
        <div *ngIf="floorList.length > 0">
          <div class="scrollCustomBtns" (click)="selectDiv(i,'Floor')" *ngFor="let floor of floorList; let i=index"
            [ngClass]="{'selected_color':floor.selected === true }">
            <div class="filter_name">
              {{floor.name}}
              <span class="cross" *ngIf="floor.selected === true">
                <ion-icon name="close"></ion-icon>
              </span>
            </div>
          </div>
        </div>
        <div class="nodatafound" *ngIf="floorList.length == 0">Record Not Found</div>
      </div>
    </ion-item>

  </ion-list>

  <ion-list class="rnogap">

    <ion-item>

      <div class="filter_type">
        <img src="assets/imgs/facing-icon.png"> Facing
      </div>
      <div class="upperDiv">
        <div class="scrollCustomBtns" (click)="selectDiv(i,'Facing')" *ngFor="let face of facing; let i=index"
          [ngClass]="{'selected_color':face.selected === true }">
          <div class="filter_name">
            {{face.name}}
            <span class="cross" *ngIf="face.selected === true">
              <ion-icon name="close"></ion-icon>
            </span>
          </div>
        </div>
      </div>

    </ion-item>
  </ion-list>

  <!-- <ion-list>

    <ion-item>

      <div class="filter_type">
        <img src="assets/imgs/carpet-area-icon.png"> Carpet Area
      </div>
      <div class="checkBoxDiv" (click)="selectDiv(i,'Carpet')" *ngFor="let carpet of carpetList; let i=index" [ngClass]="{'selected_color':carpet.selected === true }">
        <div class="filter_name">
          {{carpet.name}}
          <span class="cross" *ngIf="carpet.selected === true">
            <ion-icon name="close"></ion-icon>
          </span>
        </div>
      </div>
    </ion-item>
  </ion-list> -->

  <ion-list class="filterbox withbtmbrd">
    <div class="filter_type">
      <img src="assets/imgs/carpet-area-icon.png">Carpet Area ({{responseData.data.carpet_area_unit}})
    </div>
    <ion-item>
      <ion-range class="rangeNoPadd" dualKnobs="true" [(ngModel)]="carpetAreaChange" [min]="carpetArea.minValue"
        [max]="carpetArea.maxValue" step="1" pin="false" snaps="false">
      </ion-range>
    </ion-item>
    <div class="clearfix filterrangetext">
      <div class="filterfrom">
        <div class="txtgrey">From</div>
        <div class="filterprice">
          {{carpetAreaChange.lower}}
        </div>
      </div>
      <div class="filterfrom float-right">
        <div class="txtgrey float-right">To</div>
        <div class="clearfix"></div>
        <div class="filterprice">
          {{carpetAreaChange.upper}}
        </div>
      </div>
    </div>
  </ion-list>


  <ion-list class="filterbox filterbudget">
    <div class="filter_type">
      <span class="pricesymbol">&#8377;</span>Budget (Approx.)
    </div>
    <ion-item>
      <ion-range class="rangeNoPadd" dualKnobs="true" [(ngModel)]="goalProgress" [min]="responseData.budget_data.min"
        [max]="responseData.budget_data.max" step="{{step}}" pin="false" snaps="false" (ionChange)="change()">
      </ion-range>
    </ion-item>
    <div class="clearfix filterrangetext">
      <div class="filterfrom">
        <div class="txtgrey">From</div>
        <div class="filterprice">
          <span class="pricesymbol">&#8377;</span>{{storageProvider.getSearchCurrency(lower)}}
        </div>
      </div>
      <div class="filterfrom float-right">
        <div class="txtgrey float-right">To</div>
        <div class="clearfix"></div>
        <div class="filterprice">
          <span class="pricesymbol">&#8377;</span>{{storageProvider.getSearchCurrency(upper)}}
        </div>
      </div>

    </div>
  </ion-list>

</div>


  <!-- <ion-list> -->
    <div class="filterBtn">
      <button ion-button round (click)="getFilter()" class="fltrSubmitBtn">Submit</button>
    </div>

  <!-- </ion-list> -->

</ion-content>