page-inventory-filter {

  .filterbox .range-md {
    /*padding: 0 10px;*/
    padding:0 17px 0 0;
    }

  .nodatafound {
    padding: 7px 0 7px 27px;
    color: #5a5a5a;
  }
  ion-list {
    ion-item {
      .item-inner {
       padding: 0 10px;
      }
  }
}

.withbtmbrd {
  border-bottom:8px solid #f1f1f1;
  padding-bottom: 8px;
  .filter_type {
    img {
      margin-right:5px !important;
    }
  }
}
.pricesymbol {margin-right: 2px;}
.filterbudget {
  .filterrangetext {
    padding-right:12px;
  }
}
  .filterrangetext {
    width:100%;
    padding:0 7px 0 10px;
    margin:auto;
    .filterfrom {
      float: left;
      .txtgrey {
        color:grey;
        font-size:11px;
        width:100%;
      }
      .filterprice {
        color:#000000;
        font-size:14px;
        .pricesymbol {
          font-weight: 600;
        }
        img {
          width:10px !important;
        }
      }
    }

  .float-right {
    float: right;
    .txtgrey {
      text-align:right;
    }
  }

  }
  .filterbox {
    padding: 0 10px 11px;
    .filter_type {
      .pricesymbol {
        font-weight: 600;
      }
      img {
        width: 13px;
        margin: 0 -2px -2px 0;
        position: relative;
        top: -1px;
      }
    }
  }
  .checkBoxDiv{
    width: auto;
    height: 30px;
    border-radius: 25px;
    border: 1px solid #ccc;
    text-align: center;
    float: left;
    margin-left: 8px;
    margin-top: 7px;
  }
  .scroll-content{
    /* background: #d9dadb; */
  }
  .listfilter {
    ion-label {
      margin-top: 0;
      margin-bottom: 8px;
    }
  }
  .filterbox .filter_type {
    font-size: 16px;
  }
  .filter_type{
    margin:0 10px 10px;
    img {
      width:19px;
      margin:0 2px -3px;
    }
  }
  .twerico {
    img {
      width:13px;
    }
  }
  .filter_name{
    margin-left: 9px;
    font-size: 14px;
    line-height: 12px;
    text-align: center;
    margin-top: 8px;
  }
  .selected_color{
    background-color:#37b0de;
    color:#fff;
  }
  .floor{
    display: inline-block;
    width: 50px;
    white-space: normal;
    border-right: 1px solid #ccc;
    margin: 5px;
    text-align: center;
    height: 45px;
    position: relative;
  }
  .selected_floor{
    color: #37b0de;
  }
  .floor:last-child {
    border: none !important;
  }

  .toolbar-background-md{
    /* background:#37b0de; */
  }

  .close_btn{
    background: transparent;
    font-size: 20px;
    float: right;
  }
  .toolbar-title {
    padding-left:20px;
  }
  .toolbar-title-md,.close_btn{
    /* color: #fff; */
  }
  .dot {
    /* height: 4px;
    width: 4px;
    background-color: #37b0de;
    border-radius: 50%;
    display: inline-block; */
  }
  .submit{
    width: 90%;
    background-color: #37b0de;
    margin-left: 17px;
    border-radius: 25px;
    height: 25px;
    text-align: center;
    color: #fff;
  }
  .upperDiv{
    flex-wrap: nowrap;
    overflow-x: scroll;
    white-space: nowrap;
    scroll-behavior: smooth;
    margin-top: 8px;
  }
  .range-md.range-has-pin {padding-top:0;}

  .dot::after {

    content: " ";
    height: 5px;
    width: 5px;
    position: absolute;
    bottom: 5px;
    right: 50%;
    background-color: #37b0de;
    border-radius: 50%;
    display: block;
  }

  .iconChk{
    border: 1px solid #000;
    float: left;
    height: 19px;
    width: 19px;
    margin-bottom: 7px;
  }
  .iconChekBox{
    font-size: 22px;
    margin-top: -3px;
    color: #fff;
  }
  .chkBox{
    float: left;
    width: 30%;
    height: auto;
  }
  .selectedCheckBox{
    color: #37b0de;
  }
  .borderNone{
    border: none !important;
  }
  .carpetWitdh{
    width: 50% !important;
  }
  .filterBtn{
    text-align: center;
    width: 100%;
    
    margin-top: 17px;
    border-top: 8px solid #f1f1f1 !important;
    padding-top: 9px;
  }
  .fltrSubmitBtn{
    width: 85%;
    height: 44px;
  }
  .cross{
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    display: none;
    color: #fff;
    margin:0;
    padding: 6px 10px 6px 8px;
    z-index: 2;
    font-size: 13px;
  }
  .scrollCustomBtns{
    display: inline-block;
    width: auto;
    white-space: normal;
    position: relative;
    margin: 5px;
    text-align: center;
    height: 30px;
    position: relative;
    border-radius: 25px;
    line-height: 25px;
    border: 1px solid #37b0de;
  }

  .range-knob{
    top: 6px !important;
    width: 30px !important;
    height: 30px !important;
    border: 1px solid !important;
    background: #fff !important;
  }
 .range-slider {
  .range-bar {
    height:2px;
  }
  .range-knob-handle {
    top:25px;
    .range-knob {
      width: 25px !important;
      height: 25px !important;
      border-color: #e2e2e2 !important;
      box-shadow: 0 0 12px #ccc;
    }
  }
}

// .closeit {
//   position: absolute;
//   height: 100%;
//   right: 0;
//   top: 0;
//   display: none;
//   color: #fff;
//   margin: 12px 15px;
//   font-size: 16px;
// }
 .selected_color .filter_name .cross {
   display: block;
 }
.checkBoxDiv,
.scrollCustomBtns  {
  color: #37b0de;
  border: 1px solid #37b0de;
  background-color: #ffffff;
  border-radius: 64px;
  padding:0.64em 2.8rem;
  height: auto;
  font-size: 12px;
  line-height: 18px;
  -webkit-box-shadow:none;
  box-shadow: none;
  &.selected_color {
   color: #ffffff;
   background-color:#37b0de;
  }
  .filter_name {
    margin:0;
  }
}

ion-range.range-md .range-slider .range-knob-handle .range-knob {
  width: 34px !important;
  height: 34px !important;
}
ion-range.range-md .range-slider .range-knob-handle {
  top: 19px;
}
.list.list-ios {
  margin: 0;
}
.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
  border:0 none;
}
.list-ios .item-block .item-inner, .list-md .item-block .item-inner {
  border-bottom: 8px solid #f1f1f1 !important;
}
.list-ios.filterbox .item-block .item-inner, .list-md.filterbox .item-block .item-inner {
  border:0 none !important;
}
.filterbox {
  .item-block  {
    .item-inner {
      max-width:100%;
     //s padding-left: 15px;
    }
  }
} 
.rnogap  {
  .item-inner {
    padding-right: 0 !important;
    .label.label-md {
      margin-right:0;
    }
  }
}
.scroll-content {
 //   margin-top:76px !important;
  }
  .contscroll {
    overflow: auto;
    padding:14px 0 80px 0;
    height: 100%;
    width: 100%;
    position: absolute;
  } 
  .filterBtn {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #fff;
    margin: 0;
    padding: 6px 0;
  }
@media screen and (max-width: $break-smaller) {
 
}
}
