page-thank-you {
  .propertiesImg{
    width: 200px;
    align-items: center;
    margin-left: 110px;
  }

  .text{
    text-align: center;
    margin: 25%;
  }
  .bigtext{
    font-size: 30px;
    font-weight: bold;
  }
  .smallText{
    font-size: 20px;
  }
  .login{
    text-align: center;
    font-size: 17px;
  }
  .color{
    color: #c02bec;
  }

}
