<!--
  Generated template for the ThankYouPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>thankYou</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding>
    <img src="../../assets/imgs/godrej_properties.jpeg" class="propertiesImg" alt="">
    <div class="text">
      <div class="bigtext">
        Thank You
      </div>
      <div class="smallText">
        for your verification
      </div>
    </div>

    <div class="login">
      Please <span class="color" (click)="login()"> Login</span>
    </div>
</ion-content>
