progress-bar {
     .progress-outer {
        width: 96%;
        margin: 24px 2%;
        padding: 0px;
        text-align: center;
        background-color: #fbfbfb;
        border: 1px solid #dfdfdf;
        color: #fff;
        border-radius: 20px;
    }

    .progress-inner {
        min-width: 15%;
        white-space: nowrap;
        overflow: hidden;
        padding: 2px 5px;
        border-radius: 20px;
        background-color: green;
        font-size: 14px;
        line-height: 20px;
    }
}