<!--
  Generated template for the ForgotPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Forgot Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="center-cont">
    <img src="assets/imgs/godrej_properties.jpeg" class="propertiesImg" alt="">

    <div class="formForgotPassword">
      <form class="loginForm" [formGroup]="forgotPasswordForm">
        <ion-list>

          <div class="twonfild" [ngClass]="(isCountryFieldShow)?'input-double':'input-signle'">
            <div class="mobile-countrycode" *ngIf="isCountryFieldShow" (click)="openCountry()">
              <div class="imageFlag">
                <img src="{{flag}}" alt="">
              </div>
              <div class="cntNumber">
                <ion-item>
                  <div class="countryInitials">
                    ({{countryInitials.alpha3Code}})
                    <div class="downArr">
                      <ion-icon name="ios-arrow-down-outline"></ion-icon>
                    </div>
                  </div>
                </ion-item>
              </div>
            </div>
            <div class="phone-email-input">
              <ion-item class="user-icon">
                <ion-label floating>

                  <div *ngIf="isCountryFieldShow">
                    <ion-icon name="ios-phone-portrait-outline"></ion-icon>
                    &nbsp;&nbsp;({{countryInitials.callingCodes}}) Mobile Number

                  </div>
                  <div *ngIf="isEmailFieldShow">
                    <img src="assets/imgs/user-icon.png">
                    &nbsp; Email ID / Mobile Number
                  </div>
                </ion-label>
                <!-- <ion-input type="text" name="textvalue" (keyup)="getMobileNo($event,number)"></ion-input>        -->
                <ion-input type="text" name="textvalue" formControlName="textvalue" (keyup)="getMobileNoValidation()" (ionChange)='checkEmailORMobile()'>
                </ion-input>
              </ion-item>
            </div>
            <div class="clearfix"></div>
          </div>

          <!-- <ion-item>
            <ion-label class="user-icon" floating>
              <img src="assets/imgs/user-icon.png">
              <ion-icon name="ios-person-outline"></ion-icon> 
              &nbsp; Email Id / Mobile Number
            </ion-label>
            <ion-input type="text" name="textvalue" formControlName="textvalue"></ion-input>
          </ion-item> -->

          <div class="error">
            <div *ngIf="f?.textvalue.errors?.required && f?.textvalue.touched">Email id / Mobile Number is required</div>
            <div *ngIf="onlyNumberAllowed && f?.textvalue.touched">
              Please Enter A Valid Mobile Number.
            </div>
            <div *ngIf="validEmail && f?.textvalue.touched">
              Not A Valid Email ID.
            </div>
            <div *ngIf="validLength && f?.textvalue.touched">
              Mobile Number Should Be 10 Digits.
            </div>
          </div>

          <ion-item *ngIf="panNumber == true">
            <ion-label floating>
              <ion-icon name="ios-card-outline"></ion-icon>
              &nbsp; PAN Number
            </ion-label>
            <ion-input type="text" name="pan" formControlName="pan" (keyup)="onkeyDown()"></ion-input>
          </ion-item>
          <div class="error" *ngIf="panNumber == true">
            <div *ngIf="f?.pan.errors?.required && f?.pan.touched">PAN Number Required.</div>
            <div *ngIf="f?.pan.errors?.pattern && f?.pan.touched">Not A Valid PAN Number.</div>
          </div>

          <div class="clearfix"></div>

          <button ion-button round class="width-100 forgotPassBtn" [disabled]="invalid" (click)="forgotPassword()">
            Send
          </button>
        </ion-list>

      </form>
    </div>
  </div>
</ion-content>