page-forgot-password {
  /* .list-ios .item-block .item-inner, .list-md .item-block .item-inner{
    border-bottom: none !important;
  } */
  .scroll-content {
    margin-top:80px !important;
  }
  .back-button.show-back-button {
    margin-top:4px;
  }
  .formForgotPassword {
    margin-top: 3rem;
    padding: 0 1.2rem;
    width:420px;
    max-width:100%;
    margin-left:auto;
    margin-right:auto;
}
  .forgotPassBtn{
    text-transform: none !important;
    font-size: 16px;
  }
  .propertiesImg {
    width: 240px;
    margin: auto;
    display: block;
}
  .width-100{
    width: 100%;
  }
  .error{
    margin: 5px 5px 5px 0;
    color: #f00;
  }
  .user-icon {
    img {
      width:16px;
    }
  }
  .button-round-ios,
  .button-md {
    height: 4.6rem;
    opacity: 1;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3ea7de+0,077ec6+100 */
    background: rgb(62,167,222); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(62,167,222,1) 0%, rgba(7,126,198,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(62,167,222,1) 0%,rgba(7,126,198,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(62,167,222,1) 0%,rgba(7,126,198,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ea7de', endColorstr='#077ec6',GradientType=1 ); /* IE6-9 */
  }
  .list-ios {
    .item-block{
      &:first-child {
        border-top:0 none;
      }
    }
  }

  .twonfild {    
    margin-bottom:1.4rem;
  }
  .twonfild.input-double {
    .mobile-countrycode {
      width: 34%;
      display: inline-block;
      float: left;
      text-align: center;
      padding: 8px 0 6px;
      border-bottom: 1px solid #c5c7d2 !important;
      ion-icon {
        color: #7f7f7f;
        float: none;
        font-size: 30px;
        margin: 34px 0 0;
      }
    }

    .phone-email-input {
      width: 66%;
      display: inline-block;
      float: left;
      padding-left: 10px;
      ion-item {        
        box-shadow: none !important;
        border:0 none !important;
        ion-label {
          margin:0;
        }
      }
    }
  }
  .input-double .imageFlag{
    width: 27px;
    float: left;
    margin-top: 21px;
  }
  .input-double .cntNumber {
    width: 75%;
    float: left;
    padding-left: 4px;
      .item-inner {
        border:0 none !important;
        .label-md {
          margin: 17px 0 0 10px;
          .countryInitials {
            position: relative;
            padding-right: 19px;
            .downArr {
                position: absolute;
                right: 0;
                top: 11px;
                line-height: 0;
                ion-icon {
                  line-height: 0;
                  margin: 0;
                  font-size: 24px;
                  color: #b3b0b0;
              }
            }
          }
        }
      }
}

.input-double .cntNumber .item-block .item-inner {
  border-bottom:0 none !important;
}
.input-double .cntNumber ion-select {
    display: block !important;
    max-width: inherit;
    padding: 0;
    overflow: inherit;
    position: relative;
    padding-right: 12px;
    width: auto;
    margin-top: 22px;
}
.input-double .cntNumber ion-select .select-icon {
  position: absolute;
  right: 0;
  top: 1px;
  width: 15px;
}
$break-tablet: 600px;
@media screen and (min-width: $break-tablet) {
  .scroll-content {
    margin-top: 60px !important;
  }
  .center-cont {
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
  
  }
} 

}
