<!--
  Generated template for the MyDocumentsListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <head-bar hTitle="My Documents" [text]="text" [image]="image" [noti]="noti" [heart]="heart" [pin]="pin" [menuIcon]="menuIcon"></head-bar>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="kyc_doc_list">
    <ion-label>
      <h4>KYC Documents</h4>
    </ion-label>
    <ion-list>
      <div *ngIf="docList.length > 0">
        <ion-item *ngFor="let list of docList; let i=index" (click)="goToPage('MyDocumentsAddPage','Edit',i)">
          <ion-avatar item-start>
            <img src="{{list.attachment_file}}" *ngIf="list.ext == 'jpg' || list.ext == 'jpeg' || list.ext == 'png'">
            <img src="assets/imgs/pdf_icon.png" *ngIf="list.ext == 'pdf'">
            <img src="assets/imgs/word_logo.png" *ngIf="list.ext == 'doc' || list.ext == 'docx'">
          </ion-avatar>
          <h2>{{list.title}}</h2>
          <p>{{list.document_type}}</p>
          <p>{{list.field_document_no}}</p>
          <p>{{list.created}}</p>
          <ion-badge *ngIf="list.status == 2">Processing</ion-badge>
          <ion-badge *ngIf="list.status == 1">Verified</ion-badge>

          <div class="download" (click)="goToPage('KYCDoc','download',i);$event.stopPropagation();" *ngIf="list.width == 0">
            <ion-icon name="ios-cloud-download-outline"></ion-icon>
          </div>
          <div class="progress" *ngIf="list.width > 0">
            <progress-bar [progress]="list.width"></progress-bar>
          </div>
        </ion-item>

      </div>
      <div class="noRecord" *ngIf="docList.length == 0">
        No document list found
      </div>
    </ion-list>
  </div>

  <div class="property_doc_list" *ngIf="bookingitems.length > 0">
    <div class="left">
      <ion-label>
        <h4>Property Documents</h4>
      </ion-label>
    </div>

    <ion-item>
      <ion-label floating>
        {{propertyText}}
      </ion-label>
      <ion-select [(ngModel)]="selectedValue" (ionChange)="onSelectChange($event)">
        <ion-option *ngFor="let project of bookingitems" name='selectedValue' value="{{project.booking_id}}">
          {{project.project_code}} / {{project.inventory_code}}
        </ion-option>
      </ion-select>
    </ion-item>
    <div>
      <ion-list>
        <div *ngIf="propertyDocList.length > 0">
          <ion-item *ngFor="let list of propertyDocList; let i=index">
            <ion-avatar item-start>
              <img src="{{list.attachment}}" *ngIf="list.ext == 'jpg' || list.ext == 'jpeg' || list.ext == 'png'">
              <img src="assets/imgs/pdf_icon.png" *ngIf="list.ext == 'pdf'">
              <img src="assets/imgs/word_logo.png" *ngIf="list.ext == 'doc' || list.ext == 'docx'">
            </ion-avatar>
            <h2>{{list.title}}</h2>
            <p>{{list.document_type}}</p>
            <p>{{list.document_num}}</p>
            <p>{{list.created}}</p>
            <ion-badge *ngIf="list.status == 2">Processing</ion-badge>
            <ion-badge *ngIf="list.status == 1">Verified</ion-badge>
            <div class="download" (click)="goToPage('propertyDoc','download',i);$event.stopPropagation();" *ngIf="list.width == 0">
              <!-- <div class="download" (click)="download(i);$event.stopPropagation();"> -->
              <ion-icon name="ios-cloud-download-outline"></ion-icon>
            </div>
            <div class="progress" *ngIf="list.width > 0">
              <progress-bar [progress]="list.width"></progress-bar>
            </div>
          </ion-item>
        </div>
        <div class="noRecord" *ngIf="propertyDocList.length == 0">
          No property document list found
        </div>
      </ion-list>
    </div>
  </div>

  <ion-fab right bottom (click)="goToPage('MyDocumentsAddPage','Add','')">
    <button class="adddoc" ion-fab color="danger">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>