page-my-documents-list {
  .adddoc {
    background-color:#2c99d6;
  }
    .noRecord{
        float: left;
        width: 100%;
        text-align: center;
    }
    .download{
        float: right;
        font-size: 25px;
    }
    .progress{
        width: 100%;
        height: 37px;
    }
    

    .customPopOver{
        background: #f5f5f5;
        float: right;
        position: absolute;
        top: 0;
        right: 0;
        color: #1f1e1e;
        margin-top: 34px;
        font-size: 18px;
        width: 65%;
        height: auto;
        border-radius: 4px;
      }
      .popList{
        font-size: 15px;
        border-bottom: 1px solid #ddd;
        margin-top: 0;
        line-height: 2;
        &:after,
        &:before {
          clear:both;
          display: table;
          content: "";
        }
        .more {
          margin-left: 10px;
      }
      }
      .popList:first-child{
        margin-top: 5px !important;
      }
      .typo{
        float: left;
        width: 48%;
        padding-left: 14px;
      }
      .ppnew {
        width: 200px;
        z-index: 999;
        right: 13px;
        .typo {
          width:100%;
        }
      }
      .valu{
        float: left;
        width: 48%;
        text-align: left;
      }
      .rsInr{
        width: 10px;
        float: left;
        margin-top: 10px;
      }
      .more{
        float: left;
        margin-left: 70px;
      }
      .cardHeader{
        background-color: #867e7e;
        color: #fff;
      }
      .text {
        margin-top: 11px !important;
      }
     
}
.select-alert.single-select-alert .alert-wrapper .alert-button-group {
  justify-content: center;
}