page-wishlist {
    .pricesymbol {
        font-weight: 600;
    }
    .back-button.show-back-button {
        top: 2px;
      }
    .toolbar-title-md {padding-left:0;}
    .item-md.item-block.whistlist .item-inner {
        border:0 none !important;
    }
    .whistlist {
        padding-right: 0;
        padding-left:90px;
        position: relative;
        margin-right: 0;
        display: block;
        border-top:1px solid #c5c7d2;   
        min-height: 100px;
        &:first-child {
            border-top:0 none;
        }    
        ion-avatar {
            position: absolute;
            left:0;
            top:2px;
            margin:12px 8px 8px 0;
            width:auto;
            height:auto;
            img {
                width:80px;
                height:80px;
            }
        }
        .buybtn {
            position: absolute;
            right: 0;
            bottom: 13px;
            button {                            
                padding: 6px 10px;
                font-size: 13px;
                height: auto;
                background: #009bde;
                border: 0 none !important;
                font-weight: 300;
                text-transform:none;
                width: auto !important;
            }
        }
        .todelt {
            position: absolute;
            right: 0;
            top: 13px;
            color: red;
            font-size: 24px;
            img {
                width:22px;
            }
        }
        h2 {
            font-weight: bold;
            padding-right: 18px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
    .block_no{
        text-align: center;
    }
    .item-md p {
        overflow-wrap: inherit;
        white-space: inherit;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 68px;
    }
  .location{
    float: left;
    width: 100%;
    font-size: 14px;
    margin-top: 5px;
    padding-right: 15px;
  }
  .iconLocation{
    float: left;
    width: 0px;
    color:#969696;
  }
  .locationName{
    float: left;
    width: 90%;
    text-align: left;
    margin-left: 15px;
    color: #969696;
    overflow-wrap: inherit;
    white-space: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  p.price {
    font-weight: bold;
    color: #000 !important;
    font-size: 15px;
    line-height: 21px;
    text-align: left;
    
     img {
        width: 12px;
        margin-bottom: -1px;
    }

    .price_request {
        color: #45a9df;
        font-weight: 400;
        font-size: 12px;
        span{
            color: #000000;
            font-weight: bold;
        }
    }
}
$break-tablet: 550px;
@media screen and (min-width: $break-tablet)  {
   .buybtn {
       bottom: 8px !important;
       button {
           padding:9px 22px !important;
           font-size:15px !important;
       }
   }
}

}
