<!--
  Generated template for the WishlistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Wishlist</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list *ngIf="wishlist.length > 0">
    <ion-item class="whistlist" *ngFor="let item of wishlist; let i = index;">
      <ion-avatar item-start (click)="goToPage('ProjectDetailsPage' , item)">
        <img [src]="getimgUrl(item.proj_img)">
      </ion-avatar>
      <div (click)="goToPage('ProjectDetailsPage' , item)">
        <h2>{{item.proj_name}}</h2>
        <div class="location">
          <div class="iconLocation">
            <ion-icon name="pin"></ion-icon>
          </div>
          <div class="locationName">
            {{item.cities}}
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <!-- <h3>{{item.cities}}</h3> -->
        <p>{{item.typologies | uppercase}}</p>
        <!-- <p>1800 Sq Ft.</p> -->
        <p class="price">
          <!-- <img src="assets/imgs/rupee-indian.png"> -->

          <span
            *ngIf="item.min_price == '0.00' || item.min_price == '0' || item.min_price == '' || item.min_price == null">
            <!-- <span>Starting Price:</span> On Request -->
            Price On Request
          </span>

          <span
            *ngIf="item.min_price != '0.00' && item.min_price != '0' && item.min_price != '' && item.min_price != null">
            <span class="pricesymbol">&#8377;</span>
            <!-- <span *ngIf="item.min_price == '' || item.min_price == null">
              NA
            </span> -->
            <span *ngIf="item.min_price != '' && item.min_price != null">
              {{storageProvider.getSearchCurrency(item.min_price)}}
              <!-- {{item.min_price}} -->
            </span>
          </span>

        </p>
      </div>
      <div class="buybtn">
        <button ion-button round class="buyNowButton" (click)="goToPage('InventoryBookingPage' , item)"> Buy
          Now</button>
      </div>
      <div class="todelt" (click)="RamoveWishList(item)">
        <!-- <ion-icon name="ios-remove-circle-outline"></ion-icon> -->
        <img src="assets/imgs/heart-fill-icon-w.png">
      </div>
    </ion-item>
  </ion-list>
  <div class="block_no" *ngIf="wishlist.length == 0">
    <!-- No Wish List Found. -->{{ noDataMsg }}
  </div>
</ion-content>