<ion-header>

  <ion-navbar>
    <head-bar hTitle="" [text]="text" [image]="image" [noti]="noti" [mail]="mail" [heart]="heart" [pin]="pin" [menuIcon]="menuIcon">
    </head-bar>
  </ion-navbar>

</ion-header>


<ion-content>

  <!-- <button (click)="goToPage('InventoryBookingPage')" style="margin-left: 20px;">
    Go To Inventory Booking
  </button> -->
  <!-- -->
  <div class="welcomeHeading">
    <div class="welcome">
      Welcome {{profileDetails?.data?.first_name}},
    </div>
    <div class="username"> &nbsp; {{username?.fname}}</div>
    <div class="dashboardHeading">
      My Dashboard
    </div>
  </div>
  <div class="dashboardSlider">
    <ion-slides slidesPerView="1.1" speed="1000" (ionSlideDidChange)="slideChanged()">
      <ion-slide *ngFor="let rm of rmCallFeature; let i=index;">
        <ion-card>
          <div class="lastImage headerSlider">
            <img src="{{rm.property_image}}" (click)="closePopOverFromImage(rm)" width="100%" />
            <div class="iconList" (click)="openPopOver(rm)">
              <ion-icon name="md-more"></ion-icon>
            </div>
            <div class="customPopOver toppop" *ngIf="rm.isPopupShow">
              <ion-list class="popList">
                <div class="typo">
                  Typology :
                </div>
                <div class="valu">
                  <div *ngIf="rm.typology == '' || rm.typology == null">
                    NA
                  </div>
                  <div *ngIf="rm.typology != '' || rm.typology != null">
                    {{rm.typology}}
                  </div>
                </div>
              </ion-list>
              <ion-list class="popList">
                <div class="typo">
                  Carpet Area :
                </div>
                <div class="valu">
                  <div *ngIf="rm.carpet_area == '' || rm.carpet_area == null">
                    NA
                  </div>
                  <div *ngIf="rm.carpet_area != '' || rm.carpet_area != null">
                    {{rm.carpet_area}} {{rm.unit}}
                  </div>
                </div>
              </ion-list>
              <ion-list class="popList">
                <div class="typo">
                  Total Value :
                </div>
                <div class="valu">
                  <img class="rsInr" src="assets/imgs/rupee-indian.png" alt="">
                  <div *ngIf="rm.inventory_price == '' || rm.inventory_price == null">
                    NA
                  </div>
                  <div *ngIf="rm.inventory_price != '' || rm.inventory_price != null">
                    {{rm.inventory_price | number:'.2'}}
                  </div>
                </div>
              </ion-list>
              <ion-list class="popList" (click)="goToPage('PropertyPaymentPage', rm)">
                <a class="more">More</a>
              </ion-list>
            </div>

            <div class="prname">{{rm.property_name}} / {{rm.inv_flat_code}}</div>
          </div>

          <div class="product_text">
            <div class="bottomText projectName">

              <div class="floatLeft">


                <div class="prjectName">
                  <div class="avtar">
                    <img src="{{rm.rm_img}}">
                  </div>
                  {{rm.rm_name}}
                  <div class="conticon" *ngIf="rm.rm_mobile_no != '' || rm.rm_email != '' || rm.rm_mobile_no != null || rm.rm_email != null">
                    <a href="tel:{{rm.rm_mobile_no}}" *ngIf="rm.rm_mobile_no != null && rm.rm_mobile_no != ''">
                      <ion-icon name="ios-call-outline"></ion-icon>
                    </a>
                    <a href="mailto:{{rm.rm_email}}" *ngIf="rm.rm_email != null && rm.rm_email != ''">
                      <ion-icon name="ios-mail-outline"></ion-icon>
                    </a>
                  </div>
                  <div class="conticon" *ngIf="(rm.rm_mobile_no == '' && rm.rm_email == '') || (rm.rm_mobile_no == null && rm.rm_email == null)">
                    No RM contacts till now.
                  </div>
                </div>
              </div>

              <div class="clearfix"></div>
              <!-- <div class="floatRight uinfotxt">
                <ion-icon name="ios-call-outline"></ion-icon>
                <a href="tel:{{rm.rm_mobile_no}}">{{rm.rm_mobile_no}}</a>
              </div> -->
              <!-- <div class="floatRight uinfotxt">
                <ion-icon name="ios-mail-outline"></ion-icon>
                <a href="mailto:{{rm.rm_email}}">{{rm.rm_email}}</a>
              </div> -->
              <div class="location recLocation topLoaction">
                <ion-icon name="ios-pin-outline"></ion-icon>
                <!-- <ion-icon name="ios-mail-outline"></ion-icon> -->
                &nbsp; {{rm.project_city}}
              </div>
            </div>
          </div>
        </ion-card>
      </ion-slide>

    </ion-slides>
  </div>

  <div class="myAccountSummary">
    <ion-card class="accCard">
      <ion-card-header class="cardHeader tapfrright">
        <div class="left">My Account Summary</div>
        <div class="right" (click)="openOtherProjects()">
          <div class="indiProperty">{{IndividualPropertyText}}</div>
          <div class="downIcon">
            <ion-icon name="md-arrow-dropdown" class="iconDown"></ion-icon>
          </div>
        </div>
      </ion-card-header>
      <div class="customPopOver accntPopOver ppnew" *ngIf="otherProjects">
        <div class="srlheight">
          <ion-list class="popList" *ngFor="let project of bookingitems" (click)="getSingleAccountSummary(project)">
            <div class="typo">
              {{project.project_code}} / {{project.inventory_code}}
            </div>
          </ion-list>
          <ion-list class="popList" *ngIf="bookingitems.length > 0" (click)="getSingleAccountSummary('')">
            <!-- <a href="" class="more">More</a> -->
            <div class="typo">
              <a class="">All Properties</a>
            </div>

          </ion-list>
        </div>

      </div>
      <ion-card-content>
        <div class="amountValues clearfix">
          <div class="amountLeft frst">
            <img class="inr" src="assets/imgs/rupee-indian.png" alt="">
            <div class="amoutInr">{{accountSummarydata.total_billed_rupee}}.<div>{{accountSummarydata.total_billed_paisa}}</div>
            </div>
            <div class="clearfix"></div>
            <div class="totalvalutext">Total Value Billed</div>
          </div>
          <div class="amountRight frst">
            <img class="inr" src="assets/imgs/rupee-indian.png" alt="">
            <div class="amoutInr">{{accountSummarydata.last_billed_rupee}}.<div>{{accountSummarydata.last_billed_paisa}}</div>
            </div>
            <!-- <div class="amoutInr">{{accountSummarydata.last_billed}}</div> -->
            <div class="clearfix"></div>
            <div class="totalvalutext">Last Billed Amount</div>
            <div class="datesec">
              <!-- <img src="assets/imgs/dateicon.png" /> -->
              Due Date: {{accountSummarydata.payment_date}}
            </div>
          </div>
        </div>
        <div class="initHide" *ngIf="initHide">
          <div class="amountValues clearfix">
            <div class="amountLeft">
              <img class="inr" src="assets/imgs/rupee-indian.png" alt="">
              <!-- <div class="amoutInr">{{accountSummarydata.total_overdue}}</div> -->
              <div class="amoutInr">{{accountSummarydata.total_overdue_rupee}}.<div>{{accountSummarydata.last_billed_paisa}}</div>
              </div>
              <div class="clearfix"></div>
              <div class="totalvalutext">Total Amount Overdue</div>
            </div>
            <div class="amountRight">
              <img class="inr" src="assets/imgs/rupee-indian.png" alt="">
              <div class="amoutInr">{{accountSummarydata.total_payable_rupee}}.<div>{{accountSummarydata.total_payable_paisa}} </div>
              </div>
              <div class="clearfix"></div>
              <div class="totalvalutext">Total Interest Payable</div>
              <div class="asdate">As on Date </div>
            </div>
          </div>
          <div class="amountValues clearfix">
            <div class="amountLeft">
              <img class="inr" src="assets/imgs/rupee-indian.png" alt="">
              <div class="amoutInr">{{accountSummarydata.total_received_rupee}}.<div>{{accountSummarydata.total_received_paisa}}</div>
              </div>
              <div class="clearfix"></div>
              <div class="totalvalutext">Total Amount Received</div>
            </div>
            <div class="amountRight">
              <img class="inr" src="assets/imgs/rupee-indian.png" alt="">
              <div class="amoutInr">{{accountSummarydata.last_payment_rupee}}.<div>{{accountSummarydata.last_payment_paisa}}</div>
              </div>
              <div class="clearfix"></div>
              <div class="totalvalutext">Last Payment Received</div>
              <div class="datesec">
                <!-- <img src="assets/imgs/dateicon.png" /> -->

                <div *ngIf="accountSummarydata.last_payment_received_date != '' && accountSummarydata.last_payment_received_date !=null">
                  Date: {{accountSummarydata.last_payment_received_date}}
                </div>
                <div *ngIf="accountSummarydata.last_payment_received_date == '' || accountSummarydata.last_payment_received_date ==null">
                  NA
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="showHideDropdown" (click)="openClose()">
          <img src="assets/imgs/icon-arrow-up.png" class="blueDropdown" *ngIf="initHide">
          <img src="assets/imgs/icon-arrow-down.png" class="blueDropdown" *ngIf="!initHide">
          <!-- <ion-icon name="ios-arrow-dropdown-outline" class="blueDropdown" *ngIf="!initHide"></ion-icon>
          <ion-icon name="ios-arrow-dropup-outline" class="blueDropdown" *ngIf="initHide"></ion-icon> -->
        </div>
      </ion-card-content>
      <ion-card-header class="footer">
        <div class="footerAmount">

          <div class="amoutInr payAmntInr">
            <img class="inr payInr" src="assets/imgs/rupee-indian.png" alt=""> {{accountSummarydata.total_payable_rupee}}.<div>{{accountSummarydata.total_payable_paisa}}</div>
            <!-- <ion-icon name="ios-information-circle-outline" class="information"></ion-icon> -->
            <!-- <img class="q_icon" src="assets/imgs/q_icon.png"> -->
          </div>
          <div class="payText">
            Total Payable
          </div>
        </div>
        <div class="buttonPayable">
          <!-- <button ion-button round class="roundPayButton" (click)="goToPage('PropertyPaymentPage')"
            [disabled]="isEnablePayNow">Pay Now</button> -->
          <button ion-button round class="roundPayButton" [disabled]="isEnablePayNow">Pay Now</button>
        </div>
      </ion-card-header>
    </ion-card>
  </div>
  <!-- <div class="buttonPayable" (click)="goToPage('InventoryFilterPage')">
      <button ion-button round class="roundPayButton">Filter</button>
    </div> -->
  <div class="extrafecilities">
    <div class="status" (click)="goToPage('ConstructionStatusPage', '')">
      <div class="roundIcon">
        <!-- <ion-icon name="construct" class="extraFeciIcon"></ion-icon> -->
        <img src="assets/imgs/construction-status.png" />
      </div>
      <div class="textfecility">
        <div class="d-block">Construction</div> Status
      </div>
    </div>

    <div class="status" (click)="goToPage('ScheduleVisitListPage', '')">
      <div class="roundIcon">
        <!-- <ion-icon name="md-calendar" class="extraFeciIcon"></ion-icon> -->
        <img src="assets/imgs/schedule-visit.png" />
      </div>
      <div class="textfecility">
        <div class="d-block">Schedule a</div> Visit
      </div>
      <!-- <div class="textfecility">Schedule Visit</div> -->
    </div>

    <div class="status">
      <div class="roundIcon">
        <!-- <ion-icon name="md-home" class="extraFeciIcon"></ion-icon> -->
        <img src="assets/imgs/loan-management.png" />
      </div>
      <div class="textfecility">
        <div class="d-block">Loan</div> Management
      </div>
    </div>

    <div class="status">
      <div class="roundIcon" (click)="goToPage('My Documents', '')">
        <!-- <ion-icon name="md-document" class="extraFeciIcon"></ion-icon> -->
        <img src="assets/imgs/my-documents.png" />
      </div>
      <div class="textfecility">
        <div class="d-block">My</div> Documents
      </div>
    </div>
  </div>

  <ion-card>
    <!-- <ion-card-header>

      </ion-card-header>
      <ion-card-content>
        cdfgdf dgsr serg erger geg erg erg
      </ion-card-content> -->
  </ion-card>

</ion-content>
<post-sales-footer></post-sales-footer>