page-dashboard {
  .prjectName {
    padding-left: 47px;
    padding-top: 10px;
    position: relative;
    width:100%;
    padding-right:40px;
    .avtar {
        width: 41px;
        height: 42px;
        overflow: hidden;
        position: absolute;
        left: 0;
        top: -3px;
        border-radius: 25px;
      img {
        margin:0;
        display: block;
        width: 100%;
      }
    }
  }
  .uinfotxt {
    position: relative;
    padding-left: 20px;
    line-height: 17px !important;
    height: auto !important;
    margin: 5px 0;
    ion-icon {
      position: absolute;
      top:0;
      left:0;
    }
  }
  .myAccountSummary {
    .footer {
      height:auto;
    }
  }
  .scroll-content {padding-bottom: 60px;}
  .userText{
    float: left;
    margin-left: 12px;
    text-align: left;
    margin-top: 20px;
    width: 100%;
  }
  .name{
    float: left;
    font-size: 14px;
    font-weight: bold;
  }
  .secondaryText{
    float: left;
    font-size: 12px;
  }
  .time{
    float: right;
    margin-top: -15px;
    margin-right: 15px;
  }
  .iconClock{
    margin-left: 20px;
  }

  .hour{
    overflow-wrap: break-word;
    width: 68px;
    font-size: 12px;
    margin-top: 1px;
  }
  .lastSearch{
    margin-top: 50px;
    padding: 12px;
  }

  .iconsInImage{
    float: right;
    color: #fff;
    font-size: 20px;
    margin: 4px;
  }
  .margin-right{
    margin-right: 5px;
  }

  .boldIcons{
    font-weight: bold;
  }
  .color{
    color: #488aff;
  }
  .float-bottom{
    position: absolute;
    bottom: -42px;
    right: 0;
    margin: 15px;
    height: 45px;
    width: 45px;
    border-radius: 25px;
    background-color: #5cce2d;
  }
  .image{
    margin-left: 15px;
    width: 12px;
    margin-top: 10px;
  }
  .price{
    font-size: 12px;
    margin-left: 5px;
  }
  .floatLeft{
    width: 100%;
    float: left;
    height: 36px;
  }
  .floatRight{
    width: 50%;
    float: right;
    height: 50px;
  }
  .iconList{
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    /* margin: 15px; */
    padding: 13px 13px 13px 19px;
    font-size: 18px;
  }
  .buyNow{
    width: 42%;
    float: left;
    margin-top: 10px;
    border-right: 1px solid #37b0de;
  }
  .getInTouch{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
  }
  .floatRight{
    color: #37b0de;
    line-height: 35px;
  }
  .floatRight.uinfotxt {
    float: left !important;
    height:auto;
  }
  .prname {
    padding-top: 10px;
}
  .padding-top{
    padding-top: 20px;
  }
  .recomendedForYou{
    padding-top: 17px;
    margin-left: 12px;
    /*height: 56%;*/
  }
  .title{
    float: left;
    margin-left: 20px;
  }
  .edi{
    float: left;
    margin-left: 50px;
  }
  .lastSearchCriteria{
    font-size: 20px;
    margin-top: 30px;
  }
  .reco{
    position: absolute;
    right: 0;
    margin-top: -35px;
  }
  .recLocation{
    float: left;
    margin-left: 10px;
  }
  .values{
    margin-top: 5px;
    float: left;
    margin-left: 18px;
  }
  .results{
    margin-top: 5px;
  }
  .roundValues{
    border: 1px solid #37b0de;
    background-color :transparent;
  }
  .recentSearch{
    padding-bottom: 25px !important;
  }
  .welcomeHeading{
    float: left;
    width: 100%;
    margin: 15px 15px 0;
  }
  .welcome, .username{
    float: left;
    color: #737171;
    font-size: 12px;
  }

  .dashboardHeading{
    float: left;
    width: 100%;
  }
  .headerSlider{
    height: 100%;
    position: relative;
  }
  .projectName{
    height: 34px;
    margin: 10px;
    text-align: left;
  }
  .lastImage .prname {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 6px 17px;
    background-color: rgba(62, 169, 221, 0.92);
    color: #ffffff;
    text-align: left;
    font-size: 16px;
    font-weight: 300;
    
  }
  .conticon {
    position: absolute;
    right:0;
    top:0;
      a {
        display: inline-block;
        color: inherit;
        ion-icon {
          color: #1a739e;
          font-size: 28px;
          margin: 0 0 0 7px;
        }
      }
   }
  .topLoaction{
    float: left;
    margin-left: 3px;
    top: 25px;
    position: absolute;
    color: #fff;
    font-size: 18px;
  }
  .customPopOver{
    background: #f5f5f5;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    color: #1f1e1e;
    margin-top: 34px;
    font-size: 18px;
    width:213px;
    height: auto;
    border-radius: 4px;
    z-index: 9;
  }
  .popList{
    font-size: 13px;
    border-bottom: 1px solid #ddd;
    margin-top: 0;
    line-height: 2;
    &:after,
    &:before {
      clear:both;
      display: table;
      content: "";
    }
    .more {
      margin-left: 15px;
  }
  }
  .popList:first-child{
    margin-top: 5px !important;
  }
  .typo{
    float: left;
    width: 48%;
    padding-left: 14px;
    text-align: left;
  }
  .toppop.customPopOver {
    padding: 0 8px;
    background-color: #ffffff;
    box-shadow: 0 0 3px #8c8c8c;
    .popList {
        padding: 5px 0;
        margin: 0 !important;
        font-size: 12px;
        &:last-child {
            border-bottom: 0 none;
        }
        .typo {
            padding: 0;
            width: auto;
            padding-right: 4px;
        }
        .valu {
            img {
              margin:7px 0 0;
            }
          }
        .more {
            margin: 0;
        }
    }
}
  /* .ppnew {
    width: 180px;
    z-index: 999;
    right: 13px;
    .typo {
      width:100%;
      background: transparent url(../assets/imgs/dropd-icon.png) no-repeat left 10px top 11px /4px auto;
      padding-left: 20px;
    }
  } */
  .ppnew {
    width: 180px;
    z-index: 999;
    right: 13px;
    padding: 0 8px;
    background-color: #ffffff;
    box-shadow: 0 0 3px #8c8c8c;
    right: 1px;
    .popList {
        padding: 5px 0;
        &:last-child {
            border-bottom: 0 none;
        }
    }
    .typo {
        width: 100%;
        background: transparent url(../assets/imgs/dropd-icon.png) no-repeat left top 8px/4px auto;
        padding-left: 9px;
        font-size: 12px;
        margin: 0;
    }
}
post-sales-footer {
  .footer {
    padding:9px 6px 8px;
  }
}
.tapfrright {
  padding: 0;
  font-weight: 300;
  .left {
      padding: 16px 0 16px 16px;
      width: 50%;
  }
  .right {
      padding: 16px 26px 16px 0;
      width: 50%;
      .iconDown {
          right: 11px;
          top: 15px;
      }
  }
}
  .valu{
    float: left;
    width: 48%;
    text-align: left;
  }
  .rsInr{
    width: 10px;
    float: left;
    margin-top: 10px;
  }
  .more{
    float: left;
    margin-left: 70px;
  }
  .cardHeader{
    background-color: #979596;
    color: #fff;
  }
  .left{
    float: left;
    width: 49%;
    font-size: 15px;
  }
  .right{
    float: left;
    width: 50%;
    padding-right:10px;
    position: relative;
  }
  .indiProperty{
    float: right;
    font-size: 12px;
    margin-right: 5px;
  }
  .iconDown{
    position: absolute;
    right: 0;
  }
  .amountValues{
    float: left;
    width: 100%;
    //margin:0 10px;
    height: auto;
    line-height: 15px;
    border-bottom: 1px solid #d4d4d4;
  }
  .amountLeft , .amountRight{
    float: left;
    width: 50%;
    padding:11px 0 22px 0;
    min-height: 50px;
    position: relative;

  }
  .amountLeft::after {
    width: 10px;
    height: 4px;
    background-color: white;
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -2px;
  }
  .amountRight::before {
    width: 10px;
    height: 4px;
    background-color: white;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: -2px;
  }
  .frst::before,
  .frst::after {
    display: none !important;
  }
  .inr {
    width: 12px;
    float: left;
    margin-top: 1px;
    margin-left: 0;
  }
  .asondate {
    color: #292828;
    font-size: 0.7em;
  }
  .asdate,
  .datesec {
      color: #000000;
      font-size: 0.7em;
      font-weight:500;
      img {
        float: left;
        width: 13px;
        margin-top: 1px;
        margin-right: 3px;
      }
      &::after {
        clear: both;
        display: table;
        content:"";
      }
  }
  .totalvalutext {
      width: 100%;
      margin: 3px 0 0;
      color: #716e6e;
      font-size: 1.2rem;
      padding-left: 0;
  }
  .amountRight{
    border-left: 1px solid #cecece;
    padding-left: 10px;
  }
  .showHideDropdown{
    float: left;
    color: #067fad;
    font-size: 20px;
    height: 24px;
    width: 100%;
    margin-top: -21px;
    text-align: center;
    //margin-left: 49%;
    margin-left:0;
    position: relative;
    z-index: 1;
    img {
      margin:auto;
      display: block;
      width: 35px;
    }
  }
  .amoutInr{
    margin-top: 0;    
    font-weight: 500;
    font-size: 17px;
    div {
      display: inline-block;
      font-size:83%;
    }
  }
  .blueDropdown{
    background-color: #fff;
  }
  .footer{
    float: left;
    width: 100%;
    height: 60px;
    margin-top: 15px;
    background-color: #ddd;
    padding: 16px 16px 12px;
  }
  .footerAmount{
    float: left;
    width: 50%;
    margin-left: -8px;
  }
 
  .payInr{
    margin-top: 4px !important;
    margin-left: 0px !important;
  }
  .payAmntInr{
    margin-top: 1px;
    ion-icon  {
      float: none;
      font-size:16px;
      margin-left:5px;
    }
  }
  .payText {
    font-size: 13px;
    color: #000000;
  }
  .buttonPayable{
    float: right;
  }
  .roundPayButton{
    margin-top: 0px;
  }
  .information{
    color: #488aff;
    float: right;
  }
  .accCard{
    position: relative;
    ion-card-content  {
      padding-top:0;
    }
  }
  .q_icon {
    width: 16px;
    display: inline-block;
    margin-left: 5px;
}
  .accntPopOver{
    position: absolute;
  }

  .extrafecilities{
    float: left;
    width: 100%;
    height: 70px;
    margin-top: 10px;
    margin-bottom: 40px;
    &:after {
      clear: both;
      display: table;
      content: "";
    }
    &:before {
      clear: both;
      display: table;
      content: "";
    }
  }
  .status{
    //margin-left: 10px;
    //margin-right: 10px;
    //height: 70px;
    width: 25%;
    float: left;
    text-align: center;
  }
  .roundIcon {
    border: 1px solid #d1d1d1;
    box-shadow: 0 0 10px rgba(0,0,0,0.36);
    border-radius: 100%;
    //height: 40px;
    //width: 40px;
    width:70px;
    height:70px;
    margin:auto;
    img {
      width: 37px;
      display: block;
      margin: 15px auto 0;
    }
  }
   .srlheight {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 146px;
  }
  .extraFeciIcon{
    margin-left: 15px;
    font-size: 25px;
    margin-top: 10px;
    color: #37b0de;
  }
  .textfecility{
    margin-top: 6px;
    float: left;
    width: 100%;
    text-align: center;
    font-size: 13px;
    //margin-bottom: 14px;
  }
  .clearfix {
    &::after,
    &:before {
      clear: both;
      display: table;
      content: "";
    }
  }
  .swiper-slide img {
    max-height:inherit;
  }
  
@media screen and (max-width: $break-smaller) {
  .textfecility {
    font-size:12px;
    }
  }
$break-tablet: 600px;
@media screen and (min-width: $break-tablet) {
  .headerSlider img {
      min-width: 100%;
      margin-top: 8px;
  }
  .customPopOver img  {
    min-width:auto;
  }
  .tapfrright .right .iconDown {
    top:13px;
  }
}
}

