page-godrej-home {
  .recoSlider .projectName {
    margin-bottom: 4px;
  }
  .swiper-wrapper {
    ion-slide {
      .slide-zoom {
        ion-card {
          margin-left:0;
          position: relative;
        }
      }
    }
  }
  .topSlider {
    .projectName {
      margin-top:6px;
    }
    .img {
      margin-bottom:3px;
    }
  }
  .srcbx,
  .img {    
    position: relative;
    overflow: hidden;
    .blanksrc {
      width:100% !important;
      height:auto !important;
    }
      .ldsrc {
        position: absolute;
        top:0;
        left:0;
        width:100%;
        min-height: 100%;
      }
    }
  
  .swiper-pagination-bullet {
    border-radius: 100%;
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #9B9B9B;
    opacity: 1;
    pointer-events: auto;
    margin: 0 3px !important;
    &.swiper-pagination-bullet-active {
      width: 10px;
      height: 10px;
      background-color: transparent;
      border: 2px solid #009bde;
    }
  } 
  .status-deactive{
color: #fff;
}
.status-active{
 color: red;
}
.searchImage{
  width: 100%;
}
  .userText{
    float: left;
    margin-left: 0;
    text-align: left;
    margin-top: 0;
    width: 100%;
  }
  .name{
    float: none;
    display: block;
    margin-bottom:3px;
    font-size: 14px;
    font-weight: bold;
  }
  .card-content-md {
    padding: 0px 7px;
  }
  .secondaryText{
    float: left;
    font-size: 12px;
  }
  .time{
    float: right;
    margin-top: -21px;
    margin-right: 0;
  }
  .iconClock{
    //margin-left: -6px;
    // float: right;
    width: 100%;
    text-align: center;
    img {
      width:16px;
    }

    .icon {
      float: none;
    }
  }

  .hour{
    overflow-wrap: break-word;
    font-size: 12px;
    margin-top: 1px;
    float: left;
    width: 100%;
  }
  .topSlider{
    float: left;
    width: 100%;
    margin-top: 6px;
    //height: 230px;
    border: 1px solid #dddddd;
    box-shadow: 2px 3px 3px 0px rgba(162, 181, 190, 0.75);
    border-radius: 5px;
    //overflow: hidden;
    .footerDiv {
      //height:122px;
    }
  }
  .sliderImages{
    //height: 150px !important;
  }
  .sliderImg{
    width: 100%;
    height: 70%;
    float: left;
  }
  .footerDiv {
    float: left;
    width: 100%;
    padding:3px 8px 27px;
  }
  .left{
    float: left;
    width: 50%;
  }
  .projectName{
    float: left;
    width: 100%;
    font-size: 12px;
    text-align: left;
    margin-left: 0;
    font-weight:500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .location{
    float: left;
    width: 100%;
    font-size: 12px;
    margin-top: 0;
  }
  .iconLocation{
    float: left;
    width: 0px;
    color:#969696;
  }
  .locationName{
    float: left;
    width: 90%;
    text-align: left;
    margin-left: 12px;
    color:#969696;
  }
  .getIntouch{
    float: right;
    //width: 50%;
    font-size: 12px;
    text-align: left;
    border-right: 1px solid #ada7a7;
    padding-right: 7px;
    margin-right: 7px;
    div {
      text-decoration:underline;
    }
    a {
      color:#25292b;
    }
  }
  .topSlider {
    .left {
      width:46%;
    }
    .rightsc {
      width:54%;
    }
    .location {
      margin-top:6px;
      width: 73%;
      .locationName {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  .recomended .recoSlider  .card-md {
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -ms-shadow: none !important;
    border: 0 none !important;
  }
  .recoSlider {
    border: 1px solid #dddddd;
    box-shadow: 2px 3px 3px 0px rgba(162, 181, 190, 0.75);
    border-radius: 5px;
    ion-card {
      margin:0;
      width:100%;
    }
   
  }
  .rightsc {
    float: right;
    width:auto;    
    position: relative;
    top: 7px;
  }
  .buyNow{
    float: right;
    //width: 50%;
    text-align: center;
    overflow-wrap:break-word;
    button {
      width: auto;
      min-width: inherit;
      margin: -20px 0 0;
      padding: 7px 13px;
      font-size:13px;
      height: auto;
      background: #009bde;
      border: 0 none !important;
      font-weight: 300;
      text-transform: none;
    }
  }
  .buyNowButton{
    width: 60px;
    height: 25px;
    font-size: 12px;
    margin-left: 12px;
  }
  .iconTopRight{
    position: absolute;
    right: 0;
    top: 4px;
    margin: 15px 11px 15px 15px;
    color: #fff;
    width: 75px;
    .heartIcon,
     .shareIcon {
      font-size:20px;
      img {
        width:28px;
      }
    }
  }
    .iconbottom{
    position: absolute;
    left: 0;
    bottom: 20%;
    margin: 15px;
    color: #fbfbfb;
    width: 92%;
    background-color: #121212;
  }
  .heartIcon{
    margin-right: 6px;
    float: left;
  }
  .recomended{
    float: left;
    width: 100%;
    margin-top: 15px;
    font-size: 16px;
  }
  .recomendText{
    float: left;
    width: 100%;
    margin-bottom: 6px;
  }
  .typology{
    float: right;
    width: 100%;
    font-size: 12px;
    text-align: right;
  }
  .price{
    float: left;
    width: 100%;
    font-size: 12px;
    color:#969696;
    text-align:right;
  }
  .startPriceImg{
    float: left;
    width: 10px;
  }
  .eventsOffer{
    float: left;
    width: 100%;
    margin-top: 15px;
  }
  .evntText{
    float: left;
    width: 100%;
    margin-bottom: 6px;
    font-size: 16px;
  }
  .evntSlider{
    float: left;
    width: 100%;
    .img {
      img {
        width:100%;
      }
    }
  }
  .sliderImagesEvent{
   // margin-right: 5px;
  }
  .bhkTxt {
    float: right;
    // word-wrap: false;
    // width: 50px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width:26%;
    text-align: right;
  }
  .prnm {
    width: 73.5%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
 
  .recomond {
    ion-card-content {
      padding:9px 7px 25px;
      .location {
        width:44%;
        float: left;
        font-size:11px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        .locationName {
          white-space: nowrap;
          overflow: hidden;
          overflow-wrap: inherit;
          text-overflow: ellipsis;
        }
      }
      .price {
        width:56%;
        float: right;
        font-size: 10px;
        margin-top: 1px;
        font-weight: 500;
        color:#000000;
        span {
          color:#009bde;
          font-weight:normal;
          img {
            float: none;
            display: inline-block;
            width: 7px;
            margin-right: 1px;
          }
        }
      }
    }
  }
  ion-card-title {
    padding: 0 !important;
    margin:0 !important;
  }
  .projectImage{
    width: 100% !important;
    // max-height: 80%!important;
    // min-height:  80%!important;
  }
  .slide-zoom {
    .srcbx {
      position: relative;
      overflow: hidden;
      //max-height: 220px;
      //max-height: 160px;
      .iconbottom {
           bottom: 0;
          margin: 0;
          padding: 6px 10px;
          width: 100%;
          background-color: rgba(18, 18, 18, 0.56);
      }
    }
  }
  .swiper-slide img {
    max-height:inherit;
  }
$break-small: 340px;
@media screen and (max-width: $break-small) {
  .name {
    font-size:11px;
  }
}
@media screen and (max-width: $break-smaller) {
  .sliderImages .mainDiv .img {
    //  max-height: 320px;
    //  overflow: hidden;
 }
  .sliderImages {
    height: auto !important;
  }
  .left {
    width:100%;
  }
  .recomond ion-card-content .location {width:100%; margin-top:0;}
  .location {
    margin: 2px 0;
  }
  .rightsc {
    margin-top:0;
    width:auto;
  }
  .topSlider .location {
    margin-top: 6px;
    width: 41%;
}
  .recomond ion-card-content .price {
    text-align:left;
    width:100%;
    margin-top:0;
  }
.topSlider .left {
  width: 39%;
}
  .topSlider .rightsc {
    width: 60%;
}
}
$break-tablet: 600px;
@media (min-width:$break-tablet) {
  .topSlider .location {
    margin-top: 3px;
  }
  .locationName {margin-left:14px;}
  .slide-zoom .srcbx {
    position: relative;
    //overflow: hidden;
    //max-height: 270px;
  }
  .topSlider {
    height: auto !important;
  }
  .sliderImages {
    height: auto !important;
    .mainDiv .img {
      //max-height: 320px;
      //overflow: hidden;
      margin-bottom: 0;
    .footerDiv {
      height: auto !important;
    }
  }
}
  .topSlider .projectName {
    margin-top: 9px;
  }
  .rightsc {top:11px;}
  .buyNow button {
    padding:9px 22px;
    font-size:15px;
    margin-top:-17px;
  }
  .recomond ion-card-content .location {margin-top:0px;}
  .getIntouch,
  .location,
  .hour,
  .recomond ion-card-content .price,
  .locationName,
  .secondaryText {font-size:14px;}
  .name,
  .projectName {font-size:16px;}
  .topSlider .location {
    margin-top: 6px;
    //width: 100%;
  }
  .recomond ion-card-content .price {
    img {
      width: 10px !important;
      position: relative;
      top: 0px;
    }
  }
  .iconTopRight .heartIcon img, .iconTopRight .shareIcon img {
    width: 33px;
    }
    .iconTopRight {
    width:84px;
    }
    //
    .eventsOffer,
    .recomended {margin-top:25px;}
}
$break-tabletlandscape: 960px;
@media screen and (min-width: $break-tabletlandscape) {
  
.srcbx .blanksrc, .img .blanksrc {
  max-height: 260px;
}
}
.scroll-content {
  padding-bottom:70px !important;
}


}