<!--
  Generated template for the GodrejHomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <head-bar hTitle="Godrej Home" [text]="text" [image]="image" [noti]="noti" [mail]="mail" [heart]="heart" [pin]="pin"
      [menuIcon]="menuIcon"></head-bar>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="userText" *ngIf="resentSerchproperty.length > 0">
    <div class="name">
      <div *ngIf="isGuest !='1'">
        Welcome {{userName}},
      </div>
      <div *ngIf="isGuest =='1'">
        Guest,
      </div>
    </div>
    <div class="secondaryText">
      continue from your last search
    </div>
    <div class="time">
      <div class="iconClock">
        <!-- <ion-icon name="ios-clock-outline"></ion-icon> -->
        <img src="assets/imgs/clock-icon.png">
      </div>
      <div class="hour" *ngIf="searchTime">
        {{searchTime }}
      </div>
    </div>
  </div>

  <div class="topSlider" *ngIf="resentSerchproperty?.length > 0">
    <ion-slides *ngIf="resentSerchproperty?.length > 0" (ionSlideDidChange)="slideChanged()" #Slides pager="true"
      autoplay="5000" speed="500" loop="false">
      <!-- {{loop}} -->
      <!-- <ion-slides *ngIf="resentSerchproperty.length > 0" (ionSlideDidChange)="slideChanged()" #Slides pager="true"> -->
      <ion-slide class="sliderImages recentSearchSlider" *ngFor="let item of resentSerchproperty; let i = index;">
        <div class="mainDiv">
          <div class="img">
            <img src="assets/imgs/slider-blank-src.png" class="blanksrc">
            <img [src]="getimgUrl(item.proj_img)" alt="" class="searchImage recentSearchImg ldsrc"
              (click)="goToPage('ProjectDetailsPage' ,item,'pageRedirect',item.callus_india,item.callus_other_country )">
          </div>
          <div class="iconTopRight tosheico">

            <div class="heartIcon recentSearchAddWishlist" (click)="goToPage('' , item, 'wishList','','')">
              <!--addRmWishList(item) *ngIf="isGuest != '1'" -->
              <div>
                <img *ngIf="item.wishlist_status == '0'" class="emtyheart" src="assets/imgs/heart-icon.png">
                <img *ngIf="item.wishlist_status != '0'" class="fillheart" src="assets/imgs/heart-fill-icon.png">
              </div>
            </div>

            <div class="shareIcon recentSearchShare" (click)="share(item)">
              <!-- <ion-icon name="share"></ion-icon> -->
              <img class="emtyheart" src="assets/imgs/share-icon.png">
            </div>
          </div>
          <div class="footerDiv">
            <div class="left">
              <div class="projectName">
                <!-- Lorem ipsum is dummy text Lorem ipsum is dummy text -->
                {{item.proj_name}}
              </div>

            </div>
            <div class="left rightsc">
              <div class="buyNow recentSearchBuyNow"
                (click)="reDirectTo('InventoryBookingPage',item,'pageRedirect',item.callus_india,item.callus_other_country )">
                <button ion-button round class="buyNowButton"> Buy Now</button>
              </div>
              <div class="getIntouch recentSearchGetInTouch"
                (click)="goToPage('GetInTouchPage' ,item,'pageRedirect',item.callus_india,item.callus_other_country )">
                <div>Get In Touch</div>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="location">
              <div class="iconLocation">
                <ion-icon name="pin"></ion-icon>
              </div>
              <div class="locationName">
                {{item.cities}}
              </div>


            </div>
            <div class="clearfix"></div>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="recomended" *ngIf="RecommendForU?.length > 0">
    <div class="recomendText">
      Recommended For You
    </div>
    <div class="clearfix"></div>
    <div class="recoSlider">
      <ion-slides slidesPerView="1" #RecomendedSlides pager="true">
        <ion-slide class="middlesliderImages recomond" *ngFor="let item of RecommendForU; let i = index;">
          <ion-card>
            <div class="srcbx" (click)="goToPage('ProjectDetailsPage' , item,'pageRedirect','','')">
              <img src="assets/imgs/slider-blank-src.png" class="blanksrc">
              <img class="projectImage ldsrc" [src]="getimgUrl(item.proj_img)" />
              <div class="iconbottom" *ngIf="item.possession !=null && item.possession != ''">{{item.possession}}</div>
            </div>
            <div class="iconTopRight">

              <div class="heartIcon" (click)="goToPage('' , item, 'wishList','','')">
                <!-- *ngIf="isGuest != '1'" -->
                <div>
                  <img *ngIf="item.wishlist_status == '0'" class="emtyheart" src="assets/imgs/heart-icon.png">
                  <img *ngIf="item.wishlist_status == '1'" class="fillheart" src="assets/imgs/heart-fill-icon.png">
                </div>
              </div>

              <div class="shareIcon" (click)="goToPage('' , item, 'share','','')">
                <img class="emtyheart" src="assets/imgs/share-icon.png">
              </div>
            </div>
            <!-- <div class="iconbottom" *ngIf="item.project_status == '1'"> Ready To Move In</div> -->



            <ion-card-content (click)="goToPage('ProjectDetailsPage' , item,'pageRedirect','','')">
              <ion-card-title>
                <div class="projectName">
                  <span class="prnm">{{item.proj_name}}</span>

                  <span class="bhkTxt">{{item.typologies | uppercase}}</span>
                </div>
                <div class="location">
                  <div class="iconLocation">
                    <ion-icon name="pin"></ion-icon>
                  </div>
                  <div class="locationName">
                    {{item.cities}}
                  </div>
                </div>
                <div class="price" *ngIf='item.min_price'>
                  <!-- <div class="price"> -->
                  Starting Price :
                  <span>
                    <img *ngIf="item.min_price != 'On Request'" class="startPriceImg"
                      src="assets/imgs/rupee-indian-blue.png" alt="">{{item.min_price}}
                  </span>
                </div>
                <div class="clearfix"></div>
              </ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-slide>

      </ion-slides>
    </div>
  </div>

  <div class="eventsOffer bulletinsrc">
    <div class="evntText" *ngIf="eventsArr.length > 0">
      Events & Offers
    </div>
    <div class="evntSlider">
      <ion-slides pager="true" slidesPerView="1" #Slides2>
        <ion-slide class="sliderImagesEvent" *ngFor="let item of eventsArr; let i = index;">
          <div class="mainDiv">
            <div class="img">
              <img src="assets/imgs/slider-blank-src.png" class="blanksrc">
              <img class="projectImage ldsrc" [src]="getimgUrl(item.imgs)" />
              <!-- <img src="assets/imgs/godrej-offer-src.jpg" alt=""> -->
            </div>
          </div>
        </ion-slide>

        <!-- <ion-slide class="sliderImagesEvent">
          <div class="mainDiv">
            <div class="img">
              <img src="assets/imgs/godrej-offer-src.jpg" alt="">
            </div>
          </div>
        </ion-slide>

        <ion-slide class="sliderImagesEvent">
          <div class="mainDiv">
            <div class="img">
              <img src="assets/imgs/godrej-offer-src.jpg" alt="">
            </div>

          </div>
        </ion-slide> -->

      </ion-slides>
    </div>
  </div>

  <!-- <div class="topSlider">
    <ion-slides pager="false" *ngIf="eventsArr?.length > 0">
      <ion-slide class="sliderImages recentSearchSlider" *ngFor="let item of eventsArr; let i = index;">
        <div class="mainDiv">
          <div class="img">
            <img [src]="getimgUrl(item.imgs)" alt="">
          </div>
          <div class="clearfix"></div>
        </div>
      </ion-slide>
    </ion-slides>
  </div> -->

</ion-content>
<foot-bar></foot-bar>