<!--
  Generated template for the GetInTouchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <head-bar hTitle="Get In Touch" [text]="text" [image]="image" [noti]="noti" [heart]="heart" [pin]="pin" [menuIcon]="menuIcon"></head-bar>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item class="itemLst">
      <div (click)="showHideAccordian('cu')" class="fullClick">
        <div class="iconLeft">
          <!-- <ion-icon name="call" class="iconCall"></ion-icon> -->
          <img src="assets/imgs/iconCall.png">
        </div>
        <div class="textHeading">
          Call Us
        </div>
        <div class="rightIcon">
          <ion-icon name="add" *ngIf="!callUs"></ion-icon>
          <ion-icon name="remove" *ngIf="callUs"></ion-icon>
        </div>
      </div>

      <div class="contentArea" *ngIf="callUs">
        <div class="indiaPhNo">
          India Number :
          <a href="tel:{{formData.indiaPhNo}}">{{formData.indiaPhNo}}</a>
        </div>
        <div class="otherPhNo">
          Other Number :
          <a href="tel:{{formData.otherPhNo}}">{{formData.otherPhNo}}</a>
        </div>
      </div>
    </ion-item>

    <ion-item class="itemLst">
      <div (click)="showHideAccordian('rcb')" class="fullClick">
        <div class="iconLeft">
          <!-- <ion-icon name="call" class="iconCall"></ion-icon>
          <ion-icon name="arrow-back" class="backArrw"></ion-icon> -->
          <img src="assets/imgs/iconCallwitharrow.png">
        </div>
        <div class="textHeading">
          Request a Call Back
        </div>
        <div class="rightIcon">
          <ion-icon name="add" *ngIf="!callBck"></ion-icon>
          <ion-icon name="remove" *ngIf="callBck"></ion-icon>
        </div>
      </div>

      <div class="contentArea" *ngIf="callBck">
        <form class="visitForm" [formGroup]="requestCallForm">
          <ion-list>
            <ion-item class="nomrg" *ngIf="isGuest == 0">
              <ion-label class="user-icon" floating>
                <ion-icon name="ios-phone-portrait-outline"></ion-icon> &nbsp; Mobile Number *
              </ion-label>
              <ion-input type="tel" name="mobile" formControlName="mobile" value="{{phoneNumber}}" [disabled]="isReadOnly"></ion-input>
            </ion-item>

            <div class="twonfild" *ngIf="isGuest == 1">
              <div class="mobile-countrycode" (click)="openCountry('codeNameRequest')">
                <div class="imageFlag">
                  <img src="{{flagReq}}" alt="">
                </div>
                <div class="cntNumber">
                  <ion-item>
                    <div class="countryInitials">
                      ({{countryInitialsReq.alpha3Code}})
                      <div class="downArr">
                        <ion-icon name="ios-arrow-down-outline"></ion-icon>
                      </div>
                    </div>

                  </ion-item>
                </div>
              </div>

              <div class="phone-input">
                <ion-item>
                  <ion-label floating>
                    <ion-icon name="ios-phone-portrait-outline"></ion-icon>
                    &nbsp; ({{countryInitialsReq.callingCodes}}) Mobile Number *
                  </ion-label>
                  <ion-input type="tel" name="mobile" formControlName="mobile"></ion-input>
                </ion-item>
                <div class="error">
                  <div *ngIf="g.mobile.errors?.required && g.mobile.touched">
                    <div class="txterror">Mobile Number Is Required.</div>
                  </div>
                  <div *ngIf="g.mobile.errors?.pattern && g.mobile.touched">
                    <div class="txterror">Please Enter A Valid Mobile Number.</div>
                  </div>
                  <div *ngIf="(g.mobile.errors?.minlength || g.mobile.errors?.maxlength) && g.mobile.touched">
                    <div class="txterror">Mobile Number Should Be 10 Digits.</div>
                  </div>
                </div>

              </div>
              <div class="clearfix"></div>
            </div>

          </ion-list>

          <div class="requestCallBack">
            <button class="commonButtonClass button button-md button-default button-default-md button-round button-round-md" ion-button
              round (click)="request()" [disabled]="!requestCallForm.valid">Request</button>
          </div>

        </form>
      </div>
    </ion-item>

   <!--  <ion-item class="itemLst">
      <div class="fullClick" (click)="showHideAccordian('cht')">
        <div class="iconLeft">
          <img src="assets/imgs/chatboxes.png">
        </div>
        <div class="textHeading">
          Chat with us
        </div>
        <div class="rightIcon">
          <ion-icon name="add" *ngIf="!chat"></ion-icon>
          <ion-icon name="remove" *ngIf="chat"></ion-icon>
        </div>
      </div>
      <div class="contentArea" *ngIf="chat">
        Some thing Goes here
      </div>
    </ion-item> -->

    <ion-item class="itemLst nobrder">
      <div (click)="showHideAccordian('bokv')" class="fullClick">
        <div class="iconLeft">
          <!-- <ion-icon name="chatboxes" class="iconCall"></ion-icon> -->
          <img src="assets/imgs/booksitevisit.png">
        </div>
        <div class="textHeading">
          Book a Site Visit
        </div>
        <div class="rightIcon">
          <ion-icon name="add" *ngIf="!visit"></ion-icon>
          <ion-icon name="remove" *ngIf="visit"></ion-icon>
        </div>
      </div>

      <div class="contentArea" *ngIf="visit">
        <form class="visitForm" [formGroup]="visitForm">
          <ion-list>
            <ion-item class="proList" *ngIf="isGuest == '1'">
              <ion-label floating>
                Select Project *
              </ion-label>

              <ion-select interface="popover" [(ngModel)]="selectedValue" formControlName="projectlist" (ionChange)="onSelectChange($event)" name="projectlist">
                <ion-option *ngFor="let project of allProjectList" name='selectedValue' value="{{project.proj_id}}">
                  {{project.name}}
                </ion-option>
              </ion-select>

            </ion-item>
            <div class="error" *ngIf="isGuest == '1'">
              <div *ngIf="f.projectlist.errors?.required && f.projectlist.touched">Project Is Required.</div>
            </div>
            <ion-item class="nomrg">
              <ion-label class="user-icon" floating>
                <img src="assets/imgs/user-icon.png"> &nbsp; First Name *
              </ion-label>
              <ion-input type="text" name="fname" formControlName="fname" value="{{firstName}}" [disabled]="isReadOnly">
              </ion-input>
            </ion-item>
            <div class="error">
              <div *ngIf="f.fname.errors?.required && f.fname.touched">First Name Is Required.</div>
              <div *ngIf="f.fname.errors?.pattern && f.fname.touched">Only Alphabets.</div>
            </div>

            <ion-item class="nomrg">
              <ion-label class="user-icon" floating>
                <img src="assets/imgs/user-icon.png"> &nbsp; Last Name *
              </ion-label>
              <ion-input type="text" name="lname" formControlName="lname" value="{{lastName}}" [disabled]="isReadOnly">
              </ion-input>
            </ion-item>
            <div class="error">
              <div *ngIf="f.lname.errors?.required && f.lname.touched">Last Name Is Required.</div>
              <div *ngIf="f.lname.errors?.pattern && f.lname.touched">Only Alphabets.</div>
            </div>


            <!-- <div class="twonfild">
              <div class="codecountry">
                <ion-item>
                  <ion-label style="display: none;">
                    Country Code
                  </ion-label>
                  <ion-select formControlName="countryCode" [(ngModel)]="code" (ionChange)="onChange(code,'code')">
                    <ion-option value="{{country.callingCodes}}" *ngFor="let country of countryList; let i=index">
                      {{country.callingCodes}}</ion-option>
                  </ion-select>
                </ion-item>
              </div>
              <div class="phone-input">
                <ion-item>
                  <ion-label floating>
                    <ion-icon name="ios-phone-portrait-outline"></ion-icon>
                    &nbsp; Mobile Number *
                  </ion-label>
                  <ion-input type="tel" name="mobile" formControlName="mobile"></ion-input>
                </ion-item>
              </div>
            </div> -->

            <ion-item class="nomrg" *ngIf="isGuest == 0">
              <ion-label class="user-icon" floating>
                <ion-icon name="ios-phone-portrait-outline"></ion-icon> &nbsp; Mobile Number *
              </ion-label>
              <ion-input type="tel" name="mobile" formControlName="mobile" value="{{phoneNumber}}" [disabled]="isReadOnly"></ion-input>
            </ion-item>

            <div class="twonfild" *ngIf="isGuest == 1">
              <div class="mobile-countrycode" (click)="openCountry('codeName')">
                <div class="imageFlag">
                  <img src="{{flag}}" *ngIf="!(f.countryCode.errors?.required && f.countryCode.touched)" alt="">
                </div>
                <div class="cntNumber">
                  <ion-item>
                    <!-- <ion-label>Country Code</ion-label> -->
                    <!-- <ion-select formControlName="countryCode">
                      <ion-option value="{{country.callingCodes}}" (ionSelect)="onChange(country)" *ngFor="let country of countryCodes; let i=index">({{country.alpha3Code}})</ion-option>
                    </ion-select> -->
                    <div class="countryInitials">
                      ({{countryInitials.alpha3Code}})
                      <div class="downArr">
                        <ion-icon name="ios-arrow-down-outline"></ion-icon>
                      </div>
                    </div>

                  </ion-item>
                </div>
              </div>

              <div class="phone-input">
                <ion-item>
                  <ion-label floating>
                    <ion-icon name="ios-phone-portrait-outline"></ion-icon>
                    &nbsp; ({{countryInitials.callingCodes}}) Mobile Number *
                  </ion-label>
                  <ion-input type="tel" name="mobile" formControlName="mobile"></ion-input>
                </ion-item>
                <div class="error">
                  <div *ngIf="f.mobile.errors?.required && f.mobile.touched">
                    <div class="txterror">Mobile Number Is Required.</div>
                  </div>
                  <div *ngIf="f.mobile.errors?.pattern && f.mobile.touched">
                    <div class="txterror">Please Enter A Valid Mobile Number.</div>
                  </div>
                  <div *ngIf="(f.mobile.errors?.minlength || f.mobile.errors?.maxlength) && f.mobile.touched">
                    <div class="txterror">Mobile Number Should Be 10 Digits.</div>
                  </div>
                  <!-- <div *ngIf="f.mobile.errors?.pattern && f.mobile.touched">
                    <div class="txterror">Only numbers</div>
                  </div> -->

                </div>
              </div>
            </div>
            <!-- div class="error">
              <div *ngIf="f.mobile.errors?.required && f.mobile.touched">Mobile is required</div>
              <div *ngIf="f.mobile.errors?.pattern && f.mobile.touched">Only numbers</div>

            </div> -->

            <ion-item>
              <ion-label floating>
                <ion-icon name="ios-mail-outline"></ion-icon>
                &nbsp; Email *
              </ion-label>
              <ion-input type="email" name="email" formControlName="email" value="{{emailID}}" [disabled]="isReadOnly">
              </ion-input>
            </ion-item>
            <div class="error">
              <div *ngIf="f.email.errors?.required && f.email.touched">Email ID Is Required.</div>
              <div *ngIf="f.email.errors?.pattern && f.email.touched">Not A Valid Email ID.</div>
            </div>

            <ion-item>
              <ion-label floating>
                <div class="inpusrc">
                  <img src="assets/imgs/flagicon.png">
                </div>
                &nbsp; Country *
              </ion-label>
              <ion-input type="text" [(ngModel)]="country" name="country" formControlName="country" [readonly]="true" (focus)="openCountry('fullName')">
              </ion-input>
            </ion-item>

            <!-- <ion-item>
              <ion-label floating>
                <div class="inpusrc">
                  <img src="assets/imgs/flagicon.png">
                </div>
                &nbsp; Country
              </ion-label>
              <ion-select formControlName="country" [(ngModel)]="country" (ionChange)="onChange(country,'country')">
                <ion-option value="{{country.name}}" *ngFor="let country of countryList; let i=index">{{country.name}}
                </ion-option>
              </ion-select>
            </ion-item> -->

            <ion-item>
              <ion-label floating>
                <div class="inpusrc">
                  <img src="assets/imgs/citiicon.png">
                </div>
                <!-- <ion-icon name="ios-mail-outline"></ion-icon> -->
                &nbsp; City *
              </ion-label>
              <ion-input type="text" name="city" formControlName="city" [(ngModel)]="defaultCity" (ionFocus) = "clearCity()"></ion-input>
            </ion-item>
            <div class="error">
              <div *ngIf="f.city.errors?.required && f.city.touched">City Is Required.</div>
              <div *ngIf="f.city.errors?.pattern && f.city.touched">Not A Valid City Name.</div>
            </div>

            <!-- <ion-item>
              <div class="gender">
                <div class="icon">
                  &nbsp; Book your site visit
                </div>
                <div class="customCheckBox" (click)="checkBox(i)" *ngFor="let item of bookVisit; let i=index">
                  <div class="bigDot">
                    <div [ngClass]="{'smallDot': item.select == true}" class="smallDot"></div>
                  </div>
                  <div class="text radioText">
                    &nbsp; {{item.name}}
                  </div>
                </div>

              </div>
            </ion-item> -->

            <div *ngIf="siteVisit">
              <ion-item>
                <ion-label>
                  <div class="inpusrc">
                    <img src="assets/imgs/dateicon.png">
                  </div>
                  <!-- <ion-icon name="calendar"></ion-icon> -->
                  &nbsp; My Prefered Date *
                </ion-label>
                <ion-datetime displayFormat="DD MMM YYYY" placeholder="Select Your Date" [min]="minDate" [max]="maxDate" formControlName="preferedDate"></ion-datetime>
              </ion-item>
              <div class="error">
                <div *ngIf="f.preferedDate.errors?.required && f.preferedDate.touched">Preferred Date Is Required.</div>
              </div>

              <ion-item>
                <ion-label>
                  <div class="inpusrc">
                    <img src="assets/imgs/clockicon.png">
                  </div>
                  &nbsp;My Preferred Time *
                </ion-label>
                <ion-datetime displayFormat="hh:mm A" minuteValues="0,15,30,45" placeholder="Select Preferred Time" (ionChange)="timeChange('st')"
                  formControlName="startTime"></ion-datetime>
              </ion-item>
              <div class="error">
                <div *ngIf="f.startTime.errors?.required && f.startTime.touched">Preferred Time Is Required.</div>
                <div *ngIf="!isValidPreferredTime && f.startTime.touched">Preferred Time Should Be Between 10.00 AM And 06:00 PM.
                </div>
              </div>

            </div>


            <div class="submit">
              <button ion-button round class="submitBtn commonButtonClass" [disabled]="disableButton" (click)="submit()">Submit</button>
            </div>
          </ion-list>
        </form>
      </div>
    </ion-item>

  </ion-list>
</ion-content>