page-get-in-touch {
  .back-button.show-back-button {
    top: 2px;
  }
  .item-ios, .item-md {
    margin-bottom:11px;
  }
  .nomrg {margin:0 !important;}
  .list-md > ion-item.itemLst.nobrder >  .item-inner,
  .list-md > ion-item.itemLst.nobrder {
    border-bottom:0 none !important;
  }
  .bigDot{
    height: 20px;
    width: 20px;
    border: 1px solid #37b0de;
    border-radius: 50%;
    padding: 3px;
    float: left;
    margin-left: 20px;
    margin-top: 2px;
  }
  .codecountry{
    margin-top: 31px;
    //border-bottom: 1px solid #ccc1c1;
  }
  .commonButtonClass{
    width: 89%;
    text-transform: none;
    font-size: 20px;
    background: linear-gradient(to right, #3ea7de 0%, #077ec6 100%);
  }
  .requestCallBack{
    text-align: center;
    width: 100%;
  }
  .smallDot{
    height: 2px;
    width: 2px;
    background-color: #37b0de;
    border-radius: 50%;
    margin-left: 3px;
    margin-top: 3px;
    padding: 3px;
  }
  .radioText{
    float: left;
    width: 0 !important;
    margin-top: 2px;
  }
  
  .customCheckBox{
    float: left;
    margin-left: 16px;
    margin-right:7px;
  }
  .label-md {
    margin: 8px 8px 8px 0;
  }
  .iconLeft{
    background-color: #37b0de;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    float: left;
    img {
      width: 27px;
      margin: 10px auto 0;
    }
  }
  .inpusrc {
    float: left;
    margin-bottom: -8px;
    img {
      width:15px;
    }
  }
  .iconCall{
    margin-left: 12px;
    margin-top: 9px;
  }
  .text{
    float: left;
    width: 75%;
  }
  .rightIcon{
    float: right;
    margin-top: 7px;
    color: #adadad;
    padding: 6px;
  }
  .textHeading{
    line-height: 32px;
    margin-left: 15px;
    float: left;
    margin-top: 6px;
  }
  .contentArea{
    float: left;
    width: 100%;
    //margin-left: 14%;
    margin-left: 57px;
    margin-top: 10px;
    color:#777777;
    .indiaPhNo {
      margin-bottom:7px;
    }
  }
  .itemLst{
    border-bottom: 1px solid #e6e6e6;
    width: 420px;
    max-width: 100%;
    margin: auto;
    .item-inner {
      border-bottom:0 none !important;
    }
  }
  .backArrw{
    margin-left: -6px;
    margin-top: 8px;
    font-size: 14px;
  }
  .visitForm{
    float: left;
    width: 100%;
    margin-left: -50px;
    margin-top: -9px;
  }
  .submit{
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  .submitBtn{
    width: 80%;
  } 
  .error{
    float: left;
    width: 100%;
    margin-left: 0;
    color: #f30101;
    font-size: 11px;
  }
  .user-icon {
    img {
      width:16px;
    }
  }
  /* .twonfild {
    .codecountry {
      width:25%;
      float: left;
      position: relative;
      select {
        border: 0 none;
        border-bottom: 1px solid #c5c7d2;
        color: #969696;
        height: 38px;
        margin-top: 29px;
        width: 100%;
        background-image: url(../../assets/imgs/select-bg.png);
        background-position: right 5px center;
        background-repeat: no-repeat;
        background-size: 13px;
        -webkit-appearance: none;
        -o-appearance: none;
        -ms-appearance: none;
        -moz-appearance: none;
      }
    }
    
    .phone-input {
      width:75%;
      float: left;
      margin-top: 8px;
    }
  } */

  .twonfild {
    .mobile-countrycode {
      width: 34%;
      display: inline-block;
      float: left;
      text-align: center;
      padding: 21px 0 1px;
      border-bottom: 1px solid #c5c7d2 !important;
      ion-icon {
        color: #7f7f7f;
        float: none;
        font-size: 30px;
        margin: 34px 0 0;
      }
    }

    .phone-input {
      width: 66%;
      display: inline-block;
      float: left;
      padding-left: 10px;
      .item-inner {
        border:0 none !important;
      }
      .error {
        div {
          padding-bottom:15px;
          position: relative;
          .txterror {
            position: absolute;
            top:0;
            left:0;
          }
        }
      }
    }
  }
  .list-md .phone-input .item-input {
    border-bottom:1px solid #c5c7d2 !important;
    box-shadow: none !important;
  }
  .imageFlag{
    width: 27px;
    float: left;
    margin-top: 17px;
  }
  .cntNumber {
    width: 73%;
    float: left;
    padding-left: 4px;
    .item.item-block.item-md {
      margin:0;
    }
      .item-inner {
        border:0 none !important;
        .label-md {
          margin: 18px 0 0 10px;
          .countryInitials {
            position: relative;
            padding-right: 19px;
            font-size:14px;
            .downArr {
                position: absolute;
                right: 0;
                top: 11px;
                line-height: 0;
                ion-icon {
                  line-height: 0;
                  margin: 0;
                  font-size: 24px;
                  color: #b3b0b0;
              }
            }
          }
        }
        .label-ios {
          margin: 17px 0 0 10px;
          .countryInitials {
            position: relative;
            padding-right: 19px;
            .downArr {
                position: absolute;
                right: 0;
                top: 11px;
                line-height: 0;
                ion-icon {
                  line-height: 0;
                  margin: 0;
                  font-size: 24px;
                  color: #b3b0b0;
              }
            }
          }
        }
      }
}

.cntNumber .item-block .item-inner {
  border-bottom:0 none !important;
}
.cntNumber ion-select {
    display: block !important;
    max-width: inherit;
    padding: 0;
    overflow: inherit;
    position: relative;
    padding-right: 12px;
    width: auto;
    margin-top: 22px;
}
.cntNumber ion-select .select-icon {
  position: absolute;
  right: 0;
  top: 1px;
  width: 15px;
}
  .list-ios {
    .twonfild {      
      .codecountry {
        select {
          margin-top:32px;
        }
      }
    }
      ion-icon {
        font-size: 1.5em;
    }
    .item-icon {
      font-size:1.8em;
    }
  }
  .list-md .phone-input .item-input:last-child {border:0 none !important;}
  .scroll-content {
    padding: 15px !important;
  }
  @media screen and (max-width: $break-smaller) {
    .customCheckBox {
      margin-left: 5px;
      margin-right: 0;
      position: relative;
      padding-left: 16px;
      min-width: 52px;
      .bigDot {        
        margin-left: 0;
        margin-top: 2px;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
}
.fullClick{
  float: left;
  width: 100%;
}