<!-- Generated template for the HeadBarComponent component -->
<div>
  <button ion-button block menuToggle *ngIf="menuIcon" style="float: left;">
    <!-- <ion-icon name="ios-menu-outline"></ion-icon> -->
    <img src="assets/imgs/menu-toggle.png" alt="">
  </button>
  <!-- <ion-icon name="ios-menu-outline" *ngIf="menuIcon" (click)="toggleMenu()"></ion-icon> -->
  <div class="text" *ngIf="text"> {{hTitle}}</div>
  <div class="subheading" *ngIf="subHeading">
    {{subHeadingText}}
  </div>
  <div class="image" *ngIf="image">
    <img src="assets/imgs/godrej_properties-v2.jpeg" alt="">
  </div>
  <div class="iconLists" *ngIf="isGuest != '1'">
    <!-- <ion-icon name="ios-notifications-outline" (click)="opennotificationpage()" *ngIf="noti" style="font-size: 1.5em; float: right; margin-right: 15px;">
      <ion-badge color="danger" *ngIf='notificationcont > 0'> {{notificationcont}}</ion-badge> -->
    <!-- <span [ngClass]="{'dot': notificationDot == true}"></span> -->
    <!-- <ion-badge item-end>260k</ion-badge> -->
    <!-- </ion-icon> -->
    <div class="notilink" *ngIf="mail">
      <img src="assets/imgs/mail.png">
    </div>
    <div class="notilink" *ngIf="pin">
      <img src="assets/imgs/pin-outline.png">
    </div>

    <div class="notilink whlink" *ngIf="heart" (click)="openwishlistpage()">
      <img src="assets/imgs/whistlist.png">
      <ion-badge color="danger" *ngIf='wishlistcont > 0'>
        <span><span>{{wishlistcontView}}</span></span>
      </ion-badge>
    </div>

    <div class="notilink noti" *ngIf="noti" (click)="opennotificationpage()"> <!-- shownotification() -->
      <img src="assets/imgs/notifications-outline.png">
      <ion-badge color="danger" *ngIf='notificationcont > 0'>
        <span><span >{{notificationcontView}}</span></span>
      </ion-badge>
    </div>

    <div class="dropnoti" *ngIf='shownoti'>
      <div *ngIf='Notificationlist.length > 0'>
        <!-- <div class="titlenoti">My Task</div> -->
        <div class="notilist">
          <div class="notiitem" [ngClass]="(item.field_is_message_read == 0)?'unread':'read'" *ngFor="let item of Notificationlist; let i = index;"
            (click)="opennotification(item)">{{item.title}}</div>
          <div class="linktogo" (click)="opennotificationpage()">View More</div>
        </div>
      </div>
      <div class="titlenoti" *ngIf='Notificationlist.length == 0'>{{ noNotificationMsg }}</div>

    </div>

    <!-- <ion-icon name="ios-heart-outline" *ngIf="heart" style="font-size: 1.5em; float: right; margin-right: 15px;"
      (click)="openwishlistpage()">
      <img src="assets/imgs/whistlist.png">
      <ion-badge color="danger" *ngIf='wishlistcont > 0'>{{wishlistcont}}</ion-badge>
    </ion-icon> -->
    <ion-icon name="ios-pin-outline" *ngIf="pin" style="font-size: 1.5em; float: right; margin-right: 15px; display:none;">

    </ion-icon>
  </div>
</div>