head-bar {

  .notilink {
    position: relative;
    width:20px;
    display: inline-block;
    margin: 0 9px;
    img {
      width:20px;
      position: relative;
      top:1px;
    }
    &.noti,
    &.whlink {
      img {
        top:2px;
      }
    }
    ion-badge {
      position: absolute;
      border-radius: 100%;
      padding: 0;
      text-align: center;
      width: 25px;
      height: 25px;
      font-size: 10px;
      font-weight: normal;
      line-height: 16px;
      top: -13px;
      right: -11px;
      span {
        display: table;
        width:100%;
        height:100%;
        vertical-align:middle;
        span {
          display: table-cell;
          width:100%;
          height:100%;
          vertical-align:middle;
        }
      }
    }
    &.noti {
      ion-badge {
        right:-7px;
      }
    }
  }
  .bar-button-menutoggle {
    span {
      display: block;
      img {
        max-width: 34px;
        margin: 10px 0 0;
      }
    }
  }
  #notifications-badge {
    background-color: #0f4cf7;
    position: absolute;
    top: 16px;
    right: 8px;
    border-radius: 100%;
    height: 5px;
    width: 5px;
    display: inline-block;
  }

  .dot{
    height: 2px;
    width: 2px;
    background-color: #37b0de;
    border-radius: 50%;
    //display: inline-block;
    float: right;
    padding: 3px;
  }
  .text{
    /* margin-top: 5px; */
    float: left;
    font-size: 18px;
    width: 67%;
  }
  .image{
    //width: 100px !important;
    width: 116px !important;
    float: left;
    margin-top: 8px;
  }
  .subheading{
    float: left;
    width: 100% !important;
    color: #867f7f;
  }
  .iconLists{
    float: right;
    width: 160px;
    top: 0;
    margin-top: 9px;
    position: absolute;
    right:0;
    top:10px;
    text-align: right;
    padding-right: 4px;
  }
  .dropnoti {
    box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.06);
    position: absolute;
    top: 100%;
    width: 170px;
    right: 0;
    z-index: 9999;
    background-color: #fff;
    margin-top: 10px;
    font-size: 13px;
    line-height: 19px;
    font-weight: normal;
    .titlenoti {
      background-color:#e5e5e5;
      color:#1b1b1b;
      padding:5px 15px;
      font-size:105%;
    }
    .notilist {
      padding:0 10px;
      .notiitem {
        color:#1b1b1b;
        border-top:1px solid #dad8d9;
        padding:5px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        overflow-wrap: normal;
        width: 100%;
        display: block;
        text-align: left;
        &.unread {
          color:#37b0de;
          font-weight: bold !important;
        }
        &:first-child {
          border:0 none;
        }
      }
      .linktogo {
        color:#37b0de;
        padding: 5px;
      }
    }
  }
  page-inventory-details .text{
    margin-top:0 !important
  }
}
.toolbar-background-md {
  background-color:#ffffff;
}
.badge-md-danger {
  color: #fff;
    background-color: #2c99d6;
}
ion-header.header {
  ion-navbar {
    overflow: inherit;
    contain:inherit;
  }
}