<!--
  Generated template for the UserProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <head-bar hTitle="Profile Details" [text]="text" [image]="image" [noti]="noti" [heart]="heart" [pin]="pin" [menuIcon]="menuIcon"></head-bar>
    <!-- <ion-buttons start>
      <button ion-button (click)="cancel()">

        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons> -->
    <!-- <ion-buttons start>
      
    </ion-buttons> -->
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div class="image">

  </div>
  <form class="profileForm" [formGroup]="profileForm">
    <input type="file" style="visibility: hidden; height: 0px" name="files[]" />
    <div class="profile-image-wrapper">
      <div class="profile-image-placeholder">

        <div *ngIf="selectedImage != ''">
          <div class="roundDiv profile-image" [style.backgroundImage]="getProfileImageStyle()">

          </div>
          <div class="prbtn">
            <div class="left" (click)="getPicture('1')">
              <ion-icon name="ios-camera-outline"></ion-icon>
            </div>
            <div class="right" (click)="getPicture('2')">
              <ion-icon name="ios-folder-outline"></ion-icon>
            </div>
          </div>
        </div>
        <div *ngIf="selectedImage == ''">
          <div class="roundDiv profile-image">
            <div class="initilas">
              {{initialNames}}
            </div>
            <!-- <div class="left" (click)="getPicture('1')">
            <ion-icon name="ios-camera-outline"></ion-icon>
          </div>
          <div class="right" (click)="getPicture('2')">
            <ion-icon name="ios-folder-outline"></ion-icon>
          </div> -->
          </div>
          <div class="prbtn">
            <div class="left" (click)="getPicture('1')">
              <ion-icon name="ios-camera-outline"></ion-icon>
            </div>
            <div class="right" (click)="getPicture('2')">
              <ion-icon name="ios-folder-outline"></ion-icon>
            </div>
          </div>
        </div>
      </div>

    </div>

    <ion-list>
      <ion-item class="salut">
        <ion-label floating>
          Salutation *
        </ion-label>
        <ion-select formControlName="salutaion" interface="popover">
          <ion-option value="Mr">Mr.</ion-option>
          <ion-option value="Mrs">Mrs.</ion-option>
          <ion-option value="Ms">Ms.</ion-option>
        </ion-select>
      </ion-item>
      <div class="error">
        <div *ngIf="f.salutaion.errors?.required && f.salutaion.touched">Salutation Is Required.</div>
      </div>

      <ion-item>
        <ion-label class="user-icon" floating>
          <!-- <img src="assets/imgs/user-icon.png"> -->
          First Name *
        </ion-label>
        <ion-input type="text" name="fname" [readonly]="true" formControlName="fname"></ion-input>
      </ion-item>
      <div class="error">
        <div *ngIf="f.fname.errors?.required && f.fname.touched">First Name Is Required.</div>
      </div>

      <ion-item>
        <ion-label class="user-icon" floating>
          <!-- <img src="assets/imgs/user-icon.png"> -->
          Last Name *
        </ion-label>
        <ion-input type="text" name="lname" [readonly]="true" formControlName="lname"></ion-input>
      </ion-item>
      <div class="error">
        <div *ngIf="f.lname.errors?.required && f.lname.touched">Last Name Is Required.</div>
      </div>

      <!-- <ion-item class="user-icon" floating  (click)="openDOBPicker('dob')"> -->
      <ion-item class="user-icon" *ngIf="profileForm.value.dob !=null && profileForm.value.dob!=''">
        <ion-label floating>Date of Birth </ion-label>
        <!-- <ion-input type="text" class="userDob" name="dob" formControlName="dob" readonly></ion-input> -->
        <ion-datetime class="readonly" displayFormat="DD MMM YYYY" (ionChange)="updateMyDate($event,'dob')" formControlName="dob"
          [max]="maxDateDob"></ion-datetime>
        <!--           <ion-input type="text" name="dob" [readonly]="true" value="{{profileForm.value.dob}}"></ion-input> -->
      </ion-item>
      <!-- <div class="error">
        <div *ngIf="f.dob.errors?.required && f.dob.touched">Date of birth is required</div>
      </div> -->
      <!-- <ion-item (click)="openDOBPicker('ani')"> -->
      <div class="datedicon">
        <img src="assets/imgs/dateicon.png">
      </div>
      <ion-item class="nobg" *ngIf="profileForm.value.dob !=null && profileForm.value.dob!=''">
        <ion-label floating>Anniversary</ion-label><!-- [disabled]="aniDateDisable" -->
        <ion-datetime  (ionChange)="updateMyDate($event,'anni')" displayFormat="DD MMM YYYY" formControlName="anniversary"
          [min]="minDate" [max]="maxDate"></ion-datetime>
      </ion-item>
    </ion-list>
    <div class="toverify">
      <!-- <div class="red" *ngIf="userInfo?.is_verified_email == 1">Verifiyed</div> sendOtp('E','verify') -->
      <div class="blue" *ngIf="userInfo?.is_verified_email == 0" (click)="openProfileVerificationModal('email')">Verify</div>
    </div>
    <ion-item class="getborder">
      <ion-label class="user-icon" floating>
        <!-- <img src="assets/imgs/user-icon.png"> -->
        Email
      </ion-label>
      <ion-input type="email" name="email" [readonly]="true" value="{{userInfo?.email}}"></ion-input>
    </ion-item>

    <ion-item class="getborder">
      <ion-label class="user-icon" floating>
        <!-- <img src="assets/imgs/user-icon.png"> -->
        Mobile Number
      </ion-label>
      <ion-input type="email" name="mobile" [readonly]="true" value="{{userInfo?.mobile}}"></ion-input>
    </ion-item>

    <button ion-button round class="width-100 m-t-30" (click)="done()" [disabled]="!isReadyToSave" strong>
      Save
    </button>
  </form>

  <!--  <div class="email_mob">
    <div class="email">
      <div class="value">
        {{userInfo?.email}}
      </div>
      <div class="verify">
        <ion-icon name="ios-checkmark-circle-outline" class="green" *ngIf="userInfo?.is_verified_email == 1"></ion-icon>
        <ion-icon name="ios-close-circle-outline" class="red" *ngIf="userInfo?.is_verified_email == 0"
          (click)="sendOtp('E','verify')"></ion-icon>
      </div>
    </div>
    <div class="mobile">
      <div class="value">
        {{userInfo?.mobile}}
      </div>
      <div class="verify">
        <ion-icon name="ios-checkmark-circle-outline" class="green" *ngIf="userInfo?.is_verified_mobile == 1">
        </ion-icon>
        <ion-icon name="ios-close-circle-outline" class="red" *ngIf="userInfo?.is_verified_mobile == 0"
          (click)="sendOtp('M','verify')"></ion-icon>
      </div>
    </div>
  </div> -->

  <!-- <div class="updateEmail_mob">
    <div class="emailUpdate">
      <button ion-button color="light" round (click)="sendOtp('Email','one')">Update Email</button>
    </div>
    <div class="mobUpdate">
      <button ion-button color="light" round (click)="sendOtp('Mobile','one')">Update Mobile</button>
    </div>
  </div> -->

  <div class="changePassword">

    <div class="passChange">
      <h4>Change Password</h4>
      <form class="changePassForm" [formGroup]="changePassForm">
        <ion-list>
          <div class="serelative">
            <ion-item class="paswrd">
              <ion-label floating>
                <!-- <ion-icon name="ios-mail-outline"></ion-icon> -->
                <img src="assets/imgs/loc-icon.png"> Old Password *
              </ion-label>
              <ion-input class="passwordField" type="password" name="password" formControlName="oldpassword" *ngIf="!openClose"></ion-input>
              <ion-input class="passwordField" type="text" name="password" formControlName="oldpassword" *ngIf="openClose"></ion-input>
            </ion-item>
            <div class="eyeIcons">
              <div class="off" (click)="eyeOpenClose('oldpassword')" *ngIf="!openClose">
                <!-- <ion-icon name="eye-off" ></ion-icon> -->
                <img src="assets/imgs/eye-icon-not.png">
              </div>
              <div class="eyeOpen" (click)="eyeOpenClose('oldpassword')" *ngIf="openClose">
                <!-- <ion-icon name="eye"></ion-icon> -->
                <img src="assets/imgs/eye-icon.png">
              </div>
            </div>

            <div class="clearfix"></div>
          </div>
          <div class="error">
            <div *ngIf="c.oldpassword.errors?.required && c.oldpassword.touched">Old Password Is Required.</div>
          </div>


          <div class="serelative">
            <ion-item class="paswrd">
              <ion-label floating>
                <!-- <ion-icon name="ios-mail-outline"></ion-icon> -->
                <img src="assets/imgs/loc-icon.png"> New Password *
              </ion-label>
              <ion-input class="passwordField" type="password" name="password" formControlName="newpassword" *ngIf="!openClose2"></ion-input>
              <ion-input class="passwordField" type="text" name="password" formControlName="newpassword" *ngIf="openClose2"></ion-input>
            </ion-item>
            <div class="eyeIcons">
              <div class="off" (click)="eyeOpenClose('newpassword')" *ngIf="!openClose2">
                <!-- <ion-icon name="eye-off" ></ion-icon> -->
                <img src="assets/imgs/eye-icon-not.png">
              </div>
              <div class="eyeOpen" (click)="eyeOpenClose('newpassword')" *ngIf="openClose2">
                <!-- <ion-icon name="eye"></ion-icon> -->
                <img src="assets/imgs/eye-icon.png">
              </div>
            </div>

            <div class="clearfix"></div>
          </div>
          <div class="error">
            <div *ngIf="c.newpassword.errors?.required && c.newpassword.touched">New Password Is Required.</div>
            <div *ngIf="c.newpassword.errors?.pattern && c.newpassword.touched">
              Password Must Be 6 Characters And Alpha-Numeric.
            </div>
          </div>


          <div class="serelative">
            <ion-item class="paswrd">
              <ion-label floating>
                <!-- <ion-icon name="ios-mail-outline"></ion-icon> -->
                <img src="assets/imgs/loc-icon.png"> Confirm Password *
              </ion-label>
              <ion-input class="passwordField" type="password" name="password" formControlName="confpassword" *ngIf="!openClose3"></ion-input>
              <ion-input class="passwordField" type="text" name="password" formControlName="confpassword" *ngIf="openClose3"></ion-input>
            </ion-item>
            <div class="eyeIcons">
              <div class="off" (click)="eyeOpenClose('confpassword')" *ngIf="!openClose3">
                <!-- <ion-icon name="eye-off" ></ion-icon> -->
                <img src="assets/imgs/eye-icon-not.png">
              </div>
              <div class="eyeOpen" (click)="eyeOpenClose('confpassword')" *ngIf="openClose3">
                <!-- <ion-icon name="eye"></ion-icon> -->
                <img src="assets/imgs/eye-icon.png">
              </div>
            </div>

            <div class="clearfix"></div>
          </div>
          <div class="error">
            <div *ngIf="c.confpassword.errors?.required && c.confpassword.touched">Confirm Password Is Required.</div>
            <div *ngIf="notMatched">
              Not Matching.
            </div>
          </div>


        </ion-list>
        <div class="changePassBtn">
          <button ion-button round class="width-100 createAccBtn" [disabled]="!changePassForm.valid" (click)="changePassword()">Change Password</button>
        </div>
      </form>
    </div>
  </div>

</ion-content>