page-user-profile {

  .bar-button-menutoggle-md {
    margin-top:-10px;
  }
  .profile-image-placeholder{
    width: 100%;
    text-align: center;
    float: left;
  }
  .roundDiv{
    border-radius: 50%;
    height: 140px;
    width: 140px;
    position: relative;
    background-position: center;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f2f2f2;
    border: 5px solid #e3e3e3;
  }
  .left{
    float: left;
    bottom: 0;
    position: absolute;
    font-size: 30px;
  }
  .right{
    float: left;
    bottom: 0;
    position: absolute;
    right: 0;
    font-size: 25px;
  }
  .prbtn {
    position: relative;
    display: inline-block;
    margin: 0 0 0;
    div {
      position: static;
      &.left {
        margin-right: 55px;
        margin-top: -3px;
        width: auto;
      }
      &.right {
      }
    }
  }
  .initilas{
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 139px;
    background-color: #800080;
    border-radius: 50%;
    font-size: 30px;
    color: #fff;
    margin: 0;
  }
  .error{
    color: #f60303;
    margin-top: 5px;
  }
  .user-icon {
    img {
      width:16px;
    }
  }
  .headerSubmit{
    font-size: 30px;
  }
  .email_mob{
    float: left;
    width: 100%;
  }
  .email, .mobile{
    float: left;
    width: 100%;
    margin: 5px 0;
    font-size: 15px;
  }
  .value{
    float: left;
    width: 80%;
    font-weight: bold;
  }
  .verify{
    float: left;
    width: 20%;
    font-size: 20px;
    font-weight: bold;
  }
  .green{
    color: #006200;
  }
  .red{
    color: #f20a0a;
  }
  .updateEmail_mob{
    float: left;
    width: 100%;
  }
  .emailUpdate, .mobUpdate{
    float: left;
    width: 48%;
  }
  .serelative {
    position: relative;
    .paswrd {
      width:100%;
      ion-label {
        img {
          width:16px;
        }
      }
    }
  }
  .eyeIcons {
    position: absolute;
    width:30px;
    right:0;
    top:45px;
    img {
      width:23px;
    }
  }
  .eyeOpen , .off{
    float: left;
    width: 100%;
    margin-left: 8px;
    color: #7f7f7f;
  }
  .changePassword{
    float: left;
    width: 100%;
    margin-top: 23px;
    border-top: 1px dotted #cccccc;
  }
  .changePassBtn{
    float: left;
    width: 100%;
    text-align: center;
  }
  .passwordField{
    padding-right: 20px;
  }
  .userDob input {
    text-align: right;
  }
  .readonly {pointer-events: none;}
  .getborder {
    .item-inner {
      border-bottom: 1px solid #c5c7d2 !important;
    }
  }
  .button {height:44px;}
  .m-t-30 {margin-top:30px;}
  .datedicon {
    position: relative;
     img {
      position: absolute;
      z-index:0;
      width: 15px;
      right: 0;
      bottom: -60px;
    }
  }
  .nobg {
    background-color: transparent;
    position: relative;
    z-index: 1;
  }
  .toverify {
    position: relative;
    div {
      position: absolute;
      z-index: 2;
      right:0;
      bottom: -60px;
      &.red {
        color: red;
      }
      &.blue {
        color: blue;
      }
    }
  }
  .passChange {
    h4 {
      text-align: center;
      color: #4a4a4a;
      margin: 0;
      padding: 20px 0 0;
      font-size: 18px;
      line-height: 24px;
    }
  }
@media screen and (max-width: $break-smaller) {
  .updateEmail_mob .button-round-md {
    padding: 0 1.8rem;
}

}
}
.picker-md .picker-toolbar {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}
.popover-wrapper  ion-list .item-radio .item-inner {
  padding-left:15px;
}
.width-100{
  width: 100%;
  text-transform: none;
}