<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>home</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content>
  <div class="close" *ngIf="isGuest == '1'" (click)="closeModal()">
    X
  </div>
  <!-- <div class="text">
    Welcome
  </div> -->
  <!-- <div class="loginType">
        <div class="loginwith">
            Login With
        </div>
      <div class="emailLogin divType">
        <div class="customCheckBox" (click)="checkBox('E')">
          <div class="bigDot">
              <div [ngClass]="{'smallDot': type.email == true}" class="smallDot"></div>
            </div>
          <div class="text logTy">
              &nbsp; Email
          </div>
        </div>
      </div>
      <div class="phoneLogin divType" >
        <div class="customCheckBox" (click)="checkBox('M')">
          <div class="bigDot">
              <div [ngClass]="{'smallDot': type.mobile == true}" class="smallDot"></div>
            </div>
          <div class="text logTy">
              &nbsp; Mobile
          </div>
        </div>
      </div>
      <div class="panLogin divType">
        <div class="customCheckBox" (click)="checkBox('P')">
          <div class="bigDot">
              <div [ngClass]="{'smallDot': type.pan == true}" class="smallDot"></div>
            </div>
          <div class="text logTy">
              &nbsp; Pan
          </div>
        </div>

      </div>
    </div> -->
  <div class="center-cont">
    <div class="scrollcont">
      <div class="datapad">
        <figure>
          <img src="assets/imgs/godrej_properties.jpeg" class="propertiesImg mrgt15" alt="">
        </figure>
        <form class="loginForm" [formGroup]="loginForm">
          <ion-list>
            <div class="twonfild" [ngClass]="(isCountryFieldShow)?'input-double':'input-signle'">
              <div class="mobile-countrycode" *ngIf="isCountryFieldShow" (click)="openCountry()">
                <div class="imageFlag">
                  <img src="{{flag}}" alt="">
                </div>
                <div class="cntNumber">
                  <ion-item>
                    <div class="countryInitials">
                      ({{countryInitials.alpha3Code}})
                      <div class="downArr">
                        <ion-icon name="ios-arrow-down-outline"></ion-icon>
                      </div>
                    </div>
                  </ion-item>
                </div>
              </div>
              <div class="phone-email-input">
                <ion-item class="user-icon" *ngIf="type.email == true">
                  <ion-label floating>

                    <div *ngIf="isCountryFieldShow">
                      <ion-icon name="ios-phone-portrait-outline"></ion-icon>
                      &nbsp; &nbsp;({{countryInitials.callingCodes}}) Mobile Number

                    </div>
                    <div *ngIf="isEmailFieldShow">
                      <img src="assets/imgs/user-icon.png">
                      &nbsp; Email ID / Mobile Number
                    </div>
                  </ion-label>
                  <!-- <ion-input type="text" name="textvalue" (keyup)="getMobileNo($event,number)"></ion-input>        -->
                  <ion-input type="text" name="textvalue" formControlName="textvalue" (keyup)="getMobileNoValidation()" (ionChange)='checkEmailORMobile()'>
                  </ion-input>
                </ion-item>
                <div class="error">
                  <div *ngIf="onlyNumberAllowed && f?.textvalue?.touched">
                    <div class="txterror">Please Enter A Valid Mobile Number.</div>
                  </div>
                  <div *ngIf="validLength && f?.textvalue?.touched">
                    <div class="txterror">Mobile Number Should Be 10 Digits.</div>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>


            <div class="error">
              <div *ngIf="f?.textvalue?.errors?.required && f?.textvalue?.touched">Email ID / Mobile Number Is Required.
              </div>

              <div *ngIf="validEmail && f?.textvalue?.touched">
                Not A Valid Email ID.
              </div>

            </div>


            <ion-item *ngIf="panNumber == true">
              <ion-label floating>
                <ion-icon name="ios-card-outline"></ion-icon>
                &nbsp; PAN Number
              </ion-label>
              <ion-input type="text" name="pan" formControlName="pan" (keyup)="onkeyDown()"></ion-input>
            </ion-item>

            <div class="error" *ngIf="panNumber == true">
              <div *ngIf="f?.pan.errors?.required && f?.pan.touched">PAN Number Is Required.</div>
              <div *ngIf="f?.pan.errors?.pattern && f?.pan.touched">Not A Valid PAN Number.</div>
            </div>

            <div class="clearfix"></div>
            <!-- <ion-item *ngIf="type.mobile == true">
              <ion-label floating>
                <ion-icon name="ios-call-outline"></ion-icon>
                &nbsp; Mobile
              </ion-label>
            <ion-input type="tel" name="mobile" formControlName="mobile"></ion-input>
          </ion-item>
          <div class="error" *ngIf="type.mobile == true">
            <div *ngIf="f?.mobile.errors?.required && f?.mobile.touched">Mobile is required</div>
            <div *ngIf="f?.mobile.errors?.pattern && f?.mobile.touched">Only numbers</div>
          </div>

           -->
            <div class="serelative">
              <ion-item class="passwordItem">
                <ion-label floating>
                  <!-- <ion-icon name="ios-lock-outline"></ion-icon> -->
                  <img src="assets/imgs/loc-icon.png">
                  &nbsp; Password
                </ion-label>
                <!-- <ion-input type="password" name="password" formControlName="password" *ngIf="!openClose"></ion-input>
                <ion-input type="text" name="password" formControlName="password" *ngIf="openClose"></ion-input> -->
                <ion-input type="{{typeText}}" name="password" formControlName="password"></ion-input>
              </ion-item>
              <div class="eyeIcons">
                <div class="off" (click)="eyeOpenClose('O')" *ngIf="!openClose">
                  <!-- <ion-icon name="eye-off"></ion-icon> -->
                  <img src="assets/imgs/eye-icon-not.png">
                </div>
                <div class="eyeOpen" (click)="eyeOpenClose('C')" *ngIf="openClose">
                  <!-- <ion-icon name="eye"></ion-icon> -->
                  <img src="assets/imgs/eye-icon.png">
                </div>
              </div>
              <div class="clearfix"></div>
            </div>

            <div class="error">
              <div *ngIf="f.password.errors?.required && f.password.touched">Password is Required</div>
            </div>
            <div class="clearfix"></div>
            <div class="forgot" (click)="goToPage('ForgotPasswordPage')">
              Forgot Password?
            </div>
            <div class="clearfix"></div>

            <div>
              <button ion-button round class="login-button" id="doLogin" type="submit" [disabled]="invalid"
                (click)="doLogin()">
                Login
                <ion-icon name="ios-arrow-back-outline" class="rotate-to-right"></ion-icon>
              </button>
              <!-- <button ion-button color="primary" block>Login</button> -->
            </div>

          </ion-list>
        </form>
        <div *ngIf="isGuest != '1'" class="guestLogin" (click)="guestLogin()">
          Continue as Guest
        </div>
        <div class="noaccount">
          Don't have an account ? <span class="signUp" (click)="goToPage('SignupPage')">Register</span>
        </div>


        <div class="noaccount appversion">
          <p *ngIf="buildType != ''">{{ buildType }} &nbsp;<b>v{{ appVersionNumber }}</b></p>
        </div>
      </div>
    </div>
  </div>
  <!--  <div>
    <button ion-button round class="login-button" type="submit" (click)="openCalendar()">
      Calendar
    </button>
  </div> -->
  <!-- 
  <div>
    Copyright &copy; {{copyRightDate  | date: 'yyyy'}} Godrej Properties
  </div> -->
</ion-content>