page-home {
  .center-cont {
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    .scrollcont {
      height: 100%;
      width:100%;
      overflow-x: hidden;
      overflow-y: auto;
    }
    figure {
      margin:0;
      padding-bottom: 40px;
    }
    .datapad {
     // padding: 150px 0;
    }
    .propertiesImg {margin-bottom: 0px !important;}
    .loginForm {
      margin-top: 0;
      /* width: 420px; */
      max-width: 100%;
      width: 100%;
      min-width: 350px;
  }
  }
  .loginForm .list-md {
    margin-bottom:0;
  }
.mrgt15 {
  margin-top:15px !important;
}
  .close{
    float: right;
    margin: 8px;
    font-size: 18px;
  }
  /* .list-ios .item-block .item-inner, .list-md .item-block .item-inner{
    border-bottom: none !important;
  } */
  .serelative {
    position: relative;
    .passwordItem {
      width:100%;
      .item-inner {
        margin-bottom:2px;
      }
      ion-label {
        img {
          width:16px;
        }
      }
    }
    .eyeIcons {
      position: absolute;
      width: 30px;
      right: 0;
      top: 44px;
      margin: 0;
      img {
        width:23px;
      }
    }
  }
.list-ios .loginForm .serelative .item-block .item-inner, .list-md .loginForm .serelative  .item-block .item-inner {
    border-bottom: 1px solid #c5c7d2 !important;
    margin-bottom: 2px;
}
.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
.list-md .phone-input .item-input {
  box-shadow: none !important;
  border:0 none;
}
.list-md .phone-input .item-input:last-child {
  border-bottom-color:transparent;
}
  .list-ios {
    .item-block{
      &:first-child {
        border-top:0 none;
      }
    }
  }
  img.propertiesImg {
    width: 240px;
    margin: auto;
    display: block;
}
  .login-button{
    width: 100%;
    height: 4.6rem;
    text-transform: none;
    font-size: 1.3em;
    .icon {
      margin-bottom: -1px;
      margin-left: 15px;
    }
  }
  .loginForm{
    margin-top: 40px;
    width: 420px;
    //width: 90%;
    max-width:98%;
    padding:0 10px;
    margin-left: auto;
    margin-right: auto;
    .item-md {
      padding-left:0;
    }
  }
  .rotate-to-right{
    transform: rotate(180deg);
    margin-left: 10px;
  }
  .text{
    margin-top: 50px;
    font-size: 30px;
    text-align: center;
  }
  .forgot{
    float: right;
    margin: 10px;
    color: #0f7bb7;
  }
  .signUp {
    color: #b72363;
    font-weight: bold;
  }
  .user-icon {
    img {
      width:16px;
    }
  }
  .noaccount{
    text-align: center;
    font-size: 15px;
    color: #323b49;
    font-weight: 300;
  }
  .appversion{
    color: #323b49;
    text-align: center;
    margin-top: 0;
  }
  .guestLogin{
    text-align: center;
    font-size: 15px;
    margin:15px;
    font-weight: 300;
    color: #b72363;
  }
  .headreImg {
    text-align: center;
  .propertiesImg{
    width: 200px;
    align-items: center;
    //margin-left: 110px;
  }
}
  .error{
    margin: 5px;
    margin-left: 0;
    color: #f10505;
    float: left;
    width: 100%;
  }

  .customCheckBox{
    float: left;
    margin-left: 0;
    width: 100%;
  }

  .bigDot{
    height: 20px;
    width: 20px;
    border: 1px solid #37b0de;
    border-radius: 50%;
    padding: 3px;
    //float: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
  }

  .smallDot{
    height: 2px;
    width: 2px;
    background-color: #37b0de;
    border-radius: 50%;
    margin-left: 3px;
    margin-top: 3px;
    padding: 3px;
  }
  .loginType{
    text-align: center;
    width: 100%;
  }
  .logTy{
    font-size: 12px !important;
    margin-left: 0;
    margin-top: 10px;
  }
  .divType{
    float: left;
    width: 32%;
  }
  .loginwith{
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .passwordItem{
    width: 90%;
    float: left;
  }
  .eyeIcons{
   // float: left;
    width: 10%;
    margin-top: 40px;
    font-size: 20px;
    color: #7f7f7f;
  }
  .button-round-ios,
  .button-md {
    //height: 4.6rem;
    opacity: 1;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3ea7de+0,077ec6+100 */
    background: rgb(62,167,222); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(62,167,222,1) 0%, rgba(7,126,198,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(62,167,222,1) 0%,rgba(7,126,198,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(62,167,222,1) 0%,rgba(7,126,198,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ea7de', endColorstr='#077ec6',GradientType=1 ); /* IE6-9 */
  } 

  .twonfild.input-double {
    .mobile-countrycode {
      width: 34%;
      display: inline-block;
      float: left;
      text-align: center;
      padding: 8px 0 6px;
      border-bottom: 1px solid #c5c7d2 !important;
      ion-icon {
        color: #7f7f7f;
        float: none;
        font-size: 30px;
        margin: 34px 0 0;
      }
    }

    .phone-email-input {
      width: 66%;
      display: inline-block;
      float: left;
      padding-left: 10px;
      .error {
        div {
          padding-bottom:15px;
          position: relative;
          .txterror {
            position: absolute;
            top:0;
            left:0;
          }
        }
      }
      ion-item {        
        box-shadow: none !important;
        border:0 none !important;
        ion-label {
          margin:0;
        }
      }
    }
  }
  .input-double .imageFlag{
    width: 27px;
    float: left;
    margin-top: 21px;
  }
  .input-double .cntNumber {
    width: 75%;
    float: left;
    padding-left: 4px;
      .item-inner {
        border:0 none !important;
        .label-md {
          margin: 17px 0 0 10px;
          .countryInitials {
            position: relative;
            padding-right: 19px;
            .downArr {
                position: absolute;
                right: 0;
                top: 11px;
                line-height: 0;
                ion-icon {
                  line-height: 0;
                  margin: 0;
                  font-size: 24px;
                  color: #b3b0b0;
              }
            }
          }
        }
      }
}

.input-double .cntNumber .item-block .item-inner {
  border-bottom:0 none !important;
}
.input-double .cntNumber ion-select {
    display: block !important;
    max-width: inherit;
    padding: 0;
    overflow: inherit;
    position: relative;
    padding-right: 12px;
    width: auto;
    margin-top: 22px;
}
.input-double .cntNumber ion-select .select-icon {
  position: absolute;
  right: 0;
  top: 1px;
  width: 15px;
}


$break-tablet: 600px;
@media screen and (max-width: $break-tablet) {
  .propertiesImg  {
   // margin-bottom:25% !important;
  }
}  
@media screen and (min-width: $break-tablet) {
  .propertiesImg  {
   // margin-bottom:25% !important;
  }
}
$break-mxsmheight:480px;
@media screen and (max-height: $break-mxsmheight){
  .scrollcont figure {padding-top:170px;}
}
$break-vsmall:350px;
@media screen and (max-width: $break-vsmall) {
  .center-cont .loginForm {min-width:310px;}
}  
}
