<!--
  Generated template for the ScheduleVisitPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <head-bar hTitle="Schedule Visit" [text]="text" [image]="image" [noti]="noti" [heart]="heart" [pin]="pin" [menuIcon]="menuIcon"></head-bar>
</ion-navbar>

</ion-header>


<ion-content padding>
  <div class="scheduleVisit">
    <form class="scheduleVisitForm" [formGroup]="scheduleVisitForm">
      <ion-list>

        <ion-item>
          <ion-label floating>
              <ion-icon name="ios-person-outline"></ion-icon>
              &nbsp; Property *
          </ion-label>
          <ion-select formControlName="property">
            <ion-option value="xbox">Xbox</ion-option>
            <ion-option value="ps4s">PlayStation 4 Slim</ion-option>
            <ion-option value="xboxones">Xbox One S</ion-option>
          </ion-select>
        </ion-item>
        <div class="error">
            <div *ngIf="f.property.errors?.required && f.property.touched">Property is required</div>
        </div>

        <ion-item>
          <ion-label floating>
              <ion-icon name="ios-person-outline"></ion-icon>
              &nbsp; Purpose Of Visit *
          </ion-label>
          <ion-select formControlName="purpose">
            <ion-option value="xbox">Xbox</ion-option>
            <ion-option value="ps4s">PlayStation 4 Slim</ion-option>
            <ion-option value="xboxones">Xbox One S</ion-option>
          </ion-select>
        </ion-item>
        <div class="error">
            <div *ngIf="f.purpose.errors?.required && f.purpose.touched">Purpose is required</div>
        </div>

        <ion-item>
          <ion-label>Date & Time</ion-label>
          <ion-datetime displayFormat="DD MM YY h:mm A" placeholder="Select Your Date" [min]="minDate" [max]="maxDate" formControlName="datetime"></ion-datetime>
        </ion-item>
        <div class="error">
            <div *ngIf="f.datetime.errors?.required && f.datetime.touched">Datetime is required</div>
        </div>

        <ion-item>
          <ion-label floating>
              <ion-icon name="ios-person-outline"></ion-icon>
              &nbsp; Person(s) *
          </ion-label>
          <ion-select formControlName="persons">
            <ion-option value="xbox">Xbox</ion-option>
            <ion-option value="ps4s">PlayStation 4 Slim</ion-option>
            <ion-option value="xboxones">Xbox One S</ion-option>
          </ion-select>
        </ion-item>
        <div class="error">
            <div *ngIf="f.persons.errors?.required && f.persons.touched">Persons is required</div>
        </div>

        <ion-item>
          <ion-label floating>
            <ion-icon name="ios-home-outline"></ion-icon>
            &nbsp; Comment
          </ion-label>
          <ion-textarea name="comment" formControlName="comment"></ion-textarea>
        </ion-item>

        <div class="floaRight">
          View All Visit
        </div>
        <div class="submitBtn">
          <button ion-button round [disabled]="!isReadyToSubmit" (click)="submitVisit()">Submit</button>
        </div>
      </ion-list>
    </form>
  </div>

  <div class="location">
    <ion-item class="itms">
      <div class="iconsdiv">
          <ion-icon name="albums" class="icns"></ion-icon>
      </div>
      <div class="text"> 7Kms from the airport</div>
    </ion-item>
    <ion-item class="itms">
      <div class="iconsdiv">
          <ion-icon name="train" class="icns"></ion-icon>
      </div>
      <div class="text"> 7Kms from the railway station</div>
    </ion-item>
  </div>
</ion-content>
<post-sales-footer></post-sales-footer>
