page-schedule-visit {
  .floaRight{
    float: right;
    color: #37b0de;
    font-size: 17px;
    margin: 15px;
  }
  .submitBtn{
    float: left;
    width: 100%;
    text-align: center;
  }
  .location{
    float: left;
    width: 100%;
    margin-top: 20px;
    border: 1px solid #bdafaf;
  }
  .itms{
    background-color: #ddd;
  }
  .icns{
    margin-right: 10px;
  }
  .error{
    color: #f50101;
    margin-left: 16px;
  }
}
