<!--
  Generated template for the InventoryBookingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <!-- <ion-title>Inventory Booking</ion-title> -->
    <!-- <head-bar hTitle="Inventory-Booking" [noti]="noti" [heart]="heart" [pin]="pin" ></head-bar> -->
    <head-bar hTitle="Inventory-Booking" [text]="text" [subHeading]="subHeading" subHeadingText="{{subHeadingText}}"
      [image]="image" [noti]="noti" [heart]="heart" [pin]="pin" [menuIcon]="menuIcon"></head-bar>

  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="tpsrc">
    <img [src]="getimgUrl(projectimg)" alt="" style="width: 100%;">
  </div>
  <ion-fab top right>
    <button class="filter background_color" ion-fab [disabled]="initResult == true && inventoryList.length==0"
      (click)="openFilter()">
      <ion-icon name="ios-funnel-outline"></ion-icon>
    </button>
  </ion-fab>

  <ion-card class="invlist" *ngFor="let inventory of inventoryList; let i=index">
    <ion-item>
      <div class="list">
        <div class="iconsrc">
          <img src="assets/imgs/apartment.png">
          <!-- <ion-icon name="grid"></ion-icon> -->
        </div>
        <!--  Property Id : <strong class="colorblack">{{inventory.nid}}</strong> -->
        Unit No. :
        <strong class="colorblack">{{inventory.unit_no}}</strong>
        <div class="border_right"></div>
        <!-- <div>{{inventory.tower}}</div> -->
        <!-- <div>Tower: <strong>{{inventory.tower.split('Tower')[1]}}</strong></div> -->
        Tower:
        <strong>{{inventory.tower}}</strong>
        <!-- <div [ngClass]="{'background_green': inventory.status =='Available', 'background_red':inventory.status =='Sold Out', 'background_block':inventory.status =='Block'  }">{{inventory.status}} </div> -->
      </div>
      <div class="types">
        {{inventory.typology_tags}}&nbsp;<span *ngIf="inventory.flat_facing != 'null' && inventory.flat_facing != null && inventory.flat_facing != ''">{{inventory.flat_facing}} Facing</span>
        <div class="border_right"></div>{{inventory.floor}}

        <div class="border_right"></div><span
          *ngIf="inventory.carpet_area !=null && inventory.carpet_area != ''">{{inventory.carpet_area}}
          {{inventory.unit}}</span><span *ngIf="inventory.carpet_area ==null || inventory.carpet_area == ''">NA</span>
        <!--  <div>{{inventory.appurtenant_area_in_square}} Sq.Ft.</div> -->
      </div>
    </ion-item>
    <ion-card-content>
      <div class="prcsc">

        <p>Price :</p>
        <strong class="pricetxt">
          <span
            class="pricesymbol">&#8377;</span>{{ storageProvider.getSearchCurrency(inventory.inventory_price_amount, "inventoryBooking")}}

            <img (click)="showInfoText()" class="info-circle" src="assets/imgs/q_icon.png">
        </strong>

        <!-- <button class="button" *ngIf="inventory.status !='Sold Out'" [disabled]="inventory.status =='Block'" (click)="goToProjectDetails(inventory)">Book Now</button> -->
        <!-- [disabled]="inventory.availability_status !='1'" -->
        <button class="button" (click)="goToProjectDetails('EnquiryFormPage' , inventory)">Book Now
        </button>
        <div class="clearfix"></div>
      </div>
    </ion-card-content> 
  </ion-card>
  <div *ngIf="inventoryList.length == 0 && isShowBlankMSG == true" class="norcfround">
    {{ noDataMsg }}
    <!-- All The Inventories Are Sold Out For Online Booking, Please Select Another Project. -->
  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<foot-bar></foot-bar>