page-inventory-booking {
  .back-button.show-back-button {
    top: 1px;
  }
  .scroll-content {
    padding-left:0 !important;
    padding-right:0 !important;
    padding-top:0 !important;
  }
  .invlist {
    width: 94% !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

 .filterbox .range {
      padding-right: 20px;
  }
  .norcfround{
        text-align:  center;
        font-size: 18px;
        line-height: 24px;
        padding: 19px 0 0;
    }
    .tpsrc  {
      position: relative;
      overflow: hidden;
      img {
        min-height: 150px;
        max-height:400px;
      }
    }
  .scroll-content {
    padding-bottom: 60px !important;
  }
  .background_color{
    background-color: #37b0de;
  }
  .card{
    // border-top: 1px solid #cfd0d2;
    // border-right: 1px solid #ddd;
    border: 1px solid #ddd;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.18);
    overflow: hidden;
    border-radius: 4px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    .item-inner {
      padding:0 !important;
    }
    .iconsrc {
      img {
        width: 18px;
        margin: 0 0 2px 14px;
      }
    }
  }
.colorblack {
  color:#000000;
}
  .filter{
    margin-top: 24px;
    width: 40px;
    height: 40px;
    ion-icon {
      margin-top:6px;
    }
  }
  .list{
    float: left;    
    margin-top: 0;
    border-bottom: 1px solid #ddd;
    width: 100%;
    font-size: 13px;
    line-height: 20px;
    padding-left: 38px !important;
    padding-top: 7px;
    position: relative;
    min-height: 18px;
    overflow: inherit;
    overflow-wrap: break-word;
    white-space: normal;
    color: #000;
    // height: 500px;
    .color {margin-left:0;}
    .iconsrc {
      position: absolute;
      left: 0;
      top: 7px;
      float: none;
      z-index: 1;
    }
  }
  .list div{
   // float: left;
    color:#b1ae9b;
    strong {
      color:#000000;
    }

  }
  .color{
    color: #b1ae9b;
    margin-left: 26px;
  }
  .background_green{
    background: #60bb42d6;
    color: #fff;
    padding: 3px;
    margin-bottom: 5px;
    border-radius: 3px;
    float: right !important;
  }

  .background_red{
    background: #ea4b4bd6;
    color: #fff;
    padding: 3px;
    margin-bottom: 5px;
    border-radius: 3px;
    float: right !important;
  }
  .background_block{
    background: #b1ae9b;
    color: #fff;
    padding: 3px;
    margin-bottom: 5px;
    border-radius: 3px;
    float: right !important;
  }

  // .border_green{
  //   border-left:3px solid #60bb42d6;
  // }

  // .border_red{
  //   border-left:3px solid #ec2f38d6;
  // }

  // .border_blue{
  //   border-left:3px solid #2c494d;
  // }

  .border_right{
    margin: 5px;
    height: 11px;
    border: 0 none;
    border-right: 1px solid #dcdcdc;
    margin-top: 2px;
    width:auto;
    display: inline;
  }

  .label .label-md{
    border-bottom: 1px solid #ddd;
    width: 100%;
  }

  .types{
    float: left;
    margin: 5px 0;
    padding-left: 14px;
    overflow: hidden;
    overflow-wrap: inherit;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 13px;
    line-height: 19px;
    width: 100%;
  }

  .types div{
  //  float: left;
    margin: 5px 3px;
    display: inline;
  }

  .types .border_right{
    height: 11px;
    border: 0 none;
    border-right: 1px solid #dcdcdc;
    margin-top: 7px;

  }
  .price{
    float: left;
  }
  .button{
    margin-left: 0;
    background-color: #37b0de;
    padding: 8px 15px;
    border-radius: 10px;
    color: #fff;
    float: right;
    border-radius: 30px;
  }

  .label{
    border-bottom: 1px solid #ddd;
  }
  .button[disabled]{
    background-color:#b1ae9b;
  }
  
  .invlist {
    ion-label {
      border:0 none;
      margin-bottom:0;
      margin-top:0;
      margin-right:0;
      .list {
        border-bottom: 1px solid #f7f7f7;
        width: 100%;
        padding-bottom: 5px;
        padding-left: 12px;
       // padding-top: 1px;
      }
    }
    ion-card-content {
      padding-top:5px;
      padding-bottom: 8px;
      padding-left:14px;
      
    }
  }
  .prcsc {
    img {
      width: 10px !important;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      margin-right: 1px !important;
    }
    span {
      font-weight: normal;
    }
    p {
      margin-top: 0 !important;
      display: inline;
      position: relative;
      top: 1px;
      color: inherit;
    }
    strong {
     // font-size: 120%;
      position: relative;
      top: 2px;
    }
    .pricetxt {      
      height: 20px;    
      font-size: 14px;
      line-height: 24px;
      padding-left: 0;
      position: relative;
      display: inline-block;
      margin-left: 3px;
     // background: transparent url(../assets/imgs/rupee-indian.png) no-repeat left top 6px / 11px auto;  
      .pricesymbol {
        font-size: 15px;
        line-height: 21px;
        font-weight: 600;
        margin-right: 2px;
      }
      .info-circle {
        width: 22px !important;
        display: inline-block;
        padding: 2px 8px 0px 2px; 
      }
      .pricoalign {
        position: absolute;
        height: 100%;
        width: 10px;
       // display: inline-block;
        left: 0;
        top: 2px;
        display: none !important;
        img {
            position: absolute;
            top:50%;
            left:50%;
            transform:translate(-50%,-50%);
            margin:0 !important;
            display: block;
        }
      }
    }
  }

  
$break-tablet: 600px;
@media (min-width:$break-tablet) {
  .list,
  .types {
    font-size:14px;
  }
  .button {
    padding: 9px 22px;
    font-size: 15px;
}
}
  

$break-mobileportraight:479px;
@media screen and (max-width: $break-mobileportraight) {
  //.pricetxt {height:19px;}
}
}
head-bar .subheading {
  width:auto;
}



.inventory-info-alert  {
/* .alert-button-group.alert-button-group-vertical {
  padding: 9px 0;
  display: block;
  justify-content: center;
  flex-wrap: inherit;
  text-align: center; */
  .alert-title {
    text-align: center;
    font-size: 18px;
    padding-bottom: 8px;
    font-weight: 500;
    color: #3b3838;
    border-bottom: 1px solid #bdbdbd;
  }
  .alert-message {
    color: #000000;
  }
  .alert-button-group {
    background-color: #37b0de;
    padding: 0px !important;
    .alert-button {
      width: 100% !important;
      .button-inner{
        display: block;
        justify-content: center;
        flex-wrap: inherit;
        text-align: center;
        color: #ffffff;
      }
    }
  }
}