page-varify-otp {
  .toolbar {
    position: relative;
    .back-button {
      // position: absolute;
      // left: 0;
      // top: 14px;
      position: absolute;
      left: 0;
      top: 5px;
      padding: 16px 11px;
      height: 50px;
      z-index: 9999;
    }
  }
  .verifyTitle {
    // margin-left: 50px;
    text-align: center;
  }
  .createAccBtn {
    ion-icon {
      float: none !important;
      position: relative;
      right: -18px;
      top: 1px;
    }
  }
  .logogreybottom {
    position: fixed;
    bottom: 40px;
   // top: 84vh;
    left: 0;
    width: 100%;
    padding-bottom: 0;
    padding-top: 7em;
    box-sizing: border-box;
    .propertiesImg {
      margin: auto;
    }
  }
  .propertiesImg {
    width: 240px;
    align-items: center;
    margin: 60px auto 0;
    display: block;
  }
  .header-md {
    &::after {
      display: none;
    }
  }
  .toolbar-background-md {
    border-color: transparent;
    background: transparent;
  }
  .vBtn {
    width: 100%;
    height: 4.6rem;
    text-transform: none;
    font-size: 1.3em;
    margin-top: 0;
    .icon {
      margin-bottom: -1px;
      margin-left: 15px;
    }
  }

  .toolbar-title-md {
    text-align: center;
  }
  .text {
    text-align: center;
    font-size: 1.2em;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    margin-top: 13%;
    color: #484848;
    &.resendText {
      margin-top: 18px;
    }
    &.resendBtnText{
      margin-top: 0;
    }
    span {
      display: block;
    }
    .incorrect-otp {
      span {
        color: red;
      }
    }
  }
  .otp > .verifyInput {
    text-align: center;
  }
  .otp > .verifyInput > .optinput input {
    border: none;
    border-bottom: 1px solid #c5c7d2;
    width: 100%;
    margin-top: 25px;
    text-align: center;
    font-size: 20px;
    margin-left: 8px;
    margin-right: 8px;
    &:focus {
      border-bottom-color: #8a8181 !important;
    }
  }
  .optinput {
    display: flex;
  }
  // .otp > .verifyInput > .optinput input:first-child{
  //   // margin-left: 20%;
  // }
  .otp {
    margin-top: 50px;
  //  min-height: 270px;
    //height: 41vh;
  }
  .vBtn {
    width: 100%;
    margin-top: 40px;
    margin-left: 0;
  }
  .vIcon {
    margin-left: 5px;
  }
  // .resendText{
  //   margin-left: 15%;
  // }
  .resend {
    font-weight: normal;
    color: #b72264;
    display: inline-block !important;
    font-weight: bold;
  }
  
  .disableresend {
    font-weight: normal;
    color: rgb(248, 193, 218);
    display: inline-block !important;
  }
  .timerTextMessage {
    font-weight: normal;
    color: #070707;
    display: inline-block !important;
    font-size: 12px;
  }
  .timerText {
    font-weight: bold;
    color: #b72264;
    display: inline-block !important;
    /* font-size: 13px; */
  }
  .d-block {
    display: block;
  }
  .button-round-ios,
  .button-md {
    height: 4.6rem;
    opacity: 1;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3ea7de+0,077ec6+100 */
    background: rgb(62, 167, 222); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(62, 167, 222, 1) 0%, rgba(7, 126, 198, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      left,
      rgba(62, 167, 222, 1) 0%,
      rgba(7, 126, 198, 1) 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to right,
      rgba(62, 167, 222, 1) 0%,
      rgba(7, 126, 198, 1) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ea7de', endColorstr='#077ec6',GradientType=1 ); /* IE6-9 */
  }
/*  .progress-outer {
    width: 96%;
    margin: 10px 2%;
    padding: 3px;
    text-align: center;
    background-color: #f4f4f4;
    border: 1px solid #dcdcdc;
    color: #fff;
    border-radius: 20px;
  }

   .progress-inner {
    min-width: 15%;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    border-radius: 20px;
    background-color: map-get($colors, primary);
  }
  .radial-progress {
    $circle-size: 150px;
    $circle-background: #d6dadc;
    $circle-color: tomato;
    $inset-size: 120px;
    $inset-color: #fbfbfb;
    $transition-length: 1s;
    $shadow: 6px 6px 10px rgba(0, 0, 0, 0.2);
    $percentage-color: tomato;
    $percentage-font-size: 22px;

    margin: 50px;
    width: $circle-size;
    height: $circle-size;
    background-color: $circle-background;
    border-radius: 50%;

    .circle {
      .fill,
      .mask,
      .shadow {
        width: $circle-size;
        height: $circle-size;
        position: absolute;
        border-radius: 50%;
      }

      .shadow {
        box-shadow: $shadow inset;
      }

      .fill,
      .mask {
        -webkit-backface-visibility: hidden;
        transition: -webkit-transform $transition-length;
        transition: -ms-transform $transition-length;
        transition: transform $transition-length;
        border-radius: 50%;
      }

      .mask {
        clip: rect(0px, $circle-size, $circle-size, $circle-size/2);

        .fill {
          clip: rect(0px, $circle-size/2, $circle-size, 0px);
          background-color: $circle-color;
        }
      }
    }

    .inset {
      width: $inset-size;
      height: $inset-size;
      position: absolute;
      margin-left: ($circle-size - $inset-size)/2;
      margin-top: ($circle-size - $inset-size)/2;
      background-color: $inset-color;
      border-radius: 50%;
      box-shadow: $shadow;

      .percentage {
        width: 100%;
        position: absolute;
        top: ($inset-size - $percentage-font-size) / 2;
        line-height: 1;
        text-align: center;
        font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: $percentage-color;
        font-weight: 800;
        font-size: $percentage-font-size;
      }
    }
  } */

  $break-tablet: 600px;
  @media screen and (min-width: $break-tablet) {
    .otpmain {
      width: 440px; 
      max-width: 100% !important;
      img {margin-top:0}
    }
    .center-cont {
      position: absolute;
      left:50%;
      top:50%;
      transform: translate(-50%, -50%);
      max-width: 100%;
    }
    }

  $break-smallmobilelandscape:520px;
  @media (max-height:  $break-smallmobilelandscape) {
    .logogreybottom {
      position: static;
    }
    .otp {margin-top:30px;}
    .text {margin-top:6%}
  }
}
