<!--
  Generated template for the VarifyOtpPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title class="verifyTitle">Verify Account</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="center-cont">
    <div class="otpmain">
      <img src="assets/imgs/godrej_properties.jpeg" class="propertiesImg" alt="">
      <div class="text">
        <!-- Please enter the correct OTP -->
        <div *ngIf="!otpNotCorrect">{{ otpMsg }}
          <!-- An OTP has been sent to your <span>Mobile Number</span> -->
        </div>
        <div class="incorrect-otp" *ngIf="otpNotCorrect">
          <!-- <span>Your OTP is incorrect</span> -->
          <span>{{errorMsg}}</span>
          <!--  Please Enter The Correct OTP. -->
        </div>
      </div>

      <div class="otp">
        <form [formGroup]="verifyForm" class="verifyInput">

          <div class="optinput">
            <input type="number" #firstField (keyup)="checkAndMove($event,secondField,'first','second'  ,'')"
              formControlName="first" id="firstField">
            <input type="number" #secondField class="second"
              (keyup)="checkAndMove($event,thirdField,'second','third' ,firstField,'first' )" formControlName="second">
            <input type="number" #thirdField class="second"
              (keyup)="checkAndMove($event,fourthField,'third','fourth' ,secondField,'second')" formControlName="third">
            <input type="number" #fourthField class="second"
              (keyup)="checkAndMove($event,fourthField,'fourth','fourth' ,thirdField,'third')" formControlName="fourth">

            <!-- <input type="number" #fifthField class="second" (keyup)="checkAndMove($event,sixthField,'fifth','sixth' ,fourthField,'fourth')"
              formControlName="fifth">
            <input type="number" #sixthField class="second" (keyup)="checkAndMove($event,sixthField,'sixth','',fifthField,'fifth')"
              formControlName="sixth"> -->
          </div>
          <div class="d-block"></div>
          <button ion-button round [disabled]="verifyForm.invalid" class="vBtn" (click)="checkVerification()">
            Verify <ion-icon name="ios-arrow-forward-outline" class="vIcon"></ion-icon>
          </button>
        </form>
        <div class="text resendText">Didn't receive your OTP?
          <span [ngClass]="isDisableResend? 'disableresend' : 'resend'" (click)="resendOtp()"
            *ngIf="!isDisableResend">Resend</span>
          <span class="timerText" *ngIf="isDisableResend">({{ timeLeft }})</span>
        </div>
      </div>
    </div>
    <!-- <div class="logogreybottom"> -->
    <!-- <img src="assets/imgs/logo-black.png" class="propertiesImg" alt=""> -->
    <!-- <img src="assets/imgs/otp-gpl-logo.png" class="propertiesImg" alt="">
  </div> -->

    <!--  <button ion-button round (click)="startOTPWatching()">
    Read OTP <ion-icon name="ios-arrow-forward-outline" class="vIcon"></ion-icon>
  </button> -->
  </div>
</ion-content>