<!--
  Generated template for the EnquiryFormPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <head-bar hTitle="Enquiry Form" [text]="text" [subHeading]="subHeading" subHeadingText="{{subHeadingText}}"
      [image]="image" [noti]="noti" [heart]="heart" [pin]="pin" [menuIcon]="menuIcon"></head-bar>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div class="details">
    <div class="cardbox">
      <ion-card>
        <ion-card-header>
          BOOKING ONLINE
          <div class="shadebrder"></div>
        </ion-card-header>
        <ion-card-content>
          A safe and secure platform designed to add convenience in buying your dream home. In just a few steps, you can
          digitally
          select and book your home. Select the desired unit, view the payment plan, confirm your personal details, and
          buy
          online. At any point, chat with us or call us for assistance.
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          BOOKING DETAILS
          <div class="shadebrder"></div>
        </ion-card-header>
        <ion-card-content>
          The below section reflects your booking information that will be used to process your application booking
          form. Information
          provided and confirmed by you will be used to create the purchase agreement for the given unit. In case of any
          changes required, kindly get in touch with us.
        </ion-card-content>
      </ion-card>
    </div>

    <div class="payplan">
      <ion-header class="headingEn">
        <ion-toolbar>
          <ion-title (click)="toggleFooter('propertyDetails')">Property Details
            <div class="iconheding">
              <img *ngIf="footerAccordian.propertyDetails" src="assets/imgs/substract.svg">
              <img *ngIf="!footerAccordian.propertyDetails" src="assets/imgs/add.svg">
            </div>
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <!-- <div *ngIf="footerAccordian.propertyDetails">
        <div class="dtlList">
          <div class="dtl">
            <div>Property Name</div>
            <span>{{projectInfoDetails?.proj_name}}</span>
          </div>
        </div> 

        <div class="dtlList">
          <div class="dtl">
            <div>Flat Type
            </div>
            <span>{{projectInfoDetails?.flat_type}}</span>
          </div>
        </div>

        <div class="dtlList">
          <div class="dtl">
            <div>Floor Band
            </div>
            <span>{{projectInfoDetails?.floor_no}}</span>
          </div>
        </div>

        <div class="dtlList">
          <div class="dtl">
            <div>Tower Code
            </div>
            <span>{{projectInfoDetails?.tower_code}}</span>
          </div>
        </div>

        <div class="dtlList">
          <div class="dtl">
            <div>Tower Name
            </div>
            <span>{{projectInfoDetails?.tower_name}}</span>
          </div>
        </div> 

        <div class="dtlList booking_amount">
          <div class="dtl">
            <div>Booking Amount
            </div>
            <div class="bkamnt">
              <img src="assets/imgs/pricebigicon.png">{{projectInfoDetails?.booking_amount}}</div>
          </div>
        </div>

      </div> -->

      <div *ngIf="footerAccordian.propertyDetails">
        <div class="dtlList" *ngIf="projectInfoDetails.proj_name && projectInfoDetails?.proj_name!=''">
          <div class="dtl">
            <div>Property Name</div>
            <span>{{projectInfoDetails?.proj_name}}</span>
          </div>
        </div>

        <div class="dtlList" *ngIf="projectInfoDetails.flat_type && projectInfoDetails?.flat_type!=''">
          <div class="dtl">
            <div>
              <!-- Flat Type -->Typology
            </div>
            <span>{{projectInfoDetails?.flat_type}}</span>
          </div>
        </div>

        <div class="dtlList" *ngIf="projectInfoDetails.floor_no && projectInfoDetails?.floor_no!=''">
          <div class="dtl">
            <div>Floor Band
            </div>
            <span>{{projectInfoDetails?.floor_no}}</span>
          </div>
        </div>

        <!-- <div class="dtlList" *ngIf="projectInfoDetails.tower_code && projectInfoDetails?.tower_code!=''">
          <div class="dtl">
            <div>Tower Code
            </div>
            <span>{{projectInfoDetails?.tower_code}}</span>
          </div>
        </div> -->

        <div class="dtlList" *ngIf="projectInfoDetails.tower_name && projectInfoDetails?.tower_name!=''">
          <div class="dtl">
            <div>Tower <!-- Tower Name -->
            </div>
            <span>{{projectInfoDetails?.tower_name}}</span>
          </div>
        </div>

        <div class="dtlList booking_amount"
          *ngIf="projectInfoDetails.booking_amount && projectInfoDetails?.booking_amount!=''">
          <div class="dtl">
            <div>Booking Amount
            </div>
            <div class="bkamnt">
              <!-- <img src="assets/imgs/pricebigicon.png">{{projectInfoDetails?.booking_amount | number:'.2'}}</div> -->
              <span
                class="pricesymbol">&#8377;</span>{{storageProvider.getIndianCurrencyFormat(projectInfoDetails?.booking_amount)}}
            </div>
          </div>
        </div>

      </div>

    </div>

    <form class="enquiryForm" [formGroup]="detailsForm">
      <div class="applicantlist" id="listApplic">
        <ion-header class="headingEn" (click)="toggleAccordion('main','','html')">
          <ion-toolbar>
            <ion-title>Primary Applicant Personal Information
              <div class="iconheding ionicIcons">
                <img src="assets/imgs/{{icon}}">
              </div>
            </ion-title>
          </ion-toolbar>
        </ion-header>
        <div class="formDiv" *ngIf="accordionExapanded">
          <div class="radiolst nationality">

            <ion-list radio-group formControlName="nationality">
              <div class="headingText">
                Nationality
              </div>

              <ion-item class="labeltw">
                <ion-radio class="csradio" value="Indian" [disabled]="true"></ion-radio>
                <ion-label class="text">Indian</ion-label>
              </ion-item>
              <ion-item class="labeltw">
                <ion-radio class="csradio" value="NRI" [disabled]="true"></ion-radio>
                <ion-label class="text">NRI</ion-label>
              </ion-item>
            </ion-list>
          </div>
          <ion-item class="bordered">
            <ion-label stacked>
              Name
            </ion-label>
            <ion-input type="text" formControlName="name" [disabled]="true"></ion-input>
          </ion-item>
          <ion-item class="bordered">
            <ion-label stacked>
              Mobile Number
            </ion-label>
            <ion-input type="tel" name="mobile" formControlName="mobile" [disabled]="true"></ion-input>
          </ion-item>
          <ion-item class="bordered">
            <ion-label stacked>
              Email
            </ion-label>
            <ion-input type="text" formControlName="email" [disabled]="true"></ion-input>
          </ion-item>
          <ion-item class="bordered">
            <ion-label stacked>
              Date Of Birth *
            </ion-label>

            <ion-datetime placeholder="DD MMM YYYY" displayFormat="DD MMM YYYY" [disabled]="dateOB"
              (ionChange)="updateMyDate($event,'dob','')" [max]="maxDateDob" formControlName="dob"></ion-datetime>
          </ion-item>
          <div class="error">
            <div *ngIf="f.dob.errors?.required && f.dob.touched">Date Of Birth Is Required.</div>
          </div>
          <ion-item class="bordered">
            <ion-label stacked>
              Permanent Address *
            </ion-label>
            <ion-input type="text" formControlName="permanentAddress" placeholder="House No *"></ion-input>
          </ion-item>
          <div class="error">
            <div *ngIf="f.permanentAddress.errors?.required && f.permanentAddress.touched">House No Is Required.
            </div>
            <div *ngIf="f.permanentAddress.errors?.pattern && f.permanentAddress.touched">Special Characters Allowed Are
              ._%$#!@,/':-
            </div>
            <div *ngIf="f.permanentAddress.errors?.maxlength && f.permanentAddress.touched">Maximum Character Limit Is
              32.
            </div>
          </div>
          <ion-item class="bordered onlyinput">
            <ion-input type="text" formControlName="street" placeholder="Street *"></ion-input>
          </ion-item>
          <div class="error">
            <div *ngIf="f.street.errors?.required && f.street.touched">Street Is Required.</div>
            <div *ngIf="f.street.errors?.pattern && f.street.touched">Special Characters Allowed Are ._%$#!@,/':-
            </div>
            <div *ngIf="f.street.errors?.maxlength && f.street.touched">Maximum Character Limit Is
              32.
            </div>
          </div>
          <ion-item class="bordered onlyinput">
            <ion-input type="text" formControlName="locality" placeholder="Locality *"></ion-input>
          </ion-item>
          <div class="error">
            <div *ngIf="f.locality.errors?.required && f.locality.touched">Locality Is Required.</div>
            <div *ngIf="f.locality.errors?.pattern && f.locality.touched">Special Characters Allowed Are ._%$#!@,/':-
            </div>
            <div *ngIf="f.locality.errors?.maxlength && f.locality.touched">Maximum Character Limit Is
              32.
            </div>
          </div>
          <ion-item class="bordered onlyinput" >
            <ion-input type="text" formControlName="country" [readonly]="true" value={{detailsForm.value.country}}
              placeholder="Country *" (focus)="openCountry('pri','main','')"></ion-input> <!-- [disabled]="true" -->
          </ion-item>
          <div class="error">
            <div *ngIf="f.country.errors?.required && f.country.touched">Country Is Required.</div>
            <div *ngIf="countryError">Please Select Other Country.</div>
          </div>
          <ion-item class="bordered onlyinput">
            <ion-input type="text" formControlName="city" placeholder="City *"></ion-input>
          </ion-item>
          <div class="error">
            <div *ngIf="f.city.errors?.required && f.city.touched">City Is Required.</div>
            <div *ngIf="f.city.errors?.pattern && f.city.touched">City Name Should Be Alphabets Only.</div>
            <div *ngIf="f.city.errors?.maxlength && f.city.touched">Maximum Character Limit Is
              25.
            </div>
          </div>
          <ion-item class="bordered onlyinput">
            <ion-input type="text" formControlName="pincode" placeholder="Pincode *"></ion-input>
          </ion-item>

          <div class="error">
            <div *ngIf="f.pincode.errors?.required && f.pincode.touched">Pincode Is Required.</div>
            <div *ngIf="f.pincode.errors?.pattern && f.pincode.touched">Not A Valid Pincode.</div>
            <div *ngIf="(f.pincode.errors?.minlength || f.pincode.errors?.maxlength) && f.pincode.touched">Maximum Character Limit Is 6.</div>
          </div>
          <ion-item class="cscheck">
            <ion-label>Check this box if Communication Address is same as Permanent Address</ion-label>
            <ion-checkbox color="primary" formControlName="same" [disabled]="completed"></ion-checkbox>
          </ion-item>

          <ion-item class="bordered">
            <ion-label stacked>
              Communication Address *
            </ion-label>
            <ion-input type="text" formControlName="communicationHouseNo"
              value="{{detailsForm.value?.communicationHouseNo}}" [disabled]="readonly" placeholder="House no *">
            </ion-input>

          </ion-item>
          <div class="error">
            <div *ngIf="f.communicationHouseNo.errors?.required && f.communicationHouseNo.touched">Communication House
              No Is Required.</div>
            <div *ngIf="f.communicationHouseNo.errors?.pattern && f.communicationHouseNo.touched">Special Characters
              Allowed Are ._%$#!@,/':-
            </div>
            <div *ngIf="f.communicationHouseNo.errors?.maxlength && f.communicationHouseNo.touched">Maximum Character
              Limit Is 32.
            </div>
          </div>

          <ion-item class="bordered onlyinput">
            <ion-input type="text" formControlName="communicationStreet"
              value="{{detailsForm.value?.communicationStreet}}" [disabled]="readonly" placeholder="Street *">
            </ion-input>

          </ion-item>
          <div class="error">
            <div *ngIf="f.communicationStreet.errors?.required && f.communicationStreet.touched">Communication Street Is
              Required.
            </div>
            <div *ngIf="f.communicationStreet.errors?.pattern && f.communicationStreet.touched">Special Characters
              Allowed Are ._%$#!@,/':-
            </div>
            <div *ngIf="f.communicationStreet.errors?.maxlength && f.communicationStreet.touched">Maximum Character
              Limit Is 32.
            </div>
          </div>
          <ion-item class="bordered onlyinput">
            <ion-input type="text" formControlName="communicationLocality"
              value="{{detailsForm.value?.communicationLocality}}" [disabled]="readonly" placeholder="Locality *">
            </ion-input>

          </ion-item>
          <div class="error">
            <div *ngIf="f.communicationLocality.errors?.required && f.communicationLocality.touched">Communication
              Locality is Required.</div>
            <div *ngIf="f.communicationLocality.errors?.pattern && f.communicationLocality.touched">Special Characters
              Allowed Are ._%$#!@,/':-
            </div>
            <div *ngIf="f.communicationLocality.errors?.maxlength && f.communicationLocality.touched">Maximum Character
              Limit Is 32.
            </div>
          </div>

          <ion-item class="bordered onlyinput">
            <ion-input type="text" formControlName="communicationCountry" (focus)="openCountry('pri','commu','')"
              value="{{detailsForm.value?.communicationCountry}}" [readonly]="true" [disabled]="readonly" placeholder="Country *">
            </ion-input>  <!-- [disabled]="true" -->
          </ion-item>
          <div class="error">
            <div *ngIf="f.communicationCountry.errors?.required && f.communicationCountry.touched">Communication Country
              Is Required.</div>
          </div>

          <ion-item class="bordered onlyinput">
            <ion-input type="text" formControlName="communicationCity" value="{{detailsForm.value?.communicationCity}}"
              [disabled]="readonly" placeholder="City *"></ion-input>

          </ion-item>
          <div class="error">
            <div *ngIf="f.communicationCity.errors?.required && f.communicationCity.touched">Communication City Is
              Required.
            </div>
            <div *ngIf="f.communicationCity.errors?.pattern && f.communicationCity.touched">Communication City Name
              Should Be Alphabet.</div>
            <div *ngIf="f.communicationCity.errors?.maxlength && f.communicationCity.touched">Maximum Character Limit Is
              25.
            </div>
          </div>
          <ion-item class="bordered onlyinput">
            <ion-input type="text" formControlName="communicationPincode"
              value="{{detailsForm.value?.communicationPincode}}" [disabled]="readonly" placeholder="Pincode *">
            </ion-input>
          </ion-item>
          <div class="error">
            <div *ngIf="f.communicationPincode.errors?.required && f.communicationPincode.touched">Communication Pincode
              Is Required.</div>
            <div *ngIf="f.communicationPincode.errors?.pattern && f.communicationPincode.touched">
              <!-- Communication Pincode
                should be numeric -->Not A Valid Pincode.</div>
            <div
              *ngIf="(f.communicationPincode.errors?.minlength || f.communicationPincode.errors?.maxlength) && f.communicationPincode.touched">
              Maximum Character Limit Is 6.</div>
          </div>

          <ion-item class="bordered" *ngIf="detailsForm?.value?.nationality == 'Indian'">
            <ion-label stacked>
              PAN No. *
            </ion-label>
            <ion-input type="text" formControlName="pan" placeholder="PAN No" (keyup)="onkeyDown('pri','')"></ion-input>
          </ion-item>
          <div class="error" *ngIf="detailsForm?.value?.nationality == 'Indian'">
            <div *ngIf="f?.pan?.errors?.required && f?.pan?.touched">PAN No Is Required.</div>
            <div *ngIf="f?.pan?.errors?.pattern && f?.pan?.touched">Not A Valid PAN Number.</div>
          </div>

          <ion-item class="bordered" *ngIf="detailsForm?.value?.nationality != 'Indian'">
            <ion-label stacked>
              Passport No. *
            </ion-label>
            <ion-input type="text" formControlName="passport" placeholder="Passport No"></ion-input>
          </ion-item>

          <div class="error" *ngIf="detailsForm?.value?.nationality != 'Indian'">
            <div *ngIf="f?.passport?.errors?.required && f?.passport?.touched">Passport No Is Required.</div>
            <div *ngIf="f?.passport?.errors?.pattern && f?.passport?.touched">Not A Valid Passport Number.</div>
          </div>

          <ion-item class="bordered">
            <ion-label stacked>
              Purpose of purchase *
            </ion-label>
            <!-- <ion-input type="text" formControlName="purposeOfPurchase" placeholder="Purpose of purchase" [readonly]="true" (focus)="getPurposeData()"></ion-input> -->
            <ion-select #select interface="popover" (ionChange)="onSelectChange($event)" name="purposeOfPurchase"
              formControlName="purposeOfPurchase" placeholder="Purpose of purchase">
              <ion-option *ngFor="let project of purposeData" name='selectedValue' value="{{project.id}}">
                {{project.name}}
              </ion-option>
            </ion-select>
          </ion-item>
          <div class="error">
            <div *ngIf="f?.purposeOfPurchase?.errors?.required && f?.purposeOfPurchase?.touched">Purpose Of Purchase Is
              Required.
            </div>
          </div>

          <ion-item class="bordered">
            <div class="ion-label" *ngIf="detailsForm?.value?.nationality == 'Indian'">
              <!-- ID proof -->PAN card or Passport *
            </div>
            <div class="ion-label" *ngIf="detailsForm?.value?.nationality != 'Indian'">
              Passport Front Page *
            </div>
            <div class="csfile" (click)="presentActionSheet('pri','idProof','')">
              <span *ngIf="detailsForm?.value?.idProofName == ''">Browse File </span>
              <span *ngIf="detailsForm?.value?.idProofName != ''">{{detailsForm?.value?.idProofName}}</span>
              <div class="uploadbtn">Upload</div>
            </div>
            <!-- <div class="txtupfilenote" *ngIf="detailsForm?.value?.nationality == 'Indian'">Driving license, Pan card,
              Passport, Voter ID, Adhar card.(Max file size 2 MB)</div>
            <div class="txtupfilenote" *ngIf="detailsForm?.value?.nationality != 'Indian'">Passport Front Page.(Max file
              size 2 MB)</div> -->
            <div class="txtupfilenote">Allowed file type .pdf,.jpg,.jpeg,.png (Max file size 2 MB)</div>
          </ion-item>
          <div *ngIf="imageObj.primary?.idProof!=''" class="width-50 upldsrc" (click)="downloadApplicantDoc('ID', imageObj.primary?.idProof, detailsForm?.value?.idProofName)">
            <img *ngIf="detailsForm?.value?.idProofMime == 'image'" [src]="imageObj.primary?.idProof" alt="">
            <img src="assets/imgs/pdf_icon.png" *ngIf="detailsForm?.value?.idProofMime == 'pdf'">
          </div>
          <div class="error">
            <div *ngIf="primaryIdFrontErr">{{primaryIdFrontErr}}</div>
          </div>
          <ion-item class="bordered">
            <div class="ion-label" *ngIf="detailsForm?.value?.nationality == 'Indian'">
              <!-- Address proof -->Aadhaar card or Passport *
            </div>
            <div class="ion-label" *ngIf="detailsForm?.value?.nationality != 'Indian'">
              Passport Back Page *
            </div>
            <div class="csfile" (click)="presentActionSheet('pri','addressProof','')">
              <span *ngIf="detailsForm?.value?.addressProofName == ''">Browse File </span>
              <span *ngIf="detailsForm?.value?.addressProofName != ''">{{detailsForm?.value?.addressProofName}} </span>
              <div class="uploadbtn">Upload</div>
            </div>
            <!-- <div class="txtupfilenote" *ngIf="detailsForm?.value?.nationality == 'Indian'">Driving license, Pan card,
              Passport, Voter ID, Adhar card.(Max file size 2mb)</div>
            <div class="txtupfilenote" *ngIf="detailsForm?.value?.nationality != 'Indian'">Passport Back Page.(Max file
              size 2 MB)</div> -->
            <div class="txtupfilenote">Allowed file type .pdf,.jpg,.jpeg,.png (Max file size 2 MB)</div>
          </ion-item>
          <div class="image" *ngIf="imageObj.primary?.addressProof!=''" class="width-50" (click)="downloadApplicantDoc('ADD', imageObj.primary?.addressProof, detailsForm?.value?.addressProofName)">
            <img *ngIf="detailsForm?.value?.addressProofMime == 'image'" [src]="imageObj.primary?.addressProof" alt="">
            <img src="assets/imgs/pdf_icon.png" *ngIf="detailsForm?.value?.addressProofMime == 'pdf'">
          </div>
          <div class="error">
            <div *ngIf="primaryIdBackErr">{{primaryIdBackErr}}</div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>

      <div class="applicantlist" formArrayName="applicantlist" *ngIf="addApplicant">

        <article class="gapeq" [formGroupName]="i" *ngFor="let Package of addPackage.controls; let i=index">
          <ion-header class="headingEn" (click)="toggleAccordion('secondary',i,'html')">
            <ion-toolbar>
              <ion-title>{{i + 2}}{{(i + 2) == 2 ? 'nd' : 'rd' }} Applicant Personal Information
                <div class="iconheding">
                  <img *ngIf="accordionExapandedApp.secondary[i].isExpand" src="assets/imgs/substract.svg">
                  <img *ngIf="!accordionExapandedApp.secondary[i].isExpand" src="assets/imgs/add.svg">
                </div>
              </ion-title>
            </ion-toolbar>
          </ion-header>
          <div class="addMoreDiv" *ngIf="accordionExapandedApp.secondary[i].isExpand">
            <div class="radiolst nationality">
              <ion-list radio-group formControlName="applicantNationality">
                <div class="headingText">
                  Nationality
                </div>

                <ion-item class="labeltw">
                  <ion-radio class="csradio" value="Indian" (ionSelect)="checkNationality(i)"></ion-radio>
                  <ion-label class="text">Indian</ion-label>
                </ion-item>
                <ion-item class="labeltw">
                  <ion-radio class="csradio" value="NRI" (ionSelect)="checkNationality(i)"></ion-radio>
                  <ion-label class="text">NRI</ion-label>
                </ion-item>
              </ion-list>
            </div>

            <ion-item class="bordered">
              <ion-label stacked>
                Name *
              </ion-label>
              <ion-input type="text" placeholder="Name" formControlName="applicantName"></ion-input>
            </ion-item>
            <div class="error">
              <div
                *ngIf="detailsForm.controls.applicantlist.controls[i]?.controls.applicantName.errors?.required && detailsForm.controls.applicantlist.controls[i]?.controls.applicantName.touched">
                Name Is Required.</div>
              <div
                *ngIf="detailsForm.controls.applicantlist.controls[i]?.controls.applicantName.errors?.pattern && detailsForm.controls.applicantlist.controls[i]?.controls.applicantName.touched">
                Special Characters Allowed Are ._%$#!@,/':-</div>
            </div>
            <div class="twonfild">
              <div class="mobile-countrycode" (click)="countryForApplicant('mobile',i)">
                <div class="imageFlag">
                  <img src="{{Package.value.flag}}" alt="">
                </div>
                <div class="cntNumber">
                  <div class="countryInitials">{{Package.value.countryInitials}}</div>
                </div>
              </div>

              <div class="phone-input">
                <ion-item>
                  <ion-input type="tel" name="applicantMobile" formControlName="applicantMobile"
                    placeholder="Mobile Number"></ion-input>
                </ion-item>
              </div>
            </div>

            <div class="error">
              <div *ngIf="Package.value.showErrorMsg">{{Package.value.errorMsg}}</div>
              <div
                *ngIf="detailsForm.controls.applicantlist.controls[i]?.controls.applicantMobile.errors?.required && detailsForm.controls.applicantlist.controls[i]?.controls.applicantMobile.touched">
                Mobile No Is Required.</div>
              <div
                *ngIf="detailsForm.controls.applicantlist.controls[i]?.controls.applicantMobile.errors?.minlength && detailsForm.controls.applicantlist.controls[i]?.controls.applicantMobile.touched">
                Mobile No Should Be 10 Digits.</div>
              <div
                *ngIf="detailsForm.controls.applicantlist.controls[i]?.controls.applicantMobile.errors?.maxlength && detailsForm.controls.applicantlist.controls[i]?.controls.applicantMobile.touched">
                Mobile No Should Be 10 Digits.</div>
            </div>
            <ion-item class="bordered">
              <ion-label stacked>
                Email *
              </ion-label>
              <ion-input type="email" placeholder="Email" formControlName="applicantEmail"></ion-input>
            </ion-item>
            <div class="error">
              <div
                *ngIf="detailsForm.controls.applicantlist.controls[i]?.controls.applicantEmail.touched && Package.value.showErrorMsg">
                {{Package.value.errorMsg}}</div>
              <div
                *ngIf="detailsForm.controls.applicantlist.controls[i]?.controls.applicantEmail.errors?.required && detailsForm.controls.applicantlist.controls[i]?.controls.applicantEmail.touched">
                Email ID Is Required.</div>
              <div
                *ngIf="detailsForm.controls.applicantlist.controls[i]?.controls.applicantEmail.errors?.pattern && detailsForm.controls.applicantlist.controls[i]?.controls.applicantEmail.touched">
                Not A Valid Email ID.</div>
            </div>
            <ion-item class="bordered">
              <ion-label stacked>
                Date Of Birth *
              </ion-label>
              <ion-datetime placeholder="DD MMM YYYY" formControlName="applicantDob" displayFormat="DD MMM YYYY"
                (ionChange)="updateMyDate($event,'dob',i)" [max]="maxDateDob"></ion-datetime>
            </ion-item>
            <div class="error">
              <div
                *ngIf="detailsForm.controls.applicantlist.controls[i]?.controls.applicantDob.errors?.required && detailsForm.controls.applicantlist.controls[i]?.controls.applicantDob.touched">
                Date Of Birth Is Required.</div>
            </div>

            <ion-item class="bordered">
              <ion-label stacked>
                Permanent Address *
              </ion-label>
              <ion-input type="text" placeholder="House no *" formControlName="applicantPAddress"></ion-input>
            </ion-item>
            <div class="error">
              <div
                *ngIf="detailsForm.controls.applicantlist.controls[i]?.controls.applicantPAddress.errors?.required && detailsForm.controls.applicantlist.controls[i]?.controls.applicantPAddress.touched">
                House No Is Required.</div>
              <div
                *ngIf="detailsForm.controls.applicantlist.controls[i]?.controls.applicantPAddress.errors?.pattern && detailsForm.controls.applicantlist.controls[i]?.controls.applicantPAddress.touched">
                Special Characters Allowed Are ._%$#!@,/':-
              </div>
              <div
                *ngIf="detailsForm.controls.applicantlist.controls[i]?.controls.applicantPAddress.errors?.maxlength && detailsForm.controls.applicantlist.controls[i]?.controls.applicantPAddress.touched">
                Maximum Character Limit Is 32.
              </div>
            </div>
            <ion-item class="bordered onlyinput">
              <ion-input type="text" placeholder="Street *" formControlName="applicantStreet"></ion-input>
            </ion-item>
            <div class="error">
              <div
                *ngIf="detailsForm.controls.applicantlist.controls[i]?.controls.applicantStreet.errors?.required && detailsForm.controls.applicantlist.controls[i]?.controls.applicantStreet.touched">
                Street Is Required.</div>
              <div
                *ngIf="detailsForm.controls.applicantlist.controls[i]?.controls.applicantStreet.errors?.pattern && detailsForm.controls.applicantlist.controls[i]?.controls.applicantStreet.touched">
                Special Characters Allowed Are ._%$#!@,/':-
              </div>
              <div
                *ngIf="detailsForm.controls.applicantlist.controls[i]?.controls.applicantStreet.errors?.maxlength && detailsForm.controls.applicantlist.controls[i]?.controls.applicantStreet.touched">
                Maximum Character Limit Is 32.
              </div>
            </div>
            <ion-item class="bordered onlyinput">
              <ion-input type="text" placeholder="Locality *" formControlName="applicantLocality"></ion-input>
            </ion-item>
            <div class="error">
              <div
                *ngIf="detailsForm.controls.applicantlist.controls[i]?.controls.applicantLocality.errors?.required && detailsForm.controls.applicantlist.controls[i]?.controls.applicantLocality.touched">
                Locality Is Required.</div>
              <div
                *ngIf="detailsForm.controls.applicantlist.controls[i]?.controls.applicantLocality.errors?.pattern && detailsForm.controls.applicantlist.controls[i]?.controls.applicantLocality.touched">
                Special Characters Allowed Are ._%$#!@,/':-
              </div>
              <div
                *ngIf="detailsForm.controls.applicantlist.controls[i]?.controls.applicantLocality.errors?.maxlength && detailsForm.controls.applicantlist.controls[i]?.controls.applicantLocality.touched">
                Maximum Character Limit Is 32.
              </div>
            </div>
            <ion-item class="bordered onlyinput">
              <ion-input type="text" placeholder="Country *" formControlName="applicantCounty" (focus)="countryForApplicant('country',i)" [readonly]="true">
              </ion-input>
            </ion-item>
            <div class="error">
              <div
                *ngIf="detailsForm.controls.applicantlist.controls[i]?.controls.applicantCounty.errors?.required && detailsForm.controls.applicantlist.controls[i]?.controls.applicantCounty.touched">
                Country Is Required.</div>
            </div>
            <ion-item class="bordered onlyinput">
              <ion-input type="text" placeholder="City *" formControlName="applicantCity"></ion-input>
            </ion-item>
            <div class="error">
              <div
                *ngIf="detailsForm.controls.applicantlist.controls[i]?.controls.applicantCity.errors?.pattern && detailsForm.controls.applicantlist.controls[i]?.controls.applicantCity.touched">
                City Name Should Be Alphabets Only.</div>
              <div
                *ngIf="detailsForm.controls.applicantlist.controls[i]?.controls.applicantCity.errors?.required && detailsForm.controls.applicantlist.controls[i]?.controls.applicantCity.touched">
                City Is Required.</div>
              <div
                *ngIf="detailsForm.controls.applicantlist.controls[i]?.controls.applicantCity.errors?.maxlength && detailsForm.controls.applicantlist.controls[i]?.controls.applicantCity.touched">
                Maximum Character Limit Is 25.
              </div>
            </div>
            <ion-item class="bordered onlyinput">
              <ion-input type="text" placeholder="Pincode *" formControlName="applicantPincode"></ion-input>
            </ion-item>
            <div class="error">
              <div
                *ngIf="detailsForm.controls.applicantlist.controls[i]?.controls.applicantPincode.errors?.required && detailsForm.controls.applicantlist.controls[i]?.controls.applicantPincode.touched">
                Pincode Is Required.</div>
              <div
                *ngIf="detailsForm.controls.applicantlist.controls[i]?.controls.applicantPincode.errors?.pattern && detailsForm.controls.applicantlist.controls[i]?.controls.applicantPincode.touched">
                <!-- Pincode Should Be Numeric -->Not A Valid Pincode.</div>
              <div
                *ngIf="detailsForm.controls.applicantlist.controls[i]?.controls.applicantPincode.errors?.minlength && detailsForm.controls.applicantlist.controls[i]?.controls.applicantPincode.touched">
                Maximum Character Limit Is 6.</div>
              <div
                *ngIf="detailsForm.controls.applicantlist.controls[i]?.controls.applicantPincode.errors?.maxlength && detailsForm.controls.applicantlist.controls[i]?.controls.applicantPincode.touched">
                Maximum Character Limit Is 6.</div>
            </div>
            <ion-item class="cscheck">
              <ion-label>Check this box if Communication Address is same as Permanent Address</ion-label>
              <ion-checkbox color="primary" checked="detailsForm.value.applicantlist[index].applicantSameAddress"
                (ionChange)="checkForSameInApplicant(i)" formControlName="applicantSameAddress"></ion-checkbox>
            </ion-item>

            <div *ngIf="!Package.value.applicantSameAddress">
              <ion-item class="bordered">
                <ion-label stacked>
                  Communication Address *
                </ion-label>
              </ion-item>
              <div class="error" *ngIf="detailsForm.controls.applicantlist.controls[i]?.controls.applicantComuAddress">
                <div
                  *ngIf="detailsForm.controls.applicantlist.controls[i]?.controls.applicantComuAddress.errors?.required && detailsForm.controls.applicantlist.controls[i]?.controls.applicantComuAddress.touched">
                  Communication Address Is Required.</div>
                <div
                  *ngIf="detailsForm.controls.applicantlist.controls[i]?.controls.applicantComuAddress.errors?.pattern && detailsForm.controls.applicantlist.controls[i]?.controls.applicantComuAddress.touched">
                  Special Characters Allowed Are ._%$#!@,/':-
                </div>
              </div>
              <ion-item class="bordered onlyinput">
                <ion-input type="text" placeholder="House no *" formControlName="applicantComuHouseNo"></ion-input>
              </ion-item>
              <div class="error" *ngIf="detailsForm.controls.applicantlist.controls[i]?.controls.applicantComuHouseNo">
                <div
                  *ngIf="detailsForm.controls.applicantlist.controls[i]?.controls.applicantComuHouseNo.errors?.required && detailsForm.controls.applicantlist.controls[i]?.controls.applicantComuHouseNo.touched">
                  Communication House No is required.</div>
                <div
                  *ngIf="detailsForm.controls.applicantlist.controls[i]?.controls.applicantComuHouseNo.errors?.pattern && detailsForm.controls.applicantlist.controls[i]?.controls.applicantComuHouseNo.touched">
                  Special Characters Allowed Are ._%$#!@,/':-
                </div>
                <div
                  *ngIf="detailsForm.controls.applicantlist.controls[i]?.controls.applicantComuHouseNo.errors?.maxlength && detailsForm.controls.applicantlist.controls[i]?.controls.applicantComuHouseNo.touched">
                  Maximum Character Limit Is 32.
                </div>
              </div>
              <ion-item class="bordered onlyinput">
                <ion-input type="text" placeholder="Street *" formControlName="applicantComuStreet"></ion-input>
              </ion-item>
              <div class="error" *ngIf="detailsForm.controls.applicantlist.controls[i]?.controls.applicantComuStreet">
                <div
                  *ngIf="detailsForm.controls.applicantlist.controls[i]?.controls.applicantComuStreet.errors?.required && detailsForm.controls.applicantlist.controls[i]?.controls.applicantComuStreet.touched">
                  Communication Street Is Required.</div>
                <div
                  *ngIf="detailsForm.controls.applicantlist.controls[i]?.controls.applicantComuStreet.errors?.pattern && detailsForm.controls.applicantlist.controls[i]?.controls.applicantComuStreet.touched">
                  Special Characters Allowed Are ._%$#!@,/':-
                </div>
                <div
                  *ngIf="detailsForm.controls.applicantlist.controls[i]?.controls.applicantComuStreet.errors?.maxlength && detailsForm.controls.applicantlist.controls[i]?.controls.applicantComuStreet.touched">
                  Maximum Character Limit Is 32.
                </div>
              </div>
              <ion-item class="bordered onlyinput">
                <ion-input type="text" placeholder="Locality *" formControlName="applicantComuLocality"></ion-input>
              </ion-item>
              <div class="error" *ngIf="detailsForm.controls.applicantlist.controls[i]?.controls.applicantComuLocality">
                <div
                  *ngIf="detailsForm.controls.applicantlist.controls[i]?.controls.applicantComuLocality.errors?.required && detailsForm.controls.applicantlist.controls[i]?.controls.applicantComuLocality.touched">
                  Communication Locality Is Required.</div>
                <div
                  *ngIf="detailsForm.controls.applicantlist.controls[i]?.controls.applicantComuLocality.errors?.pattern && detailsForm.controls.applicantlist.controls[i]?.controls.applicantComuLocality.touched">
                  Special Characters Allowed Are ._%$#!@,/':-
                </div>
                <div
                  *ngIf="detailsForm.controls.applicantlist.controls[i]?.controls.applicantComuLocality.errors?.maxlength && detailsForm.controls.applicantlist.controls[i]?.controls.applicantComuLocality.touched">
                  Maximum Character Limit Is 32.
                </div>
              </div>
              <ion-item class="bordered onlyinput">
                <ion-input type="text" placeholder="Country *" formControlName="applicantComuCountry"
                  (focus)="countryForApplicant('communicationcountry',i)" [readonly]="true"></ion-input>
              </ion-item>
              <div class="error" *ngIf="detailsForm.controls.applicantlist.controls[i]?.controls.applicantComuCountry">
                <div
                  *ngIf="detailsForm.controls.applicantlist.controls[i]?.controls.applicantComuCountry.errors?.required && detailsForm.controls.applicantlist.controls[i]?.controls.applicantComuCountry.touched">
                  Communication Country Is Required.</div>
              </div>
              <ion-item class="bordered onlyinput">
                <ion-input type="text" placeholder="City *" formControlName="applicantComuCity"></ion-input>
              </ion-item>
              <div class="error" *ngIf="detailsForm.controls.applicantlist.controls[i]?.controls.applicantComuCity">
                <div
                  *ngIf="detailsForm.controls.applicantlist.controls[i]?.controls.applicantComuCity.errors?.pattern && detailsForm.controls.applicantlist.controls[i]?.controls.applicantComuCity.touched">
                  Communication City Name Should Be Alphabets Only.</div>
                <div
                  *ngIf="detailsForm.controls.applicantlist.controls[i]?.controls.applicantComuCity.errors?.required && detailsForm.controls.applicantlist.controls[i]?.controls.applicantComuCity.touched">
                  Communication City Is Required.</div>
                <div
                  *ngIf="detailsForm.controls.applicantlist.controls[i]?.controls.applicantComuCity.errors?.maxlength && detailsForm.controls.applicantlist.controls[i]?.controls.applicantComuCity.touched">
                  Maximum Character Limit Is 25.
                </div>
              </div>
              <ion-item class="bordered onlyinput">
                <ion-input type="text" placeholder="Pincode *" formControlName="applicantComuPin"></ion-input>
              </ion-item>
              <div class="error" *ngIf="detailsForm.controls.applicantlist.controls[i]?.controls.applicantComuPin">
                <div
                  *ngIf="detailsForm.controls.applicantlist.controls[i]?.controls.applicantComuPin.errors?.required && detailsForm.controls.applicantlist.controls[i]?.controls.applicantComuPin.touched">
                  Communication Pincode Is Required.</div>
                <div
                  *ngIf="detailsForm.controls.applicantlist.controls[i]?.controls.applicantComuPin.errors?.pattern && detailsForm.controls.applicantlist.controls[i]?.controls.applicantComuPin.touched">
                  <!-- Pincode Should Be Numeric -->Not A Valid Pincode.</div>
                <div
                  *ngIf="detailsForm.controls.applicantlist.controls[i]?.controls.applicantComuPin.errors?.minlength && detailsForm.controls.applicantlist.controls[i]?.controls.applicantComuPin.touched">
                  Maximum Character Limit Is 6.</div>
                <div
                  *ngIf="detailsForm.controls.applicantlist.controls[i]?.controls.applicantComuPin.errors?.maxlength && detailsForm.controls.applicantlist.controls[i]?.controls.applicantComuPin.touched">
                  Maximum Character Limit Is 6.</div>
              </div>
            </div>

            <ion-item class="bordered" *ngIf="Package.value.applicantNationality !='Indian'">
              <ion-label stacked>
                Passport No. *
              </ion-label>
              <ion-input type="text" placeholder="Passport No *" formControlName="appPassport"></ion-input>
            </ion-item>
            <div class="error" *ngIf="Package.value.applicantNationality != 'Indian'">
              <div
                *ngIf="detailsForm.controls.applicantlist.controls[i]?.controls.appPassport?.errors?.required && detailsForm.controls.applicantlist.controls[i]?.controls.appPassport?.touched">
                Passport No Is Required.</div>
              <div
                *ngIf="detailsForm.controls.applicantlist.controls[i]?.controls.appPassport?.errors?.pattern && detailsForm.controls.applicantlist.controls[i]?.controls.appPassport?.touched">
                Not A Valid Passport Number.</div>
            </div>

            <ion-item class="bordered" *ngIf="Package.value.applicantNationality =='Indian'">
              <ion-label stacked>
                PAN No. *
              </ion-label>
              <ion-input type="text" placeholder="PAN No *" formControlName="appPan" (keyup)="onkeyDown('sec',i)">
              </ion-input>
            </ion-item>
            <div class="error" *ngIf="Package.value.applicantNationality =='Indian'">
              <div
                *ngIf="detailsForm.controls.applicantlist.controls[i]?.controls.appPan.errors?.required && detailsForm.controls.applicantlist.controls[i]?.controls.appPan?.touched">
                PAN No Is Required.</div>
              <div
                *ngIf="detailsForm.controls.applicantlist.controls[i]?.controls.appPan.errors?.pattern && detailsForm.controls.applicantlist.controls[i]?.controls.appPan?.touched">
                Not A Valid PAN Number.</div>
            </div>

            <ion-item class="bordered">
              <ion-label stacked>
                Relationship with Primary Applicant *
              </ion-label>

              <ion-input type="text" placeholder="Relationship" formControlName="appRelationshipWithPriApplicant">
              </ion-input>

              <!-- <ion-select #select interface="popover" (ionChange)="onSelectChangeRelationship($event, i)" name="appRelationshipWithPriApplicant"
                formControlName="appRelationshipWithPriApplicant" placeholder="Relationship with Primary Applicant">
                <ion-option *ngFor="let relationship of relationshipData" name='selectedValue' value="{{relationship.id}}">
                  {{relationship.name}}
                </ion-option>
              </ion-select> -->

            </ion-item>
            <div class="error">
              <div *ngIf="detailsForm.controls.applicantlist.controls[i]?.controls.appRelationshipWithPriApplicant.errors?.required && 
              detailsForm.controls.applicantlist.controls[i]?.controls.appRelationshipWithPriApplicant?.touched">
                Relationship With Primary Applicant Is Required.</div>
            </div>

            <ion-item class="bordered">
              <div class="ion-label" *ngIf="Package.value.applicantNationality =='Indian'">
                PAN card or Passport *
              </div>
              <div class="ion-label" *ngIf="Package.value.applicantNationality !='Indian'">
                Passport Front Page *
              </div>
              <div class="csfile" (click)="presentActionSheet('sec','idProof',i)">
                <span *ngIf="Package.value.appIdproofName == ''">Browse File </span>
                <span *ngIf="Package.value.appIdproofName != ''">{{Package.value.appIdproofName}}
                </span>
                <div class="uploadbtn">Upload</div>
              </div>

              <!-- <div class="txtupfilenote" *ngIf="Package.value.applicantNationality == 'Indian'">Driving license, Pan
                card, Passport, Voter ID, Adhar card.(Max file size 2 MB)</div>
              <div class="txtupfilenote" *ngIf="Package.value.applicantNationality != 'Indian'">Passport Front Page.(Max
                file size 2 MB)</div> -->
              <div class="txtupfilenote">Allowed file type .pdf,.jpg,.jpeg,.png (Max file size 2 MB)</div>
            </ion-item>
            <div class="image" *ngIf="imageObj.secondary?.i?.idProof!=''" class="width-50">
              <img [src]="detailsForm.value.applicantlist[i]?.appIdproof" alt=""
                *ngIf="detailsForm.value.applicantlist[i]?.appIdproofMime == 'image'">
              <img src="assets/imgs/pdf_icon.png" *ngIf="detailsForm.value.applicantlist[i]?.appIdproofMime == 'pdf'">
            </div>
            <div class="error">
              <div *ngIf="detailsForm.value.applicantlist[i]?.idProofErr">
                {{detailsForm.value.applicantlist[i]?.idProofErr}}</div>
            </div>
            <ion-item class="bordered">
              <div class="ion-label" *ngIf="Package.value.applicantNationality =='Indian'">
                Aadhaar Card or Passport *
              </div>
              <div class="ion-label" *ngIf="Package.value.applicantNationality !='Indian'">
                Passport Back Page *
              </div>
              <div class="csfile" (click)="presentActionSheet('sec','addressProof',i)">

                <span *ngIf="Package.value.appAddressproofName == ''">Browse File </span>
                <span *ngIf="Package.value.appAddressproofName != ''">{{Package.value.appAddressproofName}}
                </span>
                <div class="uploadbtn">Upload</div>
              </div>

              <!-- <div class="txtupfilenote" *ngIf="Package.value.applicantNationality == 'Indian'">Driving license, Pan
                card, Passport, Voter ID, Adhar card.(Max file size 2 MB)</div>
              <div class="txtupfilenote" *ngIf="Package.value.applicantNationality != 'Indian'">Passport Back Page.(Max
                file size 2 MB)
              </div> -->
              <div class="txtupfilenote">Allowed file type .pdf,.jpg,.jpeg,.png (Max file size 2 MB)</div>
            </ion-item>
            <div class="image" *ngIf="imageObj.secondary?.i?.addressProof!=''" class="width-50">
              <img [src]="detailsForm.value.applicantlist[i]?.appAddressproof" alt=""
                *ngIf="detailsForm.value.applicantlist[i]?.appAddressproofMime == 'image'">
              <img src="assets/imgs/pdf_icon.png"
                *ngIf="detailsForm.value.applicantlist[i]?.appAddressproofMime == 'pdf'">
            </div>
            <div class="error">
              <div *ngIf="detailsForm.value.applicantlist[i]?.addressProofErr">
                {{detailsForm.value.applicantlist[i]?.addressProofErr}}</div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="text-center p0">
            <div end *ngIf="accordionExapandedApp.secondary[i].isExpand">
              <button class="removbtn" ion-button no-margin color="danger" class="removeIcon"
                (click)="deletePackageRow(i)">
                Remove Applicant &nbsp;
                <ion-icon name="ios-close-circle-outline"></ion-icon>
              </button>
            </div>
          </div>

        </article>
      </div>
      <div class="error">
        <div *ngIf="errorPassport!=''">
          {{errorPassport}}
        </div>
        <div *ngIf="errrorPan!=''">
          {{errrorPan}}
        </div>
        <div *ngIf="errrorApplicantPan!=''">
          {{errrorApplicantPan}}
        </div>
        <div *ngIf="errorApplicantPassport!=''">
          {{errorApplicantPassport}}
        </div>
      </div>
      <div class="text-center p0">
        <button class="btnstyle" ion-button no-margin color="primary" type="button" (click)="addPackageRow()"
          *ngIf="addPackage.controls.length <= 1 ">
          + Add Another Applicant</button>
      </div>
    </form>

    <div class="payplan">
      <ion-header class="headingEn" (click)="toggleFooter('terms')">
        <ion-toolbar>
          <ion-title>Terms & Conditions
            <div class="iconheding">
              <img *ngIf="footerAccordian.terms" src="assets/imgs/substract.svg">
              <img *ngIf="!footerAccordian.terms" src="assets/imgs/add.svg">
            </div>
          </ion-title>
        </ion-toolbar>
      </ion-header>

      <div class="termcont" *ngIf="footerAccordian.terms">
        <div [innerHTML]="termsData">
        </div>
      </div>
    </div>

    <div class="terms_checkbox">
      <div class="centercheck">
        <div class="icon_checkbox">
          <div name="md-checkmark-circle-outline" [ngClass]="{'chechbox': temsCheck, 'notchecked': temsCheck == false }"
            (click)="checkboxTerms()"></div>
        </div>
        <div class="terms_condition">
          <span class="text_terms">
            I accept
            <!-- Terms Of Use --><span class="termsOfUse" (click)="toggleFooter('termsfooter')"> Terms &
              Conditions</span>
          </span>
        </div>
      </div>
    </div>
    <div class="error">
      <div *ngIf="imageError">
        Please Choose Files For Id Proof And Address Proof.
      </div>
      <div *ngIf="termsError" class="trms_err">
        Please Check The Terms And Condition.
      </div>
    </div>
    <div class="text-center p0">
      <button class="nextbtn" ion-button round type="submit" (click)="goToPay()" [disabled]="!detailsForm.valid">
        Proceed to Pay
      </button>
    </div>
  </div>
</ion-content>