page-eoi-enquiry-form {
  .item-label-stacked ion-select {
    border:1px solid #dddddd !important;    
    height: 38px;
    padding: 9px 8px !important;
    font-size: 14px;
  }
  
.trms_err {
  padding-left: 0;
  text-align: center;
  }
  .bordered .item-inner ion-label {margin-right:0;}
  .item-label-stacked.item-input-has-focus ion-select {border-color: #2c99d6 !important}
  .item-input-has-focus .select-icon .select-icon-inner {color: #2c99d6;}
    .p0 {padding: 0 !important}
    // start new form css
    .back-button.show-back-button {
      display: inline-block;
      margin-top: 5px;
    }
    .termcont {
      padding: 15px;
      line-height: 23px;
      font-size: 14px;
      color: #232323;
    }
    .card-content-md {
      padding: 7px;
    }
    .headingEn {
      background:#0077B9;
      position: relative;
      padding: 0 10px;
      .toolbar-background {
        background-color:inherit;
      }
      .toolbar-title {
        color:#ffffff;
        position: relative;
        font-size: 14px;
        padding-right: 30px;
        overflow: hidden;
        overflow-wrap: break-word;
        text-overflow: inherit;
        white-space: normal;
        .iconheding {
          position: absolute;
          right: 10px;
          top: -1px;
          img {
            width:18px;
          }
        }
      }
    }
    .shadebrder {
      display: block;
      background-color: #bbbbbb;
      height: 2px;
      position: relative;
      width: 170px;
      margin: 10px auto 0;
      &:before {
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 100%;
        position: absolute;
        left: 0;
        top: -1px;
        content: "";
        background-color: #000;
      }
      &:after {
        display: block;
        width:4px;
        height:4px;
        border-radius: 100%;
        position: absolute;
        right:0;
        top:-1px;
        content:"";
        background-color: #000;
      }
    }
    .terms_condition_content {
      .termTitle {
        color: #222;
        font-size: 1.8rem;
        font-weight: normal;
        text-align: center;
        padding-top: 9px;
      }
    }
  
    .terms_checkbox{
      margin-top: 20px;
      text-align: center;
      margin-bottom: 20px;
      font-size: 15px;
      float: left;
      width: 100%;
      &.login {
        margin-top:0;
      }    
      padding-left:0;
      .centercheck {
        display: inline-block;
        position: relative;
        padding-left:26px;
        .terms_condition {
          width:100%;
          margin:0;
        }
      }
      .icon_checkbox{
        margin-left: 0;  
        position: absolute;
        left:0;
        top:-1px;
        div {
          background:transparent url(../assets/imgs/check_icon.png) no-repeat center center / cover;
          width:20px;
          height:20px; 
        }
        .chechbox {
          background:transparent url(../assets/imgs/checked_icon.png) no-repeat center center / cover;
          width:20px;
          height:20px;        
        }
        .notchecked {
          background-image:url(../assets/imgs/check_icon.png);
        }
        
      }
    }
    .cardbox {
      ion-card {margin-bottom: 20px;}
      ion-card-header {
        text-align: center;
       
      }
      ion-card-content {
        text-align: center;
      }
    }
    .onlinebkguid {
      text-align: center;
      color: #4280D5;
      text-transform: uppercase;
      font-size: 15px;
      line-height: 21px;
      padding:0 0 10px 0;
      text-decoration: underline;
    }
  .nationality {
    margin:3px 0 -25px;
    .headingText {
      width:auto;
      display: inline-block;
      padding: 13px 11px 0 0;
      color: #0077b9;
      font-weight: 500;
      font-size: 13px;
    }
    ion-label {
      font-weight: 500;
    }
    ion-item {
      width:auto !important;
      display: inline-block;
    }
  }
  .item-md.item-block.bordered .item-inner {
    border:0 none !important;
  }
  .cscheck.item.item-block {
    ion-checkbox {
      margin-right:0;
      position: absolute;
      top: 15px;
      left: 0;
      margin: 0;
      .checkbox-icon {
        border:1px solid #a0a0a0;
        width:13px;
        height:13px;
        border-radius: 0;
        .checkbox-inner {
          left: 4px;
          top: -1px;
          position: absolute;
          width: 4px;
          height: 10px;
          border-width: 1px;
          border-top-width: 0;
          border-left-width: 0;
        }
        &.checkbox-checked {
          border-color:#2c99d6;
        }
      }
    }
    .item-inner {
      border: 0 none !important;
      ion-label {
        color: #5a5858;
        font-size: 13px;
        line-height: 17px;
        text-overflow: inherit;
        overflow: inherit;
        white-space: normal;
        padding-left: 18px;
      }
    }
  }
  .payplan {
    border:1px solid #D6D6D6;
    margin-bottom:30px;
    .headgrey {
      background-color: #F2F2F2;
      padding: 20px 26px  15px;
    }
    .dtl {
      display: flex;    
      display: table;
      width: 100%;
      div {
        width: 190px;
        padding-right: 20px;
        color: #000;
        font-weight: bold;
        p {
          display: block;
          font-weight:normal;
          margin:2px 0 0;
        }
      }
      span {
        color:#616060;
        vertical-align: middle;
        display: table-cell;
        height: 100%;
       // width: 90px;
       width:114px;
       &.wprice {
       /*  padding-left:13px; */
        position: relative;
        img {
          position: absolute;
          left:0;
          top: 21px;
          width: 11px;
        }
        }
      }
    }
    .dtlList {
      padding: 0 26px;
      .dtl {
        border-top:1px solid #e4e4e4;
        padding:13px 0;
        
      }
      span {
        vertical-align: middle;
        display: table-cell;
      }
      &:nth-child(2) {
        .dtl {
          border-top:0 none;
          
        }
      }
      &:first-child {
        background-color: #f2f2f2;
        .dtl {
          border-top:0 none;
          
        }
      }
      &.booking_amount {
        .dtl {
          border-top:1px dashed #cccccc;
          margin-top: 10px;
          padding-top: 20px;
          .bkamnt {
            margin: 3px 0 0;
            color: #0077B9;
            font-size: 26px;
            width:100%;
            .pricesymbol {
              position: relative;
              width: auto;
              height: auto;
              display: inline;
              color: inherit;
              top: 0;
              margin-right: 3px;
              font-weight: 600;
            }
            img {
              margin: 0 3px 0 0;
              position: relative;
              top: -1px;
              width: 12px;
            }
          }
        }
      }
      
    }
   
  } 
  .p0 {padding: 0;}
  .btnstyle {
    font-size: 15px;
    line-height: 25px;
    font-weight: normal;
    margin: 0 auto 20px;
    padding: 6px 15px;
    display: inline-block;
    width: 80%;
    border-radius: 40px;
    height: 44px;
  }
  
  .nextbtn {  
    font-size: 19px;
    line-height: 25px;
    font-weight: normal;
    text-transform: none;
    background-color: #71D16F;
    color: #ffffff;
    margin: 0 auto 0;
    padding: 6px 15px;
    display: inline-block;
    width: 80%;
  }
  .textstepsguid {
    font-size: 12px;
    line-height: 18px;
    margin:0;
    padding:20px 0;
  }
  
  .ion-label {
    color: #000;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    padding: 0 0 2px;
  }
  .radiolst .ion-label {
    margin-bottom: -9px;
    position: relative;
    z-index: 1;
    margin-top: 13px;
  }
  .bordered {
    &.onlyinput {
      margin-top:15px;
    }
    .item-inner {
      padding: 0 !important;
      border:0 none !important;
      ion-label {
        margin-bottom:7px;
        color:#000;
      }
      ion-datetime,
      .text-input {
        border:1px solid #dddddd !important;
        margin: 0;
        width: 100%;
        display: block;
        height: 38px;
        padding: 0 8px;
        font-size: 14px;
      }
      ion-datetime {
        .datetime-placeholder,
        .datetime-text {
          padding: 11px 0;
          color: #9f9f9f;
        }
      }
    }
    &.item-input-has-focus {
      .item-inner {
        padding: 0;
        border:0 none !important;
        .text-input {
          border:1px solid #2c99d6 !important
        }
      }
    }
  
    .csfile {
      position: relative;
      border:1px solid #dddddd;
      padding:5px 100px 5px 5px;
      span {
        color: #9f9f9f;
        font-size: 12px;
        line-height: 25px;
      }
      .uploadbtn {
        position: absolute;
        right: 2px;
        top: 2px;
        background-color: #5F5F5F;
        color: #fff;
        padding: 5px 15px;
        line-height: 21px;
        font-size: 14px;
      }
    }
    .txtupfilenote {
      font-style: italic;
      color: #9f9f9f;
      font-size: 11px;
      line-height: 18px;
      margin-top: 4px;
      overflow-wrap: break-word;
      white-space: normal;
    }
  }
  .upldsrc {
    img {
      max-height: 600px;
      max-width: 100%;
    }
  }
  .twonfild {
    border:1px solid #dddddd;
    display: flex;
    margin-top:19px;
    height: 40px;
    overflow: hidden;
    padding: 10px 8px;
    .codephon {
      width:auto;
    }
    div {
      height:100%;
    }
    .mobile-countrycode {
      display: flex;
      padding-right: 6px;
      width:auto !important;
      .imageFlag{
        width: 27px;
      // float: left;
        margin-top: 0;
      }
      .cntNumber {
        padding-left: 7px;
        color: #9f9f9f;
        font-size: 16px;
        ion-item {
          height:100%;
          .item-inner {
            border:0 none !important;
            ion-label {
              height:100%;
              margin:0;
            }
          }
        }
      }
    }
    .phone-input {
      height:100%;
      width:100%;
      .item-md.item-block .item-inner{
        border:0 none !important;
        height:100%;
        ion-input {
          height:100%;
          .text-input {
            margin:0;
            height:100%;
          }
        }
      }
    }
  }
    .applicantlist {
      margin-bottom: 30px;
      .gapeq {
        margin-top:30px;
        &:first-child {
          margin-top:0;
        }
      }
      .item.item-block.item-md {
        .item-inner {
          border-bottom:1px solid #dddddd;
          box-shadow:none !important;
          .text-input  {
            border-bottom:0 none;
          }
        }
      }
    }
    .withdicon {
      background-color: transparent;
      position: relative;
      z-index: 1;
      ion-datetime {
        background-color:transparent;
        padding-bottom:1px;
        //background:#ffffff url(../../assets/imgs/dateicon.png) no-repeat right 2px center / 15px auto;
        //border-bottom:1px solid #dddddd;
        &.ng-valid {
          padding-bottom:6px;
        }
      }
    }
    .datedicon {
      position: relative;
       img {
        position: absolute;
        z-index:0;
        width: 15px;
        right: 0;
        bottom: -60px;
      }
    }
    .csradio {
      margin: 0 4px 0 0 !important;
      margin-right: 5px !important;
      .radio-icon {
          border: 1px solid #ddd;
          width: 14px;
          height: 14px;
          border-radius: 100%;
          position: relative;
          &.radio-checked {
              border-color: #449ad5;
              &:after {
                  content: "";
                  display: block;
                  width: 4px;
                  height: 4px;
                  background-color: #449ad5;
                  border-radius: 100%;
                  position: absolute;
                  top: 4px;
                  left: 4px;
              }
          }
          .radio-inner {
              display: none;
          }
      }
  }
  // end new form css
    .submitBtn  {
      text-align: center;
      float: left;
      width: 100%;
      button {
        width: 95%;
        height: 40px;
        text-transform: none;
        font-size: 16px;
      }
    }
  
    .removeIcon{
      margin-top: 35px;
      text-align: center;
      font-size: 15px;
      line-height: 25px;
      font-weight: normal;
      margin: 0 auto 0;
      padding: 6px 15px;
      display: inline-block;
      width: 76%;
      border-radius: 40px;
      height: 44px;
      box-sizing: border-box;
      .icon {margin-bottom:0;}
  }
    
    .refferedRadioBtn{
      float: left;
      width: 50%;
      .item-inner{
        border: none !important;
      }
    }
    .questions{
      white-space: normal;
    }
    .details{
      float: left;
      width: 100%;
      height: auto;
    }
    .headingText{
      float: left;
      width: 100%;
      color: #37b0de;
    }
    .error{
      margin-left: 1px;
      margin-top: 5px;
      color: #f00;
    }
    .profile{
      margin-top: 15px;
    }
    .customCheckBox{
      float: left;
      margin-left: 30px;
    }
    .bigDot{
      height: 16px;
      width: 16px;
      border: 1px solid #37b0de;
      border-radius: 50%;
      padding: 3px;
      float: left;
      margin-left: 20px;
      margin-top: 2px;
    }
    .smallDot{
      height: 6px;
      width: 6px;
      background-color: #37b0de;
      border-radius: 50%;
      margin-left: 1px;
      margin-top: 1px;
      padding: 0;
    }
    .text{
      float: left;
      width: 100%;
      color:#000;
    }
    .text-input {
      // border-bottom: 1px solid #dddddd;
      // height: auto;
      // padding: 0 0 7px;
    }
    textarea.text-input {
      margin-left:0;
    }
    .gender  .sub.text {
      padding:14px 0 5px;
      color:#a2a2a2;
    }
    .gender {
  
      .customCheckBox {
        display: inline-block;
        margin-left:5px;
        margin-bottom:5px;
        .bigDot {
          margin-left:0;
        }
          .text {
            width:auto;
        }
      }
    }
    .couponText{
      width: 40%;
      float: left;
      margin-top: 20px;
    }
    .txtsubhed {
      color:#999999;
      font-size: 13px;
      text-transform: none !important;
      font-weight: normal;
      letter-spacing: 0;
      white-space: normal;
    }
    .m-b-15 {
      margin-bottom: 15px;
    }
    .radiolst {
      ion-item {
        display: inline-block;
        width:auto;     
      }
      ion-list {
        margin-bottom: 5px;
        .item-block { 
          .item-inner {
            position: relative;
            border-bottom:0 none !important;
            padding-left:0;
            font-size:14px;
            direction: rtl;
            .input-wrapper {
              ion-label {
                margin: 0px 8px 0 0;
                font-size: 12px;
                width: auto;
                float: none;
                display: block;
                text-align: left;
              }
            }
            .radio-md {
                margin: 2px 6px 0 0;
                position: static;
                left:0;
                top:12px;
            }
          }
          &:last-child {
            border-bottom:0 none;
          }
        }
      }
      ion-item {
        &.labeltw {
          width:40%;
        }
      }
    }
  //  .item-md.item-inner
    .formDetails {
      .select-icon {
        .select-icon-inner {
          background: transparent url(../assets/imgs/select-bg-blue.png) no-repeat center center / 13px;
          border: 0 none;
          width: 13px;
          height: 12px;
          top: 5px
        }
      }
    }
      .item-ios.item-block .item-inner, .item-md.item-block .item-inner{
          border-bottom: 1px solid #c5c7d2 !important;
      }
      .totaLCC {
        .dtl {
          display: flex;
          span.wprice {
            display: block;
            height: 16px;
            img {
              top:3px;
              width:10px;
            }
          }
        }
      }
  $break-tablet: 600px;
  @media screen  and (min-width: $break-tablet) {
    .cscheck.item.item-block ion-checkbox {top:13px;}
  }
      @media screen {
        .payplan .dtl div {
          width:150px;
        }
        .twonfild .mobile-countrycode .imageFlag {
          width:27px !important;
        }
      }
   
  }
  .text-center {
    text-align:center;
    padding: 10px;
  }
  .width-50{
    width: 50%
  }
  .datetime-text{
    color: #000 !important;
  }
  .checkbox{
    padding: 3px 20px 20px 2px !important;
  }
  .fileuploadpopup .action-sheet-group,
  .fileuploadpopup .action-sheet-title {
    text-align: center;
    font-size: 19px;
    padding-bottom:7px;
  }
  .btnfileup {
    display: inline-block;
    width: auto !important;
    float: none;
    .button-inner {
      width: auto;
      padding:0;
      ion-icon {
        margin: 0 5px;
        font-size: 40px;
      }
    }
  }
  
  .termsOfUse{
    color: #37b0de;
    text-decoration: underline;
  }