page-know-me {
  .d-block {
    width:100%;
    display: block;
    float: left;
    margin-bottom: 5px;
  }
  .gMSta{
    width: 49%;
    float: left;
    height: 60px;
  }
  .customCheckBox{
    float: left;
    margin-right: 4px;
    padding-left:13px;
  }
  .bigDot{
    height: 20px;
    width: 20px;
    border: 1px solid #37b0de;
    border-radius: 50%;
    padding: 3px;
    float: left;
    margin-left: 50px;
    margin-top: 2px;
    background-color: #fff;
  }
  .smallDot{
    height: 2px;
    width: 2px;
    background-color: #37b0de;
    border-radius: 50%;
    margin-left: 3px;
    margin-top: 3px;
    padding: 3px;
  }

  .sliderCheckbox{
    margin-left: 0px !important;
  }
  .sliderText{
    margin-right: 15px;
  }
  .left{
    width: 48% !important ;
  }
  .right{
    width: 52% !important;
  }
  .knowBtn{
    width: 100%;
    background-color: #37b0de;
    border-radius: 25px;
    color: #fff;
    margin-top: 15px;
    height: 50px;
  }
  .error{
    color: #fb3333;
    margin-left: 15px;
    font-size: 12px;
  }
  //.scroll-content {padding: 0 5px !important;}
}
//.item-ios {padding:0;}
.item-ios.item-block .item-inner,
.item-md.item-block .item-inner {
  border-bottom: 0 none;
  .list-ios,
  .list-md {
    margin:1px 0 16px;
  }
}
.item-ios,
.item-md {
  padding-left: 0;
}
.item-input .label-ios, .item-select .label-ios, .item-datetime .label-ios {
  color: #999;
}
.list-ios {
  .item-block{
    &:first-child {
      border-top:0 none;
    }
  }
}
.item-ios {font-size:1.4rem;
  .sliderText,
  .genderMaritial .icon {
    margin-top: 4px;
  }
}