<!--
  Generated template for the KnowMePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>know-me</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding>
  <div class="formsKnow">
    <div class="headerImg">
      <img src="assets/imgs/godrej_properties.jpeg" class="himage" alt="">
    </div>
    <form class="knowMeForm" [formGroup]="knowMeForm">
      <ion-list>

        <ion-item>
          <ion-label floating>
              <ion-icon name="ios-person-outline"></ion-icon>
              &nbsp; Name *
          </ion-label>
          <ion-input type="text" name="fullName" formControlName="fullName" ></ion-input>
        </ion-item>
        <div class="error">
            <div *ngIf="f.fullName.errors?.required && f.fullName.touched">FullName is required</div>
            <div *ngIf="f.fullName.errors?.pattern && f.fullName.touched">Only aplhabets</div>
        </div>

        <ion-item>
          <ion-label floating>
            <ion-icon name="ios-mail-outline"></ion-icon>
            &nbsp; Email *
          </ion-label>
          <ion-input type="email" name="email" formControlName="email"></ion-input>
        </ion-item>
        <div class="error">
            <div *ngIf="f.email.errors?.required && f.email.touched">Email is required</div>
            <div *ngIf="f.email.errors?.pattern && f.email.touched">Not a valid email</div>
        </div>

        <ion-item>
          <ion-label floating >
            <ion-icon name="ios-phone-portrait-outline"></ion-icon>
              &nbsp; Mobile Number *
          </ion-label>
          <ion-input type="tel" name="mobile" formControlName="mobile"></ion-input>
        </ion-item>
        <div class="error">
            <div *ngIf="f.mobile.errors?.required && f.mobile.touched">Mobile is required</div>
            <div *ngIf="f.mobile.errors?.pattern && f.mobile.touched">Only numbers</div>
            <!-- <div *ngIf="(f.mobile.errors?.minlength || f.mobile.errors?.maxlength) && f.mobile.touched">Mobile Number should be 10 digits</div> -->
        </div>

        <ion-item>
          <div class="genderMaritial">
            <!-- <div class="gMSta left"> -->
                <div class="icon">

                    &nbsp; Gender
                </div>
                <div class="customCheckBox" (click)="checkBox('Gender','M')">
                    <div class="bigDot sliderCheckbox">
                        <div [ngClass]="{'smallDot': gender.male == true}" class="smallDot"></div>
                      </div>
                    <div class="text sliderText">
                        &nbsp; Male
                    </div>
                </div>
                <div class="customCheckBox left-50" (click)="checkBox('Gender','F')">
                    <div class="bigDot sliderCheckbox">
                      <div [ngClass]="{'smallDot': gender.female == true}"></div>
                    </div>
                    <div class="text sliderText">
                        &nbsp; Female
                    </div>
                </div>
            <!--</div>

             <div class="gMSta right"> -->
               <div class="d-block"></div>
                <div class="icon">

                    &nbsp; Maritial Status
                </div>
                <div class="customCheckBox" (click)="checkBox('mStatus','S')">
                    <div class="bigDot sliderCheckbox">
                        <div [ngClass]="{'smallDot': status.single == true}" class="smallDot"></div>
                      </div>
                    <div class="text sliderText">
                        &nbsp; Single
                    </div>
                </div>
                <div class="customCheckBox left-50" (click)="checkBox('mStatus','M')">
                    <div class="bigDot sliderCheckbox">
                      <div [ngClass]="{'smallDot': status.married == true}"></div>
                    </div>
                    <div class="text sliderText">
                        &nbsp; Married
                    </div>
                </div>
            <!-- </div> -->
          </div>

        </ion-item>

        <ion-item>
          <ion-label floating>
              <ion-icon name="ios-person-outline"></ion-icon>
              &nbsp; Hobby *
          </ion-label>
          <ion-select formControlName="hobby">
            <ion-option value="xbox">Xbox</ion-option>
            <ion-option value="ps4s">PlayStation 4 Slim</ion-option>
            <ion-option value="xboxones">Xbox One S</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label floating>
              <ion-icon name="ios-person-outline"></ion-icon>
              &nbsp; Leisure Activity *
          </ion-label>
          <ion-select formControlName="leisureActivity">
              <ion-option value="xbox">Xbox</ion-option>
              <ion-option value="ps4s">PlayStation 4 Slim</ion-option>
              <ion-option value="xboxones">Xbox One S</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label floating>
              <ion-icon name="ios-person-outline"></ion-icon>
              &nbsp; Number Of Kids
          </ion-label>
          <ion-input type="text" name="fname" formControlName="nOfKids" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>
              <ion-icon name="ios-person-outline"></ion-icon>
              &nbsp; School
          </ion-label>
          <ion-input type="text" name="fname" formControlName="school" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>
              <ion-icon name="ios-person-outline"></ion-icon>
              &nbsp; Family Income
          </ion-label>
          <ion-select formControlName="familyIncome">
            <ion-option value="xbox">Xbox</ion-option>
            <ion-option value="ps4s">PlayStation 4 Slim</ion-option>
            <ion-option value="xboxones">Xbox One S</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label floating>
              <ion-icon name="ios-person-outline"></ion-icon>
              &nbsp; Favorite Hangout Place
          </ion-label>
          <ion-input type="text" name="favHangout" formControlName="favHangout" ></ion-input>
        </ion-item>

        <button ion-button icon-end large clear (click)="submit()" class="knowBtn">
          Submit
        </button>
        <button ion-button outline (click)="goToLogin()"> Go To Login</button>
      </ion-list>
    </form>
  </div>
</ion-content>
