page-country-list {
    .listWrap{
        float: left;
        width: 100%;
    }
    ion-searchbar {
        padding-left:0 !important;
        padding-right:0 !important;
    }
    .flag{
        float: left;
        width: 13%;
        img{
            width: 25px;
        }
    }
    .countryName{
        float: left;
        width: 65%;
        padding-left: 20px;
        font-size: 19px;
        white-space: normal;
    }
    .countryCallingCode{
        float: left;
        width: 22%;
        text-align: right;
    }
    .listCountryBox {
        max-height:80vh;
        overflow-x:hidden;
        overflow-y:auto;
    }
    .close_btn {
        ion-icon {
            line-height: 11px;
            padding-top: 3px;
        }
    }
    .crossBtn{
        width: 12%;
        float: left;
    }
    .newpophead {
        padding: 0 0 0 10px;
        position: relative;
        font-size: 17px;
        top: 4px;
        .crossBtn {
            position: absolute;
            right: 10px;
            top: -3px;
            button {
                background:none;
                font-size:30px;
                padding:0;
            }
        }
    }
}
