<!--
  Generated template for the CountryListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <!-- <ion-title> -->
      <div class="newpophead">Country List<div class="crossBtn" (click)="myDismiss()">
          <button class="close_btn">
            <!-- <ion-icon name="ios-arrow-round-back-outline"></ion-icon> -->
            <ion-icon name="close"></ion-icon>
          </button>
        </div>
      </div>
    <!-- </ion-title> -->


  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="onInput()" *ngIf="isShowSearchBar">
    </ion-searchbar> 
    <div class="listCountryBox">
      <ion-item *ngFor="let country of items" (click)="selectCountry(country)">
        <div class="listWrap">
          <div class="flag">
            <img src="{{country.flag}}" alt="{{country.name}}">
          </div>
          <div class="countryName">
            {{country.name}}
          </div>
          <div class="countryCallingCode" *ngIf="showCountryCodes">
            {{country.callingCodes}}
          </div>
        </div>
      </ion-item>
    </div>
  </ion-list>
  <div class="block_no" *ngIf="items.length == 0">
    No Country Found.
  </div>
</ion-content>