<!--
  Generated template for the ApplicationFormPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar>
    <!-- <ion-title>Inventory Booking</ion-title> -->
    <!-- <div class="p_title">Booking Summary <div>Godjet Aqau</div>
    </div> -->
    <!-- <head-bar hTitle="Application Form" [noti]="noti" [heart]="heart" [pin]="pin"></head-bar> -->
    <head-bar hTitle="Booking Summary" [text]="text" [subHeading]="subHeading" subHeadingText="{{subHeadingText}}"
      [image]="image" [noti]="noti" [heart]="heart" [pin]="pin" [menuIcon]="menuIcon"></head-bar>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <div class="infobok">
    <!-- Check all details provided carefully once again to avoid errors. You may click edit to make your changes and then
    proceed to payment. On confirmation of all the details on this page, your inventory will be hold for 20 minutes and
    you will be redirect to the Payment page. However, if payment. -->
    Check all the details provided carefully. Please ensure to make the booking payment in next 5 minutes or else your
    session will expire.
  </div>
  <div class="details">

    <div class="headingText">
      Personal Information
    </div>

    <div class="inforeadonly">
      <div class="infoTitle">Full Name</div>
      <div class="infopdtl">{{enquiryFormData?.name}}</div>
    </div>

    <div class="inforeadonly">
      <div class="infoTitle">Mobile Number</div>
      <div class="infopdtl">{{enquiryFormData?.mobile}}</div>
    </div>

    <div class="inforeadonly">
      <div class="infoTitle">Email ID</div>
      <div class="infopdtl">{{enquiryFormData?.email}}</div>
    </div>

    <!-- <div class="inforeadonly">
      <div class="infoTitle">Communication Address</div>
      <div class="infopdtl">{{enquiryFormData?.permanentAddress}}, {{enquiryFormData?.locality}},
        {{enquiryFormData?.city}}, {{enquiryFormData?.pincode}}</div>
    </div> -->

    <div class="inforeadonly">
      <div class="infoTitle">Communication Address</div>
      <div class="infopdtl">{{enquiryFormData?.communicationHouseNo}}, {{enquiryFormData?.communicationStreet}},
        {{enquiryFormData?.communicationLocality}}, {{enquiryFormData?.communicationCity}},
        {{enquiryFormData?.communicationCountry}}, {{enquiryFormData?.communicationPincode}}</div>
    </div>

    <!-- <div class="inforeadonly">
      <div class="infoTitle">Purpose of Purchase</div>
      <div class="infopdtl">{{enquiryFormData?.purposeOfPurchase}}</div>
    </div> -->

    <div *ngIf="enquiryFormData.applicantlist.length > 0">
      <div *ngFor="let allicant of enquiryFormData.applicantlist; let i = index;">
        <div class="headingText">
          <span *ngIf="i == 0">Second Applicant</span>
          <span *ngIf="i == 1">Third Applicant</span>
        </div>
        <div class="inforeadonly">
          <div class="infoTitle">Full Name</div>
          <div class="infopdtl">{{allicant?.applicantName}}</div>
        </div>
        <div class="inforeadonly">
          <div class="infoTitle">Relationship</div>
          <div class="infopdtl">{{allicant?.appRelationshipWithPriApplicant}}</div>
        </div>
        <div class="inforeadonly">
          <div class="infoTitle">Email ID</div>
          <div class="infopdtl">{{allicant?.applicantEmail}}</div>
        </div>
        <div class="inforeadonly">
          <div class="infoTitle">Mobile Number</div>
          <div class="infopdtl">{{allicant?.countryInitials}}{{allicant?.applicantMobile}}</div>
        </div>
      </div>
    </div>

  </div>

  <div class="flatTitle">Flat Details</div>
  <div class="flatDetails">
    <div class="flatContent">
      <div class="fnamenTitle">
        <div class="fcate">Project Name</div>
        <div class="fanswer">{{projectDetails?.pName}}</div>
      </div>

      <div class="fnamenTitle">
        <div class="fcate">Property Code</div>
        <div class="fanswer">{{projectDetails?.inv.flat_code}}</div>
      </div>

      <div class="fnamenTitle">
        <div class="fcate">Unit No.</div>
        <div class="fanswer">{{projectDetails?.inv.unit_no}}</div>
      </div>

      <div class="fnamenTitle">
        <div class="fcate">
          <!-- Flat Type -->Typology</div>
        <div class="fanswer">{{projectDetails?.inv.typology_tags}}</div>
      </div>

      <div class="fnamenTitle">
        <div class="fcate">
          <!-- Flat No. -->Floor</div>
        <!-- <div class="fanswer">{{projectDetails?.inv.flat_code}}</div> -->
        <div class="fanswer">{{projectDetails?.inv.floor}}</div>
      </div>

     <!--  <div class="fnamenTitle">
        <div class="fcate">Tower Code</div>
        <div class="fanswer">{{projectDetails?.inv.tower_code}}</div>
      </div> -->

      <div class="fnamenTitle">
        <div class="fcate">Tower<!-- Tower Name --></div>
        <div class="fanswer">
          {{projectDetails?.inv.tower}}
        </div>
      </div>

      <div class="fnamenTitle">
        <div class="fcate">Carpet Area (sq. mt)</div>
        <div class="fanswer">
          {{projectDetails?.inv.carpet_area}}
        </div>
      </div>

      <div class="fnamenTitle">
        <div class="fcate">
          <!-- Total Consideration Cost -->Total Price</div>
        <!-- <div class="fanswer"><img src="assets/imgs/rupee-indian.png">{{parameter.data.curl_response.project_stock.total_price | number:'.2'}}</div> -->
        <div class="fanswer"><span
            class="pricesymbol">&#8377;</span>{{storageProvider.getIndianCurrencyFormat(parameter.data.curl_response.project_stock.total_price)}}
        </div>
      </div>
      <!-- <div class="Flatcost">
        Flat Details
        <div>
          <img src="assets/imgs/rupee-indian-blue.png">{{parameter.data.curl_response.project_stock.total_price}}</div>
        <div class="clearfix"></div>
      </div> -->
      <div class="Flatcost">
        Booking Amount
        <div>
          <!-- <img src="assets/imgs/rupee-indian-blue.png">{{parameter.data.curl_response.project_stock.booking_amount | number:'.2'}} -->
          <span
            class="pricesymbol">&#8377;</span>{{storageProvider.getIndianCurrencyFormat(parameter.data.curl_response.project_stock.booking_amount)}}
        </div>
        <div class="clearfix"></div>
      </div>

    </div>
  </div>

  <!-- <div class="payplan">
    <ion-header class="headingEn" (click)="toggleFooter('terms')">
      <ion-toolbar>
        <ion-title class="termstitle">Terms & Conditions
          <div class="iconheding">
            <img *ngIf="footerAccordian.terms" src="assets/imgs/substract.svg">
            <img *ngIf="!footerAccordian.terms" src="assets/imgs/add.svg">
          </div>
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <div class="termcont" *ngIf="footerAccordian.terms">
      <div [innerHTML]="termsData">

      </div>
    </div>
  </div>

  <div class="terms_checkbox">
    <div class="centercheck">
      <div class="icon_checkbox">

        <div name="md-checkmark-circle-outline" [ngClass]="{'chechbox': temsCheck, 'notchecked': temsCheck == false }"
          (click)="checkboxTerms()"></div>
      </div>
      <div class="terms_condition">
        <span class="text_terms">
          I accept
          <span class="termsOfUse" (click)="toggleFooter('termsfooter')"> Terms &
            Conditions</span>
        </span>
      </div>
    </div>
  </div>

  <div class="error">
    <div *ngIf="termsError" class="trms_err">
      Please check the terms and condition
    </div>
  </div> -->

  <button ion-button round class="button_pay btn-grey commonButnClass" style="width: 100%"
    (click)="editEnquiry()">Edit</button>
  <button ion-button round class="button_pay commonButnClass" style="width: 100%" (click)="goToPay()">Proceed To Payment
  </button>
</ion-content>