page-application-form {
  
  .pricesymbol {
    font-weight: 600;
    margin-right: 2px;
    color: inherit;
  }
  head-bar .text {
    margin-top:0 !important;
  }
  .infobok {
    color:#5a5a5a;
    font-size:12px;
    line-height:18px;
    margin-bottom: 20px;
  }
  .p_title {
    div {
      color: #9E9E9E;
    }
  }
  .details {
    .headingText {
      color: #37b0de;
    }
    .inforeadonly {
      margin:15px 0 5px;
      .infoTitle {
        color:#999; 
        font-size:12px; 
      }
      .infopdtl {
        color: #000000;
        font-size: 14px;
        border-bottom: 1px solid #dddddd;
        margin:9px 0;
        padding: 0 0 3px;
      }
    }
  }
  .flatTitle {    
    background-color: #37b0de;
    color: #ffffff;
    font-size: 17px;
    font-weight: normal;
    padding: 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin: 30px 0 0;
  }
  .flatDetails {
    border:1px solid #dddddd;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-bottom: 25px;
    .flatContent {
      padding:15px;
      .fnamenTitle {
        margin-bottom:10px;
        &:after,
        &:before {
          display: table;
          content:"";
          clear: both;
        }
        .fcate {
          color: #999;
          font-size: 12px;
          float: left;
          width:60%;
        }
        .fanswer {
          float: left;
          width:40%;
          img {
            width:10px;
          }
        }
      }
      .Flatcost {
        color: #000000;
        font-size: 16px;
        border-top: 1px solid #999;
        padding: 12px 0;
        margin: 20px 0 5px;
        div  {
          color: #37b0de;
          float: right;
          //width:46%;
          width:40%;
          text-align:left;
          img {
            margin:0;
            width:12px;
          }
        }
      }
    }
  }
  .btn-grey {
    background-color:#E0E0E0;
    border-color:#E0E0E0;
    color:#333333;
    margin-bottom:25px;
  }
  .commonButnClass{
    text-transform: none;
  }
  .float-left{
    float: left;
    margin: 5px;
  }
  .title{
    float: left;
    margin: 5px;
  }

  .thin-border{
    float: left;
    border: 0.3px solid #dad2d2;
    width: 46%;
    margin-top: 12px;
    margin-left: 2px;
  }
  .arrow-caraousel{
    margin-top: 5px;
    margin-left: 5px;
    color: #ccc;
    float: right;
    margin-right: 14px;
  }
  .projectDetails{
    width: 100%;
    float: left;
  }
  .left{
    float: left;
    width: 50%;
    margin-bottom: 5px;
  }
  .right{
    float: right;
    width: 50%;
    text-align: right;
    margin-bottom: 5px;
  }
  .download{
    background-color: #ddd;
    /* text-align: center; */
  }
  .download_icon{
    font-size: 35px;
    margin: 15px;
    font-weight: lighter;
    color: #000;
    float: left;
    margin-left: 60px;
  }
  .text{
    float: left;
    /* margin: 25px; */
    text-align: left;
    margin-top: 25px;
  }
  >
  .button_pay{
    width: 100%;
  }
  @media screen and (max-width: $break-smaller) {
    .flatDetails .flatContent .Flatcost {
      font-size:13px;
      div {
        width:50%;
      }
    }
    .fanswer {font-size:12px;}
  }
}
.clearfix {  
  &:after,
  &:before {
    display: table;
    content:"";
    clear: both;
  }
}


.terms_checkbox{
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
  font-size: 15px;
  float: left;
  width: 100%;
  &.login {
    margin-top:0;
  }    
  padding-left:0;
  .centercheck {
    display: inline-block;
    position: relative;
    padding-left:26px;
    .terms_condition {
      width:100%;
      margin:0;
    }
  }
  .icon_checkbox{
    margin-left: 0;  
    position: absolute;
    left:0;
    top:-1px;
    div {
      background:transparent url(../assets/imgs/check_icon.png) no-repeat center center / cover;
      width:20px;
      height:20px; 
    }
    .chechbox {
      background:transparent url(../assets/imgs/checked_icon.png) no-repeat center center / cover;
      width:20px;
      height:20px;        
    }
    .notchecked {
      background-image:url(../assets/imgs/check_icon.png);
    }    
  }
}

.error{
  margin-left: 1px;
  margin-top: 5px;
  color: #f00;
}

.trms_err {
  padding-left: 0;
  text-align: center;
  padding-bottom: 10px;
}



.headingEn {
  background:#0077B9;
  position: relative;
  padding: 0 10px;
  .toolbar-background {
    background-color:inherit;
  }
  .termstitle{
    width: 100% !important;
  }
  .toolbar-title {
    color:#ffffff;
    position: relative;
    font-size: 14px;
    padding-right: 30px;
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: inherit;
    white-space: normal;
    .iconheding {
      position: absolute;
      right: 10px;
      top: -1px;
      img {
        width:18px;
      }
    }
  }
}

.payplan {
  border:1px solid #D6D6D6;
  margin-bottom:30px;
  .headgrey {
    background-color: #F2F2F2;
    padding: 20px 26px  15px;
  }
  .dtl {
    display: flex;    
    display: table;
    width: 100%;
    div {
      width: 190px;
      padding-right: 20px;
      color: #000;
      font-weight: bold;
      p {
        display: block;
        font-weight:normal;
        margin:2px 0 0;
      }
    }
    span {
      color:#616060;
      vertical-align: middle;
      display: table-cell;
      height: 100%;
     // width: 90px;
     width:114px;
     &.wprice {
     /*  padding-left:13px; */
      position: relative;
      .pricesymbol {
        display: inline;
        width: auto;
        height: auto;
        font-weight: 600;
        color: #404040;
        position: relative;
        top: 1px;
        font-size: 16px;
        line-height: 22px;
        margin-right: 2px;
      }
      img {
        position: absolute;
        left:0;
        top: 21px;
        width: 11px;
      }
      }
    }
  }
  .dtlList {
    padding: 0 26px;
    .dtl {
      border-top:1px solid #e4e4e4;
      padding:13px 0;
      
    }
    span {
      vertical-align: middle;
      display: table-cell;
    }
    &:nth-child(2) {
      .dtl {
        border-top:0 none;
        
      }
    }
    &:first-child {
      background-color: #f2f2f2;
      .dtl {
        border-top:0 none;
        
      }
    }
    &.booking_amount {
      .dtl {
        border-top:1px dashed #cccccc;
        margin-top: 10px;
        padding-top: 20px;
        .bkamnt {
          margin: 3px 0 0;
          color: #0077B9;
          font-size: 26px;
          width:100%;          
          .pricesymbol {
            position: relative;
            width: auto;
            height: auto;
            display: inline;
            color: inherit;
            top: 0;
            margin-right: 3px;
            font-weight: 600;
          }
          img {
            margin: 0 3px 0 0;
            position: relative;
            top: -1px;
            width: 12px;
          }
        }
      }
    }    
  } 
} 

.termcont {
  padding: 15px;
  line-height: 23px;
  font-size: 14px;
  color: #232323;
}