page-payment {
  
  .pricesymbol {
    font-weight: 600;
    margin-right: 2px;
    color: inherit;
    //float: left;
    position: relative;
    top: 0;
  }
  .left{
    float: left;
    width: 50%;
    margin-bottom: 5px;
    border-bottom-left-radius: 3px;
  }
  .right{
    float: right;
    width: 50%;
    text-align: right;
    margin-bottom: 5px;
    border-bottom-right-radius: 3px;
  }
  .float-left{
    float: left;
    margin: 5px;
  }
  .title{
    float: left;
    margin: 5px;
  }

  .thin-border{
    float: left;
    border: 0.3px solid #dad2d2;
    width: 46%;
    margin-top: 12px;
    margin-left: 2px;
  }
  .arrow-caraousel{
    margin-top: 5px;
    margin-left: 5px;
    color: #ccc;
    float: right;
    margin-right: 14px;
  }
  .projectDetails{
    width: 100%;
    float: left;
  }
  .background .image{
    width: 12px
  }
  .background{
    background-color: #ddd;
  }
  .image{
    margin-top: 5px;
    margin-left: 48px;
  }
  .amount{
    float: left;
    margin-left: 15px;
    margin-top: -17px;
    margin-left: 60px;
  }
  .name{
    font-size: 20px;
    width: auto;
  }
  .margin-left{
    margin-left:10px
  }
  .width-10{
    width: 10px
  }
  .float-right{
    float: right;
    color: #37b0de;
  }
  .image{
    width: 12px;
  }
  .booking_price{
    background-color: #ddd;
  }
  .div{
    height: 50px;
    font-size: 16px;
  }
  .basic-sale-price{
    margin-left: 10px;
    margin-top: 18px;
    font-size: 16px;
    float: left;
  }
  .book_image{
    margin-top: 3px;
    margin-right: 2px;
    float: left;
  }
  .price{
    float: left;
    margin-top: 15px;
    margin-left: 48px;
  }
  .terms_checkbox{
    margin: 15px;
  }
  .chechbox{
    color: #5bde55;
    font-size: 25px;
  }
  .notchecked{
    color: #879086;
    font-size: 25px;
  }
  .icon_checkbox{
    float: left;
    margin: 6px;
  }
  .text_terms{
    color: #af9b9b;
    font-size: 12px;
  }
  .pro_pay{
    width: 100%
  }
  .amount_price{
    float: right;
  }

  .infobok {
    color:#5a5a5a;
    font-size:12px;
    line-height:18px;
    margin-bottom: 20px;
  }
  .details {
    .headingText {
      color: #37b0de;
    }
    .inforeadonly {
      margin:15px 0 5px;
      .infoTitle {
        color:#999; 
        font-size:12px; 
      }
      .infopdtl {
        color: #000000;
        font-size: 14px;
        border-bottom: 1px solid #dddddd;
        margin:9px 0;
        padding: 0 0 3px;
      }
    }
  }
  
  .btn-grey {
    background-color:#E0E0E0;
    border-color:#E0E0E0;
    color:#333333;
    margin-bottom:25px;
  }
  
  .flatDetails.filldesk {
    border:1px solid #37b0de;
    background-color:#37b0de;
    border-radius: 4px;
    margin-bottom: 25px;
    color:#ffffff;
    
    .flatContent {
      padding:15px;          
      .flatTitle {    
        background-color: #37b0de;
        color: #ffffff;
        font-size: 18px;
        font-weight: normal;
        padding: 0 5px 15px;
        margin: 0 0 18px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.38);
      }
      .fnamenTitle {
        margin-bottom:10px;
        &:after,
        &:before {
          display: table;
          content:"";
          clear: both;
        }
        .fcate {
          color: rgba(255, 255, 255, 0.77);
          font-size: 12px;
          float: left;
          width:60%;
        }
        .fanswer {
          float: left;
          width:40%;

        }
      }
      .Flatcost {
        color: #ffffff;
        font-size: 17px;
        border-top: 1px solid rgba(255, 255, 255, 0.38);
        padding: 12px 0 0;
        margin: 20px 0 0;
        div  {
          float: right;
          width:40%;
          text-align:left;
          img {
            margin:0;
            width:12px;
            float: left;
            position: relative;
            top: 3px;
          }
          div {
            width:auto;
            float: left;
          }
        }
      }
    }
  }
  .gpt30 {margin-top:30px;}

  @media screen and (max-width: $break-mobileportraight) {
    .flatDetails.filldesk .flatContent .Flatcost {font-size:13px;}
  }
}
