<!--
  Generated template for the PaymentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <!-- <head-bar hTitle="Payment" [noti]="noti" [heart]="heart" [pin]="pin" ></head-bar> -->
        <head-bar hTitle="Booking Confirmation" [text]="text" [subHeading]="subHeading"
            subHeadingText="{{parameter?.proj_name}}" [image]="image" [noti]="noti" [heart]="heart" [pin]="pin"
            [menuIcon]="menuIcon"></head-bar>
    </ion-navbar>

</ion-header>


<ion-content padding id="print-section">
    <div class="infobok">
        Congratulations and welcome to the Godrej Family. Appended below are the booking details of your chosen unit and
        the payment confirmation. We hope that this was a convenient booking process.
    </div>


    <div class="flatDetails filldesk">
        <div class="flatContent">
            <div class="flatTitle">Flat Details</div>
            <div class="fnamenTitle">
                <div class="fcate">Project Name</div>
                <div class="fanswer">{{parameter?.proj_name}}</div>
            </div>

            <div class="fnamenTitle" *ngIf="
            fromPage == 'ApplicationFormPage' && parameter.unit_no && parameter.unit_no!=''">
                <div class="fcate">Unit No.</div>
                <div class="fanswer">
                    <div *ngIf="parameter.unit_no && parameter.unit_no!=''">
                        {{parameter.unit_no}}
                    </div>
                    <div *ngIf="!parameter.unit_no || parameter.unit_no==''">
                        NA
                    </div>
                </div>
            </div>

            <div class="fnamenTitle" *ngIf="parameter.tower_name && parameter.tower_name!=''">
                <div class="fcate">Tower<!-- Tower Name --></div>
                <div class="fanswer">
                    <div *ngIf="parameter.tower_name && parameter.tower_name!=''">
                        {{parameter.tower_name}}
                    </div>
                    <div *ngIf="!parameter.tower_name || parameter.tower_name==''">
                        NA
                    </div>
                </div>
            </div>

            <div class="fnamenTitle" *ngIf="parameter.typology && parameter.typology!=''">
                <div class="fcate">Typology</div>
                <div class="fanswer">
                    <div *ngIf="parameter.typology && parameter.typology!=''">
                        {{parameter.typology}}
                    </div>
                    <div *ngIf="!parameter.typology || parameter.typology==''">
                        NA
                    </div>
                </div>
            </div>

            <!-- <div class="fnamenTitle">
                <div class="fcate">Plot Type</div>
                <div class="fanswer">
                    <div *ngIf="parameter.Plot_Type && parameter.Plot_Type!=''">
                        {{parameter.Plot_Type}}
                    </div>
                    <div *ngIf="!parameter.Plot_Type || parameter.Plot_Type==''">
                        NA
                    </div>
                </div>
            </div> -->

            <!-- <div class="fnamenTitle">
                <div class="fcate">Phase</div>
                <div class="fanswer">
                    <div *ngIf="parameter.Phase && parameter.Phase!=''">
                        {{parameter.Phase}}
                    </div>
                    <div *ngIf="!parameter.Phase || parameter.Phase==''">
                        NA
                    </div>
                </div>
            </div> -->

            <div class="fnamenTitle">
                <div class="fcate">Transaction ID</div>
                <div class="fanswer">
                    <!-- {{parameter.Phase}} -->
                    <div *ngIf="parameter.Transaction_ID && parameter.Transaction_ID!=''">
                        {{parameter.Transaction_ID}}
                    </div>
                    <div *ngIf="!parameter.Transaction_ID || parameter.Transaction_ID==''">
                        NA
                    </div>
                </div>
            </div>
            <div class="Flatcost">
                Amount
                <div>
                    <div *ngIf="parameter.Amount && parameter.Amount!=''">
                        <!-- {{parameter.Amount | number:'.2'}}  -->
                        <span
                            class="pricesymbol">&#8377;</span>{{storageProvider.getIndianCurrencyFormat(parameter.Amount)}}
                    </div>
                    <div *ngIf="!parameter.Amount || parameter.Amount==''">
                        NA
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>

    <div class="details">
        <div class="headingText">
            Personal Information
        </div>

        <div class="inforeadonly">
            <div class="infoTitle">Full Name</div>
            <div class="infopdtl">
                <!-- {{parameter.field_name}} -->
                {{ fullName }}
            </div>
        </div>

        <div class="inforeadonly">
            <div class="infoTitle">Email ID</div>
            <div class="infopdtl">
                <div *ngIf="parameter.field_email && parameter.field_email!=''">
                    {{parameter.field_email}}
                </div>
                <div *ngIf="!parameter.field_email || parameter.field_email==''">
                    NA
                </div>
            </div>
        </div>

        <div class="inforeadonly">
            <div class="infoTitle">Mobile Number</div>
            <div class="infopdtl">
                <div *ngIf="parameter.field_mobile_no && parameter.field_mobile_no!=''">
                    {{parameter.field_mobile_no}}
                </div>
                <div *ngIf="!parameter.field_mobile_no || parameter.field_mobile_no==''">
                    NA
                </div>
            </div>
        </div>

        <div class="inforeadonly">
            <div class="infoTitle">Date of Birth</div>
            <div class="infopdtl">
                <div *ngIf="parameter.field_dob && parameter.field_dob!=''">
                    {{parameter.field_dob | date: 'dd MMM yyyy'}}
                </div>
                <div *ngIf="!parameter.field_dob || parameter.field_dob==''">
                    NA
                </div>
            </div>
        </div>

        <div class="inforeadonly">
            <div class="infoTitle">Communication Address</div>
            <div class="infopdtl">
                <div *ngIf="parameter.field_address && parameter.field_address!=''">
                    {{parameter.field_address}}
                </div>
                <div *ngIf="!parameter.field_address || parameter.field_address==''">
                    NA
                </div>
            </div>
        </div>

        <div class="inforeadonly">
            <div class="infoTitle">Pin Code</div>
            <div class="infopdtl">
                <div *ngIf="parameter.field_pincode  && parameter.field_pincode !=''">
                    {{parameter.field_pincode}}
                </div>
                <div *ngIf="!parameter.field_pincode  || parameter.field_pincode ==''">
                    NA
                </div>
            </div>
        </div>

        <div class="inforeadonly">
            <div class="infoTitle">City</div>
            <div class="infopdtl">
                <div *ngIf="parameter.field_city && parameter.field_city!=''">
                    {{parameter.field_city}}
                </div>
                <div *ngIf="!parameter.field_city || parameter.field_city==''">
                    NA
                </div>
            </div>
        </div>

        <div class="inforeadonly">
            <div class="infoTitle">Country</div>
            <div class="infopdtl">
                <div *ngIf="parameter.field_country && parameter.field_country!=''">
                    {{parameter.field_country}}
                </div>
                <div *ngIf="!parameter.field_country || parameter.field_country==''">
                    NA
                </div>
            </div>
        </div>

        <div class="inforeadonly">
            <div class="infoTitle">PAN Number</div>
            <div class="infopdtl">
                <div *ngIf="parameter.pan_no && parameter.pan_no!=''">
                    {{parameter.pan_no}}
                </div>
                <div *ngIf="!parameter.pan_no || parameter.pan_no==''">
                    NA
                </div>
            </div>
        </div>

        <div *ngIf="parameter.applicants != null && parameter.applicants.length > 0">
            <div *ngFor="let allicant of parameter.applicants; let i = index;">
                <div class="headingText">
                    <span *ngIf="i == 0">Second Applicant</span>
                    <span *ngIf="i == 1">Third Applicant</span>
                </div>
                <div class="inforeadonly">
                    <div class="infoTitle">Full Name</div>
                    <div class="infopdtl">{{allicant?.field_name}}</div>
                </div>
                <div class="inforeadonly">
                    <div class="infoTitle">Relationship</div>
                    <div class="infopdtl">{{allicant?.field_relation}}</div>
                </div>
                <div class="inforeadonly">
                    <div class="infoTitle">Email ID</div>
                    <div class="infopdtl">{{allicant?.field_email}}</div>
                </div>
                <div class="inforeadonly">
                    <div class="infoTitle">Mobile Number</div>
                    <div class="infopdtl">{{allicant?.field_mobile_no}}</div>
                </div>
            </div>
        </div>

    </div>

    <!-- <button ion-button round class="pro_pay btn-grey">Print</button> -->

    <button ion-button round class="pro_pay" [disabled]="temsCheck == false" (click)="sendemailinvoice()">Email</button>
</ion-content>