<ion-menu [content]="content">
  <!-- <ion-header>
    <ion-toolbar>
      <ion-title>Pages</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-content>
    <ion-list class="menutop">
      <div class="profile_image" [ngClass]="{'noBorder': userPic == ''}">
        <!-- <img class="imageshow" *ngIf="userPic != '' " src="{{userPic}}" alt=""> -->
        <img class="imageshow" menuClose (click)="openPage(pages2[2])"
          *ngIf="userPic != '' && isGuest != '1' && isCustomer == '0'" src="{{userPic}}" alt="">
        <img class="imageshow" menuClose (click)="openPage(pages2[2])"
          *ngIf="userPic != '' && isGuest != '1' && isCustomer == '1'" src="{{userPic}}" alt="">
        <div class="initials" menuClose (click)="openPage(pages2[2])"
          *ngIf="userPic == '' && isGuest != '1' && isCustomer == '0'">
          <div>
            <div>{{nameInitials}}</div>
          </div>
        </div>
        <div class="initials" menuClose (click)="openPage(pages2[2])"
          *ngIf="userPic == '' && isGuest != '1' && isCustomer == '1'">
          <div>
            <div>{{nameInitials}}</div>
          </div>
        </div>
        <div class="initials" *ngIf="isGuest == '1'">
          <div>
            <div>GU</div>
          </div>
        </div>
      </div>
      <div class="userDetails">
        <div class="usrName">
          <div class="avname" menuClose (click)="openPage(pages2[2])" *ngIf="isGuest != '1' && isCustomer == '0'">
            {{profileDetails?.data?.first_name}} {{profileDetails?.data?.last_name}}
          </div>
          <div class="avname" menuClose (click)="openPage(pages2[2])" *ngIf="isGuest != '1' && isCustomer == '1'">
            {{profileDetails?.data?.first_name}} {{profileDetails?.data?.last_name}}
          </div>
          <div class="avname" *ngIf="isGuest == '1'">
            Guest
          </div>
          <div class="edit" menuClose (click)="openPage(pages2[2])" *ngIf="isGuest != '1' && isCustomer == '0'">
            <!-- <ion-icon name="md-create"></ion-icon> -->
            <img src="assets/imgs/penicon.png" alt="">
          </div>
          <div class="edit" menuClose (click)="openPage(pages2[2])" *ngIf="isGuest != '1' && isCustomer == '1'">
            <!-- <ion-icon name="md-create"></ion-icon> -->
            <img src="assets/imgs/penicon.png" alt="">
          </div>
          <div class="phoneNumber" *ngIf="isGuest != '1'">
            <div class="icon">
              <ion-icon name="ios-phone-portrait-outline"></ion-icon>
            </div>
            <div class="mobile">
              {{profileDetails?.data?.mob_no}}
            </div>
          </div>
          <div class="lastVisited">
            Last visited {{date}} {{month}} {{year}} {{time | date:'HH:mm'}}
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </ion-list>

    <ion-list class="menus">
      <div ion-item *ngFor="let p of pages2; let i=index;" class="buttonMenu" [ngClass]="{'active': p.click == true}">
        <div class="mainmenu" menuClose *ngIf="p.title !='My Properties'" (click)="openPage(p)">
          <div class="menuicon">
            <img src="{{p.icon}}" alt="">
          </div>
          <div class="menutxt">{{p.title}}</div>
          <!-- <div class="clearfix"></div> -->
        </div>
        <div class="mainmenu" *ngIf="p.title =='My Properties'" (click)="openPage(p)">
          <div class="menuicon">
            <img src="{{p.icon}}" alt="">
          </div>
          <div class="menutxt">{{p.title}}</div>
          <!-- <div class="clearfix"></div> -->
        </div>
        <div class="submenu" *ngIf="p?.submenu.length >0">
          <div class="iconDown" (click)="showSubMenu()">
            <ion-icon name="ios-arrow-down-outline" [ngClass]="{'upArrow': showSubmenu== true}" class="arrowCustom">
            </ion-icon>
          </div>
          <div *ngIf="showSubmenu">
            <div class="subLoop" *ngFor="let sub of p.submenu" [ngClass]="{'active': sub.click == true}">
              <div class="menuName" menuClose (click)="openPage(sub)">
                <ion-icon name="md-arrow-dropright"></ion-icon> &nbsp;{{sub.title}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="appdetails">
        <p>{{ buildType }} &nbsp;<b>v{{ appVersionNumber }}</b></p>
      </div>
    </ion-list>

    <div class="social_btn_div">
      <div class="linkwrp">
        <div class="socialbtn" (click)="openSocialLink('https://www.youtube.com/godrejpropertiesIN')">
          <img src="assets/imgs/youtube-icon.svg">
        </div>
        <div class="socialbtn" (click)="openSocialLink('https://www.linkedin.com/company/godrejproperties')">
          <img src="assets/imgs/linkedin-icon.svg">
        </div>
        <div class="socialbtn" (click)="openSocialLink('https://twitter.com/GodrejProp')">
          <img src="assets/imgs/twitter-icon.svg">
        </div>
        <div class="socialbtn" (click)="openSocialLinkFB()"> <!-- openSocialLink('https://www.facebook.com/godrejproperties/')" -->
          <img src="assets/imgs/facebook-icon.svg">
        </div>
        <div class="socialbtn" (click)="openSocialLink('https://www.instagram.com/godrejpropertiesltd/')">
          <img src="assets/imgs/instagram-icon.svg">
        </div>
      </div>
    </div>
  </ion-content>

  <input type="hidden" id="DeviceId" value="{{P5AppDeviceInfo?.DeviceId}}">
  <input type="hidden" id="CarrierName" value="">
  <input type="hidden" id="Locality" value="{{P5AppDeviceInfo?.Locality}}">
  <input type="hidden" id="City" value="{{P5AppDeviceInfo?.City}}">
  <input type="hidden" id="State" value="{{P5AppDeviceInfo?.State}}">
  <input type="hidden" id="Country" value="{{P5AppDeviceInfo?.Country}}">
  <input type="hidden" id="CountryCode" value="{{P5AppDeviceInfo?.CountryCode}}">
  <input type="hidden" id="Latitude" value="{{P5AppDeviceInfo?.Latitude}}">
  <input type="hidden" id="Longitude" value="{{P5AppDeviceInfo?.Longitude}}">

</ion-menu>
<ion-nav #content [root]="rootPage"></ion-nav>