// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-content {
  .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: #2C93D2;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
}
.item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner {
  border-bottom: 1px solid #2c99d6 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.item-input-has-focus .label-md[stacked], .input-has-focus .label-md[stacked], .item-input-has-focus .label-md[floating], .input-has-focus .label-md[floating] {
  color:#000000;
}
.profile_image{
  width: 70px;
  margin: 20px;
  height: 70px;
  border-radius: 50%;
  float: left;
  border:4px solid #d8d6d6;
}
.imageshow{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.userDetails{
  margin-top: 15px;
  float: left;
  width: 62%;
  .phoneNumber {
    margin:0 0 9px;
  }
}
.usrName{
  width: 100%;
  margin-top: 0;
  margin-bottom: 4px;
  .avname {
    padding: 9px 0 7px;
    position: relative;
    z-index: 1;
    max-height: 49px;
    overflow: hidden;
  }
 }
 
.icon{
  float: left;
  margin-bottom: 4px;
}
.mobile{
  width: 61%;
  margin-left: 11px;
  margin-bottom: 4px;
  color: #8c7878;
}
.lastVisited{
  color: #8c7878;
}
.edit{
  float: right;
  font-size: 24px;
  margin: 5px;
  color: #62b99a;
  img {
    width:22px;
  }
}
.buttonMenu{
  // background-color: #37b0de !important;
  color: #fff;
}
.list-ios .item-block .item-inner,
.list-md .item-block .item-inner{
  border-bottom:1px solid #c5c7d2 !important;
}
ion-menu {
  .menu-inner {
    background-color: #f5f5f5 !important;
    .scroll-content {
      padding-bottom:0 !important;
      height:100%;
      background:#2585bb url("../assets/imgs/menu-bg.jpg") no-repeat top center / cover;
    }
  }
}
.menutop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 9999;
  padding-bottom: 10px;
  height: 137px;
  overflow: hidden;
}
.menus{
// background:#2585bb url("../assets/imgs/menu-bg.jpg") no-repeat top center / cover;
//margin-top: 45%;
margin-bottom: 0;
padding-bottom: 20px;
height: 100%;
padding-top: 136px;
padding-bottom: 39px;
position: absolute;
top: 0;
left: 0;
width: 100%;
margin: 0;
box-sizing: border-box;
overflow-x: hidden;
overflow-y: auto;

  .buttonMenu {
    background-color: transparent;

    .item-inner {
      border:0 none !important;
      padding: 0;
      .label-md,
      .label-ios {
        padding: 0;
        margin: 0;
        .mainmenu {
          position: relative;
          padding:13px 10px;
          &:hover {
            background-color: #105b86;
          }
          .menuicon {
              width: 27px;
              float: left;
              margin-right: 9px;
              margin-top: -3px;
          }
          .menutxt {
              padding-top: 4px;
          }
        }
        .submenu {
          .arrowCustom {
            position: relative;
            top: -10px;
            right: 11px;
            margin-top: -19px;
          }
          .subLoop {
            margin:0;
            background-color:rgba(65,163,219,0.36);
            .menuName {
              float: none;
              font-size:90%;
              font-weight:normal;
              margin:0;
              background-color: transparent;
              padding:10px 15px;
              .icon {
                font-size: 0.8em;
                position: relative;
                top: 4px;
                margin-right: 3px;
              }
            }
            & + .subLoop {
              margin-top:2px;
            }
          }
        }

      }
    }
  }
}
.upArrow{
  transform: rotate(180deg);
}
.submenu{
  float: right;
  margin-top: -5px;
}
.arrowCustom{
  float: right;
  margin-top: -10px;
}
.submenu{
  float: left;
  width: 100%;
}
.menuName{
  float: left;
  width: 100%;
  margin: 5px;
  background-color: #208db7;
}
.initials{
  height: 100%;
  width: 100%;
  background-color: #800080;
  text-align: center;
  line-height: 26px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50%;
  color: #fff;
  div {
    display: table;
    width:100%;
    height:100%;
    vertical-align:middle;
    text-align:center;
    div {
      display: table-cell;
      width:100%;
      height:100%;
      vertical-align:middle;
      text-align:center;
    }
  }
}
.active{
  background-color: #4e97b3 !important;
}
.picker-md .picker-wrapper{
  width: 85% !important;
  top: 4% !important;
}
.picker-md .picker-opt.picker-opt-selected {
  border-top: 1px solid #488aff;
  border-bottom: 1px solid #488aff;
  color:#000;
}
.picker-md .picker-opt{
  color: #a59e9e;
}
.clearfix::after,
.clearfix::before {
  display: table;
  clear: both;
  content:"";
}

.noBorder{
  border: none !important;
}

$break-small: 340px;

@media screen and (max-width: $break-small) {
  .profile_image {
    width: 60px;
    margin: 15px 15px 15px 7px;
    height: 60px;
  }
  .mobile {
    width: 67%;
  }
}

// @media screen and (max-width: $break-tablet) {
//    .menus .buttonMenu:last-child {
//     border-bottom:0 none !important;
//   }
// }
.shareIcon,
.heartIcon {
  img {
    width:23px;
  }
}
.social_btn_div {
  background-color: #004e79;
  height: auto !important;
  //padding: 16px 15px 7px;
  padding: 4px 15px;
  h4 {
    margin: 0;
    color: #e2e2e2;
    font-size: 15px;
    line-height: 21px;
    font-weight: normal;
    text-transform: none;
  }
  .linkwrp {
    display: flex;
    padding-top: 4px;
    text-align: center;
    align-items: center;
    justify-content: center;
    .socialbtn {
      width: 24px;
      padding: 0;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0 14px;
      /*
      width: 33px;
      height: 33px;
      padding: 0;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin-right: 11px;
      background-color: #1e81b8;
      border-radius: 100%;
      overflow: hidden;
      position: relative
      */
      img {
        max-width:100%;
        width:auto;
        opacity: 0.65;
        /*
        max-width: 50%;
        width: auto;
        opacity: 0.65;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        */
      }
    }
  }
}
$break-mobileportraight:479px;
$break-smaller: 350px;
@media screen and (max-width: $break-smaller) {
  .imageFlag {
    width:25% !important;
  }  
  .error   {
    font-size: 11px;
  }
  .cntNumber .item-inner .countryInitials .downArr ion-icon {
    font-size:20px !important;
  }
  .indiProperty {
    margin-left:23px !important;
  }
}
.error {
  font-size:12px;
}


.toast-css-class {
  .toast-wrapper {
  opacity: 0.7;
  text-align: center;
  margin: 70px auto;
  max-width: 92%;
  border-radius: 50px;
  background-color: #000000;
  }
  .toast-message {
  color: #FFFFFF;
  }
  }

.body_ajax_overlay .loader { 
  position: absolute; 
  left: 4px; 
  top: 4px; 
  transform: translate(-50%,-50%);
}
@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); }
}
.loader {
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top:3px solid #46a8df;
  border-right: 3px solid #93bc3d;
  border-bottom: 3px solid #c72b6d;
  width: 40px;height: 40px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
.loading-md .loading-wrapper{
  background:transparent !important;
  border-radius: 0 !important;
  max-width: 0 !important;
  max-height: 0 !important;
  -webkit-box-shadow: none !important;
}
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

// $break-tablet: 600px;
// @media screen and (min-width: $break-tablet) {
//   ion-label {font-size:1.5em;}
// }

.social_btn_div {
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
}

.social_btn {
  padding: 10px;
  float: left;
}


.appdetails{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 27px;
  padding: 8px; 
  color: #FFFFFF;
  text-align: left;
}
.pricesymbol {
  font-family: 'Hind',sans-serif !important;
  font-weight: 500;
}
.d-flex {
  display: flex;
}
.align-items-center {
  -ms-flex-align: center!important;
  align-items: center!important;
}
.appdetails-padd {display: none;}

.progress-outer {
  margin: 10px auto !important;
  .progress-inner {
      padding: 2px 5px;
      font-size: 10px;
      line-height: 9px;
  }
}
.bulletinsrc .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  box-shadow: 0 0 0px 2px rgba(255, 255, 255, 0.41);
  opacity: 1;
  background-color: #272727;
  }
  .bulletinsrc .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet-active {
  background: #007aff !important;
  opacity: 1;
  }
$break-mobilelandscape:478px;
@media screen and (max-height: $break-mobilelandscape) {
  
  
  .appdetails {
    display: none !important;
  }


}
