page-inventory-details {
  .pricesymbol {
    font-weight: inherit;
    margin-right: 2px;
    color: inherit;
  }
  .card-content-md {
    padding-right:10px;
    padding-left:10px;
  }
  .card {
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    margin-left: auto !important;
    margin-right: auto !important;
    width: 100%;
    margin-bottom: 20px;
  }
  .cardststs {
    position: relative;
    display: flex;
    float: none !important;
    padding-right: 39%;
    .plus.arrow-caraousel {
      position: absolute;
      right: -4px;
      top: -4px;
    }
    &.noplus {
     // padding-right: 0;
      .price {
        padding-right: 10px;
      }
    }
  }
  .iconsrc {
    display: inline-block;
    img {
      width: 15px;
      margin: 0 4px -2px 4px;
    }
  }
  .couponText {
    float: left;
    width: auto;
    margin-top: 18px;
    padding-right: 4px;
}
   .text{
    float: left !important;
    width: 100% !important;
    color:#000;
    margin-top: 0 !important;
  }
  .float-left{
    float: left;
    margin: 5px;
  }
  .title{
    float: left;
    margin: 5px;
    font-size: 15px;
    font-weight: bold;
  }

  .thin-border{
    float: left;
    border: 0.3px solid #dad2d2;
    width: 46%;
    margin-top: 12px;
    margin-left: 2px;
  }

  .arrow-caraousel{
    margin-top: 5px;
    margin-left: 5px;
    color: #ccc;
    float: right;
    margin-right: 14px;
  }

  .projectDetails{
    width: 100%;
    float: left;
    padding:6px 0;
  }
  .detailbox {
    position: relative;
    display: flex;
    padding-right:39%;
    .left {
      width:100%;
    }
    .right{      
      position: absolute;
      top:0;
      right:0;
      max-width: 39%;
      font-size: 14px;
      line-height: 23px;      
      .image {
        width:auto;
        img {
          width:11px;
        }       
      }
    }
  }
  .left{
    float: left;
    width: 50%;
    margin-bottom: 8px;
    color:#444444;
  }
  .right{
    float: right;
    width: 50%;
    text-align: right;
    margin-bottom: 8px;
    color:#3a3a3a;
  }
  .image{
    width: 12px;
    float: none;
    display: inline-block;
  }
  .basic-sale-price{
    padding: 10px 2px 10px 10px;
    max-width: 93%;
    display: inline-block;
    float: none;
    font-weight: 500;
    background-color: #ffffff;
    position: relative;
    z-index: 1;
    font-size: 13px;
    border-right: 3px solid #fff;
  }
  .plusicon {
    .price {
      padding-right:27px;
    }
  }
  .price{
    max-width: 50%;
    margin-top: 10px;
    text-align: right;
    padding-right: 20px;
    position: absolute;
    padding-left: 11px;
    background-color: #ffffff;
    display: inline-block;
    right: 0;
    top: 0;
    z-index: 1;
    border-left: 3px solid #fff;
    .amount {
      font-size: 14px;
      line-height: 20px;
    }
    .image {
      position: absolute;
      top:4px;
      left:0;
      img {
        width:11px;
      }
    }
    .amount {
        display: inline-block;
        width:100%;
    }
  }
  .blank{
    width: 100%;
    border: 1px solid #bfbaba;
    position: absolute;
    left:0;
    top:-2px;
    margin-top: 21px;
    border-top:0 none;
  }
  .plus{
    float: left;
    font-weight: bold;
    color: #37b0de;
    font-size: 17px;
  }
  .wd-full {width:100%;}
  .card-text , .div{
    float: left;
  }
  .div{
    width: 100%;
  }
  .total_price{
    background-color: #ddd;
    .div {
      position: relative;
      padding-right: 48%;
      .basic-sale-price {
        background-color: #dddddd;
        border-right-color:#ddd;
        font-size: 14px;
        line-height: 20px;
      }      
      .price {
        background-color: #dddddd;
        border-left-color:#ddd;
        padding-right:10px;
        max-width:48%;
        .amount {
          font-weight: bold;
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }
  .coupon{
    color: #37b0de;
    font-size: 26px;
    margin: 15px;
    float: left;
  }
  .text{
    width: 40%;
    float: left;
    margin-top: 20px;
  }
  .coupon_blank{
    width: 27%;
    margin-top: 27px;
  }

  .button_proceed{
    width: 100%;
    background-color: #37b0de;
    color: #fff;
    border-radius: 25px;
    text-transform: none;
  }
  @media screen and (max-width: $break-smaller) {
    // .basic-sale-price {
    //   font-size: 12px;
    // }
    .thin-border {
      width:41%;
    }
    .total_price {
      .div {
        padding-right:45%;
        .basic-sale-price {          
          font-size: 12px;
          line-height: 18px;
        }
        .price {
          max-width:52%;
          .amount {
            font-size: 13px;
            line-height: 19px;
          }
          .image {           
            img {
              width:10px;
            }
          }
        }

      }
    }
    .projectDetails {
      font-size: 12px;
    }
    .detailbox {      
      font-size: 12px;
      padding-right:41%;
      .right {
        max-width:41%;
        font-size: 14px;
        line-height: 20px;
        .image {
          width:9px;
          img {
            width:9px;
          }
        }
      }
    }
    .cardststs {
      padding-right:41%;
      .blank {
        top:-3px;
      }
      .basic-sale-price {          
        font-size: 12px;
        line-height: 18px;
      }
      .price {
        max-width:52%;
        padding-left:10px;
        .image {
          img {
            width:9px;
          }
        }
        .amount {
          font-size: 12px;
          line-height: 18px;
        }
        .plus {
          font-size: 16px;
          top:-5px;
        }
      }
    }
  }
}


.terms_checkbox{
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
  font-size: 15px;
  float: left;
  width: 100%;
  &.login {
    margin-top:0;
  }    
  padding-left:0;
  .centercheck {
    display: inline-block;
    position: relative;
    padding-left:26px;
    .terms_condition {
      width:100%;
      margin:0;
    }
  }
  .icon_checkbox{
    margin-left: 0;  
    position: absolute;
    left:0;
    top:-1px;
    div {
      background:transparent url(../assets/imgs/check_icon.png) no-repeat center center / cover;
      width:20px;
      height:20px; 
    }
    .chechbox {
      background:transparent url(../assets/imgs/checked_icon.png) no-repeat center center / cover;
      width:20px;
      height:20px;        
    }
    .notchecked {
      background-image:url(../assets/imgs/check_icon.png);
    }    
  }
}

.error{
  margin-left: 1px;
  margin-top: 5px;
  color: #f00;
}

.trms_err {
  padding-left: 0;
  text-align: center;
  padding-bottom: 10px;
}



.headingEn {
  background:#0077B9;
  position: relative;
  padding: 0 10px;
  .toolbar-background {
    background-color:inherit;
  }
  .termstitle{
    width: 100% !important;
  }
  .toolbar-title {
    color:#ffffff;
    position: relative;
    font-size: 14px;
    padding-right: 30px;
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: inherit;
    white-space: normal;
    .iconheding {
      position: absolute;
      right: 10px;
      top: -1px;
      img {
        width:18px;
      }
    }
  }
}

.payplan {
  border:1px solid #D6D6D6;
  margin-bottom:30px;
  .headgrey {
    background-color: #F2F2F2;
    padding: 20px 26px  15px;
  }
  .dtl {
    display: flex;    
    display: table;
    width: 100%;
    div {
     // width: 190px;
      padding-right: 20px;
      color: #000;
      font-weight: bold;
      p {
        display: block;
        font-weight:normal;
        margin:2px 0 0;
      }
    }
    span {
      color:#616060;
      vertical-align: middle;
      display: table-cell;
      height: 100%;
     // width: 90px;
     width:114px;
     &.wprice {
     /*  padding-left:13px; */
      position: relative;
      .pricesymbol {
        display: inline;
        width: auto;
        height: auto;
        font-weight: 600;
        color: #404040;
        position: relative;
        top: 1px;
        font-size: 16px;
        line-height: 22px;
        margin-right: 2px;
      }
      img {
        position: absolute;
        left:0;
        top: 21px;
        width: 11px;
      }
      }
    }
  }
  .dtlList {
    padding: 0 26px;
    .dtl {
      border-top:1px solid #e4e4e4;
      padding:13px 0;
      
    }
    span {
      vertical-align: middle;
      display: table-cell;
    }
    &:nth-child(2) {
      .dtl {
        border-top:0 none;
        
      }
    }
    &:first-child {
      background-color: #f2f2f2;
      .dtl {
        border-top:0 none;
        
      }
    }
    &.booking_amount {
      .dtl {
        border-top:1px dashed #cccccc;
        margin-top: 10px;
        padding-top: 20px;
        .bkamnt {
          margin: 3px 0 0;
          color: #0077B9;
          font-size: 26px;
          width:100%;          
          .pricesymbol {
            position: relative;
            width: auto;
            height: auto;
            display: inline;
            color: inherit;
            top: 0;
            margin-right: 3px;
            font-weight: 600;
          }
          img {
            margin: 0 3px 0 0;
            position: relative;
            top: -1px;
            width: 12px;
          }
        }
      }
    }    
  } 
} 

.termcont {
  padding: 15px;
  line-height: 23px;
  font-size: 14px;
  color: #232323;
}