<!--
  Generated template for the InventoryDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>Inventory Details</ion-title>
  </ion-navbar>

</ion-header>
<ion-header> -->
<ion-header>
  <ion-navbar>
    <!-- <ion-title>Inventory Booking</ion-title> -->
    <head-bar hTitle="Cost Sheet" [text]="text" [subHeading]="subHeading" subHeadingText="{{subHeadingText}}"
      [image]="image" [noti]="noti" [heart]="heart" [pin]="pin" [menuIcon]="menuIcon"></head-bar>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-card (click)="toggleAccordion()">
    <div>
      <div class="title">
        <div class="iconsrc">
          <img src="assets/imgs/apartment.png">
        </div>Project Details
      </div>
      <div class="thin-border"></div>
      <ion-icon [name]="icon" class="arrow-caraousel"></ion-icon>
    </div>
    <ion-card-content>
      <div class="projectDetails" #cc>
        <div class="left">
          Project Name
        </div>
        <div class="right">
          {{projectdetails.pName}}
        </div>

        <div class="left"
          *ngIf="projectdetails.inv.unit_no && projectdetails.inv.unit_no!='' && projectdetails.inv.unit_no!=null">
          Unit No.
        </div>
        <div class="right"
          *ngIf="projectdetails.inv.unit_no && projectdetails.inv.unit_no!='' && projectdetails.inv.unit_no!=null">
          {{projectdetails.inv.unit_no}}
        </div>

        <div class="left"
          *ngIf="projectdetails.inv.tower && projectdetails.inv.tower!='' && projectdetails.inv.tower!=null">
          <!-- Tower Name -->Tower
        </div>
        <div class="right"
          *ngIf="projectdetails.inv.tower && projectdetails.inv.tower!='' && projectdetails.inv.tower!=null">
          {{projectdetails.inv.tower}}
        </div>

        <div class="left"
          *ngIf="projectdetails.inv.typology_tags && projectdetails.inv.typology_tags!='' && projectdetails.inv.typology_tags!=null">
          Typology
        </div>
        <div class="right"
          *ngIf="projectdetails.inv.typology_tags && projectdetails.inv.typology_tags!='' && projectdetails.inv.typology_tags!=null">
          {{projectdetails.inv.typology_tags}}
        </div>


        <div class="left"
          *ngIf="projectdetails.inv.carpet_area && projectdetails.inv.carpet_area!='' && projectdetails.inv.carpet_area!=null">
          Carpet Area (RERA)
        </div>
        <div class="right"
          *ngIf="projectdetails.inv.carpet_area && projectdetails.inv.carpet_area!='' && projectdetails.inv.carpet_area!=null">
          {{projectdetails.inv.carpet_area}} {{projectdetails.inv.unit}}
        </div>

        <div class="left"
          *ngIf="projectdetails.inv.exclusive_area && projectdetails.inv.exclusive_area!='' && projectdetails.inv.exclusive_area!=null">
          Exclusive Area
        </div>
        <div class="right"
          *ngIf="projectdetails.inv.exclusive_area && projectdetails.inv.exclusive_area!='' && projectdetails.inv.exclusive_area!=null">
          {{projectdetails.inv.exclusive_area}} {{projectdetails.inv.unit}}
        </div>

        <div class="left"
          *ngIf="projectdetails.inv.total_area && projectdetails.inv.total_area!='' && projectdetails.inv.total_area!=null">
          Total Area
        </div>
        <div class="right"
          *ngIf="projectdetails.inv.total_area && projectdetails.inv.total_area!='' && projectdetails.inv.total_area!=null">
          {{projectdetails.inv.total_area}} {{projectdetails.inv.unit}}
        </div>


        <div class="left"
          *ngIf="projectdetails.inv.flat_facing && projectdetails.inv.flat_facing!='' && projectdetails.inv.flat_facing!=null && projectdetails.inv.flat_facing!='null'">
          View/Facing
        </div>
        <div class="right"
          *ngIf="projectdetails.inv.flat_facing && projectdetails.inv.flat_facing!='' && projectdetails.inv.flat_facing!=null && projectdetails.inv.flat_facing!='null'">
          {{projectdetails.inv.flat_facing}}
        </div>


        <div class="left"
          *ngIf="projectdetails.inv.palette_options && projectdetails.inv.palette_options!='' && projectdetails.inv.palette_options!=null">
          Palette options
        </div>
        <div class="right"
          *ngIf="projectdetails.inv.palette_options && projectdetails.inv.palette_options!='' && projectdetails.inv.palette_options!=null">
          {{projectdetails.inv.palette_options}}
        </div>

        <div class="left"
          *ngIf="projectdetails.inv.car_parking_type && projectdetails.inv.car_parking_type!='' && projectdetails.inv.car_parking_type!=null">
          Car Parking Type
        </div>
        <div class="right"
          *ngIf="projectdetails.inv.car_parking_type && projectdetails.inv.car_parking_type!='' && projectdetails.inv.car_parking_type!=null">
          {{projectdetails.inv.car_parking_type}}
        </div>

        <div class="left"
          *ngIf="projectdetails.inv.no_of_car_parking && projectdetails.inv.no_of_car_parking!='' && projectdetails.inv.no_of_car_parking!=null">
          No. of car parking
        </div>
        <div class="right"
          *ngIf="projectdetails.inv.no_of_car_parking && projectdetails.inv.no_of_car_parking!='' && projectdetails.inv.no_of_car_parking!=null">
          {{projectdetails.inv.no_of_car_parking}}
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let item of parameter.data.curl_response.project_price; let i = index;">
    <div class="div cardststs" [ngClass]="(item.breakups.length > 0)?'plusicon':'noplus'">
      <div class="basic-sale-price">{{item.title}}</div>
      <div class="blank"></div>
      <div class="price">
        <!-- <div class="image">
          <img src="assets/imgs/rupee-indian.png" alt="">
        </div> -->
        <div class="amount">
          <!-- {{item.value | number:'.2'}} -->
          <span class="pricesymbol">&#8377;</span>{{storageProvider.getIndianCurrencyFormat(item.value)}}
        </div>
        <ion-icon (click)="getCollapse2(item.salesConci ,i)" *ngIf="!item.salesConci && item.breakups.length > 0"
          name="ios-add-circle-outline" class="arrow-caraousel plus"></ion-icon>
        <ion-icon (click)="getCollapse2(item.salesConci ,i)" *ngIf="item.salesConci && item.breakups.length > 0"
          name="ios-remove-circle-outline" class="arrow-caraousel plus"></ion-icon>
      </div>
    </div>
    <ion-card-content class="card-text wd-full detailssec" *ngIf="item.salesConci">
      <div class="detailbox" *ngFor="let sub of item.breakups; let i = index;">
        <div class="left" *ngIf="sub.value && sub.value!=''">
          {{sub.title}}
        </div>
        <div class="right" *ngIf="sub.value && sub.value!=''">
          <!-- <div class="image">
            <img src="assets/imgs/rupee-indian.png" alt="">
          </div> -->
          <!-- {{sub.value | number:'.2'}} -->
          <span class="pricesymbol">&#8377;</span>{{storageProvider.getIndianCurrencyFormat(sub.value)}}
        </div>
        <div class="clearfix"></div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="total_price">
    <div class="div">
      <!-- <div class="basic-sale-price">Total Price (A+B+C+D)</div> -->
      <div class="basic-sale-price">Total Price (A+B+C)</div>
      <div class="blank"></div>
      <div class="price">
        <!-- <div class="image">
          <img src="assets/imgs/rupee-indian.png" alt="">
        </div> -->
        <div class="amount">
          <!-- {{storageProvider.getSearchCurrency(parameter.data.curl_response.project_stock.total_price)}} -->
          <!-- {{parameter.data.curl_response.project_stock.total_price | number:'.2'}} -->
          <span
            class="pricesymbol">&#8377;</span>{{storageProvider.getIndianCurrencyFormat(parameter.data.curl_response.project_stock.total_price)}}
        </div>
      </div>
    </div>
  </ion-card>

  <!-- <div class="payplan">
    <ion-header class="headingEn" (click)="toggleFooter('terms')">
      <ion-toolbar>
        <ion-title class="termstitle">Terms & Conditions
          <div class="iconheding">
            <img *ngIf="footerAccordian.terms" src="assets/imgs/substract.svg">
            <img *ngIf="!footerAccordian.terms" src="assets/imgs/add.svg">
          </div>
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <div class="termcont" *ngIf="footerAccordian.terms">
      <div [innerHTML]="termsData">

      </div>
    </div>
  </div>

  <div class="terms_checkbox">
    <div class="centercheck">
      <div class="icon_checkbox">

        <div name="md-checkmark-circle-outline" [ngClass]="{'chechbox': temsCheck, 'notchecked': temsCheck == false }"
          (click)="checkboxTerms()"></div>
      </div>
      <div class="terms_condition">
        <span class="text_terms">
          I accept
          <span class="termsOfUse" (click)="toggleFooter('termsfooter')"> Terms &
            Conditions</span>
        </span>
      </div>
    </div>
  </div>

  <div class="error">
    <div *ngIf="termsError" class="trms_err">
      Please check the terms and condition
    </div>
  </div> -->

  <button ion-button outline (click)="downloadCostSheet()" class="button_proceed" [disabled]="isDisableDownloadButton">
    Download Cost Sheet
  </button>

  <button ion-button outline (click)="proceedBooking()" class="button_proceed">
    Proceed for Booking
  </button>

</ion-content>