page-terms-condition {
    .close_btn {
        background-color:transparent;
        padding-right:0;
        float: right;
        ion-icon {
          margin:0 0 -4px;
          padding: 0 0;
          font-size: 24px
        }
      }
}
