<!--
  Generated template for the TermsConditionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar class="searchclose">
      <ion-title>
        Terms & Conditions <button (click)="myDismiss()" class="close_btn">
          <!-- <ion-icon name="ios-arrow-round-back-outline"></ion-icon> -->
          <ion-icon name="close"></ion-icon>
      </button> </ion-title>

    </ion-navbar>

</ion-header>


<ion-content padding >
  <div [innerHTML]="termsData"></div>
</ion-content>
