<!--
  Generated template for the TutorialPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>tutorial</ion-title>
  </ion-navbar>

</ion-header> -->
<!-- <ion-header no-shadow>
  <ion-navbar>

  </ion-navbar>
</ion-header> -->

<ion-content no-bounce>
  <ion-slides pager="true" #slides>

    <ion-slide>
      <div class="headerImg">
        <img src="../../assets/imgs/godrej_properties.jpeg" class="himage" alt="">
      </div>
      <img src="assets/imgs/logo.png" class="slide-image" />
      <h2 class="slide-title">Find Your Dream Home</h2>
      <p>Help us to know you better</p>

      <button ion-button outline (click)="nextSlide()" class="nextSlides">Let's Go</button>
      <ion-buttons end *ngIf="showSkip" class="skip">
        <button ion-button (click)="startApp()" color="primary">Skip</button>
      </ion-buttons>
    </ion-slide>

    <ion-slide (ionSlideDidChange)="onSlideChangeStart($event)">
        <div class="headerImg">
          <img src="../../assets/imgs/godrej_properties.jpeg" class="himage" alt="">
        </div>
      <img src="assets/imgs/logo.png" class="slide-image" />
      <h2 class="slide-title">The City Of My Choice</h2>
      <p>Slide 2 Description</p>
      <div class="choiceButtons">
        <div class="buttonLeft">
          <button ion-button outline (click)="nextSlide()" class="citySelect">Select City</button>
        </div>
        <div class="buttonLeft">
          <button ion-button outline (click)="getLocation()" class="nearMe">Near Me</button>
        </div>
      </div>
    </ion-slide>

    <ion-slide (ionSlideWillChange)="onSlideChangeStart($event)">
        <div class="headerImg">
          <img src="../../assets/imgs/godrej_properties.jpeg" class="himage" alt="">
        </div>
        <ion-item>
          <ion-list *ngFor="let city of ciltyList; let i=index" (click)="select(i,'city')">
            <div class="cityName">
                <div class="customCheckBox">
                    <div class="bigDot">
                        <div [ngClass]="{'smallDot': city.selected == true}" class="smallDot"></div>
                      </div>
                </div>
                <div class="text">
                    {{city.name}}
                </div>
            </div>
          </ion-list>
        </ion-item>
    </ion-slide>

    <ion-slide>
      <div class="headerImg">
        <img src="../../assets/imgs/godrej_properties.jpeg" class="himage" alt="">
      </div>
      <img src="assets/imgs/logo.png" class="slide-image" />
      <h2 class="slide-title">There's Room for Everyone</h2>
      <p>Slide description goes here</p>

      <button ion-button outline (click)="nextSlide()" class="nextSlides typology">Select Typology</button>

    </ion-slide>

    <ion-slide (ionSlideWillChange)="onSlideChangeStart($event)">
        <div class="headerImg">
          <img src="../../assets/imgs/godrej_properties.jpeg" class="himage" alt="">
        </div>
        <ion-item>
          <ion-list *ngFor="let typology of typologyList; let i=index" (click)="select(i,'typology')">
            <div class="cityName">
                <div class="customCheckBox">
                    <div class="bigDot">
                        <div [ngClass]="{'smallDot': typology.selected == true}" class="smallDot"></div>
                      </div>
                </div>
                <div class="text">
                    {{typology.name}}
                </div>
            </div>
          </ion-list>
        </ion-item>
    </ion-slide>

    <ion-slide>
      <div class="headerImg">
        <img src="../../assets/imgs/godrej_properties.jpeg" class="himage" alt="">
      </div>
      <img src="assets/imgs/logo.png" class="slide-image" />
      <h2 class="slide-title">It's Now or Later</h2>
      <p>Slide description goes here</p>

      <div class="readyOrWait">
        <div class="wait" (click)="select('','ready','wait')">
            <div class="customCheckBox moveIn">
                <div class="bigDot inDot">
                    <div [ngClass]="{'smallDot': ready.wait == true}" class="smallDot"></div>
                  </div>
            </div>
            <div class="text rowText">
                Ready To Wait
            </div>
        </div>
        <div class="ready" (click)="select('','ready','move')">
            <div class="customCheckBox moveIn">
                <div class="bigDot inDot">
                    <div [ngClass]="{'smallDot': ready.move == true}" class="smallDot"></div>
                  </div>
            </div>
            <div class="text rowText">
                Ready To Move-In
            </div>
        </div>
      </div>

    </ion-slide>

    <ion-slide>
      <div class="headerImg">
        <img src="../../assets/imgs/godrej_properties.jpeg" class="himage" alt="">
      </div>
      <img src="assets/imgs/logo.png" class="slide-image" />
      <h2 class="slide-title">Know My Family</h2>
      <p>Slide description goes here</p>

      <button ion-button outline (click)="goToPage('KnowMePage')" class="nextSlides typology">Know Me Better</button>

    </ion-slide>

<!--     <ion-slide (ionSlideWillChange)="onSlideChangeStart($event)" class="cusSli">

    </ion-slide> -->

  </ion-slides>
</ion-content>
