page-tutorial {
  .slide-zoom {
    padding-bottom:30px;
  }
  .headerImg{
    width: 100%;
    float: left;
  }
  .himage{
    width: 60%;
  }
  .nextSlides{
    border-radius: 25px;
    background-color: #488aff;
    color: #fff;
    margin-left: 70px;
    width: 50%;
  }
  .skip{
    float: right;
    margin-right: 7px;
    .button-ios,
    .button-md-primary {
      border-radius: 25px;

    }
  }
  .choiceButtons{
    width: 100%;
    float: left;
  }
  .buttonLeft{
    float: left;
    width: 49%;
  }
  .citySelect{
    width: 80%;
    border-radius: 25px;
    background-color: #ddd;
    color: #000;
    border: none;
  }
  .nearMe{
    width: 80%;
    border-radius: 25px;
    background-color: #488aff;
    color: #fff;
  }
  .cityName{
    text-align: left;
    height: 30px;
    border-bottom: 1px solid #ddd;
  }
  .customCheckBox{
    float: left;
    margin-right: 10px;
  }
  .bigDot{
    height: 20px;
    width: 20px;
    border: 1px solid #37b0de;
    border-radius: 50%;
    padding: 3px;
    float: left;
    margin-left: 50px;
    margin-top: -1px;
    background-color: #fff;
  }
  .smallDot{
    height: 2px;
    width: 2px;
    background-color: #37b0de;
    border-radius: 50%;
    margin-left: 3px;
    margin-top: 3px;
    padding: 3px;
  }
  .typology{
    margin-left: 17px !important;
  }
  .readyOrWait{
    float: left;
    width: 100%;
    height: 52px;
    background-color: #37b0de;
    color: #fff;
    font-size: 14px;
  }
  .wait{
    width: 49%;
    float: left;
    height: 100%;
    margin-top: 18px;
  }
  .ready{
    width: 49%;
    float: left;
    height: 100%;
    margin-top: 18px;
  }
  .moveIn{
    margin-right: 4px !important;
  }
  .inDot{
    margin-left: 10px !important;
  }
  .rowText{
    float: left;
  }
  .formsKnow{
    margin-top: 82%;
    overflow: hidden;
    float: left;
    width: 100%;
  }
  .cusSli{
    height: 90%;
    overflow: auto;
    margin-top: 5%;

  }
  .genderMaritial{
    float: left;
    width: 100%;
  }
}