<!--
  Generated template for the MyDocumentsAddPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <head-bar hTitle="Add Documents" [text]="text" [image]="image" [noti]="noti" [heart]="heart" [pin]="pin"
      [menuIcon]="menuIcon"></head-bar>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form class="loginForm" [formGroup]="uploadDocuments">
    <ion-list>
      <ion-item class="user-icon">
        <ion-label floating>
          Document Type *
        </ion-label>
        <ion-input type="text" name="docType" formControlName="docType"></ion-input>
      </ion-item>
    </ion-list>
    <div class="error">
      <div *ngIf="f?.docType.errors?.required && f?.docType.touched">Document type is Required</div>
    </div>

    <ion-list>
      <ion-item class="user-icon">
        <ion-label floating>
          Document Title *
        </ion-label>
        <ion-input type="text" name="docTitle" formControlName="docTitle"></ion-input>
      </ion-item>
    </ion-list>
    <div class="error">
      <div *ngIf="f?.docTitle.errors?.required && f?.docTitle.touched">Document title is Required</div>
    </div>


    <ion-list>
      <ion-item class="user-icon">
        <ion-label floating>
          Document No *
        </ion-label>
        <ion-input type="text" name="docNo" formControlName="docNo"></ion-input>
      </ion-item>
    </ion-list>
    <div class="error">
      <div *ngIf="f?.docNo.errors?.required && f?.docNo.touched">Document number is Required</div>
    </div>

    <ion-list>
      <!-- <ion-item class="user-icon">
          <ion-label floating>
            &nbsp; Document *
          </ion-label>
          <ion-input type="text" name="docName" formControlName="docName" [disabled]="disabled" ></ion-input>
        </ion-item> -->
      <div class="uploadIcon" (click)="openDocs()">
        <span style="float: left; width: 100%; font-size: 10px;">
          Choose file (pdf,jpg,jpeg,png,doc,docx & max file size 10 MB)
        </span>
        <ion-icon name="ios-folder-outline"></ion-icon>
      </div>
      <div class="selectedFile" style="width:70px;">
        <img [src]="selectedData?.localURL" *ngIf="selectedData?.mime == 'image' || selectedData?.mime == 'jpg' || selectedData?.mime == 'jpeg' || selectedData?.mime == 'png'">
        <img src="assets/imgs/pdf_icon.png" *ngIf="selectedData?.mime == 'pdf'">
        <img src="assets/imgs/word_logo.png" *ngIf="selectedData?.mime == 'word' || selectedData?.mime == 'doc' || selectedData?.mime == 'docx'">
      </div>
    </ion-list>
    <!-- <div class="error">
        <div *ngIf="f?.docName.errors?.required && f?.docName.touched">Document file is Required</div>
      </div> -->
    <div class="errorOutput" style="color: #ff0202;">
      {{errorMsg}}
    </div>
    <div class="submit" (click)="submit()">
      <button ion-button round [disabled]="!uploadDocuments.valid" class="submitBtn">
        Submit
      </button>
    </div>

  </form>

</ion-content>