page-my-documents-add {
    .uploadIcon{
        float: left;
        width: 100%;
        font-size: 20px;
        margin: 20px 20px 20px 0;
        position: relative;
        padding-left:30px;
        ion-icon {
            position: absolute;
            top:-7px;
            left:0;
        }
    }
    .submit{
        float: left;
        width: 100%;
        text-align: center;
    }
    .submitBtn{
        width: 100% !important;
        text-transform: none !important;
    }
    .error {
        color: red;
    }
}
