page-reset-password {
    .serelative {
        position: relative;
        .paswrd {
          width:100%;
          ion-label {
            img {
              width:16px;
            }
          }
        }
        .eyeIcons {
          position: absolute;
          width:30px;
          right:0;
          top:41px;
          img {
            width:23px;
          }
        }
      }
    .item-ios.item-block .item-inner, .item-md.item-block .item-inner {
        border-bottom: 1px solid #dedede;
        margin-bottom: 5px;
    }
    .error {
        color:red;
    }
    .resetBtn button {
        margin-top: 20px;
        width: 100%;
        text-transform: none;
        font-size: 1.3em;
        padding: 0 2.6rem;
        height: 4.6rem;
        opacity: 1;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3ea7de+0,077ec6+100 */
        background: rgb(62,167,222); /* Old browsers */
        background: -moz-linear-gradient(left, rgba(62,167,222,1) 0%, rgba(7,126,198,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(62,167,222,1) 0%,rgba(7,126,198,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(62,167,222,1) 0%,rgba(7,126,198,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ea7de', endColorstr='#077ec6',GradientType=1 ); /* IE6-9 */
      }
      .propertiesImg {
        width: 240px;
        margin: auto;
        display: block;
    }
      $break-tablet: 600px;
@media screen and (min-width: $break-tablet) {
  
  .center-cont {
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    .loginForm  {
      width: 400px;
      margin: auto;
    }
  }
} 
}
