<!--
  Generated template for the ResetPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Reset Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
  <div class="center-cont">
      <img src="assets/imgs/godrej_properties.jpeg" class="propertiesImg" alt="">
    <form class="loginForm" [formGroup]="resetPasswordForm">
      <div class="serelative">
        <ion-item class="paswrd">
          <ion-label floating>
            <!-- <ion-icon name="ios-mail-outline"></ion-icon> -->
            <img src="assets/imgs/loc-icon.png">
            &nbsp; Password *
          </ion-label>
          <ion-input type="{{typeText}}" name="password" formControlName="password"></ion-input>
        </ion-item>
        <div class="eyeIcons">
          <div class="off" (click)="eyeOpenClose('O','pass')" *ngIf="openClose">
            <!-- <ion-icon name="eye-off" ></ion-icon> -->
            <img src="assets/imgs/eye-icon.png">
          </div>
          <div class="eyeOpen" (click)="eyeOpenClose('C','pass')" *ngIf="!openClose">
            <!-- <ion-icon name="eye"></ion-icon> -->
            <img src="assets/imgs/eye-icon-not.png">
          </div>
        </div>

        <div class="clearfix"></div>
      </div>

      <div class="error">
        <div *ngIf="f.password.errors?.required && f.password.touched">Password Is Required.</div>
        <div *ngIf="f.password.errors?.pattern && f.password.touched">
          Password Must Be 6 Characters And Alpha-Numeric.
        </div>
      </div>
      <div class="serelative">
        <ion-item class="paswrd">
          <ion-label floating>
            <img src="assets/imgs/loc-icon.png">
            &nbsp; Confirm Password *
          </ion-label>
          <ion-input type="{{confType}}" name="cpassword" formControlName="cpassword"></ion-input>
        </ion-item>
        <div class="eyeIcons">
          <div class="off" (click)="eyeOpenClose('O','conf')" *ngIf="openCloseConf">
            <img src="assets/imgs/eye-icon.png">
          </div>
          <div class="eyeOpen" (click)="eyeOpenClose('C','conf')" *ngIf="!openCloseConf">
            <img src="assets/imgs/eye-icon-not.png">
          </div>
        </div>
      </div>

      <div class="error">
        <div *ngIf="f.cpassword.errors?.required && f.cpassword.touched">Confirm Password Is Required.</div>
        <div *ngIf="f.cpassword.errors?.minlength && f.cpassword.touched">
          6 Characters Long.
        </div>
        <div *ngIf="notMatched">
          Not Matching.
        </div>
      </div>
      <div class="resetBtn">
        <button ion-button round class="width-100" [disabled]="disableButton" (click)="resetPassword()">Reset Password</button>
      </div>

    </form>
  </div>
</ion-content>