post-sales-footer {
    .footer_div div{
        float: left;
        margin: 5px;
      }
      .menrow{
        -webkit-box-shadow: 0px -2px 5px 0px rgba(50, 50, 50, 0.54);
        -moz-box-shadow:    0px -2px 5px 0px rgba(50, 50, 50, 0.54);
        box-shadow:         0px -2px 5px 0px rgba(50, 50, 50, 0.54);
    
        z-index:99;
      }
    
      .badge-ios-danger {
    
        position: relative;
        top: -40px;
        left: 15px;
        padding: 3px 6px;
        font-size:10px;
        background-color:#ed1c23
    
      }
      .footer ion-icon.icon.icon-md.ion-ios-menu-outline,
      .footer-md::before {display: none;}
      .footer{
        height:auto !important;
        background: #fff !important;
        border-top: 2px solid #d8d8d8;
        padding-top:13px;
        padding-top: 9px;
        padding-bottom: 8px;
        ion-col.searchcol.col {
          min-width: 91px;
      }
        .menrow {
          box-shadow: none;
        }
        .fhicon {
          width: 100%;
          img {
            display: block;
            margin: auto;
            width:25px;
          }
        }
        .iconlabel {
          color: #4d4d4d;
          font-size: 12px;
          text-align: center;
          margin-top: 5px;
      }
    
      .searchcol {
        ion-icon {display: none;}
        .searchicon-wrap {
          width: 80px;
          height: 80px;
          border-radius: 100%;
          background-color: #dddddd;
          overflow: hidden;
          margin: -40px auto 0;
          position: relative;
          bottom: -25px;
          .searchicon {
              width: 45px;
              height: 45px;
              margin: 17px auto 0;
              background-color: #3ea9dd;
              border-radius: 100%;
              overflow: hidden;
              border: 5px solid #1a739e;
              -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.69);
              box-shadow: 0 0 7px rgba(0, 0, 0, 0.69);
              img {
                display: block;
                margin: auto;
            }
          }
        }
        }
      }
      
      @media screen and (max-width: $break-smaller) {
        .footer .iconlabel {
          font-size:10px;
        }
      }
    }
