<!-- Generated template for the FootBarComponent component -->
<!-- <div class="footer_div">
    <div>
        <ion-icon name="ios-home-outline"></ion-icon>
      Home
    </div>
    <div>Book a Visit</div>
    <div>
      <ion-icon name="ios-cart-outline"></ion-icon>
      Buy Now
    </div>
    <div>
      <ion-icon name="ios-call-outline"></ion-icon>
      Support
    </div>
</div>
<ion-grid>
  <ion-row>
    <ion-col><ion-icon name="ios-home-outline"></ion-icon>Home</ion-col>
    <ion-col><ion-icon name="ios-home-outline"></ion-icon>Home</ion-col>
    <ion-col></ion-col>
    <ion-col><ion-icon name="ios-home-outline"></ion-icon>Home</ion-col>
    <ion-col><ion-icon name="ios-home-outline"></ion-icon>Home</ion-col>
  </ion-row>
</ion-grid>-->

<ion-footer class="foot">


  <ion-grid no-padding>
      <ion-row no-padding class="menrow">
          <ion-col no-padding >
              <div class="iconclass">
                  <!-- <ion-icon name="ios-home-outline"></ion-icon> -->
                  <div class="fhicon">
                      <img src="assets/imgs/soa-icons.png" />
                  </div>
                  <div class="iconlabel">SOA</div>
                  <!-- <div class="iconlabel">{{logintext}}</div> -->
              </div>
          </ion-col>
          <ion-col no-padding>
              <div class="iconclass" [ngClass]="{'active': selectedIndex == 2}">
                  <!-- <ion-icon name="ios-call"></ion-icon> -->
                  <div class="fhicon">
                      <img src="assets/imgs/service-req-icons.png" />
                  </div>
                  <div class="iconlabel">Service Req</div>
              </div>
          </ion-col>
          <ion-col no-padding class="searchcol" (click)="openSearch()">
              <ion-icon name="ios-menu-outline"></ion-icon>
              <!-- <img src="assets/imgs/MenuIcon.png" class="footer_main_menu" /> -->
              <div class="searchicon-wrap">
                  <div class="searchicon">
                      <img src="assets/imgs/search-icon.png" />
                  </div>
              </div>
          </ion-col>
          <ion-col no-padding>
              <div class="iconclass" [ngClass]="{'active': selectedIndex == 4}">
                  <!-- <ion-icon name="ios-cart-outline"></ion-icon> -->
                  <div class="fhicon">
                      <img src="assets/imgs/chat-icons.png" />
                  </div>

                  <div class="iconlabel">Chat Bot</div>
              </div>
          </ion-col>
          <ion-col no-padding>
              <div class="iconclass" [ngClass]="{'active': selectedIndex == 3}">
                  <!-- <ion-icon name="ios-call-outline"></ion-icon> -->
                  <div class="fhicon">
                      <img src="assets/imgs/support-icons.png" />
                  </div>


                  <div class="iconlabel">Support</div>
              </div>
          </ion-col>
      </ion-row>
  </ion-grid>

</ion-footer>
