<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-header>

    <ion-navbar class="searchclose">
      <ion-title>Search
        <button (click)="myDismiss('d')" class="close_btn">
          <!-- <ion-icon name="ios-arrow-round-back-outline"></ion-icon> -->
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-title>

    </ion-navbar>

  </ion-header>

</ion-header>


<ion-content class="noPadding searchbox">
  <div class="resCom">
    <div class="resLeft commonClass" *ngFor="let item of commonClas; let i=index;" [ngClass]="{'selected': item.selected == true}"
      (click)="resOrCom(i)">
      <span style="font-weight: bold;">{{item.name}}</span>
    </div>
  </div>
<div class="contscroll">

  <div class="textBox">
    <div class="input" (click)="showCheckbox()">
      <ion-label class="customLabel">{{(locationName != '' ? locationName : 'Select Location')}}</ion-label>
      <!-- <input type="text" name="" id="" class="inputBox" [(ngModel)]="location"> -->
      <!-- <ion-select class="inputBox dropDownCity" [(ngModel)]="location">
        <ion-option value="{{city.id}}" (ionSelect)="onChange(city)" *ngFor="let city of listCity; let i=index">{{city.name}}</ion-option>
      </ion-select> -->
      <!-- <ion-item *ngFor="let city of listCity; let i=index">
        <ion-label>{{city.name}}</ion-label>
        <ion-checkbox color="dark" (click)="onChange(city)"></ion-checkbox>
      </ion-item> -->
      <div class="locationIcon">
        <ion-icon name="ios-pin-outline"></ion-icon>
      </div>
    </div>
    <!-- <div class="inputdrop">
      <div>Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
      <div>Explicabo earum necessitatibus exercitationem fugit</div>
      <div>Explicabo earum necessitatibus exercitationem fugit</div>
      <div>Explicabo earum necessitatibus exercitationem fugit</div>
      <div>Explicabo earum necessitatibus exercitationem fugit</div>
      <div>Explicabo earum necessitatibus exercitationem fugit</div>
      <div>Explicabo earum necessitatibus exercitationem fugit</div>
    </div> -->
  </div>

  <div class="locality ttilesc">
    <img src="assets/imgs/locality.png"> Locality
    <!-- <button ion-button outline (click)="click('InventoryBookingPage')"></button> -->
  </div>
  <div class="localValues searitem">
    <div class="upperDiv" *ngIf="cityList?.length > 0">
      <div class="margin-lR innerDiv" *ngFor="let city of cityList; let i=index">
        <button ion-button color="light" round class="roundValues" (click)="getSelected('city',i)" [ngClass]="{'selectedBackGround': city.selected == true}">
            {{city.name}}<!-- , {{city.city_name}} --> </button>
        <span class="closeit" (click)="getSelected('city',i)">
          <ion-icon name="close" *ngIf="city.selected == true"></ion-icon>
        </span>
        <input *ngIf="city.selected == true" type="hidden" name="" #focus>
      </div>
    </div>
    <div class="nodatafound" *ngIf="cityList?.length == 0">No Locality Found</div>
  </div>
  
  <div class="locality ttilesc">
    <img src="assets/imgs/possession.png"> Possession
  </div>
  <div class="localValues searitem">
    <div class="upperDiv"  *ngIf="possetionList.length > 0">
      <div class="margin-lR innerDiv" *ngFor="let possession of possetionList; let i=index">
        <button ion-button color="light" round class="roundValues" (click)="getSelected('possession',i)" [ngClass]="{'selectedBackGround': possession.selected == true}">
          {{possession.name}} </button>
        <span class="closeit" (click)="getSelected('possession',i)">
          <ion-icon name="close" *ngIf="possession.selected == true"></ion-icon>
        </span>
      </div>
    </div>
    <div class="nodatafound" *ngIf="possetionList.length == 0">No Possession Found</div>
  </div>

  <div class="locality ttilesc">
    <img src="assets/imgs/typology.png"> Typology
  </div>
  <div class="localValues searitem">
    <div class="upperDiv" *ngIf="typologyList.length > 0">
      <div class="margin-lR innerDiv" *ngFor="let typology of typologyList; let i=index">
        <button ion-button color="light" round class="roundValues" (click)="getSelected('typology',i)" [ngClass]="{'selectedBackGround': typology.selected == true}">
          {{typology.name}} </button>

        <span class="closeit" (click)="getSelected('typology',i)">
          <ion-icon name="close" *ngIf="typology.selected == true"></ion-icon>
        </span>
      </div>
    </div>
    <div class="nodatafound"  *ngIf="typologyList.length == 0">No Typology Found</div>
  </div>

  <div class="locality ttilesc">
    <span class="pricesymbol">&#8377;</span>Price Range
  </div>
  <div class="localValues searitem1 withbtndown">
    <button ion-button color="light" icon-only>
      <!-- <ion-icon name="arrow-down"></ion-icon> -->
      <!-- <img src="assets/imgs/search-downicon.png"> As per Bipin TCS -->
    </button>
    <ion-item>

      <!-- <ion-label> -->
        <!-- <img src="assets/imgs/rupee-indian.png" alt="" style="width: 12px;">{{storagePrivider.getSearchCurrency(lower)}} -
        <img src="assets/imgs/rupee-indian.png" alt="" style="width: 12px;">{{storagePrivider.getSearchCurrency(upper)}} -->
      <!-- </ion-label> -->

      <ion-range class="rangeNoPadd" dualKnobs="true" [disabled]="disableRange" [(ngModel)]="goalProgress" [min]="responseData.budget_data.lower" [max]="responseData.budget_data.upper"
        step="{{step}}" pin="false" snaps="false" (ionChange)="change()" (ionBlur)="onChangeStop()">
      </ion-range>
    </ion-item>
    <div class="clearfix filterrangetext">
      <div class="filterfrom">
        <div class="txtgrey">From</div>
        <div class="filterprice">
          <span class="pricesymbol">&#8377;</span>{{storagePrivider.getSearchCurrency(lower)}}
        </div>
      </div>

      <div class="filterfrom float-right">
        <div class="txtgrey float-right">To</div>
        <div class="clearfix"></div>
        <div class="filterprice">
          <span class="pricesymbol">&#8377;</span>{{storagePrivider.getSearchCurrency(upper)}}
        </div>
      </div>

    </div>
  </div>
  <!-- <div class="nodatafound">No Price Range Found</div> -->

</div>
  <div class="localValues submitButton">
    <button ion-button round class="searchBtm" (click)="search()">Submit</button>
  </div>
</ion-content>