page-search {
  .pricesymbol {
    font-weight: 600;
    margin-right: 2px;
  }
  .nodatafound {
    padding: 10px 0 7px 27px;
    color: #5a5a5a;
  }
  .filterrangetext {
    width: 100%;
    margin: auto;
    padding: 0 10px 0 14px;
    .filterfrom {
      float: left;
      .txtgrey {
        color: grey;
        font-size: 11px;
        width: 100%;
      }
      .filterprice {
        color: #000000;
        font-size: 14px;
        img {
          width: 10px !important;
        }
      }
    }
  }
  .float-right {
    float: right !important;
    .txtgrey {
      text-align: right;
    }
  }
  .range-knob {
    border: 1px solid #000 !important;
  }
  .noPadding {
    //margin-top: 20px;
    background-color: #d3d6d7;
  }
  .resCom {
    margin-top: 55px;
    /* float: left; */
    width: 100%;
    font-size: 16px;
    background: #ffffff;
    line-height: 50px;
    color: #fff;
    position: absolute;
    z-index: 1;
    padding-top: 2px;
  }
  .commonClass {
    width: 50%;
    float: left;
    text-align: center;
    background-color: #ffffff;
    border-bottom: 3px solid rgba(0, 0, 0, 0.09);
    span {
      color: #333333;
    }
  }
  .resLeft {
    border-right: 1px solid;
  }
  .selected {
    // box-shadow: 0px 2px 0px 0px #fff;
    font-weight: bold;
    border-bottom-color: #37b0de;
    background-color: #ffffff;
    span {
      color: #37b0de;
    }
  }
  .textBox {
    width: 100%;
    //margin-top: 90px;
    //height: 50px;
    position: relative;
    padding: 15px 9px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e1e1e1+0,dedede+3,dfdfdf+5,eeeeee+15,f1f1f1+21,f0f0f0+100 */
    background: rgb(225, 225, 225); /* Old browsers */
    background: -moz-linear-gradient(
      top,
      rgba(225, 225, 225, 1) 0%,
      rgba(222, 222, 222, 1) 3%,
      rgba(223, 223, 223, 1) 5%,
      rgba(238, 238, 238, 1) 15%,
      rgba(241, 241, 241, 1) 21%,
      rgba(240, 240, 240, 1) 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      top,
      rgba(225, 225, 225, 1) 0%,
      rgba(222, 222, 222, 1) 3%,
      rgba(223, 223, 223, 1) 5%,
      rgba(238, 238, 238, 1) 15%,
      rgba(241, 241, 241, 1) 21%,
      rgba(240, 240, 240, 1) 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to bottom,
      rgba(225, 225, 225, 1) 0%,
      rgba(222, 222, 222, 1) 3%,
      rgba(223, 223, 223, 1) 5%,
      rgba(238, 238, 238, 1) 15%,
      rgba(241, 241, 241, 1) 21%,
      rgba(240, 240, 240, 1) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e1e1', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-9 */
    .input {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }
  .input {
    width: 92%;
    margin-top: 4px;
    height: 40px;
    border: 1px solid #c3bcbc;
    margin-left: 10px;
    border-radius: 25px;
    position: relative;
    background-color: #ffffff;
  }
  .inputBox {
    margin-top: 1px;
    width: 100%;
    height: 36px;
    border-radius: 25px;
    border: none;
    margin-left: 0;
    padding: 0 30px 0 10px;
    //float: left;
  }
  .locationIcon {
    position: absolute;
    right: 0;
    top: 0;
    //float: left;
    font-size: 25px;
    margin-top: 0;
    ion-icon {
      font-size: 0.8em;
      margin: 10px 13px;
    }
  }
  .locality {
    margin: 12px;
    img {
      display: inline-block;
      width: 19px;
      margin: 0 3px -4px;
    }
    .priceicon {
      width: 9px;
      position: relative;
      top: -2px;
    }
  }
  .localValues {
    background-color: #fff;
    //height: 70px;
  }
  .margin-lR {
    width: auto !important ;
    margin-left: 15px;
  }
  .selectedBackGround {
    color: #fff;
    background-color: #323a46;
  }
  .rangeNoPadd {
    padding-top: 0px !important;
    width: 100% !important;
    padding: 0 17px;
  }

  .submitButton {
    margin-top: 17px;
    padding: 0 12px;
    margin-bottom: 30px;
    border-top: 8px solid #f1f1f1 !important;
    padding-top: 9px;
    .searchBtm {
      width: 100%;
      margin-left: 0;
      height: 44px;
      margin-right: 0;
    }
  }
  .customLabel {
    margin: 11px 0px 13px 14px;
    max-width: 88%;
  }
  .searchBtm {
    width: 90%;
    margin-left: 15px;
    text-transform: none;
  }
  .range-knob {
    top: 6px !important;
    width: 30px !important;
    height: 30px !important;
    border: 1px solid !important;
    background: #fff !important;
  }
  .upperDiv {
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    margin-top: 8px;
  }
  .innerDiv {
    display: inline-block;
    width: 50px;
    white-space: normal;
    margin: 5px;
    text-align: center;
    height: 45px;
    position: relative;
  }
  .toolbar-background {
    background: #37b0de;
  }
  .close_btn {
    background: transparent;
    font-size: 25px;
    margin-right: 6px;
  }
  .toolbar-title {
    color: #0f323f;
    width: auto;
    line-height: 38px;
    margin-bottom: -3px;
    width: 100%;
  }
  .searchclose {
    .toolbar-background {
      background-color: #ffffff;
    }
    ion-title.title {
      padding: 0;
    }
    .close_btn {
      font-size: 30px;
      float: right;
      ion-icon {
        font-size: 24px;
        margin: 6px 0 0;
      }
    }
  }
  .closeit {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    display: none;
    color: #fff;
    margin: 15px;
    font-size: 13px;
  }
  .selectedBackGround + .closeit {
    display: block;
  }
  .searchbox {
    background-color: #ffffff;
  }
  .withbtndown {
    position: relative;
    button {
      background: none;
      box-shadow: none;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 9;
      img {
        width: 14px;
        margin: 0 10px;
      }
    }
  }
  .roundValues {
    color: #37b0de;
    border: 1px solid #37b0de;
    background-color: #ffffff;
    border-radius: 64px;
    padding: 0.64em 2.8rem;
    height: auto;
    font-size: 13px;
    line-height: 18px;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-transform: none;
    font-weight: normal;
    &.selectedBackGround {
      color: #ffffff;
      background-color: #37b0de;
    }
  }
  .inputdrop {
    background-color: #ffffff;
    width: 100%;
    padding: 1px 9px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 99;
    box-shadow: 1px 4px 9px rgba(0, 0, 0, 0.21);
  }
  ion-range .range-slider {
    .range-bar {
      height: 2px;
    }
    .range-knob-handle {
      top: 25px;
      .range-knob {
        width: 25px !important;
        height: 25px !important;
        border-color: #4c4747 !important;
        box-shadow: 0 0 12px #ccc;
      }
    }
  }
  .dropDownCity {
    max-width: inherit;
    .select-icon {
      display: none;
    }
    .select-text {
      margin: 10px;
    }
  }
  .searitem {
    border-bottom: 8px solid #f1f1f1 !important;
    margin: 0;
    padding: 0 0 5px 12px;
  }
  .ttilesc {
    padding-bottom: 0;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 14px;
  }
  .contscroll {
    overflow: auto;
    padding: 110px 0 80px;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  .submitButton {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding-bottom: 6px;
    padding-top: 6px;
  }
}
page-search ion-range.range-md .range-slider .range-knob-handle .range-knob {
  width: 34px !important;
  height: 34px !important;
}
page-search ion-range.range-md .range-slider .range-knob-handle {
  top: 20px;
}
.alert-checkbox-group {
  max-height: 160px !important;
}

.alert-md .alert-button.okBtn.alert-button-md,
.alert-md .alert-button.resetBtn,
.alert-button.alert-button-md.cancelBtn {
  display: inline-block;
  width: auto;
  margin: 0;
  float: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
}

.city_checkbox .alert-button-group.alert-button-group-vertical {
  padding: 9px 0;
  display: block;
  justify-content: inherit !important;
  flex-wrap: inherit;
  text-align: right;
}
.alert-md .alert-head {
  padding: 11px;
}
.alert-md .alert-title {
  font-size: 17px;
  line-height: 23px;
}

.alert-message {
  color: #000000 !important;
}
$break-height550: 550px;
@media screen and (min-height: $break-height550) {
  .alert-checkbox-group {
    max-height: 370px !important;
  }
}
