<!--
  Generated template for the PaymentSummaryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>payment-summary</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<div class="psmenu">
  <div class="menubox">
    <div class="menulink active">My Consolidated Payable Summary</div>
    <div class="menulink">The Tress / GTR20154</div>
  </div>
</div>

<div class="peymentstate">
<!--   
    <div class="paylist">      
      <div class="tabnxt">
        <div class="payfrom">
          The Tress / GTR20154
          <div class="payprice"><img src="assets/imgs/rupee-indian.png"> 16,19,245.18</div>
          <div class="clearfix"></div>
        </div>
        <div class="requestDisbursal"><ion-icon name="ios-mail-outline"></ion-icon> Request-Bank Disbursal</div>
        <div class="invoice">Invoice</div>
        <div class="clearfix"></div>
      </div>

      <div class="tabnxt">
        <div class="payfrom">
            Total interest (including GST)
            <div class="payprice"><img src="assets/imgs/rupee-indian.png"> 16,20,245.18</div>
            <div class="clearfix"></div>
          </div>
          <div class="invoice">Interest Statement</div>
          <div class="clearfix"></div>
      </div>

      <div class="tabnxt">
        <div class="payfrom">
            <div class="totalptxt">Total Amount Payable <ion-icon name="md-information-circle"></ion-icon></div>
            <div class="payprice"><img src="assets/imgs/rupee-indian.png"> 16,20,245.18</div>
            <div class="clearfix"></div>
          </div>
      </div>
      <div class="amttopay">
        <div class="amttxt">Amount To Be Paid</div>
        <div class="amtinput">
          <img src="assets/imgs/rupee-indian.png">
          <ion-input type="text" name="amounttopay" ></ion-input>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="text-center">
        <div class="button btn-lg">PAY NOW</div>
      </div>
    </div> --> 
  
    <div class="paylist">
      <div class="payfrom">
        The Tress / GTR20154
        <div class="payprice"><img src="assets/imgs/rupee-indian.png"> 16,19,245.18</div>
        <div class="clearfix"></div>
      </div>
      <div class="totalptxt">Total Amount Payable <ion-icon name="md-information-circle"></ion-icon></div>
      <div class="button">PAY NOW</div>
    </div>
    <div class="paylist">
      <div class="payfrom">
        The Tress / GTR20154
        <div class="payprice"><img src="assets/imgs/rupee-indian.png"> 16,19,245.18</div>
        <div class="clearfix"></div>
      </div>
      <div class="totalptxt">Total Amount Payable <ion-icon name="md-information-circle"></ion-icon></div>
      <div class="button">PAY NOW</div>
    </div>
  
  <div class="paylist">
    <div class="payfrom">
      The Tress / GTR20154
      <div class="payprice"><img src="assets/imgs/rupee-indian.png"> 16,19,245.18</div>
      <div class="clearfix"></div>
    </div>
    <div class="totalptxt">Total Amount Payable <ion-icon name="md-information-circle"></ion-icon></div>
    <div class="button">PAY NOW</div>
  </div>

  <div class="paystbottomtext">
    <!-- Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. magnis dis parturient montes, nascetur ridiculus mus. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. -->
  </div>
        
</div>
</ion-content>
