page-payment-summary {
    .psmenu {
        width:100%;
        overflow-y:hidden;
        overflow-x: auto;
        .menubox {
            display: flex;
            min-width: 150%;
            .menulink {
                padding: 6px 10px;
                position: relative;
                border-right: 1px solid #ddd;
                margin: 15px 0;
                background-color:transparent !important;
                &:after {
                    border-bottom:1px solid #dddddd;
                    position: absolute;
                    left:0;
                    width:100%;
                    bottom:-11px;
                    content:"";
                    display: block;
                }
                &.active::after {
                    content: "";
                    display: block;
                    position: absolute;
                    border-bottom: 3px solid #37b0de !important;
                    bottom: -10px;
                    left: 0;
                    width: 100%;
                }
            }
        }
    }

    .peymentstate {
        border:1px solid #dddddd;
        padding:10px;
        box-shadow: 2px 2px 6px #e8e8e8;
        margin-top:20px;
        .paylist {
            border-top:1px solid #dddddd;
            padding: 13px 0;
            &:first-child {
                border-top:0 none;
            }
            .payfrom {
                color:#7b7b7b;
                font-size:13px;
                .totalptxt {
                    float: left;
                }
                .payprice {
                    float: right;
                    color: #000000;
                    font-size:17px;
                    img {
                        display: inline-block;
                        max-width: 13px;
                    }
                }
            }
            .totalptxt {
                color: #7b7b7b;
                font-size:13px;
                ion-icon {
                    color: #37b0de;
                    float: none;
                    font-size: 12px;
                    margin-left: 3px;
                }
            }
            .button {
                background-color: #37b0de;
                color: #ffffff;
                padding: 5px 20px;
                border-radius: 20px;
                font-size: 13px;
                line-height: 19px;
                margin: 12px 0 0;
                &.btn-lg {
                    font-size:14px;
                    line-height:20px;
                    padding:8px 22px;
                } 
            }
        }
        .paystbottomtext {
            color:#7b7b7b;
            font-size:13px;
            padding:0 0 20px;
        }
    }
    .tabnxt {
        border-top:1px solid #dddddd;
        padding:15px 0;
        &:first-child {
            border-top:0 none;
            padding-top:0;
        }
        .requestDisbursal {
            background-color: #E4E4E4;
            border-radius: 20px;
            padding: 2px 15px;
            color: #3a3a3a;
            font-size: 12px;
            line-height: 18px;
            display: inline-block;
            ion-icon {
                margin: -1px 6px 0 0;
                font-size: 18px;
            }
        }
        .invoice {
            float: right;
            color: #1159d8;
            font-size: 13px;
            line-height: 19px;
            text-decoration: underline;
        }
    }
    .amttopay {
        background-color: #EDEDED;
        padding: 15px 10px;
        margin: 0 -10px;
        .amttxt {
            margin: 0;
            color: #000000;
            float: left;
            padding-top: 9px;
            font-size: 13px;
        }
        .amtinput {
            float: right;
            width: 53%;
            img {
                display: inline-block;
                float: left;
                margin: 8px 7px 0 0;
            }
            ion-input {
                border:0 none;
                background-color: #ffffff;
                display: block;
                width:80%;
                float: left;
                height: 30px;
            }
        }
    }
}
