<!--
  Generated template for the ConstructionStatusPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <head-bar hTitle="Construction Status" [text]="text" [image]="image" [noti]="noti" [heart]="heart" [pin]="pin"
      [menuIcon]="menuIcon"></head-bar>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="maiDiv">
    <div class="header">
      <div class="dateDropdown">
        <div class="iconCal">
          <ion-icon name="ios-calendar-outline"></ion-icon>
        </div>
        <div class="date">
          <ion-datetime (ngModelChange)="dateChanged(event)" class="newDatePicker" displayFormat="MMMM YYYY" min="2016"
            max="2020" placeholder="Please Select" [(ngModel)]="event.timeStarts"></ion-datetime>
        </div>
        <div class="iconDropdown">
          <ion-icon name="ios-arrow-down-outline"></ion-icon>
        </div>
      </div>
      <div class="dateDropdown">
        <ion-select [(ngModel)]="project" class="ionicDropdown">
          <ion-option value="nes" selected="true">Godrej 101</ion-option>
          <!-- <ion-option value="n64">Nintendo64</ion-option>
          <ion-option value="ps">PlayStation</ion-option>
          <ion-option value="genesis">Sega Genesis</ion-option>
          <ion-option value="saturn">Sega Saturn</ion-option>
          <ion-option value="snes">SNES</ion-option> -->
        </ion-select>
      </div>

    </div>
  </div>
  <div class="bigImage" *ngIf="showBigImage">
    <div class="close" (click)="openImage('H')">X</div>
    <div class="image">
      <img class="imageInner" src="assets/imgs/img.png.jpg" />
    </div>
  </div>
  <div class="projectImageSlides" *ngIf="!showBigImage">
    <ion-slides slidesPerView="1.05" speed="1000">
      <ion-slide>
        <ion-card class="cards">
          <img class="cardImage" (click)="openImage('S')" src="assets/imgs/img.png.jpg" />
          <ion-card-content class="textAlign">
            Nine
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card class="cards">
          <img class="cardImage" src="assets/imgs/img.png.jpg" />
          <ion-card-content class="textAlign">
            Ten
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
  <div class="left" *ngIf="!showBigImage">24th November 2018</div>
  <div class="right" *ngIf="!showBigImage">
    <button ion-button round>
      <ion-icon name="md-download" class="certiDownload"></ion-icon> Certificate
    </button>
  </div>


</ion-content>
<post-sales-footer></post-sales-footer>