page-construction-status {
  .header{
    float: left;
    width: 100%;
  }
  .dateDropdown{
    float: left;
    width: 50%;
    border-right: 1px solid #ada2a2;
  }
  .dateDropdown:last-child{
    border-right:0px;
  }
  .iconCal{
    float: left;
    margin-right: 5px;
  }
  .date{
    float: left;
    margin-right: 5px;
    width: auto;
  }
  .newDatePicker{
    margin-top: -12px;
  }
  .ionicDropdown{
    text-align: center;
    padding: 0 !important;
    width: 100%;
    float: left;
    margin-left: 60px;
  }
  .select-icon{
    float: right;
    margin-right: 5px;
  }
  .select-icon-inner{
    float: right;
  }
  .select-text{
    white-space: normal;
  }
  .item-cover{
    float: right !important;
    width: 50%;
    right: 0;
    margin-left: 50%;
  }
  .cards{
    height: 350px;
  }
  .cardImage{
    height: 90%;
    width: 100%;
  }
  .textAlign{
    text-align: left;
  }
  .projectImageSlides{
    border-bottom: 1px solid #a29c9c;
  }
  .left{
    float: left;
    margin: 10px;
    font-size: 10px;
    color: #968f8f;
  }
  .right{
    float: right;
    margin: 5px;
  }
  .certiDownload{
    margin-top: 7px;
    margin-right: 5px;
  }
  .bigImage{
    float: left;
    width: 100%;
    height: 100%;
    margin-top: -12px;
    position: absolute;
    margin-left: -17px;
  }
  .image , .imageInner{
    height: 100%;
    width: 100%;
  }
  .close{
    position: absolute;
    color: #fff;
    margin: 10px;
    font-size: 25px;
  }
}
