page-buy-now {
    .toolbar-title-md {padding-left:0;}
    .card-content-md {
        padding: 10px;
    }
    .back-button.show-back-button {
        top: 2px;
    }
    ion-card-header {
        font-size: 20px !important;
        line-height: 26px;
        text-align: center;
        font-weight: 500;
        padding-top: 0 !important;
        color: #4e4e4e !important;
        .buyNow {
            border-top: 1px solid #e2e2e2;
            padding-top: 18px;
            margin-top: 11px;
            width:100%;
            button {
                width: 64%;
                max-width:200px;
                height: 39px;
            }
        }
    }
    .block_no {
        font-size: 16px !important;
        line-height: 22px;
        text-align: center;
        font-weight: 500;
        color: #2a2a2a !important;
        margin-top: 30px;
    }
}
