<!--
  Generated template for the BuyNowPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Buy Now</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list *ngIf="buyNowProjectlist.length > 0">
    <ion-card *ngFor="let item of buyNowProjectlist; let i = index;">
      <ion-card-content>
        <img [src]="getimgUrl(item.img)" alt="" class="searchImage recentSearchImg" (click)="goToPage('InventoryBookingPage',item)"> <!-- ProjectDetailsPage Normal approach  (click)="goToPage('InventoryBookingPage',item)" // FOYR approach (click)="openFOYRPage(item)" -->
      </ion-card-content>
      <ion-card-header>
        {{item.name}}
        <div class="buyNow">
          <button ion-button round class="buyNowButton" (click)="goToPage('InventoryBookingPage',item)"> Book Now</button> <!--Normal approach (click)="goToPage('InventoryBookingPage',item)" // FOYR approach (click)="openFOYRPage(item)" -->
        </div>
      </ion-card-header>
    </ion-card>
  </ion-list>

  <div class="block_no" *ngIf="buyNowProjectlist.length == 0">
    {{ noData }}
  </div>

</ion-content>