page-signup {
  

  /* .list-ios .item-block .item-inner, .list-md .item-block .item-inner{
    border-bottom: none !important;
  } */
  .formSignUp {
      width: 420px;
      margin: auto;
      max-width:100%;
  }
  .emailsec {
    ion-icon {
      font-size: 28px;
      line-height: 11px;
      position: relative;
      top: 4px;
    }
  }
  .createAccBtn , button[disabled]{
    text-transform: none !important;
    font-size: 16px;
    ion-icon {
      margin:0 0 0 12px;
    } 
  }
  .select-text{
    margin-left: 15px;
  }
  .backBtton{
    font-size: 20px;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 10px;
    top: 10px;
    ion-icon {
      float: none;
      display: block;
      text-align: center;
      margin: 0;
      padding: 8px;
    }
  }
  .serelative {
    position: relative;
    .paswrd {
      width:100%;
      ion-label {
        img {
          width:16px;
        }
      }
    }
    ion-item {
      z-index:0;
    }
    .eyeIcons {
      position: absolute;
      width:30px;
      right:0;
      top:43px;
      z-index:9999;
      img {
        width:23px;
      }
    }
  }
  .user-icon {
    img {
      width:16px;
    }
  }
  .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus):last-child,
  .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
  .list-md .phone-input .item-input {
    box-shadow: none !important;
    border:0 none !important;
    border-bottom:1px solid #c5c7d2 !important;
  }
  .list-md .phone-input .item-input:last-child {
    border-bottom-color:transparent;
}
  .list-ios {
    .item-block{
      &:first-child {
        border-top:0 none;
      }
    }
  }
  
  .back-button.show-back-button {
    position: relative;
    top:1px;
  }
  .propertiesImg{
    width: 230px;
    align-items: center;
    margin-left:auto;
    margin-right: auto;
    /* margin-left: 110px; */
  }
  
  .bigDot{
    height: 20px;
    width: 20px;
    border: 1px solid #37b0de;
    border-radius: 50%;
    padding: 3px;
    float: left;
    margin-left: 20px;
    margin-top: 2px;
  }
  .headreImg{
    float: left;
    width: 80%;
    text-align: center;
    margin-left: 15px;
  }
  .icon{
    float: left;
  }
  .smallDot{
    height: 2px;
    width: 2px;
    background-color: #37b0de;
    border-radius: 50%;
    margin-left: 3px;
    margin-top: 3px;
    padding: 3px;
  }
  .customCheckBox{
    float: left;
    margin-left: 30px;
  }
  .left-50{
    margin-left: 50px;
  }

  .label > .gender {
    margin-top: 30px;
  }

  .prefix{
    float: left;
    color: #736c6c;
    border-bottom: 1px solid;
    margin-top: 20px;
    width: 45px;
  }
  .mobile{
    margin-left: 30%;
    float: left;
  }
  .width-100{
    width: 100%;
  }
  .terms_checkbox{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 15px;
    float: left;
    width: 100%;
    &.login {
      margin-top:0;
    }    
    padding-left:0;
    .centercheck {
      display: inline-block;
      position: relative;
      padding-left:26px;
      .terms_condition {
        width:100%;
        margin:0;
      }
    }
    .icon_checkbox{
      margin-left: 0;  
      position: absolute;
      left:0;
      top:-1px;
      div {
        background:transparent url(../assets/imgs/check_icon.png) no-repeat center center / cover;
        width:20px;
        height:20px; 
      }
      .chechbox {
        background:transparent url(../assets/imgs/checked_icon.png) no-repeat center center / cover;
        width:20px;
        height:20px;        
      }
      .notchecked {
        background-image:url(../assets/imgs/check_icon.png);
      }
      
    }
  }

  .terms_condition{
    float: left;
    width: 84%;
    margin-left: 30px;
  }
  .termsOfUse{
    color: #37b0de;
    text-decoration: underline;
  }
  .text_terms{
    margin-left: 0;
  }
  .paswrd{
    width: 90%;
    float: left;
  }


  .eyeIcons{
    float: left;
    width: 10%;
    //margin-top: 35px;
    font-size: 20px;
  }

  .eyeOpen , .off{
    float: left;
    width: 100%;
    margin-left: 8px;
    color: #7f7f7f;
  }

  .chechbox{
    color: #5bde55;
  }
  .have-account{
    color: #b72363;
    font-weight: bold;
  }
  .login{
    text-align: center;
  }
  .error{
    margin: 5px;
    margin-left: 0;
    color: #f10505;
    float: left;
    width: 100%;
  }
  .twonfild {
    .mobile-countrycode {
      width: 34%;
      display: inline-block;
      float: left;
      text-align: center;
      padding: 21px 0 6px;
      border-bottom: 1px solid #c5c7d2 !important;
      ion-icon {
        color: #7f7f7f;
        float: none;
        font-size: 30px;
        margin: 34px 0 0;
      }
    }

    .phone-input {
      width: 66%;
      display: inline-block;
      float: left;
      padding-left: 10px;
      .item-inner {
        border:0 none !important;
        padding-right:0;
      }
      .error {
        div {
          padding-bottom:15px;
          position: relative;
          .txterror {
            position: absolute;
            top:0;
            left:0;
          }
        }
      }
    }
  }
  .button-round-ios,
  .button-md {
    height: 4.6rem;
    opacity: 1;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3ea7de+0,077ec6+100 */
    background: rgb(62,167,222); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(62,167,222,1) 0%, rgba(7,126,198,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(62,167,222,1) 0%,rgba(7,126,198,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(62,167,222,1) 0%,rgba(7,126,198,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ea7de', endColorstr='#077ec6',GradientType=1 ); /* IE6-9 */
  }
  .imageFlag{
    width: 27px;
    float: left;
    margin-top: 21px;
  }
  .cntNumber {
    width: 75%;
    float: left;
    padding-left: 4px;
      .item-inner {
        border:0 none !important;
        .label-md {
          margin: 17px 0 0 10px;
          .countryInitials {
            position: relative;
            padding-right: 19px;
            .downArr {
                position: absolute;
                right: 0;
                top: 11px;
                line-height: 0;
                ion-icon {
                  line-height: 0;
                  margin: 0;
                  font-size: 21px;
                  color: #b3b0b0;
              }
            }
          }
        }
        .label-ios {
          margin: 17px 0 0 10px;
          .countryInitials {
            position: relative;
            padding-right: 19px;
            .downArr {
                position: absolute;
                right: 0;
                top: 11px;
                line-height: 0;
                ion-icon {
                  line-height: 0;
                  margin: 0;
                  font-size: 24px;
                  color: #b3b0b0;
              }
            }
          }
        }
      }
}

.cntNumber .item-block .item-inner {
  border-bottom:0 none !important;
}
.cntNumber ion-select {
    display: block !important;
    max-width: inherit;
    padding: 0;
    overflow: inherit;
    position: relative;
    padding-right: 12px;
    width: auto;
    margin-top: 22px;
}
.cntNumber ion-select .select-icon {
  position: absolute;
  right: 0;
  top: 1px;
  width: 15px;
}
.ontblt {
  display: none;
}
$break-tabletlandscape: 800px;
$break-tablet: 600px;

@media screen and (max-height: $break-tabletlandscape) {
  .center-cont {
    position:static !important;
    transform: none !important;
  }
  .ontblt {
    display: block;
    z-index: 99;
  }
  .offtblt {display: none;}
  .headreImg {
    width:100%;
  }
}
@media screen and (min-width: $break-tablet) {
  .center-cont {
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
  
  }
}
@media screen and (max-width: $break-smaller) { 
  .icon_checkbox {
    margin-left:0 !important;
  }
  .terms_condition {
    margin-left:0;
    .text_terms {
      margin-left: 3px;
      margin-top: 1px !important;
      display: block;
    }
  }
}
}
$break-tablet:600px;
@media screen and (min-width: $break-tablet) {
  .twonfild {
    .mobile-countrycode {
      width:27.5% !important;
    }
    .phone-input {
      width:72.5% !important;
    }
  }
}
$break-landscapheightmax: 500px; 
@media screen and (min-width: $break-tablet) and (max-height: $break-landscapheightmax) {
  img.propertiesImg { margin-bottom: 0 !important;}
  .loginForm {margin-top:20px !important;}
}
page-country-list .crossBtn {
  width: 25px;
  float: left;
  margin-top: 2px;
  .close_btn {
    background-color:transparent;
    padding-right:0;
    ion-icon {
      margin: 0;
      padding: 5px 0;
      font-size: 24px
    }
  }
}
page-country-list {
  .close_btn {
    background-color:transparent;
    padding-right:0;
    ion-icon {
      margin: 0;
      padding: 5px 0;
      font-size: 24px
    }
  }
}

.forgot{
  /* margin: 10px; */
  color: #0f7bb7;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
  span {
    border-bottom: 1px solid #0f7bb7;
  }
}

.noaccount{
  margin: 15px 5px 4px 5px;
  text-align: center;
  font-size: 13px;
  color: #f10505;
  font-weight: 400;
}