<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<div class="backBtton ontblt" (click)="goBack()">
    <ion-icon name="ios-arrow-back-outline" class="iconBack"></ion-icon>
  </div>
<ion-content padding>
  <div class="backBtton offtblt" (click)="goBack()">
        <ion-icon name="ios-arrow-back-outline" class="iconBack"></ion-icon>
      </div>
  <div class="center-cont">
    <div>
      
      <div class="headreImg">
        <img src="assets/imgs/godrej_properties.jpeg" class="propertiesImg" alt="">
      </div>

    </div>

    <div class="formSignUp">

      <div class="forgotpass-div" *ngIf="isShowforgotpassDiv">
        <div class="clearfix"></div>
        <div class="noaccount">
          Account Already Exists With This Email ID/Mobile Number. Please Click On
        </div>
        <div class="forgot" (click)="goToPage('ForgotPasswordPage')">
          <span>Forgot Password.</span>
        </div>
        <div class="clearfix"></div>
      </div>

      <form class="loginForm" [formGroup]="signUpForm">
        <ion-list>

          <ion-item>
            <ion-label class="user-icon" floating>
              <img src="assets/imgs/user-icon.png">
              <!-- <ion-icon name="ios-person-outline"></ion-icon> -->
              First Name *
            </ion-label>
            <ion-input type="text" name="fname" formControlName="fname"></ion-input>
          </ion-item>
          <div class="error">
            <div *ngIf="f.fname.errors?.required && f.fname.touched">First Name Is Required.</div>
            <div *ngIf="f.fname.errors?.pattern && f.fname.touched">Please Enter A Valid Name.</div>
          </div>


          <ion-item>
            <ion-label class="user-icon" floating>
              <img src="assets/imgs/user-icon.png">
              <!-- <ion-icon name="ios-person-outline"></ion-icon> -->
              Last Name *
            </ion-label>
            <ion-input type="text" name="lname" formControlName="lname"></ion-input>
          </ion-item>
          <div class="error">
            <div *ngIf="f.lname.errors?.required && f.lname.touched">Last Name Is Required.</div>
            <div *ngIf="f.lname.errors?.pattern && f.lname.touched">Please Enter a Valid Name</div>
          </div>

          <!-- <ion-item>
            <div class="gender">
                <div class="icon">
                  <ion-icon name="ios-transgender-outline"></ion-icon>
                    &nbsp; Gender
                </div>
                <div class="customCheckBox" (click)="checkBox('M')">
                    <div class="bigDot">
                        <div [ngClass]="{'smallDot': gender.male == true}" class="smallDot"></div>
                      </div>
                    <div class="text">
                        &nbsp; Male
                    </div>
                </div>
                <div class="customCheckBox left-50" (click)="checkBox('F')">
                    <div class="bigDot">
                      <div [ngClass]="{'smallDot': gender.female == true}"></div>
                    </div>
                    <div class="text">
                        &nbsp; Female
                    </div>
                </div>
            </div>
          </ion-item> -->
          <div class="twonfild">
            <div class="mobile-countrycode" (click)="openCountry()">
              <div class="imageFlag">
                <img src="{{flag}}" *ngIf="!(f.countryCode.errors?.required && f.countryCode.touched)" alt="">
              </div>
              <div class="cntNumber">
                <ion-item>
                  <!-- <ion-label>Country Code</ion-label> -->
                  <!-- <ion-select formControlName="countryCode">
                    <ion-option value="{{country.callingCodes}}" (ionSelect)="onChange(country)" *ngFor="let country of countryCodes; let i=index">({{country.alpha3Code}})</ion-option>
                  </ion-select> -->
                  <div class="countryInitials">
                    ({{countryInitials.alpha3Code}})
                    <div class="downArr">
                      <ion-icon name="ios-arrow-down-outline"></ion-icon>
                    </div>
                  </div>

                </ion-item>
              </div>
            </div>

            <div class="phone-input">
              <ion-item>
                <ion-label floating>
                  <ion-icon name="ios-phone-portrait-outline"></ion-icon>
                  &nbsp; ({{countryInitials.callingCodes}}) Mobile Number *
                </ion-label>
                <ion-input type="tel" name="mobile" formControlName="mobile"></ion-input>
              </ion-item>
              <div class="error">
                <div *ngIf="f.mobile.errors?.required && f.mobile.touched">
                  <div class="txterror">Mobile Number Is Required.</div>
                </div>
                <div *ngIf="f.mobile.errors?.pattern && f.mobile.touched">
                  <div class="txterror">Please Enter A Valid Mobile Number.</div>
                </div>
                <div *ngIf="(f.mobile.errors?.minlength || f.mobile.errors?.maxlength) && f.mobile.touched">
                  <div class="txterror">Mobile Number Should Be 10 Digits.</div>
                </div>
              </div>
            </div>
          </div>

          <div class="error">
            <div *ngIf="f.countryCode.errors?.required && f.countryCode.touched">Country Code Is Required.</div>
            <!-- <div *ngIf="f.mobile.errors?.required && f.mobile.touched">Mobile is Required</div>
            <div *ngIf="f.mobile.errors?.pattern && f.mobile.touched">Please Enter a Valid Mobile Number</div>
            <div *ngIf="(f.mobile.errors?.minlength || f.mobile.errors?.maxlength) && f.mobile.touched">Mobile Number
              should be 10 digits</div> -->
          </div>

          <ion-item>
            <ion-label class="emailsec" floating>
              <ion-icon name="ios-mail-outline"></ion-icon>
              &nbsp; Email ID *
            </ion-label>
            <ion-input type="email" name="email" formControlName="email"></ion-input>
          </ion-item>
          <div class="error">
            <div *ngIf="f.email.errors?.required && f.email.touched">Email ID Is Required.</div>
            <div *ngIf="f.email.errors?.pattern && f.email.touched">Not A Valid Email ID.</div>
          </div>

          <div class="clearfix"></div>
          <div class="serelative">
            <ion-item class="paswrd">
              <ion-label floating>
                <!-- <ion-icon name="ios-mail-outline"></ion-icon> -->
                <img src="assets/imgs/loc-icon.png">
                Password *
              </ion-label>
              <ion-input type="password" name="password" formControlName="password" *ngIf="!openClose"></ion-input>
              <ion-input type="text" name="password" formControlName="password" *ngIf="openClose"></ion-input>
            </ion-item>
            <div class="eyeIcons">
              <div class="off" (click)="eyeOpenClose('O','pass')" *ngIf="!openClose">
                <!-- <ion-icon name="eye-off" ></ion-icon> -->
                <img src="assets/imgs/eye-icon-not.png">
              </div>
              <div class="eyeOpen" (click)="eyeOpenClose('C','pass')" *ngIf="openClose">
                <!-- <ion-icon name="eye"></ion-icon> -->
                <img src="assets/imgs/eye-icon.png">
              </div>
            </div>

            <div class="clearfix"></div>
          </div>

          <div class="error">
            <div *ngIf="f.password.errors?.required && f.password.touched">Password Is Required.</div>
            <div *ngIf="f.password.errors?.pattern && f.password.touched">
              Password Must Be 6 Characters And Alpha-Numeric..
            </div>
          </div>

          <div class="clearfix"></div>
          <div class="serelative">
            <ion-item class="paswrd">
              <ion-label floating>
                <!-- <ion-icon name="ios-mail-outline"></ion-icon> -->
                <img src="assets/imgs/loc-icon.png">
                Confirm Password *
              </ion-label>
              <ion-input type="password" name="cpassword" formControlName="cpassword" *ngIf="!openCloseConf"></ion-input>
              <ion-input type="text" name="cpassword" formControlName="cpassword" *ngIf="openCloseConf"></ion-input>
            </ion-item>
            <div class="eyeIcons">
              <div class="off" (click)="eyeOpenClose('O','conf')" *ngIf="!openCloseConf">
                <!-- <ion-icon name="eye-off" ></ion-icon> -->
                <img src="assets/imgs/eye-icon-not.png">
              </div>
              <div class="eyeOpen" (click)="eyeOpenClose('C','conf')" *ngIf="openCloseConf">
                <!-- <ion-icon name="eye"></ion-icon> -->
                <img src="assets/imgs/eye-icon.png">
              </div>
            </div>
            <div class="clearfix"></div>
          </div>

          <div class="error">
            <div *ngIf="f.cpassword.errors?.required && f.cpassword.touched">Confirm Password Is Required.</div>
            <div *ngIf="f.cpassword.errors?.minlength && f.cpassword.touched">
              <!-- Minimum 6 characters long -->
            </div>
            <div *ngIf="notMatched">
              Not Matching.
            </div>
          </div>

          <div class="terms_checkbox">
            <div class="centercheck">
              <div class="icon_checkbox">
                <!-- <ion-icon name="md-checkmark-circle-outline" [ngClass]="{'chechbox': temsCheck, 'notchecked': temsCheck == false }"
                  (click)="checkboxTerms()"></ion-icon> -->

                <div name="md-checkmark-circle-outline"
                  [ngClass]="{'chechbox': temsCheck, 'notchecked': temsCheck == false }" (click)="checkboxTerms()"></div>
              </div>
              <div class="terms_condition">
                <span class="text_terms">
                  <!-- By register I accept -->I agree to GPL's <span class="termsOfUse" (click)="openTerms()"> Terms Of Use</span>
                </span>
              </div>
            </div>
          </div>

          <button ion-button round class="width-100 createAccBtn" [disabled]="(disableButton || !signUpForm.valid)"
            (click)="checkVerification()">Create
            Account <ion-icon name="ios-arrow-forward-outline"></ion-icon></button>

        </ion-list>
      </form>
      <div class="terms_checkbox login">
        Already have an account?<span class="have-account" (click)="loginPage()"> Login</span>
      </div>
    </div>
  </div>
</ion-content>