page-notificationlist {
    .back-button.show-back-button {
        top: 2px;
    }
    .toolbar-title-md {padding-left: 0;}
 .notificationlist {
        position: relative;
        margin-right: 0;
        height:auto;
        white-space: normal;
        overflow: inherit;
        overflow-wrap: break-word;
        text-overflow: inherit;
        .notitxt h2,
        ion-item {
            white-space: normal;
            overflow: inherit;
            overflow-wrap: break-word;
            text-overflow: inherit;             
        }
        
        .notitxt {
            h2 {
                font-size: 13px;
                line-height: 20px;
                font-weight: normal;
                margin: 0;
                padding: 7px 10px 7px 20px;
                display: block;
                position: relative;
                img {
                    position: absolute;
                    width: 14px;
                    left: 0;
                    top: 13px;
                    opacity: 0.7;
                }
            }
        }
    }
    ion-item {
        .item-inner {
            .input-wrapper {
                ion-label {
                    margin:0;
                    padding:0;
                }
            }
        }
    }
    .block_no{
        text-align: center;
    }
    .read h2 {
        //color: red
        color:#636363;
    }
    .unread h2 {
        //color: green
        color:#37b0de;
        font-weight: bold !important;
    }
}
