<!--
  Generated template for the NotificationlistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Notifications</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list *ngIf="Notificationlist.length > 0">
    <ion-item class="notificationlist" *ngFor="let item of Notificationlist; let i = index;" (click)="opennotification(item)">
      <div class="notitxt" [ngClass]="(item.field_is_message_read == 0)? 'unread':'read'">
        <h2><img src="assets/imgs/notifications-outline.png"> {{item.title}} {{item.field_created_on}}</h2>
      </div>
    </ion-item>
  </ion-list>
  <div class="block_no" *ngIf="Notificationlist.length == 0">
    <!-- No Notification Found. -->{{ noDataMsg }}
  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>