<!--
  Generated template for the SearchListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <!-- <head-bar class="ss" hTitle="Search" [text]="text" [image]="image" [noti]="noti" [heart]="heart" [pin]="pin"
      [menuIcon]="menuIcon"></head-bar> -->

    <head-bar hTitle="{{title}}" [text]="text" [subHeading]="subHeading" subHeadingText="{{subHeadingText}}"
      [image]="image" [noti]="noti" [mail]="mail" [heart]="heart" [pin]="pin" [menuIcon]="menuIcon"></head-bar>
  </ion-navbar>

</ion-header>
<div class="searchtopfilter btnv2">
  <button class="active btnsetting tsbtn settingsBtn" (click)="openSearch()">
    <img src="assets/imgs/settings-icon.svg">
    <!-- <ion-icon name="ios-construct-outline" class="settingsIcon"></ion-icon> -->
  </button>

  <button class="tsbtn settingsBtn witharwicon" (click)="openPossession()" *ngIf="possessionList?.length > 0">
    <div *ngFor="let possession of showPossessionData; let i = index" [ngClass]="{'commonclass': possession.selected}">
      <span *ngIf="i == 0">
        {{possession.name}}
        <span class="span-margin" *ngIf="showPossessionData.length > 1">
          (+{{showPossessionData.length - 1}})
        </span>
      </span>
    </div>
    <div *ngIf="posseNotSelected">
      Possession
    </div>

    <img src="assets/imgs/arrow-down-icon.svg" class="dwico">
  </button>

  <button class="tsbtn settingsBtn witharwicon" (click)="openTypology()" *ngIf="typologyList?.length > 0">
    <div class="typologylist">
      <div *ngFor="let typology of showTypologyData; let i=index" [ngClass]="{'commonclass': typology.selected}">
        <span *ngIf="i == 0">
          {{typology.name}}
          <span class="span-margin" *ngIf="showTypologyData.length > 1">
            (+{{showTypologyData.length - 1}})
          </span>
        </span>
      </div>
      <div *ngIf="typoNotSelected">
        Typology
      </div>
    </div>
    <img src="assets/imgs/arrow-down-icon.svg" class="dwico">
  </button>

  <!-- <button class="tsbtn settingsBtn pricerange">
    <span>
      {{ storagePrivider.getSearchCurrency(minPrice)}} - {{storagePrivider.getSearchCurrency(maxPrice)}}
    </span>
  </button> -->

  <button class="tsbtn settingsBtn witharwicon pricerange" (click)="openPricelist()">
    <div>
      <span>
        {{ storagePrivider.getSearchCurrency(minPrice)}} - {{storagePrivider.getSearchCurrency(maxPrice)}}
      </span>
    </div>
    <img src="assets/imgs/arrow-down-icon.svg" class="dwico">
  </button>

  <!-- <button class="tsbtn">Nearby Location</button>
  <button class="tsbtn">Upcoming</button>
  <div class="grid-listBtn">
    <button class="listbtn active">
      <img src="assets/imgs/list-view-icon.png">
    </button>
    <button class="gridbtn">
      <img src="assets/imgs/grid-view-icon.png">
    </button>
  </div> -->
  <div class="clearfix"></div>
</div>

<ion-content padding>

  <div class="searchitem" *ngFor="let item of searchlist; let i = index;">
    <div class="searchsrc">
      <img src="assets/imgs/search-result-blank-src.png" class="blnkserchsrc">
      <img [src]="getimgUrl(item.project_image)" class="projectImg"
        (click)="goToPage('gotopage' , 'ProjectDetailsPage' , item ,'')">
      <div class="iconTopRight">

        <div class="heartIcon" (click)="goToPage('wishlist' ,'' , '' ,item)" > <!-- *ngIf="isGuest != '1'" -->
          <div>
            <img *ngIf="item.wishlist_status == '0'" class="emtyheart" src="assets/imgs/heart-icon.png">
            <img *ngIf="item.wishlist_status != '0'" class="fillheart" src="assets/imgs/heart-fill-icon.png">
          </div>
        </div>

        <div class="shareIcon" (click)="goToPage('share' , '', '',item)">
          <img class="emtyheart" src="assets/imgs/share-icon.png">
        </div>
      </div>
      <!-- <div class="readytomove">
        {{item.field_possession_status | uppercase}}
      </div> -->
      <div *ngIf="item.field_possession_status != '' && item.field_possession_status != null">
        <div class="readytomove">
          {{item.field_possession_status | uppercase}}
          <!-- Ready To Move-In -->
        </div>
      </div>
    </div>
    <div class="footerDiv" (click)="goToPage('gotopage' , 'ProjectDetailsPage' , item ,'')">
      <div class="left">
        <div class="projectName">
          {{item.title}}
        </div>
        <div class="location">
          <img src="assets/imgs/location-icon-main.png">
          <!-- <ion-icon name="pin"></ion-icon>-->{{item.field_city}}
        </div>
      </div>
      <!--       <div class="right">
        <div class="compre">
          <img src="assets/imgs/compare-icon.png"> Compare</div>
      </div> -->
      <div class="exinfo">
        Starting Price :
        <span class="price" *ngIf="item.field_inventory_price">
          <span class="price_request"
            *ngIf="item.field_inventory_price == '0.00' || item.field_inventory_price == '0'">On Request</span>
          <div *ngIf="item.field_inventory_price != '0.00' && item.field_inventory_price != '0'">
            <span
              class="pricoalign">&#8377;</span><strong>{{storagePrivider.getSearchCurrency(item.field_inventory_price)}}</strong>
          </div>
        </span>
        <span *ngIf="!item.field_inventory_price"> N/A</span>
        <span class="typology" *ngIf="item.field_typology_tags">Typology:
          <span *ngIf="item.field_typology_tags">{{item.field_typology_tags | uppercase}}</span>
          <!-- <span *ngIf="!item.field_typology_tags">N/A</span> -->
        </span>

      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div *ngIf="searchlist.length == 0" class="norcfround">
    {{ noDataMsg }} 
  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<foot-bar></foot-bar>