page-search-list {
    .settingsBtn{
        width: 20%;
        .settingsIcon{
            width: 100%;
            font-size: 25px;

        }
    }
    .span-margin{
        margin-left: 8px;
    }
    .commonclass{
        color: #5ab35a;
        /* width: 30%; */
        line-height: 10px;
        font-size: 13px;
    }
    .iconTopRight{
        position: absolute;
        right: 0;
        top: 4px;
        margin: 15px 11px 15px 15px;
        color: #fff;
        width: 75px;
        .heartIcon,
         .shareIcon {
          font-size:20px;
          float: left;
        }
        .shareIcon {
            margin-left:8px;
        }
      }
    .text  {
        margin-top:8px;
    }
    .scroll-content {
        padding: 56px 11px 11px !important;
    }
    .projectImg{
        width: 100%;
    }
    .norcfround{
        text-align:  center;
    }
      .status-deactive{
color: #fff;
}
.heartIcon {
    margin:0 3px 4px;
}
.shareIcon img, .heartIcon img {
    width: 28px;
}
.status-active{
 color: red;
}
    .searchtopfilter {
        padding-bottom:15px;
        button.tsbtn {
            font-size: 10px;
            display: inline-block;
            padding: 10px 9px;
            border-radius: 50px;
            color: #4a4a4a;
            float: left;
            margin:0 3px 0 0;
            &.active {
                background-color:#3398cc;
                color:#ffffff;
            }
        }
        .grid-listBtn {
            display: inline-block;
            float: right;
            border:1px solid #c2c9cd;
            border-radius:60px;
            overflow: hidden;
            button {
                float: left;
                width: 50%;
                padding: 5px 8px;
                background-color: #ffffff;
                &.active {
                    background-color:#3398cc;
                    img {
                        -webkit-filter: brightness(0) invert(1);
                        filter: brightness(0) invert(1);
                    }
                }
                img {
                    width:14px;
                }
            }
        }
        &.btnv2 {
            -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            overflow-x: scroll;
            white-space: nowrap;
            scroll-behavior: smooth;
            overflow-y: hidden;
            position: absolute;
            left: 0;
            top: 56px;
            background-color: #fff;
            z-index: 9;
            padding: 10px;
            width: 100%;
            .settingsBtn {
                width: auto;
                float: none;
                padding: 0 13px;
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                margin-right: 5px;
                margin-top: 0;
                height: 32px;
                overflow: hidden;
                background-color: #3ea9dd;
                color: #fff;
                font-size: 12px;
                &.pricerange {
                    span {
                        font-weight: bold;
                    }
                }
                &.active {
                    background-color: #31739e !important;
                }
                &.btnsetting {
                    padding: 0;
                    border-radius: 100%;
                    width: 32px;
                    height: 32px;
                    margin-top: 0;
                    img  {
                        width: auto;
                        max-width: 70%;
                        margin: 1px auto 0;
                    }
                }
                
                &.witharwicon {
                    padding-right: 35px;
                    position: relative;
                    .dwico {
                        width: 12px;
                        position: absolute;
                        margin: 10px;
                        right: 2px;
                        top: 0;
                    }
                }
                .typologylist {
                    max-width: 68px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    overflow-wrap: inherit;pace: nowrap;
                    text-overflow: ellipsis;
                    display: flex;
                    min-height: 13px;
                    color: inherit;
                    div {
                        margin-right:2px;
                        color: inherit
                    }
                }
                .commonclass {
                    font-size: inherit;
                    line-height: inherit;
                    display: inline;
                    color: inherit;
                    font-weight: bold;
                }
            }
        }
    }
    .searchitem {
        margin-bottom:16px;
        .searchsrc {
            position: relative;
            overflow: hidden;
            border-radius: 4px;
            .blnkserchsrc{
                width: 100%;
            }
            .projectImg{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                min-height: 100%;
            }
            img {
                display: block;
                //border-radius:4px;
            }
            .whist-btn {
                position: absolute;
                top:0;
                right:0;
                margin:5px;
                font-size:20px;
            }
            .readytomove {
                position: absolute;
                bottom:0;
                left:0;
                margin:0;
                background-color:rgba(0,0,0,0.5);
                padding:8px 13px;
                color:#ffffff;
                font-size:12px;
                text-transform: uppercase;
            }
        }
        .footerDiv {
            padding: 9px 0 0;
            .projectName {
                font-size:14px;
                color:#383838;
                font-weight: 500;
            }
            .location {
                margin-top:3px;
                color: #969696;
                font-size:12px;
                img {
                    width: 9px;
                    margin: 0 0 -2px;
                }
                ion-icon {
                    color:#969696;
                    margin-right:5px;
                }
            }
            .compre {
                color: #909090;
                margin-top: 8px;
                img {
                    width: 14px;
                    margin: 0 0 -1px;
                }
            }
            .left {
                float: left;
                width:70%;
            }
            .right {
                width:30%;
                float:right;
                text-align:right;
            }
            .exinfo {
                border-top:1px solid #d4d4d4;
                padding-top:5px;
                float: left;
                width:100%;
                margin-top:10px;
                color:#5a5856;
                font-size:12px;
                margin-bottom:10px;
                overflow: hidden;
                overflow-wrap: inherit;
                white-space: nowrap;
                width: 100%;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                text-overflow: ellipsis;
                .price {
                    color: #45a9df;
                    font-size: 110%;
                    font-weight: bold;
                    display: inline-block;
                    float: none;
                    width:auto;
                    position: relative;
                    top: 2px;
                    height: 20px;
                    padding-left: 0;
                    font-size: 16px;
                    line-height: 21px;
                  //  background: transparent url("../assets/imgs/rupee-indian.png") no-repeat left top 6px / 10px auto;
                    .startPriceImg {
                        float: none;
                        width: 12px;
                        position: relative;
                        top: -1px;
                        display: none !important;
                    }
                    .pricoalign {
                        font-family: 'Hind',sans-serif;
                        /* position: absolute; */
                        /* height: 100%; */
                        /* width: 13px; */
                        /* display: inline-block; */
                        /* left: 0; */
                        /* top: 0; */
                        font-size: 16px;
                        line-height: 22px;
                        color: #060606;
                        font-weight: 600;
                        position: relative;
                        top: 0px;
                        margin-right:2px;
                        img {
                            position: absolute;
                            top:50%;
                            left:50%;
                            transform:translate(-50%,-50%);
                            margin:0;
                            display: block;
                            width: 12px !important;
                        }
                    }
                    strong {
                       // font-size:120%;
                    }
                    .price_request {
                        /* font-weight: 300;
                        font-size: 14px; */
                    }
                }
                .typology {
                    color: #212121;
                    border-left: 1px solid #d0d0d0;
                    padding: 0 0 0 7px;
                    margin: 0 0 0 7px;
                    width: auto;
                    float: none;
                    span {
                        color:#8c8a8b;
                    }
                }
            }
        }
    }
    
.alert-wrapper {max-height:100%;}
$break-tablet: 550px;
@media screen and (min-width: $break-tablet)  {
    .iconTopRight {width:80px;}
    .shareIcon img, .heartIcon img {
        width: 33px;
    }
    .exinfo {font-size: 15px;}
    .searchitem {
        .footerDiv {
            .projectName {
                font-size:18px;
            }
            .exinfo,
            .location {
                font-size: 14px;
            }
            .startPriceImg {
                width:13px;
            }
        }
    }  
}
$break-mobileportraight:479px;
@media screen and (max-width: $break-mobileportraight) {
    .searchitem .footerDiv .exinfo  .price {
      //  height:19px;
      //  line-height:20px;
        .pricoalign {
            img {
                width:12px !important;
            }
        }
    }
}
    @media screen and (max-width: $break-smaller) {
        .searchtopfilter button.tsbtn {
            font-size: 9px;
            padding: 10px 6px;
        }
    }
}
.alert-button-group {
  //  text-align: center;
  //  justify-content: center !important;
}
.alert-md .alert-button-group {
    padding:5px;
    button {
     //   margin:0 15px !important;
    }
}
.alert-md .alert-title {
    font-size: 17px;
    line-height: 23px;
}
.alert-md .alert-head {
    padding:11px;
}