<!--
  Generated template for the PropertyPaymentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <!-- <head-bar hTitle="Payment" [text]="text" [image]="image" [noti]="noti" [heart]="heart" [pin]="pin" [menuIcon]="menuIcon"></head-bar> -->
    <head-bar hTitle="My Properties" [text]="text" [subHeading]="subHeading" subHeadingText="{{subHeadingText}}" [image]="image"
      [noti]="noti" [mail]="mail" [heart]="heart" [pin]="pin" [menuIcon]="menuIcon"></head-bar>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="projectList">
    <!-- <div class="projectName" (click)="selectProject(p)" *ngFor="let p of projectName" [ngClass]="{'projectSelected': p.selected== true}">
      <div class="projectText">
        {{p.name}}
      </div>
    </div> -->
    <div class="myHeadings">
      <div class="width-33" *ngFor="let p of myHeadingList" (click)="selectProject(p)" [ngClass]="{'projectSelected': p.selected== true}">
        {{p.name}}
      </div>
    </div>
  </div>

  <div class="list">
    <div class="mainDiv">
      <!-- <div class="customCheckBox" >
        <div class="bigDot">
            <div class="smallDot"></div>
        </div>
        <div class="text">
            &nbsp; Last Billed Amount
        </div>
        <div class="amountOfMoney">
          <div class="image">
            <img src="assets/imgs/rupee-indian.png" alt="">
          </div>
          <div class="amount">
            15,16,1718

          </div>
          <div class="iconInfo">
            <ion-icon name="ios-information-circle-outline" class="information"></ion-icon>
          </div>
        </div>
        <div class="invoice">
          Invoice
        </div>

        <div class="iconText">
          <div class="mailIcon">
            <ion-icon name="ios-mail-outline"></ion-icon>
          </div>
          <div class="textRequest">
            Request Bank Disbursal
          </div>
        </div>
      </div>

      <div class="customCheckBox" >
        <div class="bigDot">
            <div class="smallDot"></div>
        </div>
        <div class="text">
            &nbsp; Interest amount as on date
        </div>
        <div class="amountOfMoney">
          <div class="image">
            <img src="assets/imgs/rupee-indian.png" alt="">
          </div>
          <div class="amount">
            15,16,1718
          </div>
          <div class="iconInfo">
            <ion-icon name="ios-information-circle-outline" class="information"></ion-icon>
          </div>
        </div>
        <div class="invoice">
          Interest Statement
        </div>
      </div>

      <div class="customCheckBox" >
          <div class="bigDot">
              <div class="smallDot"></div>
          </div>
          <div class="text">
              &nbsp; Overdue Amount
          </div>
          <div class="amountOfMoney">
            <div class="image">
              <img src="assets/imgs/rupee-indian.png" alt="">
            </div>
            <div class="amount">
              15,16,1718
            </div>
            <div class="iconInfo">
              <ion-icon name="ios-information-circle-outline" class="information"></ion-icon>
            </div> 
          </div>
      </div> -->

      <div class="overView" *ngIf="projectId == 1">
        <div class="imgHeading">
          <div class="projectImg">
            <img src="{{propertyImg}}" width="100%" />
          </div>
          <div class="location">
            <div class="locationIcon">
              <ion-icon name="ios-pin-outline"></ion-icon>
            </div>
            <div class="locationName">
              <div *ngIf="locationName == null || locationName == ''">
                NA
              </div>
              <div *ngIf="locationName != null || locationName != ''">
                {{locationName}}
              </div>
            </div>
          </div>
          <div class="propertyName">
            <div *ngIf="projectName == null || projectName == ''">
              NA
            </div>
            <div *ngIf="projectName != null || projectName != ''">
              {{projectName}} / {{totalPriceResponse?.flat_code}}
            </div>
          </div>
        </div>
        <div class="applicantList" [ngStyle]="{'height': applicantListHeight + 'px'}" *ngIf="applicantList!=null && applicantList.length > 0">
          <ion-list class="listItems" *ngFor="let list of applicantList; let i=index;">
            <ion-item class="itemLists">
              <ion-avatar item-start>
                <!-- <img src="assets/imgs/woody.png"> -->
                <img src="{{list.image}}">
              </ion-avatar>
              <h2>{{list.name}}</h2>
              <p>{{ordinalSuffixOf(i)}} Applicant</p>
            </ion-item>
          </ion-list>
          <div class="shwmore" (click)="openClose()" *ngIf="applicantList!=null && applicantList.length > 1">
            <ion-icon name="ios-arrow-up-outline" *ngIf="initHide"></ion-icon>
            <ion-icon name="ios-arrow-down-outline" *ngIf="!initHide"></ion-icon>
          </div>
        </div>
        <div class="amountSection sectw">
          <div class="section">
            <div class="left">
              <div class="amnt margin-5" *ngIf="totalValue == null || totalValue == ''">
                <div class="amnt">
                  NA
                </div>
              </div>
              <div class="amnt margin-5" *ngIf="totalValue != null || totalValue != ''">
                <div class="rupee">
                  <img src="assets/imgs/rupee-indian.png" alt="">
                </div>
                <div class="amnt pricetag">
                  {{totalPriceResponse?.price_rupee}}.<div>{{totalPriceResponse?.price_paisa}}</div>
                </div>
              </div>
            </div>
            <div class="right">
              Total Value
            </div>
          </div>
          <div class="section ">
            <div class="left">
              <div class="amnt margin-5">
                <div *ngIf="carpetArea == null || carpetArea == ''">
                  NA
                </div>
                <div *ngIf="carpetArea != null || carpetArea != ''">
                  {{carpetArea}}
                </div>
              </div>
            </div>
            <div class="right">
              Carpet Area
            </div>
          </div>
          <div class="section">
            <div class="left">
              <div class="amnt margin-5">
                <div *ngIf="plannedHandoverDate == null || plannedHandoverDate == ''">
                  NA
                </div>
                <div *ngIf="plannedHandoverDate != null || plannedHandoverDate != ''">
                  {{plannedHandoverDate}}
                </div>
              </div>
            </div>
            <div class="right">
              Planned Handover Date
            </div>
          </div>
        </div>

      </div>

      <div class="myAcc" *ngIf="projectId == 2">
        <div class="amntDivision">
          <div class="tableStucture">
            <div class="leftTable commonTable">
              <div class="one frst">
                <div class="textArea">
                  Total Value Billed
                </div>
                <div class="value">
                  <div class="rupee">
                    <img src="assets/imgs/rupee-indian.png" alt="">
                  </div>
                  <div class="amnt">
                    <div class="pricetag" *ngIf="totalValueBilled != '' && totalValueBilled != null">
                      {{responseDataReceive?.total_billed_rupee}}.<div>{{responseDataReceive?.total_billed_paisa}}</div>
                    </div>
                    <div *ngIf=" totalValueBilled == 0  && totalValueBilled == '' || totalValueBilled == null">
                      NA
                    </div>
                  </div>
                </div>
              </div>
              <div class="one">
                <div class="textArea">
                  Last Billed Amount
                </div>
                <div class="value">
                  <div class="rupee">
                    <img src="assets/imgs/rupee-indian.png" alt="">
                  </div>
                  <div class="amnt">
                    <div class="pricetag" *ngIf="lastBilledAmount != '' && lastBilledAmount != null">
                      {{responseDataReceive?.last_billed_amount_rupee}}.<div>{{responseDataReceive?.last_billed_amount_paisa}}</div>
                    </div>
                    <div *ngIf=" lastBilledAmount != 0  && lastBilledAmount == '' || lastBilledAmount == null">
                      NA
                    </div>
                  </div>
                  <div class="date">
                    <div class="calIcon">
                      <!-- <img src="assets/imgs/dateicon.png"> -->
                      <!-- <ion-icon name="ios-calendar-outline"></ion-icon> -->
                    </div>
                    <div class="dateText">
                      <div *ngIf="lastBilledDate == null || lastBilledDate == ''">
                        NA
                      </div>
                      <div *ngIf="lastBilledDate != null || lastBilledDate != ''">
                        Due Date: {{lastBilledDate}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="one">
                <div class="textArea infoDiv">
                  Total Amount overdue
                  <div class="iconInfo">
                    <!-- <ion-icon name="ios-information-circle-outline" class="information"></ion-icon> -->
                    <!-- <img class="q_icon" src="assets/imgs/q_icon.png"> -->
                  </div>
                </div>
                <div class="value">
                  <div class="rupee">
                    <img src="assets/imgs/rupee-indian.png" alt="">
                  </div>
                  <div class="amnt">
                    <div class="pricetag" *ngIf="totalAmountOverdue != '' && totalAmountOverdue != null">
                      {{responseDataReceive?.total_overdue_rupee}}.<div>{{responseDataReceive?.total_overdue_paisa}}</div>
                    </div>
                    <div *ngIf=" totalAmountOverdue == 0  && totalAmountOverdue == '' || totalAmountOverdue == null">
                      NA
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tableStucture">
            <div class="leftTable commonTable tableRight">
              <div class="one frst">
                <div class="textArea">
                  Total Amount Received
                </div>
                <div class="value">
                  <div class="rupee">
                    <img src="assets/imgs/rupee-indian.png" alt="">
                  </div>
                  <div class="amnt">
                    <div class="pricetag" *ngIf="amountReceived != '' && amountReceived != null">
                      {{responseDataReceive?.total_received_rupee}}.<div>{{responseDataReceive?.total_received_paisa}}</div>
                    </div>
                    <div *ngIf=" amountReceived == 0  && amountReceived == '' || amountReceived == null">
                      NA
                    </div>
                  </div>
                </div>
              </div>
              <div class="one">
                <div class="textArea">
                  Last payment Recieved
                </div>
                <div class="value">
                  <div class="rupee">
                    <img src="assets/imgs/rupee-indian.png" alt="">
                  </div>
                  <div class="amnt">
                    <div class="pricetag" *ngIf="lastPaymentReceivedAmount != '' && lastPaymentReceivedAmount != null">
                      {{responseDataReceive?.last_payment_recieved_amount_rupee}}.<div>{{responseDataReceive?.last_payment_recieved_amount_paisa}}</div>
                    </div>
                    <div *ngIf=" lastPaymentReceivedAmount == 0  && lastPaymentReceivedAmount == '' || lastPaymentReceivedAmount == null">
                      NA
                    </div>
                  </div>
                  <div class="date">
                    <div class="calIcon">
                      <!-- <img src="assets/imgs/dateicon.png"> -->
                      <!-- <ion-icon name="ios-calendar-outline"></ion-icon> -->
                    </div>
                    <div class="dateText">
                      <div *ngIf="lastPaymentReceivedDate == null || lastPaymentReceivedDate == ''">
                        NA
                      </div>
                      <div *ngIf="lastPaymentReceivedDate != null || lastPaymentReceivedDate != ''">
                        Date: {{lastPaymentReceivedDate }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="one">
                <div class="textArea">
                  Total Interest Payable as on Date
                </div>
                <div class="value">
                  <div class="rupee">
                    <img src="assets/imgs/rupee-indian.png" alt="">
                  </div>
                  <div class="amnt">
                    <div class="pricetag" *ngIf="interestPayableAsOnDate != '' && interestPayableAsOnDate != null">
                      {{responseDataReceive?.total_overdue_rupee}}.<div>{{responseDataReceive?.total_overdue_paisa}}</div>
                    </div>
                    <div *ngIf=" interestPayableAsOnDate == 0  && interestPayableAsOnDate == '' || interestPayableAsOnDate == null">
                      NA
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="totalPayable clearfix">
            <div class="textArea infoDiv">
              Total Payable
              <div class="iconInfo">
                <!-- <ion-icon name="ios-information-circle-outline" class="information"></ion-icon> -->
                <!-- <img class="q_icon" src="assets/imgs/q_icon.png"> -->
              </div>
            </div>
            <div class="value">
              <div class="rupee">
                <img src="assets/imgs/rupee-indian.png" alt="">
              </div>
              <div class="amnt">
                <div class="pricetag" *ngIf="totalPayable != '' && totalPayable != null">
                  {{responseDataReceive?.total_payable_rupee}}.<div>{{responseDataReceive?.total_payable_paisa}}</div>
                </div>
                <div *ngIf=" totalPayable == 0  && totalPayable == '' || totalPayable == null">
                  NA
                </div>
              </div>
            </div>
          </div>
          <div class="footer">
            <button ion-button round class="payNow">Pay Now</button>
          </div>
          <div class="nogap clearfix fullipd">
            <div class="tableStucture">
              <div class="leftTable commonTable">
                <div class="one statements frst">
                  <div class="eyeIcon">
                    <img src="assets/imgs/eye_icon.png">
                    <!-- <ion-icon name="ios-eye-outline"></ion-icon> -->
                  </div>
                  <div class="textArea statementText">
                    Account Statement
                  </div>
                </div>
                <div class="one statements">
                  <div class="eyeIcon">
                    <img src="assets/imgs/download.png">
                  </div>
                  <div class="textArea statementText">
                    Invoice
                  </div>
                </div>
              </div>
            </div>

            <div class="tableStucture">
              <div class="leftTable commonTable tableRight">
                <div class="one statements frst">
                  <div class="eyeIcon">
                    <img src="assets/imgs/eye_icon.png">
                    <!-- <ion-icon name="ios-eye-outline"></ion-icon> -->
                  </div>
                  <div class="textArea statementText">
                    Interest Statement
                  </div>
                </div>
                <div class="one statements">
                  <div class="eyeIcon">
                    <img src="assets/imgs/download.png">
                  </div>
                  <div class="textArea statementText">
                    Receipts
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
      <div class="myJour" *ngIf="projectId == 3">
        <div class="myjourneyList">
          <div class="journeyitem">
            <div class="jbox">
              <div class="jicon">
                <div>
                  <img src="assets/imgs/handicon.png">
                </div>
              </div>
              <div class="jTitle">Welcome to Godrej Properties</div>
              <div class="jptoogleicon">
                <ion-icon name="ios-add-circle-outline"></ion-icon>
                <!-- <ion-icon name="ios-remove-circle-outline"></ion-icon> -->
              </div>
            </div>
          </div>
          <div class="journeyitem">
            <div class="jbox">
              <div class="jicon">
                <div>
                  <img src="assets/imgs/registration-icon.png">
                </div>
              </div>
              <div class="jTitle">Welcome to Godrej Properties</div>
              <div class="jptoogleicon">
                <ion-icon name="ios-add-circle-outline" (click)="openCloseAccordian('welcomePlus','A')" *ngIf="welcomePlus"></ion-icon>
                <ion-icon name="ios-remove-circle-outline" (click)="openCloseAccordian('welcomePlus','S')" *ngIf="!welcomePlus"></ion-icon>
              </div>

              <div *ngIf="!welcomePlus">
                <div class="subaccord">
                  <div class="sbcont">
                    <div class="checkmj">
                      <ion-icon name="ios-checkmark-outline"></ion-icon>
                    </div>
                    <div class="textpr">Prepare</div>
                    <div class="mjdownarrw">
                      <ion-icon name="ios-arrow-forward-outline"></ion-icon>
                      <!-- <ion-icon name="ios-arrow-down-outline"></ion-icon> -->
                    </div>
                  </div>
                  <div class="subsubcont">
                    <div class="subclink">
                      <img src="assets/imgs/question_icon.png">FAQs
                    </div>
                    <div class="subclink">
                      <img src="assets/imgs/list-icon.png">POA
                    </div>
                    <div class="subclink">
                      <img src="assets/imgs/list-icon.png">Standard Draft Agreement
                    </div>
                  </div>
                </div>

                <div class="subaccord">
                  <div class="sbcont">
                    <!-- <div class="checkmj"><ion-icon name="ios-checkmark-outline"></ion-icon></div> -->
                    <div class="textpr">Play</div>
                    <div class="mjdownarrw">
                      <ion-icon name="ios-arrow-forward-outline"></ion-icon>
                      <!-- <ion-icon name="ios-arrow-down-outline"></ion-icon> -->
                    </div>
                  </div>
                </div>

                <div class="subaccord">
                  <div class="sbcont">
                    <!-- <div class="checkmj"><ion-icon name="ios-checkmark-outline"></ion-icon></div> -->
                    <div class="textpr">Schedule</div>
                    <div class="mjdownarrw">
                      <ion-icon name="ios-arrow-forward-outline"></ion-icon>
                      <!-- <ion-icon name="ios-arrow-down-outline"></ion-icon> -->
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="journeyitem">
            <div class="jbox">
              <div class="jicon">
                <div>
                  <img src="assets/imgs/construction_icon.png">
                </div>
              </div>
              <div class="jTitle">Welcome to Godrej Properties</div>
              <div class="jptoogleicon">
                <ion-icon name="ios-add-circle-outline"></ion-icon>
                <!-- <ion-icon name="ios-remove-circle-outline"></ion-icon> -->
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="extrafecilities">
        <div class="status">
          <div class="roundIcon">
            <img src="assets/imgs/construction-status.png" />
          </div>
          <div class="textfecility">
            <div class="d-block">Construction</div> Status</div>
        </div>
        <div class="status">
          <div class="roundIcon">
            <img src="assets/imgs/schedule-visit.png">
          </div>
          <div class="textfecility">
            <div class="d-block">Schedule a</div> Visit</div>
        </div>

        <div class="status">
          <div class="roundIcon">
            <img src="assets/imgs/loan-management.png">
          </div>
          <div class="textfecility">
            <div class="d-block">Loan</div> Management</div>
        </div>

        <div class="status" (click)="goToPage('My Documents', '')">
          <div class="roundIcon">
            <img src="assets/imgs/my-documents.png">
          </div>
          <div class="textfecility">
            <div class="d-block">My</div> Documents</div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<post-sales-footer></post-sales-footer>