page-property-payment {
  .projectList{
    flex-wrap: nowrap;
    overflow-x: scroll;
    white-space: nowrap;
    scroll-behavior: smooth;
    margin-top: 8px;
  }
  .projectName{
    display: inline-block;
    width: auto;
    white-space: normal;
    border-right: 1px solid #ccc;
    text-align: center;
    height: 30px;
    position: relative;
  }
  .projectText{
    margin-right: 15px;
    margin-left: 10px;
  }
  .projectSelected{
    border-bottom: 4px solid #37b0de !important;
  }
  .customCheckBox{
    float: left;
    width: 100%;
    border-bottom: 1px solid #b7b1b1;
    margin-top: 20px;
  }
  .bigDot{
    height: 20px;
    width: 20px;
    border: 1px solid #37b0de;
    border-radius: 50%;
    padding: 3px;
    float: left;
    margin-top: 2px;
  }
  .smallDot{
    height: 2px;
    width: 2px;
    background-color: #37b0de;
    border-radius: 50%;
    margin-left: 3px;
    margin-top: 3px;
    padding: 3px;
  }
  .mainDiv{
    float: left;
    width: 100%;
    height: 300px;
  }
  .image{
    width: 12px;
    float: left;
    margin-top: 5px;
  }
  .amount{
    float: left;
    margin-bottom: 7px;
  }
  .iconInfo{
    font-weight: bold;
    font-size: 14px;
    color: #3ea9dd;
    display: inline-block;
    position: relative;
    top: 7px;
  }
  .invoice{
    float: right;
    margin-top: -10px;
    text-decoration: underline;
    font-size: 15px;
    color: #37b0de;
  }
  .iconText{
    float: left;
    width: 75%;
    background-color: #ddd;
    margin: 10px;
    border-radius: 25px;
  }

  .mailIcon{
    margin: 5px;
    margin-left: 16px;
  }
  .textRequest{
    margin-left: 10px;
    float: left;
    line-height: 16px;
  }
  .footer{
    width: 100%;
    float: left;
    background-color: #ddd;
    text-align: center;
    & + .tableStucture {
      margin-top:0;
      padding-top:0;
    }
  }
  .nogap {
    float: left;
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    overflow: hidden;
    .tableStucture {
      margin-top: 0 !important;
      padding-top: 0 !important;
      .leftTable {
        border-radius:0;
        .statements {
          margin-top:0;
          height:auto;
          .eyeIcon {
            margin:0;
            display: inline-block;
            float: none;
            ion-icon {
              line-height:0;
            }
          }
          .statementText {
            display: inline-block;
            float: none;
            width:auto;
            padding-left: 4px;
          }
        }
      }
    }
  }
  .myHeadings{
    float: left;
    width: 100%;
  }
  .width-33{
    float: left;
    width: 33%;
    text-align: center;
    height: 35px;
    border-bottom: 1px solid #b3afaf;
    border-right: 1px solid #ddd;
    color:#999999;
    font-size:15px;
    &.projectSelected {
      color:#000000;
    }
  }
  .width-33:last-child{
    border-right: none !important;
  }

  .overView{
    float: left;
    width: 100%;
    margin-top: 10px;
  }

  .imgHeading{
    float: left;
    width: 100%;
    height: auto;
    position: relative;
    .propertyName {
      margin:5px;
      bottom: 0;
    }
  }

  .projectImg{
    float: left;
    width: 100%;
    position: relative;
  }
  .imgs{
    border-radius: 6px;
  }
  .location{
    position: absolute;
    color: #fff;
    width: 100%;
    margin: 10px;
    font-size: 15px;
  }
  .locationName{
    margin-left: 18px;
  }
  .propertyName{
    width: auto;
    white-space: normal;
    height: 30px;
    position: absolute;
    float: left;
    color: #fff;
    margin-top: 170px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
  }
  .applicantList{
    float: left;
    width: 100%;
    max-height: 235px;
    margin-top: 20px;
    border: 1px solid #ddd;
    padding-top: 5px;
    position: relative;
    .shwmore {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      border: 1px solid #c4c4c4;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fdfdfd+0,e1dfdf+100 */
      border: 1px solid #e8e8e8;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e4e2e3+100 */
      background: #ffffff; /* Old browsers */
      background: -moz-linear-gradient(top, #ffffff 0%, #e4e2e3 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #ffffff 0%,#e4e2e3 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #ffffff 0%,#e4e2e3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e4e2e3',GradientType=0 ); /* IE6-9 */
      ion-icon {
        cursor: pointer;
        background-color: #3EA9DD;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        overflow: hidden;
        margin: 0;
        display: inline-block;
        color: #fff;
        font-size: 21px;
        line-height: 31px;
        border: 1px solid #c9d1d5;
        float: none;
        position: relative;
        top: -12px;
        
      }
    }
  }
  .listItems {
    margin: 0 10px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 0 none !important;
    &:first-child {
        border: 0 none !important;
    }
    .itemLists {
        border-top: 1px solid #e6e6e6;
        border-bottom: 0 none !important;
        &:first-child {
            border: 0 none !important;
        }
        ion-avatar {
            img {
                border: 2px solid rgba(0, 0, 0, 0.22);
            }
        }
        .item-inner {
            border: 0 none !important;
            .label {
                margin-bottom: 0;
                margin-top: 2px;
            }
        }
    }
}
  .itemLists{
    padding-bottom: 5px;
    border-bottom: 1px solid #bdafaf;
    width: 95%;
  }
  .amountSection{
    float: left;
    width: 100%;
    margin-top: 10px;
   // padding-top: 5px;
    border: 1px solid #ddd;
  }
  .textArea.infoDiv {
    position: relative;
    padding-right: 20px;
 }
 
 .textArea.infoDiv .iconInfo {
    position: absolute;
    right: 0;
    top: 3px;
 }
 .totalPayable .textArea.infoDiv .iconInfo {
  position: relative;
  margin: 0 0 4px;
  top: 4px;
}

.totalPayable .textArea.infoDiv {
  padding-right: 0;
}
  .section{
    float: left;
    width: 100%;
    // height: 50px;
    padding: 7px 0;
    line-height: 50px;
  }
  .section:nth-child(odd){
    background-color: #e6e6e6;
  }
  .left{
    float: left;
    width: 50%;
  }
  .rupee{
    float: left;
    margin-left: 0;
    img {
      width:12px;
      margin: 0 0 -2px;
    }
  }
  .right{
    float: right;
    margin-right: 10px;
    color:#6d6d6d;
  }
  .margin-5{
    margin-left: 12px
  }
  .amntDivision , .tableStucture, .two, .infoDiv{
    float: left;
    width: 100%;
  }
  .tableStucture{
    float: left;
    width: 50%;
    height: auto;
    margin-top: 10px;
    padding-top: 5px;
  }
  .commonTable{
    float: left;
    width: 100%;
    height: auto;
    position: relative;
    &:before {
      width: 4px;
      height: 10px;
      background-color: #ffffff;
      content: "";
      display: block;
      position: absolute;
      right: -3px;
      top: 0;
    }
    &:after {
      width: 4px;
      height: 10px;
      background-color: #ffffff;
      content: "";
      display: block;
      position: absolute;
      right: -3px;
      bottom: 1px;
    }
    &.tableRight {      
      &:after, 
      &:before {
        display: none;
      }
    }
  }
  .nogap {
    .commonTable {
      .one {
        &:last-child:before {
          display: none;
        }
      }
    }
  }
  .leftTable{
    /* border: 1px solid #ddd; */
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top-left-radius: 4px;
    &.tableRight {
      border-top-left-radius:0;
      border-top-right-radius:4px;
      border-left: 0 none;
    }
  }
  .one{
    float: left;
    width: 100%;
    //height: 70px;
    border-bottom: 1px solid #ddd;
    line-height: 20px;
    padding:11px;
    min-height:90px;
    position: relative;
    &:last-child {
    //  border-bottom:0 none;
    }
    &.statements {
      min-height:inherit !important;
    }
  }

  .one::after {
    width: 10px;
    height: 4px;
    background-color: white;
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -2px;
  }
  .tableRight .one::after {
    left: 0;
    right:inherit;
  }
  .frst::after {
    display: none !important;
  }
  .commonTable {
    .one {
      &:before {
        width: 10px;
        height: 4px;
        background-color: white;
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: -2px;
      }
    }
    &.tableRight { 
      .one {
        &:before {
          right: 0;
          left:inherit;
        }
      }
    }
  }
  .totalPayable  {
    text-align: center;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 16px 0;
    .rupee {
      float: none;
      display: inline-block;
      position: relative;
      top: -2px;
    }
    .amnt {
      display: inline-block;
    }
  }
  .amnt {
    font-size:120%;
    .pricetag {
      font-weight: 500;
      font-size: 17px;
      div {
        display: inline-block;
        font-size: 83%;
      }
    }
  }
  .sectw .rupee img {
    margin: 0;
  }
  .textArea{
    //text-align: center;
    color: #868282;
    font-size:12px;
  }
  .value{
    margin-left: 0;
    margin-top: 0;
  }
  .date{
    float: left;
    width: 100%;
    margin-left: 0;
    color: #000000;
    font-size: 0.7em;
    font-weight:500;
    margin-top: 3px;
    img {
      float: left;
      width: 13px;
      margin-top: 1px;
      margin-right: 3px;
    }
    &::after {
      clear: both;
      display: table;
      content:"";
    }
  }
  .calIcon{
    float: left;
    width: 10%;
  }
  .dateText{
    float: left;
    width: 70%;
    margin-left: 2px;
    line-height: 15px;
  }
  .q_icon {
    width: 16px;
    display: inline-block;
    margin-left: 5px;
}
  .payNow{
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .statements{
    margin-top: 15px;
    height: 50px;
    font-size: 15px;
    float: left;
    width: 100%;
  }
  .eyeIcon{
    margin: 15px;
    float: left;
    width: 10%;
    font-size: 20px;
    img {
      width:14px;
    }
  }
  .statementText{
    color: #37b0de;
    /* margin-top: -3px; */
    float: left;
    width: 70%;
  }
  .scroll-content {
    margin-bottom: 100px;
  }
  
  .extrafecilities{
    float: left;
    width: 100%;
    height: 70px;
    margin-top: 30px;
    margin-bottom: 40px;
    &:after {
      clear: both;
      display: table;
      content: "";
    }
    &:before {
      clear: both;
      display: table;
      content: "";
    }
  }
  .status{
    //margin-left: 10px;
    //margin-right: 10px;
    //height: 70px;
    width: 25%;
    float: left;
    text-align: center;
  }
  .roundIcon {
    border: 1px solid #d1d1d1;
    box-shadow: 0 0 10px rgba(0,0,0,0.36);
    border-radius: 100%;
    //height: 40px;
    //width: 40px;
    width:70px;
    height:70px;
    margin:auto;
    img {
      width: 37px;
      display: block;
      margin: 15px auto 0;
    }
  }
  .extraFeciIcon{
    margin-left: 15px;
    font-size: 25px;
    margin-top: 10px;
    color: #37b0de;
  }
  .textfecility{
    margin-top: 6px;
    float: left;
    width: 100%;
    text-align: center;
    font-size: 13px;
    //margin-bottom: 14px;
  }
  .clearfix {
    &::after,
    &:before {
      clear: both;
      display: table;
      content: "";
    }
  }
  

  .journeyitem {
    padding:30px 0;
    position: relative;
    overflow: hidden;
    &::after {
      background-color: #d1d2cf;
      width: 1px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 31px;
      display: block;
      content: "";
    }
    &:first-child::after {
      top:40px;
    } 
    &:last-child::after {
      height:70px;
    }
    .jbox  {
      padding: 4px 20px 0 70px;
      position: relative;
      min-height: 50px;
      .jicon {
        border: 3px solid #fff;
        position: absolute;
        left:6px;
        top: 0;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background-color: #94bc3a;
        vertical-align: middle;
        display: table;
        box-shadow: 0 0 10px rgba(88,85,85,0.45);
        z-index:1;;
    }
    }
    .subaccord {
      border-top:1px solid #d1d1d1;
      padding:0;
      position: relative;
      &:first-child {
        border-top:0 none;
      }
      .sbcont {
        padding:10px 23px;
      }
      .subsubcont {
        padding:0;
      }
      .checkmj {
        position: absolute;
        left: 0;
        top: 4px;
        font-size: 27px;
        ion-icon {
          color:#94bc3a;
        }
      }
      .textpr  {
        color:#000000;
        font-size:14px;
        line-break:20px;
      }
      .mjdownarrw  {
        position: absolute;
        right:14px;
        top:11px;
        ion-icon {
          color:#9da2a7;
        }
      }
    }
}

.subclink {
  padding: 10px 0 10px 10px;
  font-size: 12px;
  line-height: 18px;
  color: #716e6e;
  border-top: 1px solid #d1d1d1;
  background-color: #ebebeb;
  &:hover {
    background-color:#ffffff;
  }
}

.subclink img {
  max-height: 18px;
  margin: 0 9px -4px 0;
}

.jicon div {
    display: table-cell;
    vertical-align: middle;
}

.jicon img {
    max-width: 61%;
    margin: auto;
    display: block;
}

.jTitle {
    color: #94bc3a;
    font-size: 16px;
    line-height: 22px;
    max-width: 130px;
}
.jptoogleicon ion-icon {
  color: #94bc3a;
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 13px;
}

@media screen and (max-width: $break-smaller) {
  .textfecility {
    font-size:12px;
    }
  .amntDivision .one {
    min-height: 110px;
  }
  .roundIcon {
    width:63px;
    height:63px;
    img {
      width:32px;
      margin-top:14px;
    }
  }
  .amountSection {
    .section {
      .left {
        font-size:12px;
      }
      .right {
        width: 50%;
        float: left;
        margin-right: 0;
        font-size: 12px;
        padding-left: 4px;
      }
    }
  }
  .textArea {
    font-size:10px;
  }
}
$break-tablet: 600px;
@media (min-width:$break-tablet)  {
  .fullipd {
    width:100%; 
  }
}
}
