<!--
  Generated template for the ProjectDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>project-details</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content>

  <div class="headerImage bulletinsrc">
    <ion-icon name="ios-arrow-back-outline" class="iconBack" (click)="goBack()"></ion-icon>
    <div class="floatRight">
      <!-- <ion-icon name="md-share" style="margin-right: 15px;"></ion-icon> -->
      <div class="shareIcon" (click)="share()">
        <img class="emtyheart" src="assets/imgs/share-icon.png">
      </div>

      <div class="heartIcon" (click)="addOrRemoveWishlist()" > <!-- addRmWishList() *ngIf="isGuest != '1'" -->
        <img *ngIf="wistliststatus == '0'" class="emtyheart" src="assets/imgs/heart-icon.png">
        <img *ngIf="wistliststatus != '0'" class="fillheart" src="assets/imgs/heart-fill-icon.png">
      </div>

    </div>
    <ion-slides pager="true" *ngIf="projectbanar?.length > 0">
      <ion-slide class="sliderImages" *ngFor="let item of projectbanar; let i = index;">
        <div class="img">
          <!-- <img src="assets/imgs/slider-blank-src.png" class="blanksrc"> -->
          <img [src]="getimgUrl(item.banner_image_url)" class="ldsrc" alt="">

        </div>
      </ion-slide>
    </ion-slides>
    <ion-slides pager="true" *ngIf="projectbanar?.length == 0">
      <ion-slide class="sliderImages">
        <div class="img">
          <img src="assets/imgs/godrej_propertiesnew.jpeg" alt="">
          <ion-icon name="ios-arrow-back-outline" class="iconBack" style="color: #262222;" (click)="goBack()">
          </ion-icon>
          <div class="floatRight">
            <div class="shareIcon">
              <img class="emtyheart" src="assets/imgs/share-icon.png">
            </div>
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </div>


  <div class="clearfix"></div>
  <div class="clearfix"></div>
  <div class="nofloat">

    <div class="clearfix"></div>
    <div class="buy">
      <div class="projectTitle">
        <div class="title" *ngIf="projectDetails.length > 0">
          {{projectDetails[0].title}}
        </div>
        <div class="location">
          <!-- <ion-icon name="ios-pin-outline" class="iconLocation"></ion-icon> -->
          <span class="locationName" *ngIf="projectDetails.length > 0">
            <img src="assets/imgs/map-icon.png">
            <span *ngIf="projectDetails[0].field_sub_location != ''">{{projectDetails[0].field_sub_location}},</span>
            {{projectDetails[0].field_city}}
          </span>
        </div>

        <div class="division">
          <div class="fourSection">
            <div class="upperWrapper" (click)="showDetails(i)" *ngFor="let section of sectionList,let i=index;">
              <div class="section" [ngClass]="{'selectedSection': section.selected}">
                <div class="iconsDivSection">
                  <!-- <ion-icon name="{{section.iconName}}" [ngClass]="{'colorWhite': section.selected}"></ion-icon> -->
                  <img src="{{section.img}}">
                </div>
              </div>
              <div class="sectionText">
                {{section.name}}
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>

        </div>
        <div class="clearfix"></div>

        <!-- <button ion-button outline (click)="goToPage()"> Buy</button> -->
      </div>
      <div class="clearfix"></div>

      <div class="overview">
        <div class="title selectedTitle">
          <!--<img src="{{sectionImg}}"> {{name}}
              <img src="assets/imgs/overview-icon-b.png"> -->
          <div class="ticon">
            <img src="{{sectionImg}}">
          </div> {{name}}
        </div>

        <div class="secTionName">
          <div class="desc" *ngIf="projectDetails.length > 0 && listIndex == 0">
            <div *ngIf="projectDetails[0].Overview">
              <!-- {{projectDetails[0].Overview}} -->
              <div [innerHTML]="overviewData"></div>
            </div>
            <div *ngIf="!projectDetails[0].Overview">
              {{ noDataOverView }}
            </div>
          </div>

          <div class="desc sliderprjd " *ngIf="listIndex == 2">
            <div class="sliderwrp">
              <div *ngIf="projectAmenities.length > 0">
                <!-- <ion-slides pager="true">
                    <ion-slide class="sliderImages" *ngFor="let item of projectAmenities; let i = index;">
                      <div class="img">
                        <img [src]="getimgUrl(item.field_amenities_image_url)" alt="">
                      </div>
                    </ion-slide>
                  </ion-slides> -->
                <ion-slides slidesPerView="1" pager="true" (ionSlideDidChange)="slidestop()" #Slides>
                  <ion-slide class="sliderImages" *ngFor="let item of projectAmenities; let i = index;">
                    <div class="mainDiv">
                      <div class="img">
                        <img class="blanksrc" src="assets/imgs/gallerybg.png">
                        <img [src]="getimgUrl(item.field_amenities_image_url)" alt="" class="searchImage">
                      </div>
                      <div class="footerDiv">
                        <div class="projectName">
                          {{item.title}}
                        </div>
                        <div [innerHTML]="item.body"></div>
                        <div class="clearfix"></div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </ion-slide>
                </ion-slides>
              </div>
              <div *ngIf="projectAmenities.length == 0">
                {{ noDataAmenities }}
              </div>
            </div>
          </div>

          <div class="desc gallerysec bulletinsrc" *ngIf="listIndex == 3">
            <div *ngIf="projectGallery.length > 0">
              <ion-slides pager="true" slidesPerView="1">
                <ion-slide class="sliderImages" *ngFor="let item of projectGallery; let i = index;">
                  <div class="img">
                    <img class="blanksrc" src="assets/imgs/gallerybg.png">
                    <img class="glallerymainsrc" [src]="getimgUrl(item.field_gallery_image_url)" alt="">
                    <!-- <img [src]="getimgUrl('https://d1jys7grhimvze.cloudfront.net/backoffice/data_content/projects/godrej_genesis_kolkata/GODREJ_GENESIS_KOLKATA2.jpg')" alt=""> -->
                  </div>
                </ion-slide>
              </ion-slides>
            </div>
            <div *ngIf="projectGallery.length == 0">
              {{ noDataGallery }}
            </div>
          </div>
        </div>
        <div class="desc mapDiv" *ngIf="listIndex == 1">
          <div *ngIf="lat!= '' && lng!= ''">
            <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="openDevivceMap(lat, lng)">
              <agm-marker [latitude]="lat" [longitude]="lng">
                <agm-info-window #infoWindow>
                  <!-- <div>{{ markerInfoWindowText }}</div> -->
                  <div [innerHTML]="markerInfoWindowText"></div>
                </agm-info-window>
              </agm-marker>
            </agm-map>
          </div>
          <div *ngIf="lat== '' && lng== ''">
            <!-- Not Available -->
          </div>
        </div>

      </div>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
  <!-- <div class="buttns">
      <div class="left border bn-btn" (click)="goToPage('InventoryBookingPage')">Buy Now</div>
      <div class="left border git-btn" (click)="goToPage('GetInTouchPage')">Get In Touch </div>
    </div> -->
  <!-- <div class="buy" *ngIf="division.gInTouch == true">
        TEXT GOES HERE
      </div> -->


</ion-content>
<!-- <foot-bar></foot-bar> -->
<div class="buttns">
  <div class="left border bn-btn" (click)="goToPage('InventoryBookingPage')">Buy Now</div>
  <div class="left border git-btn" (click)="goToPage('GetInTouchPage')">Get In Touch </div>
</div>