  page-project-details {
 
  agm-map{
    height: 300px !important;
    width: 500px !important;
  }

  .gallerysec {
    .sliderImages {
     // padding-right: 10px;
    //  margin-right: 10px;
      background-color: #e8e8e8;
    }
    .img {
      .blanksrc {
        max-height: inherit !important;
        
      }
      position: relative;
      .glallerymainsrc {
        position: absolute;
        left: 0;
        min-height: 100%;
        min-width: 100%;
        width: auto !important;
        max-height: 100% !important;
        top: 0;
        max-width: 100% !important;
      }
    }
  }
  
    .buttns {
        position: absolute;
        width:100%;
        left:0;
        bottom:0;
        z-index:999;
      }
     // .gallerysec img {width:100%;}
  .headerImage{
    position: absolute;
    /* float: left; */
    width: 100%;
    height: auto;
    overflow: hidden;
    max-height: 210px;
    top: 0;
    left: 0;
  }
  .headerImage > img{
    position: absolute;
    float: left;
    width: 100%;
  }
  .img {    
    position: relative;
    overflow: hidden;
    .blanksrc {
      width:100% !important;
      height:auto !important;
    }
      .ldsrc {
        // position: absolute;
        // top:0;
        // left:0;
        width:100%;
        min-height: 210px;
        max-height: inherit !important;
       // max-height: 400px;
      }
    }
  
  .iconBack{
    position: absolute;
    font-size: 40px;
    color: white;
    /* margin: 25px; */
    float: left;
    left: 0;
    top: 0;
    margin: 0;
    padding: 23px 20px 0 10px;
    z-index: 11;
  }
  .floatRight{
    position: absolute;
    right: 0;
    margin: 29px 13px;
    color: #fff;
    font-size: 25px;
    float: right;
    top: 0;
    width:80px;
    z-index: 11;
    .shareIcon {
      float: left;
      margin-right: 11px;
    }
  }
  .left{
    width: 50%;
    float: left;
    text-align: center;
    font-size: 20px;
  }
  .division{

    //float: left;
    /* margin-top: 50%; */
    width: 100%;
    color: #000;
    /* border: 1px solid #443c3c; */
    /* height: auto; */
    /* line-height: 40px; */
    background: #fff;
    //position: absolute;
    /* margin-left: 15px; */
    border-radius: 5px;
    border-bottom: 1px solid #ddd;
  }
  .locationText{
    float: left;
    line-height: 15px;
    margin-left: 8px;
  }

  .fourSection{
    //float: left;
    width: 100%;
    height: auto;
  }
  .upperWrapper{
    float: left;
    width: 25%;
    margin-top: 9px;
    text-align: center;
  }
  .section {
    width: 60px;
    margin: auto;
    font-size: 30px;
    border-radius: 50%;
    background-color: #ffffff;
    height: 60px;
    border: 2px solid #5daedd;
  }
  .iconsDivSection{
    float: left;
    width: 100%;
    color: #37b0de;
    img {
      width: 29px;
      margin: 13px auto 0;
      display: block;
    }
  }
  .sectionText{
    color: #3c3636;
    margin: 10px 0px 15px;
  }

  .selectedSection{
    background-color: #37b0de;
    img {
      -webkit-filter: brightness(0) invert(1);
      filter: brightness(0) invert(1);
    }
  }
  .colorWhite{
    color: #fff;
  }
  .projectName{
    float: left;
    width: 100%;
    text-align: center;
  }
  .locationfloatDiv{
    float: left;
    width: 100%;
  }
  .locationfloatDiv > .locationIcon {
    float: left;
    margin-left: 96px;
  }
  .buttns {
    .bn-btn {
      background-color:#69BCE4;
    }
    .git-btn {
      background-color:#3E93BA;
    }
    .border{
      width: 50%;
      float: left;
      text-align: center;
      font-size: 19px;
      height: 100%;
      line-height: 48px;
      color: #fff;
      font-weight: 300;
    }
  }
  .selected{
    background: #fff;
    height: 96%;
  }
  .buy{
   // float: left;
    width: 100%;
    /* margin-top: 78%; */
    //padding-bottom:49px;
    position: relative;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .projectTitle{
   // float: left;
    width: 100%;
    margin: 4px 0px 0 0;
    //border-bottom: 1px solid #ddd;
    height: 10%;
  }
  .title{
    font-size: 20px;
    margin-top:10px;
    margin-bottom: 8px;
    font-weight: bold;
    //margin-left: 15px;
    text-align: center;
  }
  .location{
    font-size: 15px;
  //  margin-left: 15px;
  }
  .overview{
    //float: left;
    width: 100%;
  //  margin-top: 100px;
  }
  .overview > .title{
    margin-top: 25px;
  }
  .sliderprjd {
    padding:0 15px;
    overflow: hidden;
    .sliderwrp {
    //  width:95%;
     // margin: auto;
    }
    .sliderImages {
      //width:326px !important;
     // width:auto !important;
      //padding-right:20px;
      padding-bottom:20px;
      .img {
        position: relative;
        overflow: hidden;
        .blanksrc {
          max-height: inherit !important;
          width: 100%;
        }
        .searchImage {
          position: absolute;
          left: 0;
          min-height: 100%;
          min-width: 100%;
          width: auto !important;
          max-height: inherit !important;
          top: 0;
          max-width: inherit !important;
        }
      }
    }
    .swiper-pagination {
      width:100% !important;
      bottom:0;
      text-align: center;
    }
    .footerDiv {
      text-align: left;
      .projectName {
        font-size:17px;
        line-height:23px;
        color:#5a5a5a;
        text-align: left;
      }
      p {
        font-size:13px;
        line-height:19px;
        color:#6a6a6a;
        margin:0;
      }
    }
  }
  .desc{
   // float: left;
    padding: 0 15px;
    text-align: left;
    white-space: normal;
    color: #8d8888;    
    //max-height: 150px;
   // overflow-x: hidden;
    //overflow-y: auto;
    box-sizing:border-box;
  }
  .underline{
    float: left;
    width: 15px;
    background: #f30505;
    height: 1px;
    margin-left: 15px;
    margin-bottom: 15px;
  }
  .iconsDiv{
    width: 100%;
    float: left;
    padding-bottom: 70px;
  }
  .iconsDiv > .left{
    margin-top: 15px;
    float: left;
    width: 50%;
  }
  .iconsDiv > .right{
    margin-top: 15px;
    float: left;
    width: 50%;
  }
  .ltl{
    float: left;
    margin-left: 15px;
    float: left;
    margin-left: 15px;
    margin-top: 10px;
    font-size: 30px;
  }
  .text{
    float: left;
    width: 70%;
    font-size: 12px;
    margin-left: 5px;
    white-space: normal;
  }
  .iconLocation{
    margin-left: 30%;
  }
  .location {text-align:center; margin-bottom:13px;}
  .locationName{
    margin-left:0;
    color:#8d8888;
    display: inline-block;
    text-align:center;
    width:100%;
    img {
      width:17px;
      margin:0 3px -5px 0;
    }
  }
  .selectedTitle{
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: bold;
    margin-left: 15px;
    text-align: left;
    color:#2a2b2b;
    position: relative;
    padding-left: 37px;
    min-height: 33px;
    .ticon {
      position: absolute;
      left: 0;
      top: -25px;
      height: 74px;
      width: 36px;
      img {
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        margin:0;
      }
    }
    img {
      width:24px;
      margin-bottom:-5px;
    }
  }
  
.scroll-content {
  padding-bottom:0px !important;
}
  .sliderImages{
        //background-color: #ddd;
  }
  .status-deactive{
color: #fff;
}
.status-active{
 color: red;
}
.mapDiv {
  width: 100%;
  margin-top: 15px;
  max-height:inherit;
  //height:300px;
  margin-left:0;
  agm-map {
    width: 100% !important;
    height:220px !important;
  }
}
// .buttns {
//   position: fixed !important;
//   width: 100%;
//   left: 0;
//   bottom: 0;
//   top: inherit !important;
//   z-index: 99999;
//   height: 40px !important;
// }

.nofloat {
  height: 100% !important;
  /* overflow-x: hidden; */
  /* overflow-y: auto; */
  padding: 210px 0 60px;
  overflow: hidden;
  }
  .shareIcon img, .heartIcon img {
    width: 28px;
}
  .searchImage {width:100%;}
$break-iphonexwidth: 375px;
$break-iphonexheight: 812px;
$break-ladsport: 600px;
$break-portraightmobile: 479px;
$break-landview: 480px;
@media screen and (min-width: $break-iphonexwidth) and (max-height: $break-iphonexheight) {
  
}
  @media screen and (min-width: $break-ladsport)  {
    .sliderprjd .sliderImages,
    .gallerysec .sliderImages {
    //  padding-right: 20px;
   //   margin-right: 0px;
  }
    .shareIcon img, .heartIcon img {
      width: 33px;
    }
    .heartIcon {margin-top:03px;}
    .nofloat {
     // height: 51vh !important;
     // height: 74vh !important;
  }
  .sectionText {
    font-size: 16px;
  }
  .desc {
    font-size:14px;
    line-height: 21px;
  }
  .headerImage {
    position: relative;
    overflow: inherit;
    max-height: inherit;
    .ldsrc {
      min-height: 300px;
    }
  }
  .nofloat {
    padding-top: 0 !important;
    height:auto !important;
  }
}

@media screen and (max-width: $break-portraightmobile) {
  // .nofloat div {
  //   float: none;
  //   .fourSection {
  //     display: flex;
  //   }
  // }

  .division {
    position: static;
  }
  .projectTitle {
    //height:101px;
    height:auto;
  }
  .overview > .title {
    //margin-top:0;
  }
  desc.mapDiv {
    height:170px;
    overflow: hidden;
  } 
  .overview {
    margin-top:0;
  }
.buttns {
  //position: fixed;
  //display: none;
  //position: static;
}
.foriphn5 {
  display: block;
}
.pdetail {
  padding-bottom:70px !important;
  position: relative;
  height:92vh;
  width:100%;
}
.sliderprjd {
  .sliderImages {    
    //padding-right: 80px;
   // margin-right: 10px;
    .img {
      text-align: left;
      img {
        margin:0;
      }
    }
  }
}
}
  /* .img {
            float: none;
            display: inline-block;
          } */
}
