<!--
  Generated template for the NoInternetPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>no-internet</ion-title>
  </ion-navbar>

</ion-header>
 -->

<ion-content padding>
  <div class="errorIcon">
      <ion-icon name="ios-wifi-outline" class="" [ngClass]="{'red-wifi': wifiColor == false, 'green-wifi': wifiColor == true}"></ion-icon>
      <div class="text">
          No internet connection. Please
      </div>
      <button ion-button round (click)="tryAgain()" class="tryAgain">Try Again</button>


  </div>

</ion-content>
