page-no-internet {
  .red-wifi{
    font-size: 35px !important;
    color: #e00101;
    margin-left: 45%;
    margin-top: 50%;
  }
  .green-wifi{
    font-size: 35px !important;
    color: #329415;
    margin-left: 45%;
    margin-top: 50%;
  }
  .text{
    text-align: center;
    font-size: 20px;
    margin-top: 4%;
  }

  .tryAgain{
    margin-top: 50px;
    margin-left: 30%;
  }
}
